<p style="color: green"><%= notice %></p>

<%= render @_films_asiatiques_acteur %>

<div>
  <%= link_to "Edit this films asiatiques acteur", edit__films_asiatiques_acteur_path(@_films_asiatiques_acteur) %> |
  <%= link_to "Back to films asiatiques acteurs", _films_asiatiques_acteurs_path %>

  <%= button_to "Destroy this films asiatiques acteur", @_films_asiatiques_acteur, method: :delete %>
</div>
