<p style="color: green"><%= notice %></p>































































































































<%= render @_personnalites_label %>































































































































<div>































































  <%= link_to "Edit this personnalites label", edit_personnalites_label_path(@_personnalites_label) %> |































































  <%= link_to "Back to personnalites labels", personnalites_labels_path %>































































































































  <%= button_to "Destroy this personnalites label", @_personnalites_label, method: :delete %>































































</div>
