<p style="color: green"><%= notice %></p>































































































































<%= render @_mangas_commerce %>































































































































<div>































































  <%= link_to "Edit this mangas commerce", edit_mangas_commerce_path(@_mangas_commerce) %> |































































  <%= link_to "Back to mangas commerces", mangas_commerces_path %>































































































































  <%= button_to "Destroy this mangas commerce", @_mangas_commerce, method: :delete %>































































</div>
