<p style="color: green"><%= notice %></p>































































































































<%= render @osts_ln %>































































































































<div>































































  <%= link_to "Edit this osts ln", edit_osts_ln_path(@osts_ln) %> |































































  <%= link_to "Back to osts lns", osts_lns_path %>































































































































  <%= button_to "Destroy this osts ln", @osts_ln, method: :delete %>































































</div>
