<p style="color: green"><%= notice %></p>

<%= render @_livres_editeurs_vf %>

<div>
  <%= link_to "Edit this livres editeurs vf", edit__livres_editeurs_vf_path(@_livres_editeurs_vf) %> |
  <%= link_to "Back to livres editeurs vfs", _livres_editeurs_vfs_path %>

  <%= button_to "Destroy this livres editeurs vf", @_livres_editeurs_vf, method: :delete %>
</div>
