<p style="color: green"><%= notice %></p>

<%= render @artbooks_goody %>

<div>
  <%= link_to "Edit this artbooks goody", edit_artbooks_goody_path(@artbooks_goody) %> |
  <%= link_to "Back to artbooks goodies", artbooks_goodies_path %>

  <%= button_to "Destroy this artbooks goody", @artbooks_goody, method: :delete %>
</div>
