<p style="color: green"><%= notice %></p>

<%= render @_photobooks_societe_person %>

<div>
  <%= link_to "Edit this photobooks societe person", edit__photobooks_societe_person_path(@_photobooks_societe_person) %> |
  <%= link_to "Back to photobooks societe people", _photobooks_societe_people_path %>

  <%= button_to "Destroy this photobooks societe person", @_photobooks_societe_person, method: :delete %>
</div>
