<p style="color: green"><%= notice %></p>

<%= render @_dramas_am_plu %>

<div>
  <%= link_to "Edit this dramas am plu", edit__dramas_am_plu_path(@_dramas_am_plu) %> |
  <%= link_to "Back to dramas am plus", _dramas_am_plus_path %>

  <%= button_to "Destroy this dramas am plu", @_dramas_am_plu, method: :delete %>
</div>
