<p style="color: green"><%= notice %></p>































































































































<%= render @_breves_beau_livre %>































































































































<div>































































  <%= link_to "Edit this breves beau livre", edit_breves_beau_livre_path(@_breves_beau_livre) %> |































































  <%= link_to "Back to breves beau livres", breves_beau_livres_path %>































































































































  <%= button_to "Destroy this breves beau livre", @_breves_beau_livre, method: :delete %>































































</div>
