<%= form_with(model: _dvd_blu_ray) do |form| %>







  <% if _dvd_blu_ray.errors.any? %>







    <div style="color: red">







      <h2><%= pluralize(_dvd_blu_ray.errors.count, "error") %> prohibited this _dvd_blu_ray from being saved:</h2>















      <ul>







        <% _dvd_blu_ray.errors.each do |error| %>







          <li><%= error.full_message %></li>







        <% end %>







      </ul>







    </div>







  <% end %>















  <div>







    <%= form.label :type, style: "display: block" %>







    <%= form.text_field :type %>







  </div>















  <div>







    <%= form.label :type, style: "display: block" %>







    <%= form.text_field :type %>







  </div>















  <div>







    <%= form.label :type, style: "display: block" %>







    <%= form.text_field :type %>







  </div>















  <div>







    <%= form.label :type, style: "display: block" %>







    <%= form.text_field :type %>







  </div>















  <div>







    <%= form.label :type, style: "display: block" %>







    <%= form.text_field :type %>







  </div>















  <div>







    <%= form.label :type, style: "display: block" %>







    <%= form.text_field :type %>







  </div>















  <div>







    <%= form.label :_dvd_blu_rays_france_id, style: "display: block" %>







    <%= form.number_field :_dvd_blu_rays_france_id %>







  </div>















  <div>







    <%= form.label :_dvd_blu_rays_pays_id, style: "display: block" %>







    <%= form.number_field :_dvd_blu_rays_pays_id %>







  </div>















  <div>







    <%= form.label :titre, style: "display: block" %>







    <%= form.text_field :titre %>







  </div>















  <div>







    <%= form.label :titre_alternatif, style: "display: block" %>







    <%= form.text_field :titre_alternatif %>







  </div>















  <div>







    <%= form.label :titre_original, style: "display: block" %>







    <%= form.text_field :titre_original %>







  </div>















  <div>







    <%= form.label :image, style: "display: block" %>







    <%= form.text_field :image %>







  </div>















  <div>







    <%= form.label :date_parution_jj, style: "display: block" %>







    <%= form.text_field :date_parution_jj %>







  </div>















  <div>







    <%= form.label :date_parution_mm, style: "display: block" %>







    <%= form.text_field :date_parution_mm %>







  </div>















  <div>







    <%= form.label :date_parution_aaaa, style: "display: block" %>







    <%= form.text_field :date_parution_aaaa %>







  </div>















  <div>







    <%= form.label :prix, style: "display: block" %>







    <%= form.text_field :prix %>







  </div>















  <div>







    <%= form.label :ean, style: "display: block" %>







    <%= form.text_field :ean %>







  </div>















  <div>







    <%= form.label :ref, style: "display: block" %>







    <%= form.text_field :ref %>







  </div>















  <div>







    <%= form.label :_dvd_blu_rays_format_id, style: "display: block" %>







    <%= form.number_field :_dvd_blu_rays_format_id %>







  </div>















  <div>







    <%= form.label :_dvd_blu_rays_type_edition_id, style: "display: block" %>







    <%= form.number_field :_dvd_blu_rays_type_edition_id %>







  </div>















  <div>







    <%= form.label :_dvd_blu_rays_editeurs_id, style: "display: block" %>







    <%= form.number_field :_dvd_blu_rays_editeurs_id %>







  </div>















  <div>







    <%= form.label :_dvd_blu_rays_editeurs_id, style: "display: block" %>







    <%= form.number_field :_dvd_blu_rays_editeurs_id %>







  </div>















  <div>







    <%= form.label :audiodescription, style: "display: block" %>







    <%= form.text_field :audiodescription %>







  </div>















  <div>







    <%= form.label :duree, style: "display: block" %>







    <%= form.text_field :duree %>







  </div>















  <div>







    <%= form.label :nb_disque, style: "display: block" %>







    <%= form.text_field :nb_disque %>







  </div>















  <div>







    <%= form.label :resume, style: "display: block" %>







    <%= form.text_area :resume %>







  </div>















  <div>







    <%= form.label :episodes, style: "display: block" %>







    <%= form.text_area :episodes %>







  </div>















  <div>







    <%= form.label :infos, style: "display: block" %>







    <%= form.text_area :infos %>







  </div>















  <div>







    <%= form.label :youtube, style: "display: block" %>







    <%= form.text_field :youtube %>







  </div>















  <div>







    <%= form.label :_dvd_blu_rays_public_averti_id, style: "display: block" %>







    <%= form.number_field :_dvd_blu_rays_public_averti_id %>







  </div>















  <div>







    <%= form.label :_dvd_blu_rays_groupes_id, style: "display: block" %>







    <%= form.number_field :_dvd_blu_rays_groupes_id %>







  </div>















  <div>







    <%= form.label :_dvd_blu_rays_anime_id, style: "display: block" %>







    <%= form.number_field :_dvd_blu_rays_anime_id %>







  </div>















  <div>







    <%= form.label :_dvd_blu_rays_drama_id, style: "display: block" %>







    <%= form.number_field :_dvd_blu_rays_drama_id %>







  </div>















  <div>







    <%= form.label :_dvd_blu_rays_am_id, style: "display: block" %>







    <%= form.number_field :_dvd_blu_rays_am_id %>







  </div>















  <div>







    <%= form.label :_dvd_blu_rays_litterature_asiatique_id, style: "display: block" %>







    <%= form.number_field :_dvd_blu_rays_litterature_asiatique_id %>







  </div>















  <div>







    <%= form.label :_dvd_blu_rays_jv_id, style: "display: block" %>







    <%= form.number_field :_dvd_blu_rays_jv_id %>







  </div>















  <div>







    <%= form.label :_dvd_blu_rays_people_id, style: "display: block" %>







    <%= form.number_field :_dvd_blu_rays_people_id %>







  </div>















  <div>







    <%= form.label :_dvd_blu_rays_emission_tv_id, style: "display: block" %>







    <%= form.number_field :_dvd_blu_rays_emission_tv_id %>







  </div>















  <div>







    <%= form.label :_dvd_blu_rays_actualite_id, style: "display: block" %>







    <%= form.number_field :_dvd_blu_rays_actualite_id %>







  </div>















  <div>







    <%= form.label :_dvd_blu_rays_actualite_mini_id, style: "display: block" %>







    <%= form.number_field :_dvd_blu_rays_actualite_mini_id %>







  </div>















  <div>







    <%= form.label :comment, style: "display: block" %>







    <%= form.text_area :comment %>







  </div>















  <div>







    <%= form.label :statut_prop, style: "display: block" %>







    <%= form.text_field :statut_prop %>







  </div>















  <div>







    <%= form.label :statut_prop, style: "display: block" %>







    <%= form.text_field :statut_prop %>







  </div>















  <div>







    <%= form.label :acceptregles, style: "display: block" %>







    <%= form.text_field :acceptregles %>







  </div>















  <div>







    <%= form.submit %>







  </div>







<% end %>
