<p style="color: green"><%= notice %></p>















<%= render @_dvd_blu_ray %>















<div>







  <%= link_to "Edit this blu ray", edit_dvd_blu_ray_path(@_dvd_blu_ray) %> |







  <%= link_to "Back to blu rays", dvd_blu_rays_path %>















  <%= button_to "Destroy this blu ray", @_dvd_blu_ray, method: :delete %>







</div>
