<p style="color: green"><%= notice %></p>

<%= render @_doujinshis_quizz %>

<div>
  <%= link_to "Edit this doujinshis quizz", edit__doujinshis_quizz_path(@_doujinshis_quizz) %> |
  <%= link_to "Back to doujinshis quizzs", _doujinshis_quizzs_path %>

  <%= button_to "Destroy this doujinshis quizz", @_doujinshis_quizz, method: :delete %>
</div>
