<p style="color: green"><%= notice %></p>































































































































<%= render @_drama %>































































































































<div>































































  <%= link_to "Edit this drama", edit_drama_path(@_drama) %> |































































  <%= link_to "Back to dramas", dramas_path %>































































































































  <%= button_to "Destroy this drama", @_drama, method: :delete %>































































</div>
