<p style="color: green"><%= notice %></p>































































































































<%= render @_cds_bonu %>































































































































<div>































































  <%= link_to "Edit this cds bonu", edit_cds_bonu_path(@_cds_bonu) %> |































































  <%= link_to "Back to cds bonus", cds_bonus_path %>































































































































  <%= button_to "Destroy this cds bonu", @_cds_bonu, method: :delete %>































































</div>
