<p style="color: green"><%= notice %></p>

<%= render @_dramas_jv_plu %>

<div>
  <%= link_to "Edit this dramas jv plu", edit__dramas_jv_plu_path(@_dramas_jv_plu) %> |
  <%= link_to "Back to dramas jv plus", _dramas_jv_plus_path %>

  <%= button_to "Destroy this dramas jv plu", @_dramas_jv_plu, method: :delete %>
</div>
