<p style="color: green"><%= notice %></p>































































































































<%= render @_personnage_danimes_doubleur_person %>































































































































<div>































































  <%= link_to "Edit this personnage danimes doubleur person", edit_personnage_danimes_doubleur_person_path(@_personnage_danimes_doubleur_person) %> |































































  <%= link_to "Back to personnage danimes doubleur people", personnage_danimes_doubleur_people_path %>































































































































  <%= button_to "Destroy this personnage danimes doubleur person", @_personnage_danimes_doubleur_person, method: :delete %>































































</div>
