<p style="color: green"><%= notice %></p>

<%= render @_breves_goody %>

<div>
  <%= link_to "Edit this breves goody", edit__breves_goody_path(@_breves_goody) %> |
  <%= link_to "Back to breves goodies", _breves_goodies_path %>

  <%= button_to "Destroy this breves goody", @_breves_goody, method: :delete %>
</div>
