<%= form_with(model: _doujinshi) do |form| %>
  <% if _doujinshi.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(_doujinshi.errors.count, "error") %> prohibited this _doujinshi from being saved:</h2>

      <ul>
        <% _doujinshi.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :_doujinshis_france_id, style: "display: block" %>
    <%= form.number_field :_doujinshis_france_id %>
  </div>

  <div>
    <%= form.label :titre, style: "display: block" %>
    <%= form.text_field :titre %>
  </div>

  <div>
    <%= form.label :titre_alternatif, style: "display: block" %>
    <%= form.text_field :titre_alternatif %>
  </div>

  <div>
    <%= form.label :titre_alternatif_suite, style: "display: block" %>
    <%= form.text_field :titre_alternatif_suite %>
  </div>

  <div>
    <%= form.label :titre_original_latin, style: "display: block" %>
    <%= form.text_field :titre_original_latin %>
  </div>

  <div>
    <%= form.label :titre_original, style: "display: block" %>
    <%= form.text_field :titre_original %>
  </div>

  <div>
    <%= form.label :image, style: "display: block" %>
    <%= form.text_field :image %>
  </div>

  <div>
    <%= form.label :image_vo, style: "display: block" %>
    <%= form.text_field :image_vo %>
  </div>

  <div>
    <%= form.label :_doujinshis_origine_id, style: "display: block" %>
    <%= form.number_field :_doujinshis_origine_id %>
  </div>

  <div>
    <%= form.label :_doujinshis_pays_id, style: "display: block" %>
    <%= form.number_field :_doujinshis_pays_id %>
  </div>

  <div>
    <%= form.label :_doujinshis_pays_id, style: "display: block" %>
    <%= form.number_field :_doujinshis_pays_id %>
  </div>

  <div>
    <%= form.label :_doujinshis_type_id, style: "display: block" %>
    <%= form.number_field :_doujinshis_type_id %>
  </div>

  <div>
    <%= form.label :numerique, style: "display: block" %>
    <%= form.text_field :numerique %>
  </div>

  <div>
    <%= form.label :_doujinshis_genres_id, style: "display: block" %>
    <%= form.number_field :_doujinshis_genres_id %>
  </div>

  <div>
    <%= form.label :_doujinshis_genres_id, style: "display: block" %>
    <%= form.number_field :_doujinshis_genres_id %>
  </div>

  <div>
    <%= form.label :_doujinshis_themes_id, style: "display: block" %>
    <%= form.number_field :_doujinshis_themes_id %>
  </div>

  <div>
    <%= form.label :_doujinshis_themes_id, style: "display: block" %>
    <%= form.number_field :_doujinshis_themes_id %>
  </div>

  <div>
    <%= form.label :_doujinshis_genres_averti_id, style: "display: block" %>
    <%= form.number_field :_doujinshis_genres_averti_id %>
  </div>

  <div>
    <%= form.label :_doujinshis_genres_averti_id, style: "display: block" %>
    <%= form.number_field :_doujinshis_genres_averti_id %>
  </div>

  <div>
    <%= form.label :date_parution_vo_jj, style: "display: block" %>
    <%= form.text_field :date_parution_vo_jj %>
  </div>

  <div>
    <%= form.label :date_parution_vo_mm, style: "display: block" %>
    <%= form.text_field :date_parution_vo_mm %>
  </div>

  <div>
    <%= form.label :date_parution_vo_aaaa, style: "display: block" %>
    <%= form.text_field :date_parution_vo_aaaa %>
  </div>

  <div>
    <%= form.label :date_parution_vf_jj, style: "display: block" %>
    <%= form.text_field :date_parution_vf_jj %>
  </div>

  <div>
    <%= form.label :date_parution_vf_mm, style: "display: block" %>
    <%= form.text_field :date_parution_vf_mm %>
  </div>

  <div>
    <%= form.label :date_parution_vf_aaaa, style: "display: block" %>
    <%= form.text_field :date_parution_vf_aaaa %>
  </div>

  <div>
    <%= form.label :nb_page, style: "display: block" %>
    <%= form.text_field :nb_page %>
  </div>

  <div>
    <%= form.label :_doujinshis_conventions_id, style: "display: block" %>
    <%= form.number_field :_doujinshis_conventions_id %>
  </div>

  <div>
    <%= form.label :_doujinshis_conventions_id, style: "display: block" %>
    <%= form.number_field :_doujinshis_conventions_id %>
  </div>

  <div>
    <%= form.label :_doujinshis_role_id, style: "display: block" %>
    <%= form.number_field :_doujinshis_role_id %>
  </div>

  <div>
    <%= form.label :_doujinshis_staff_people_id, style: "display: block" %>
    <%= form.number_field :_doujinshis_staff_people_id %>
  </div>

  <div>
    <%= form.label :_doujinshis_role_id, style: "display: block" %>
    <%= form.number_field :_doujinshis_role_id %>
  </div>

  <div>
    <%= form.label :_doujinshis_staff_people_id, style: "display: block" %>
    <%= form.number_field :_doujinshis_staff_people_id %>
  </div>

  <div>
    <%= form.label :staff_txt, style: "display: block" %>
    <%= form.text_field :staff_txt %>
  </div>

  <div>
    <%= form.label :_doujinshis_public_averti_id, style: "display: block" %>
    <%= form.number_field :_doujinshis_public_averti_id %>
  </div>

  <div>
    <%= form.label :_doujinshis_censure_id, style: "display: block" %>
    <%= form.number_field :_doujinshis_censure_id %>
  </div>

  <div>
    <%= form.label :tags, style: "display: block" %>
    <%= form.text_field :tags %>
  </div>

  <div>
    <%= form.label :prix, style: "display: block" %>
    <%= form.text_field :prix %>
  </div>

  <div>
    <%= form.label :_doujinshis_gratuit_id, style: "display: block" %>
    <%= form.number_field :_doujinshis_gratuit_id %>
  </div>

  <div>
    <%= form.label :lien_achat, style: "display: block" %>
    <%= form.text_field :lien_achat %>
  </div>

  <div>
    <%= form.label :infos, style: "display: block" %>
    <%= form.text_area :infos %>
  </div>

  <div>
    <%= form.label :resume, style: "display: block" %>
    <%= form.text_area :resume %>
  </div>

  <div>
    <%= form.label :_doujinshis_groupes_id, style: "display: block" %>
    <%= form.number_field :_doujinshis_groupes_id %>
  </div>

  <div>
    <%= form.label :_doujinshis_anime_id, style: "display: block" %>
    <%= form.number_field :_doujinshis_anime_id %>
  </div>

  <div>
    <%= form.label :_doujinshis_anime_plus_id, style: "display: block" %>
    <%= form.number_field :_doujinshis_anime_plus_id %>
  </div>

  <div>
    <%= form.label :_doujinshis_manga_id, style: "display: block" %>
    <%= form.number_field :_doujinshis_manga_id %>
  </div>

  <div>
    <%= form.label :_doujinshis_manga_plus_id, style: "display: block" %>
    <%= form.number_field :_doujinshis_manga_plus_id %>
  </div>

  <div>
    <%= form.label :_doujinshis_ln_id, style: "display: block" %>
    <%= form.number_field :_doujinshis_ln_id %>
  </div>

  <div>
    <%= form.label :_doujinshis_ln_plus_id, style: "display: block" %>
    <%= form.number_field :_doujinshis_ln_plus_id %>
  </div>

  <div>
    <%= form.label :_doujinshis_doujinshi_id, style: "display: block" %>
    <%= form.number_field :_doujinshis_doujinshi_id %>
  </div>

  <div>
    <%= form.label :_doujinshis_doujinshi_plus_id, style: "display: block" %>
    <%= form.number_field :_doujinshis_doujinshi_plus_id %>
  </div>

  <div>
    <%= form.label :_doujinshis_drama_id, style: "display: block" %>
    <%= form.number_field :_doujinshis_drama_id %>
  </div>

  <div>
    <%= form.label :_doujinshis_drama_plus_id, style: "display: block" %>
    <%= form.number_field :_doujinshis_drama_plus_id %>
  </div>

  <div>
    <%= form.label :_doujinshis_jv_id, style: "display: block" %>
    <%= form.number_field :_doujinshis_jv_id %>
  </div>

  <div>
    <%= form.label :_doujinshis_jv_plus_id, style: "display: block" %>
    <%= form.number_field :_doujinshis_jv_plus_id %>
  </div>

  <div>
    <%= form.label :_doujinshis_am_id, style: "display: block" %>
    <%= form.number_field :_doujinshis_am_id %>
  </div>

  <div>
    <%= form.label :_doujinshis_am_plus_id, style: "display: block" %>
    <%= form.number_field :_doujinshis_am_plus_id %>
  </div>

  <div>
    <%= form.label :_doujinshis_litterature_asiatique_id, style: "display: block" %>
    <%= form.number_field :_doujinshis_litterature_asiatique_id %>
  </div>

  <div>
    <%= form.label :_doujinshis_litterature_asiatique_plus_id, style: "display: block" %>
    <%= form.number_field :_doujinshis_litterature_asiatique_plus_id %>
  </div>

  <div>
    <%= form.label :_doujinshis_artbook_id, style: "display: block" %>
    <%= form.number_field :_doujinshis_artbook_id %>
  </div>

  <div>
    <%= form.label :_doujinshis_actualite_id, style: "display: block" %>
    <%= form.number_field :_doujinshis_actualite_id %>
  </div>

  <div>
    <%= form.label :_doujinshis_culture_id, style: "display: block" %>
    <%= form.number_field :_doujinshis_culture_id %>
  </div>

  <div>
    <%= form.label :_doujinshis_actualite_mini_id, style: "display: block" %>
    <%= form.number_field :_doujinshis_actualite_mini_id %>
  </div>

  <div>
    <%= form.label :_doujinshis_perso_id, style: "display: block" %>
    <%= form.number_field :_doujinshis_perso_id %>
  </div>

  <div>
    <%= form.label :_doujinshis_perso_plus_id, style: "display: block" %>
    <%= form.number_field :_doujinshis_perso_plus_id %>
  </div>

  <div>
    <%= form.label :_doujinshis_perso_manga_id, style: "display: block" %>
    <%= form.number_field :_doujinshis_perso_manga_id %>
  </div>

  <div>
    <%= form.label :_doujinshis_jv_perso_id, style: "display: block" %>
    <%= form.number_field :_doujinshis_jv_perso_id %>
  </div>

  <div>
    <%= form.label :_doujinshis_quizz_id, style: "display: block" %>
    <%= form.number_field :_doujinshis_quizz_id %>
  </div>

  <div>
    <%= form.label :_doujinshis_people_id, style: "display: block" %>
    <%= form.number_field :_doujinshis_people_id %>
  </div>

  <div>
    <%= form.label :comment, style: "display: block" %>
    <%= form.text_area :comment %>
  </div>

  <div>
    <%= form.label :statut_prop, style: "display: block" %>
    <%= form.text_field :statut_prop %>
  </div>

  <div>
    <%= form.label :statut_prop, style: "display: block" %>
    <%= form.text_field :statut_prop %>
  </div>

  <div>
    <%= form.label :acceptregles, style: "display: block" %>
    <%= form.text_field :acceptregles %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
