<div id="<%= dom_id _manga %>">
  <p>
    <strong>Titre:</strong>
    <%= _manga.titre %>
  </p>

  <p>
    <strong>Titre alternatif:</strong>
    <%= _manga.titre_alternatif %>
  </p>

  <p>
    <strong>Titre alternatif suite:</strong>
    <%= _manga.titre_alternatif_suite %>
  </p>

  <p>
    <strong>Titre original latin:</strong>
    <%= _manga.titre_original_latin %>
  </p>

  <p>
    <strong>Titre original:</strong>
    <%= _manga.titre_original %>
  </p>

  <p>
    <strong>Image:</strong>
    <%= _manga.image %>
  </p>

  <p>
    <strong>Image vo:</strong>
    <%= _manga.image_vo %>
  </p>

  <p>
    <strong>Mangas pays:</strong>
    <%= _manga._mangas_pays_id %>
  </p>

  <p>
    <strong>Mangas pays:</strong>
    <%= _manga._mangas_pays_id %>
  </p>

  <p>
    <strong>Mangas type:</strong>
    <%= _manga._mangas_type_id %>
  </p>

  <p>
    <strong>Webcomic:</strong>
    <%= _manga.webcomic %>
  </p>

  <p>
    <strong>Mangas genres:</strong>
    <%= _manga._mangas_genres_id %>
  </p>

  <p>
    <strong>Mangas genres:</strong>
    <%= _manga._mangas_genres_id %>
  </p>

  <p>
    <strong>Mangas themes:</strong>
    <%= _manga._mangas_themes_id %>
  </p>

  <p>
    <strong>Mangas themes:</strong>
    <%= _manga._mangas_themes_id %>
  </p>

  <p>
    <strong>Annee vo:</strong>
    <%= _manga.annee_vo %>
  </p>

  <p>
    <strong>Annee vf:</strong>
    <%= _manga.annee_vf %>
  </p>

  <p>
    <strong>Annee defaut:</strong>
    <%= _manga.annee_defaut %>
  </p>

  <p>
    <strong>Nb volumes vo:</strong>
    <%= _manga.nb_volumes_vo %>
  </p>

  <p>
    <strong>Nb chapitres vo:</strong>
    <%= _manga.nb_chapitres_vo %>
  </p>

  <p>
    <strong>Nb volumes vf:</strong>
    <%= _manga.nb_volumes_vf %>
  </p>

  <p>
    <strong>Nb chapitres vf:</strong>
    <%= _manga.nb_chapitres_vf %>
  </p>

  <p>
    <strong>Mangas encours vo:</strong>
    <%= _manga._mangas_encours_vo_id %>
  </p>

  <p>
    <strong>Mangas encours vf:</strong>
    <%= _manga._mangas_encours_vf_id %>
  </p>

  <p>
    <strong>Mangas editeurs vo:</strong>
    <%= _manga._mangas_editeurs_vo_id %>
  </p>

  <p>
    <strong>Mangas editeurs vo:</strong>
    <%= _manga._mangas_editeurs_vo_id %>
  </p>

  <p>
    <strong>Mangas editeurs vf:</strong>
    <%= _manga._mangas_editeurs_vf_id %>
  </p>

  <p>
    <strong>Mangas editeurs vf collection:</strong>
    <%= _manga._mangas_editeurs_vf_collection_id %>
  </p>

  <p>
    <strong>Mangas editeurs vf:</strong>
    <%= _manga._mangas_editeurs_vf_id %>
  </p>

  <p>
    <strong>Mangas editeurs vf collection:</strong>
    <%= _manga._mangas_editeurs_vf_collection_id %>
  </p>

  <p>
    <strong>Mangas prepublie:</strong>
    <%= _manga._mangas_prepublie_id %>
  </p>

  <p>
    <strong>Mangas prepublie:</strong>
    <%= _manga._mangas_prepublie_id %>
  </p>

  <p>
    <strong>Mangas staff role:</strong>
    <%= _manga._mangas_staff_role_id %>
  </p>

  <p>
    <strong>Mangas staff people:</strong>
    <%= _manga._mangas_staff_people_id %>
  </p>

  <p>
    <strong>Mangas staff role:</strong>
    <%= _manga._mangas_staff_role_id %>
  </p>

  <p>
    <strong>Mangas staff people:</strong>
    <%= _manga._mangas_staff_people_id %>
  </p>

  <p>
    <strong>Mangas societe role:</strong>
    <%= _manga._mangas_societe_role_id %>
  </p>

  <p>
    <strong>Mangas societe people:</strong>
    <%= _manga._mangas_societe_people_id %>
  </p>

  <p>
    <strong>Mangas societe role:</strong>
    <%= _manga._mangas_societe_role_id %>
  </p>

  <p>
    <strong>Mangas societe people:</strong>
    <%= _manga._mangas_societe_people_id %>
  </p>

  <p>
    <strong>Age:</strong>
    <%= _manga.age %>
  </p>

  <p>
    <strong>Mangas public averti:</strong>
    <%= _manga._mangas_public_averti_id %>
  </p>

  <p>
    <strong>Mangas commerce:</strong>
    <%= _manga._mangas_commerce_id %>
  </p>

  <p>
    <strong>Adapte anime:</strong>
    <%= _manga.adapte_anime %>
  </p>

  <p>
    <strong>Adapte anime:</strong>
    <%= _manga.adapte_anime %>
  </p>

  <p>
    <strong>Adapte anime:</strong>
    <%= _manga.adapte_anime %>
  </p>

  <p>
    <strong>Prix:</strong>
    <%= _manga.prix %>
  </p>

  <p>
    <strong>Resume:</strong>
    <%= _manga.resume %>
  </p>

  <p>
    <strong>Infos:</strong>
    <%= _manga.infos %>
  </p>

  <p>
    <strong>Youtube:</strong>
    <%= _manga.youtube %>
  </p>

  <p>
    <strong>Mangas groupes:</strong>
    <%= _manga._mangas_groupes_id %>
  </p>

  <p>
    <strong>Mangas anime:</strong>
    <%= _manga._mangas_anime_id %>
  </p>

  <p>
    <strong>Mangas anime plus:</strong>
    <%= _manga._mangas_anime_plus_id %>
  </p>

  <p>
    <strong>Mangas ln:</strong>
    <%= _manga._mangas_ln_id %>
  </p>

  <p>
    <strong>Mangas ln plus:</strong>
    <%= _manga._mangas_ln_plus_id %>
  </p>

  <p>
    <strong>Mangas manga:</strong>
    <%= _manga._mangas_manga_id %>
  </p>

  <p>
    <strong>Mangas manga plus:</strong>
    <%= _manga._mangas_manga_plus_id %>
  </p>

  <p>
    <strong>Mangas drama:</strong>
    <%= _manga._mangas_drama_id %>
  </p>

  <p>
    <strong>Mangas drama plus:</strong>
    <%= _manga._mangas_drama_plus_id %>
  </p>

  <p>
    <strong>Mangas jv:</strong>
    <%= _manga._mangas_jv_id %>
  </p>

  <p>
    <strong>Mangas jv plus:</strong>
    <%= _manga._mangas_jv_plus_id %>
  </p>

  <p>
    <strong>Mangas am:</strong>
    <%= _manga._mangas_am_id %>
  </p>

  <p>
    <strong>Mangas am plus:</strong>
    <%= _manga._mangas_am_plus_id %>
  </p>

  <p>
    <strong>Mangas litterature asiatique:</strong>
    <%= _manga._mangas_litterature_asiatique_id %>
  </p>

  <p>
    <strong>Mangas litterature asiatique plus:</strong>
    <%= _manga._mangas_litterature_asiatique_plus_id %>
  </p>

  <p>
    <strong>Mangas artbook:</strong>
    <%= _manga._mangas_artbook_id %>
  </p>

  <p>
    <strong>Mangas actualite:</strong>
    <%= _manga._mangas_actualite_id %>
  </p>

  <p>
    <strong>Mangas culture:</strong>
    <%= _manga._mangas_culture_id %>
  </p>

  <p>
    <strong>Mangas actualite mini:</strong>
    <%= _manga._mangas_actualite_mini_id %>
  </p>

  <p>
    <strong>Mangas sondage:</strong>
    <%= _manga._mangas_sondage_id %>
  </p>

  <p>
    <strong>Mangas quizz:</strong>
    <%= _manga._mangas_quizz_id %>
  </p>

  <p>
    <strong>Mangas concours:</strong>
    <%= _manga._mangas_concours_id %>
  </p>

  <p>
    <strong>Mangas people:</strong>
    <%= _manga._mangas_people_id %>
  </p>

  <p>
    <strong>Mangas clip:</strong>
    <%= _manga._mangas_clip_id %>
  </p>

  <p>
    <strong>Comment:</strong>
    <%= _manga.comment %>
  </p>

  <p>
    <strong>Statut prop:</strong>
    <%= _manga.statut_prop %>
  </p>

  <p>
    <strong>Statut prop:</strong>
    <%= _manga.statut_prop %>
  </p>

  <p>
    <strong>Acceptregles:</strong>
    <%= _manga.acceptregles %>
  </p>

</div>
