<%= form_with(model: _manga) do |form| %>
  <% if _manga.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(_manga.errors.count, "error") %> prohibited this _manga from being saved:</h2>

      <ul>
        <% _manga.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :titre, style: "display: block" %>
    <%= form.text_field :titre %>
  </div>

  <div>
    <%= form.label :titre_alternatif, style: "display: block" %>
    <%= form.text_field :titre_alternatif %>
  </div>

  <div>
    <%= form.label :titre_alternatif_suite, style: "display: block" %>
    <%= form.text_field :titre_alternatif_suite %>
  </div>

  <div>
    <%= form.label :titre_original_latin, style: "display: block" %>
    <%= form.text_field :titre_original_latin %>
  </div>

  <div>
    <%= form.label :titre_original, style: "display: block" %>
    <%= form.text_field :titre_original %>
  </div>

  <div>
    <%= form.label :image, style: "display: block" %>
    <%= form.text_field :image %>
  </div>

  <div>
    <%= form.label :image_vo, style: "display: block" %>
    <%= form.text_field :image_vo %>
  </div>

  <div>
    <%= form.label :_mangas_pays_id, style: "display: block" %>
    <%= form.number_field :_mangas_pays_id %>
  </div>

  <div>
    <%= form.label :_mangas_pays_id, style: "display: block" %>
    <%= form.number_field :_mangas_pays_id %>
  </div>

  <div>
    <%= form.label :_mangas_type_id, style: "display: block" %>
    <%= form.number_field :_mangas_type_id %>
  </div>

  <div>
    <%= form.label :webcomic, style: "display: block" %>
    <%= form.text_field :webcomic %>
  </div>

  <div>
    <%= form.label :_mangas_genres_id, style: "display: block" %>
    <%= form.number_field :_mangas_genres_id %>
  </div>

  <div>
    <%= form.label :_mangas_genres_id, style: "display: block" %>
    <%= form.number_field :_mangas_genres_id %>
  </div>

  <div>
    <%= form.label :_mangas_themes_id, style: "display: block" %>
    <%= form.number_field :_mangas_themes_id %>
  </div>

  <div>
    <%= form.label :_mangas_themes_id, style: "display: block" %>
    <%= form.number_field :_mangas_themes_id %>
  </div>

  <div>
    <%= form.label :annee_vo, style: "display: block" %>
    <%= form.text_field :annee_vo %>
  </div>

  <div>
    <%= form.label :annee_vf, style: "display: block" %>
    <%= form.text_field :annee_vf %>
  </div>

  <div>
    <%= form.label :annee_defaut, style: "display: block" %>
    <%= form.text_field :annee_defaut %>
  </div>

  <div>
    <%= form.label :nb_volumes_vo, style: "display: block" %>
    <%= form.text_field :nb_volumes_vo %>
  </div>

  <div>
    <%= form.label :nb_chapitres_vo, style: "display: block" %>
    <%= form.text_field :nb_chapitres_vo %>
  </div>

  <div>
    <%= form.label :nb_volumes_vf, style: "display: block" %>
    <%= form.text_field :nb_volumes_vf %>
  </div>

  <div>
    <%= form.label :nb_chapitres_vf, style: "display: block" %>
    <%= form.text_field :nb_chapitres_vf %>
  </div>

  <div>
    <%= form.label :_mangas_encours_vo_id, style: "display: block" %>
    <%= form.number_field :_mangas_encours_vo_id %>
  </div>

  <div>
    <%= form.label :_mangas_encours_vf_id, style: "display: block" %>
    <%= form.number_field :_mangas_encours_vf_id %>
  </div>

  <div>
    <%= form.label :_mangas_editeurs_vo_id, style: "display: block" %>
    <%= form.number_field :_mangas_editeurs_vo_id %>
  </div>

  <div>
    <%= form.label :_mangas_editeurs_vo_id, style: "display: block" %>
    <%= form.number_field :_mangas_editeurs_vo_id %>
  </div>

  <div>
    <%= form.label :_mangas_editeurs_vf_id, style: "display: block" %>
    <%= form.number_field :_mangas_editeurs_vf_id %>
  </div>

  <div>
    <%= form.label :_mangas_editeurs_vf_collection_id, style: "display: block" %>
    <%= form.number_field :_mangas_editeurs_vf_collection_id %>
  </div>

  <div>
    <%= form.label :_mangas_editeurs_vf_id, style: "display: block" %>
    <%= form.number_field :_mangas_editeurs_vf_id %>
  </div>

  <div>
    <%= form.label :_mangas_editeurs_vf_collection_id, style: "display: block" %>
    <%= form.number_field :_mangas_editeurs_vf_collection_id %>
  </div>

  <div>
    <%= form.label :_mangas_prepublie_id, style: "display: block" %>
    <%= form.number_field :_mangas_prepublie_id %>
  </div>

  <div>
    <%= form.label :_mangas_prepublie_id, style: "display: block" %>
    <%= form.number_field :_mangas_prepublie_id %>
  </div>

  <div>
    <%= form.label :_mangas_staff_role_id, style: "display: block" %>
    <%= form.number_field :_mangas_staff_role_id %>
  </div>

  <div>
    <%= form.label :_mangas_staff_people_id, style: "display: block" %>
    <%= form.number_field :_mangas_staff_people_id %>
  </div>

  <div>
    <%= form.label :_mangas_staff_role_id, style: "display: block" %>
    <%= form.number_field :_mangas_staff_role_id %>
  </div>

  <div>
    <%= form.label :_mangas_staff_people_id, style: "display: block" %>
    <%= form.number_field :_mangas_staff_people_id %>
  </div>

  <div>
    <%= form.label :_mangas_societe_role_id, style: "display: block" %>
    <%= form.number_field :_mangas_societe_role_id %>
  </div>

  <div>
    <%= form.label :_mangas_societe_people_id, style: "display: block" %>
    <%= form.number_field :_mangas_societe_people_id %>
  </div>

  <div>
    <%= form.label :_mangas_societe_role_id, style: "display: block" %>
    <%= form.number_field :_mangas_societe_role_id %>
  </div>

  <div>
    <%= form.label :_mangas_societe_people_id, style: "display: block" %>
    <%= form.number_field :_mangas_societe_people_id %>
  </div>

  <div>
    <%= form.label :age, style: "display: block" %>
    <%= form.text_field :age %>
  </div>

  <div>
    <%= form.label :_mangas_public_averti_id, style: "display: block" %>
    <%= form.number_field :_mangas_public_averti_id %>
  </div>

  <div>
    <%= form.label :_mangas_commerce_id, style: "display: block" %>
    <%= form.number_field :_mangas_commerce_id %>
  </div>

  <div>
    <%= form.label :adapte_anime, style: "display: block" %>
    <%= form.text_field :adapte_anime %>
  </div>

  <div>
    <%= form.label :adapte_anime, style: "display: block" %>
    <%= form.text_field :adapte_anime %>
  </div>

  <div>
    <%= form.label :adapte_anime, style: "display: block" %>
    <%= form.text_field :adapte_anime %>
  </div>

  <div>
    <%= form.label :prix, style: "display: block" %>
    <%= form.text_field :prix %>
  </div>

  <div>
    <%= form.label :resume, style: "display: block" %>
    <%= form.text_area :resume %>
  </div>

  <div>
    <%= form.label :infos, style: "display: block" %>
    <%= form.text_area :infos %>
  </div>

  <div>
    <%= form.label :youtube, style: "display: block" %>
    <%= form.text_field :youtube %>
  </div>

  <div>
    <%= form.label :_mangas_groupes_id, style: "display: block" %>
    <%= form.number_field :_mangas_groupes_id %>
  </div>

  <div>
    <%= form.label :_mangas_anime_id, style: "display: block" %>
    <%= form.number_field :_mangas_anime_id %>
  </div>

  <div>
    <%= form.label :_mangas_anime_plus_id, style: "display: block" %>
    <%= form.number_field :_mangas_anime_plus_id %>
  </div>

  <div>
    <%= form.label :_mangas_ln_id, style: "display: block" %>
    <%= form.number_field :_mangas_ln_id %>
  </div>

  <div>
    <%= form.label :_mangas_ln_plus_id, style: "display: block" %>
    <%= form.number_field :_mangas_ln_plus_id %>
  </div>

  <div>
    <%= form.label :_mangas_manga_id, style: "display: block" %>
    <%= form.number_field :_mangas_manga_id %>
  </div>

  <div>
    <%= form.label :_mangas_manga_plus_id, style: "display: block" %>
    <%= form.number_field :_mangas_manga_plus_id %>
  </div>

  <div>
    <%= form.label :_mangas_drama_id, style: "display: block" %>
    <%= form.number_field :_mangas_drama_id %>
  </div>

  <div>
    <%= form.label :_mangas_drama_plus_id, style: "display: block" %>
    <%= form.number_field :_mangas_drama_plus_id %>
  </div>

  <div>
    <%= form.label :_mangas_jv_id, style: "display: block" %>
    <%= form.number_field :_mangas_jv_id %>
  </div>

  <div>
    <%= form.label :_mangas_jv_plus_id, style: "display: block" %>
    <%= form.number_field :_mangas_jv_plus_id %>
  </div>

  <div>
    <%= form.label :_mangas_am_id, style: "display: block" %>
    <%= form.number_field :_mangas_am_id %>
  </div>

  <div>
    <%= form.label :_mangas_am_plus_id, style: "display: block" %>
    <%= form.number_field :_mangas_am_plus_id %>
  </div>

  <div>
    <%= form.label :_mangas_litterature_asiatique_id, style: "display: block" %>
    <%= form.number_field :_mangas_litterature_asiatique_id %>
  </div>

  <div>
    <%= form.label :_mangas_litterature_asiatique_plus_id, style: "display: block" %>
    <%= form.number_field :_mangas_litterature_asiatique_plus_id %>
  </div>

  <div>
    <%= form.label :_mangas_artbook_id, style: "display: block" %>
    <%= form.number_field :_mangas_artbook_id %>
  </div>

  <div>
    <%= form.label :_mangas_actualite_id, style: "display: block" %>
    <%= form.number_field :_mangas_actualite_id %>
  </div>

  <div>
    <%= form.label :_mangas_culture_id, style: "display: block" %>
    <%= form.number_field :_mangas_culture_id %>
  </div>

  <div>
    <%= form.label :_mangas_actualite_mini_id, style: "display: block" %>
    <%= form.number_field :_mangas_actualite_mini_id %>
  </div>

  <div>
    <%= form.label :_mangas_sondage_id, style: "display: block" %>
    <%= form.number_field :_mangas_sondage_id %>
  </div>

  <div>
    <%= form.label :_mangas_quizz_id, style: "display: block" %>
    <%= form.number_field :_mangas_quizz_id %>
  </div>

  <div>
    <%= form.label :_mangas_concours_id, style: "display: block" %>
    <%= form.number_field :_mangas_concours_id %>
  </div>

  <div>
    <%= form.label :_mangas_people_id, style: "display: block" %>
    <%= form.number_field :_mangas_people_id %>
  </div>

  <div>
    <%= form.label :_mangas_clip_id, style: "display: block" %>
    <%= form.number_field :_mangas_clip_id %>
  </div>

  <div>
    <%= form.label :comment, style: "display: block" %>
    <%= form.text_area :comment %>
  </div>

  <div>
    <%= form.label :statut_prop, style: "display: block" %>
    <%= form.text_field :statut_prop %>
  </div>

  <div>
    <%= form.label :statut_prop, style: "display: block" %>
    <%= form.text_field :statut_prop %>
  </div>

  <div>
    <%= form.label :acceptregles, style: "display: block" %>
    <%= form.text_field :acceptregles %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
