<div id="<%= dom_id manga %>">































































  <p>































































    <strong>Titre:</strong>































































    <%= manga.titre %>































































  </p>































































































































  <p>































































    <strong>Titre alternatif:</strong>































































    <%= manga.titre_alternatif %>































































  </p>































































































































  <p>































































    <strong>Titre alternatif suite:</strong>































































    <%= manga.titre_alternatif_suite %>































































  </p>































































































































  <p>































































    <strong>Titre original latin:</strong>































































    <%= manga.titre_original_latin %>































































  </p>































































































































  <p>































































    <strong>Titre original:</strong>































































    <%= manga.titre_original %>































































  </p>































































































































  <p>































































    <strong>Image:</strong>































































    <%= manga.image %>































































  </p>































































































































  <p>































































    <strong>Image vo:</strong>































































    <%= manga.image_vo %>































































  </p>































































































































  <p>































































    <strong>Mangas pays:</strong>































































    <%= manga._mangas_pays_id %>































































  </p>































































































































  <p>































































    <strong>Mangas pays:</strong>































































    <%= manga._mangas_pays_id %>































































  </p>































































































































  <p>































































    <strong>Mangas type:</strong>































































    <%= manga._mangas_type_id %>































































  </p>































































































































  <p>































































    <strong>Webcomic:</strong>































































    <%= manga.webcomic %>































































  </p>































































































































  <p>































































    <strong>Mangas genres:</strong>































































    <%= manga._mangas_genres_id %>































































  </p>































































































































  <p>































































    <strong>Mangas genres:</strong>































































    <%= manga._mangas_genres_id %>































































  </p>































































































































  <p>































































    <strong>Mangas themes:</strong>































































    <%= manga._mangas_themes_id %>































































  </p>































































































































  <p>































































    <strong>Mangas themes:</strong>































































    <%= manga._mangas_themes_id %>































































  </p>































































































































  <p>































































    <strong>Annee vo:</strong>































































    <%= manga.annee_vo %>































































  </p>































































































































  <p>































































    <strong>Annee vf:</strong>































































    <%= manga.annee_vf %>































































  </p>































































































































  <p>































































    <strong>Annee defaut:</strong>































































    <%= manga.annee_defaut %>































































  </p>































































































































  <p>































































    <strong>Nb volumes vo:</strong>































































    <%= manga.nb_volumes_vo %>































































  </p>































































































































  <p>































































    <strong>Nb chapitres vo:</strong>































































    <%= manga.nb_chapitres_vo %>































































  </p>































































































































  <p>































































    <strong>Nb volumes vf:</strong>































































    <%= manga.nb_volumes_vf %>































































  </p>































































































































  <p>































































    <strong>Nb chapitres vf:</strong>































































    <%= manga.nb_chapitres_vf %>































































  </p>































































































































  <p>































































    <strong>Mangas encours vo:</strong>































































    <%= manga._mangas_encours_vo_id %>































































  </p>































































































































  <p>































































    <strong>Mangas encours vf:</strong>































































    <%= manga._mangas_encours_vf_id %>































































  </p>































































































































  <p>































































    <strong>Mangas editeurs vo:</strong>































































    <%= manga._mangas_editeurs_vo_id %>































































  </p>































































































































  <p>































































    <strong>Mangas editeurs vo:</strong>































































    <%= manga._mangas_editeurs_vo_id %>































































  </p>































































































































  <p>































































    <strong>Mangas editeurs vf:</strong>































































    <%= manga._mangas_editeurs_vf_id %>































































  </p>































































































































  <p>































































    <strong>Mangas editeurs vf collection:</strong>































































    <%= manga._mangas_editeurs_vf_collection_id %>































































  </p>































































































































  <p>































































    <strong>Mangas editeurs vf:</strong>































































    <%= manga._mangas_editeurs_vf_id %>































































  </p>































































































































  <p>































































    <strong>Mangas editeurs vf collection:</strong>































































    <%= manga._mangas_editeurs_vf_collection_id %>































































  </p>































































































































  <p>































































    <strong>Mangas prepublie:</strong>































































    <%= manga._mangas_prepublie_id %>































































  </p>































































































































  <p>































































    <strong>Mangas prepublie:</strong>































































    <%= manga._mangas_prepublie_id %>































































  </p>































































































































  <p>































































    <strong>Mangas staff role:</strong>































































    <%= manga._mangas_staff_role_id %>































































  </p>































































































































  <p>































































    <strong>Mangas staff people:</strong>































































    <%= manga._mangas_staff_people_id %>































































  </p>































































































































  <p>































































    <strong>Mangas staff role:</strong>































































    <%= manga._mangas_staff_role_id %>































































  </p>































































































































  <p>































































    <strong>Mangas staff people:</strong>































































    <%= manga._mangas_staff_people_id %>































































  </p>































































































































  <p>































































    <strong>Mangas societe role:</strong>































































    <%= manga._mangas_societe_role_id %>































































  </p>































































































































  <p>































































    <strong>Mangas societe people:</strong>































































    <%= manga._mangas_societe_people_id %>































































  </p>































































































































  <p>































































    <strong>Mangas societe role:</strong>































































    <%= manga._mangas_societe_role_id %>































































  </p>































































































































  <p>































































    <strong>Mangas societe people:</strong>































































    <%= manga._mangas_societe_people_id %>































































  </p>































































































































  <p>































































    <strong>Age:</strong>































































    <%= manga.age %>































































  </p>































































































































  <p>































































    <strong>Mangas public averti:</strong>































































    <%= manga._mangas_public_averti_id %>































































  </p>































































































































  <p>































































    <strong>Mangas commerce:</strong>































































    <%= manga._mangas_commerce_id %>































































  </p>































































































































  <p>































































    <strong>Adapte anime:</strong>































































    <%= manga.adapte_anime %>































































  </p>































































































































  <p>































































    <strong>Adapte anime:</strong>































































    <%= manga.adapte_anime %>































































  </p>































































































































  <p>































































    <strong>Adapte anime:</strong>































































    <%= manga.adapte_anime %>































































  </p>































































































































  <p>































































    <strong>Prix:</strong>































































    <%= manga.prix %>































































  </p>































































































































  <p>































































    <strong>Resume:</strong>































































    <%= manga.resume %>































































  </p>































































































































  <p>































































    <strong>Infos:</strong>































































    <%= manga.infos %>































































  </p>































































































































  <p>































































    <strong>Youtube:</strong>































































    <%= manga.youtube %>































































  </p>































































































































  <p>































































    <strong>Mangas groupes:</strong>































































    <%= manga._mangas_groupes_id %>































































  </p>































































































































  <p>































































    <strong>Mangas anime:</strong>































































    <%= manga._mangas_anime_id %>































































  </p>































































































































  <p>































































    <strong>Mangas anime plus:</strong>































































    <%= manga._mangas_anime_plus_id %>































































  </p>































































































































  <p>































































    <strong>Mangas ln:</strong>































































    <%= manga._mangas_ln_id %>































































  </p>































































































































  <p>































































    <strong>Mangas ln plus:</strong>































































    <%= manga._mangas_ln_plus_id %>































































  </p>































































































































  <p>































































    <strong>Mangas manga:</strong>































































    <%= manga._mangas_manga_id %>































































  </p>































































































































  <p>































































    <strong>Mangas manga plus:</strong>































































    <%= manga._mangas_manga_plus_id %>































































  </p>































































































































  <p>































































    <strong>Mangas drama:</strong>































































    <%= manga._mangas_drama_id %>































































  </p>































































































































  <p>































































    <strong>Mangas drama plus:</strong>































































    <%= manga._mangas_drama_plus_id %>































































  </p>































































































































  <p>































































    <strong>Mangas jv:</strong>































































    <%= manga._mangas_jv_id %>































































  </p>































































































































  <p>































































    <strong>Mangas jv plus:</strong>































































    <%= manga._mangas_jv_plus_id %>































































  </p>































































































































  <p>































































    <strong>Mangas am:</strong>































































    <%= manga._mangas_am_id %>































































  </p>































































































































  <p>































































    <strong>Mangas am plus:</strong>































































    <%= manga._mangas_am_plus_id %>































































  </p>































































































































  <p>































































    <strong>Mangas litterature asiatique:</strong>































































    <%= manga._mangas_litterature_asiatique_id %>































































  </p>































































































































  <p>































































    <strong>Mangas litterature asiatique plus:</strong>































































    <%= manga._mangas_litterature_asiatique_plus_id %>































































  </p>































































































































  <p>































































    <strong>Mangas artbook:</strong>































































    <%= manga._mangas_artbook_id %>































































  </p>































































































































  <p>































































    <strong>Mangas actualite:</strong>































































    <%= manga._mangas_actualite_id %>































































  </p>































































































































  <p>































































    <strong>Mangas culture:</strong>































































    <%= manga._mangas_culture_id %>































































  </p>































































































































  <p>































































    <strong>Mangas actualite mini:</strong>































































    <%= manga._mangas_actualite_mini_id %>































































  </p>































































































































  <p>































































    <strong>Mangas sondage:</strong>































































    <%= manga._mangas_sondage_id %>































































  </p>































































































































  <p>































































    <strong>Mangas quizz:</strong>































































    <%= manga._mangas_quizz_id %>































































  </p>































































































































  <p>































































    <strong>Mangas concours:</strong>































































    <%= manga._mangas_concours_id %>































































  </p>































































































































  <p>































































    <strong>Mangas people:</strong>































































    <%= manga._mangas_people_id %>































































  </p>































































































































  <p>































































    <strong>Mangas clip:</strong>































































    <%= manga._mangas_clip_id %>































































  </p>































































































































  <p>































































    <strong>Comment:</strong>































































    <%= manga.comment %>































































  </p>































































































































  <p>































































    <strong>Statut prop:</strong>































































    <%= manga.statut_prop %>































































  </p>































































































































  <p>































































    <strong>Statut prop:</strong>































































    <%= manga.statut_prop %>































































  </p>































































































































  <p>































































    <strong>Acceptregles:</strong>































































    <%= manga.acceptregles %>































































  </p>































































































































</div>
