<p style="color: green"><%= notice %></p>

<%= render @_manga %>

<div>
  <%= link_to "Edit this manga", edit__manga_path(@_manga) %> |
  <%= link_to "Back to mangas", _mangas_path %>

  <%= button_to "Destroy this manga", @_manga, method: :delete %>
</div>
