<p style="color: green"><%= notice %></p>

<%= render @artbooks_pay %>

<div>
  <%= link_to "Edit this artbooks pay", edit_artbooks_pay_path(@artbooks_pay) %> |
  <%= link_to "Back to artbooks pays", artbooks_pays_path %>

  <%= button_to "Destroy this artbooks pay", @artbooks_pay, method: :delete %>
</div>
