<div id="<%= dom_id _sites_dachat %>">
  <p>
    <strong>Nom:</strong>
    <%= _sites_dachat.nom %>
  </p>

  <p>
    <strong>Url:</strong>
    <%= _sites_dachat.url %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= _sites_dachat.description %>
  </p>

  <p>
    <strong>Sites dachats pays:</strong>
    <%= _sites_dachat._sites_dachats_pays_id %>
  </p>

  <p>
    <strong>Acceptregles:</strong>
    <%= _sites_dachat.acceptregles %>
  </p>

</div>
