<div id="<%= dom_id sites_dachat %>">































































  <p>































































    <strong>Nom:</strong>































































    <%= sites_dachat.nom %>































































  </p>































































































































  <p>































































    <strong>Url:</strong>































































    <%= sites_dachat.url %>































































  </p>































































































































  <p>































































    <strong>Description:</strong>































































    <%= sites_dachat.description %>































































  </p>































































































































  <p>































































    <strong>Sites dachats pays:</strong>































































    <%= sites_dachat._sites_dachats_pays_id %>































































  </p>































































































































  <p>































































    <strong>Acceptregles:</strong>































































    <%= sites_dachat.acceptregles %>































































  </p>































































































































</div>
