<p style="color: green"><%= notice %></p>

<%= render @_sites_dachat %>

<div>
  <%= link_to "Edit this sites dachat", edit__sites_dachat_path(@_sites_dachat) %> |
  <%= link_to "Back to sites dachats", _sites_dachats_path %>

  <%= button_to "Destroy this sites dachat", @_sites_dachat, method: :delete %>
</div>
