<p style="color: green"><%= notice %></p>

<%= render @_generique_de_jeu_videos_type %>

<div>
  <%= link_to "Edit this generique de jeu videos type", edit__generique_de_jeu_videos_type_path(@_generique_de_jeu_videos_type) %> |
  <%= link_to "Back to generique de jeu videos types", _generique_de_jeu_videos_types_path %>

  <%= button_to "Destroy this generique de jeu videos type", @_generique_de_jeu_videos_type, method: :delete %>
</div>
