<p style="color: green"><%= notice %></p>































































































































<%= render @artbooks_jv %>































































































































<div>































































  <%= link_to "Edit this artbooks jv", edit_artbooks_jv_path(@artbooks_jv) %> |































































  <%= link_to "Back to artbooks jvs", artbooks_jvs_path %>































































































































  <%= button_to "Destroy this artbooks jv", @artbooks_jv, method: :delete %>































































</div>
