<p style="color: green"><%= notice %></p>

<%= render @_personnage_de_manga %>

<div>
  <%= link_to "Edit this personnage de manga", edit__personnage_de_manga_path(@_personnage_de_manga) %> |
  <%= link_to "Back to personnage de mangas", _personnage_de_mangas_path %>

  <%= button_to "Destroy this personnage de manga", @_personnage_de_manga, method: :delete %>
</div>
