<p style="color: green"><%= notice %></p>































































































































<%= render @_fiche_univers_jv %>































































































































<div>































































  <%= link_to "Edit this fiche univers jv", edit_fiche_univers_jv_path(@_fiche_univers_jv) %> |































































  <%= link_to "Back to fiche univers jvs", fiche_univers_jvs_path %>































































































































  <%= button_to "Destroy this fiche univers jv", @_fiche_univers_jv, method: :delete %>































































</div>
