<p style="color: green"><%= notice %></p>

<%= render @_films_asiatiques_societe_role %>

<div>
  <%= link_to "Edit this films asiatiques societe role", edit__films_asiatiques_societe_role_path(@_films_asiatiques_societe_role) %> |
  <%= link_to "Back to films asiatiques societe roles", _films_asiatiques_societe_roles_path %>

  <%= button_to "Destroy this films asiatiques societe role", @_films_asiatiques_societe_role, method: :delete %>
</div>
