<p style="color: green"><%= notice %></p>

<%= render @artbooks_litterature_asiatique %>

<div>
  <%= link_to "Edit this artbooks litterature asiatique", edit_artbooks_litterature_asiatique_path(@artbooks_litterature_asiatique) %> |
  <%= link_to "Back to artbooks litterature asiatiques", artbooks_litterature_asiatiques_path %>

  <%= button_to "Destroy this artbooks litterature asiatique", @artbooks_litterature_asiatique, method: :delete %>
</div>
