<p style="color: green"><%= notice %></p>

<%= render @_mangas_staff_role %>

<div>
  <%= link_to "Edit this mangas staff role", edit__mangas_staff_role_path(@_mangas_staff_role) %> |
  <%= link_to "Back to mangas staff roles", _mangas_staff_roles_path %>

  <%= button_to "Destroy this mangas staff role", @_mangas_staff_role, method: :delete %>
</div>
