<%= form_with(model: _breves_manga_editeur) do |form| %>































































  <% if _breves_manga_editeur.errors.any? %>































































    <div style="color: red">































































      <h2><%= pluralize(_breves_manga_editeur.errors.count, "error") %> prohibited this _breves_manga_editeur from being saved:</h2>































































































































      <ul>































































        <% _breves_manga_editeur.errors.each do |error| %>































































          <li><%= error.full_message %></li>































































        <% end %>































































      </ul>































































    </div>































































  <% end %>































































































































  <div>































































    <%= form.label :name, style: "display: block" %>































































    <%= form.text_field :name %>































































  </div>































































































































  <div>































































    <%= form.submit %>































































  </div>































































<% end %>
