<p style="color: green"><%= notice %></p>































































































































<%= render @_breves_manga_editeur %>































































































































<div>































































  <%= link_to "Edit this breves manga editeur", edit_breves_manga_editeur_path(@_breves_manga_editeur) %> |































































  <%= link_to "Back to breves manga editeurs", breves_manga_editeurs_path %>































































































































  <%= button_to "Destroy this breves manga editeur", @_breves_manga_editeur, method: :delete %>































































</div>
