<p style="color: green"><%= notice %></p>

<%= render @_personnage_de_mangas_goody %>

<div>
  <%= link_to "Edit this personnage de mangas goody", edit__personnage_de_mangas_goody_path(@_personnage_de_mangas_goody) %> |
  <%= link_to "Back to personnage de mangas goodies", _personnage_de_mangas_goodies_path %>

  <%= button_to "Destroy this personnage de mangas goody", @_personnage_de_mangas_goody, method: :delete %>
</div>
