<%= form_with(model: _dvd___blu_rays_type_edition) do |form| %>
  <% if _dvd___blu_rays_type_edition.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(_dvd___blu_rays_type_edition.errors.count, "error") %> prohibited this _dvd___blu_rays_type_edition from being saved:</h2>

      <ul>
        <% _dvd___blu_rays_type_edition.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
