<p style="color: green"><%= notice %></p>































































































































<%= render @_videos_id_cat %>































































































































<div>































































  <%= link_to "Edit this videos id cat", edit_videos_id_cat_path(@_videos_id_cat) %> |































































  <%= link_to "Back to videos id cats", videos_id_cats_path %>































































































































  <%= button_to "Destroy this videos id cat", @_videos_id_cat, method: :delete %>































































</div>
