<p style="color: green"><%= notice %></p>































































































































<%= render @_livres_type %>































































































































<div>































































  <%= link_to "Edit this livres type", edit_livres_type_path(@_livres_type) %> |































































  <%= link_to "Back to livres types", livres_types_path %>































































































































  <%= button_to "Destroy this livres type", @_livres_type, method: :delete %>































































</div>
