<p style="color: green"><%= notice %></p>































































































































<%= render @_doujinshis_staff_person %>































































































































<div>































































  <%= link_to "Edit this doujinshis staff person", edit_doujinshis_staff_person_path(@_doujinshis_staff_person) %> |































































  <%= link_to "Back to doujinshis staff people", doujinshis_staff_people_path %>































































































































  <%= button_to "Destroy this doujinshis staff person", @_doujinshis_staff_person, method: :delete %>































































</div>
