<%= form_with(model: _brefe) do |form| %>































































  <% if _brefe.errors.any? %>































































    <div style="color: red">































































      <h2><%= pluralize(_brefe.errors.count, "error") %> prohibited this _brefe from being saved:</h2>































































































































      <ul>































































        <% _brefe.errors.each do |error| %>































































          <li><%= error.full_message %></li>































































        <% end %>































































      </ul>































































    </div>































































  <% end %>































































































































  <div>































































    <%= form.label :titre, style: "display: block" %>































































    <%= form.text_field :titre %>































































  </div>































































































































  <div>































































    <%= form.label :_breves_cat_id, style: "display: block" %>































































    <%= form.number_field :_breves_cat_id %>































































  </div>































































































































  <div>































































    <%= form.label :image, style: "display: block" %>































































    <%= form.text_field :image %>































































  </div>































































































































  <div>































































    <%= form.label :texte, style: "display: block" %>































































    <%= form.text_area :texte %>































































  </div>































































































































  <div>































































    <%= form.label :tags, style: "display: block" %>































































    <%= form.text_field :tags %>































































  </div>































































































































  <div>































































    <%= form.label :source, style: "display: block" %>































































    <%= form.text_field :source %>































































  </div>































































































































  <div>































































    <%= form.label :source_url, style: "display: block" %>































































    <%= form.text_field :source_url %>































































  </div>































































































































  <div>































































    <%= form.label :source2, style: "display: block" %>































































    <%= form.text_field :source2 %>































































  </div>































































































































  <div>































































    <%= form.label :source2_url, style: "display: block" %>































































    <%= form.text_field :source2_url %>































































  </div>































































































































  <div>































































    <%= form.label :source3, style: "display: block" %>































































    <%= form.text_field :source3 %>































































  </div>































































































































  <div>































































    <%= form.label :source3_url, style: "display: block" %>































































    <%= form.text_field :source3_url %>































































  </div>































































































































  <div>































































    <%= form.label :_breves_actualite_id, style: "display: block" %>































































    <%= form.number_field :_breves_actualite_id %>































































  </div>































































































































  <div>































































    <%= form.label :_breves_actualite_mini_id, style: "display: block" %>































































    <%= form.number_field :_breves_actualite_mini_id %>































































  </div>































































































































  <div>































































    <%= form.label :_breves_people_id, style: "display: block" %>































































    <%= form.number_field :_breves_people_id %>































































  </div>































































































































  <div>































































    <%= form.label :_breves_anime_id, style: "display: block" %>































































    <%= form.number_field :_breves_anime_id %>































































  </div>































































































































  <div>































































    <%= form.label :_breves_ln_id, style: "display: block" %>































































    <%= form.number_field :_breves_ln_id %>































































  </div>































































































































  <div>































































    <%= form.label :_breves_manga_id, style: "display: block" %>































































    <%= form.number_field :_breves_manga_id %>































































  </div>































































































































  <div>































































    <%= form.label :_breves_drama_id, style: "display: block" %>































































    <%= form.number_field :_breves_drama_id %>































































  </div>































































































































  <div>































































    <%= form.label :_breves_am_id, style: "display: block" %>































































    <%= form.number_field :_breves_am_id %>































































  </div>































































































































  <div>































































    <%= form.label :_breves_litterature_asiatique_id, style: "display: block" %>































































    <%= form.number_field :_breves_litterature_asiatique_id %>































































  </div>































































































































  <div>































































    <%= form.label :_breves_livre_jeunesse_id, style: "display: block" %>































































    <%= form.number_field :_breves_livre_jeunesse_id %>































































  </div>































































































































  <div>































































    <%= form.label :_breves_magazine_id, style: "display: block" %>































































    <%= form.number_field :_breves_magazine_id %>































































  </div>































































































































  <div>































































    <%= form.label :_breves_beau_livre_id, style: "display: block" %>































































    <%= form.number_field :_breves_beau_livre_id %>































































  </div>































































































































  <div>































































    <%= form.label :_breves_jv_id, style: "display: block" %>































































    <%= form.number_field :_breves_jv_id %>































































  </div>































































































































  <div>































































    <%= form.label :_breves_dvd_id, style: "display: block" %>































































    <%= form.number_field :_breves_dvd_id %>































































  </div>































































































































  <div>































































    <%= form.label :_breves_artbook_id, style: "display: block" %>































































    <%= form.number_field :_breves_artbook_id %>































































  </div>































































































































  <div>































































    <%= form.label :_breves_photobook_id, style: "display: block" %>































































    <%= form.number_field :_breves_photobook_id %>































































  </div>































































































































  <div>































































    <%= form.label :_breves_goodies_id, style: "display: block" %>































































    <%= form.number_field :_breves_goodies_id %>































































  </div>































































































































  <div>































































    <%= form.label :_breves_cinema_id, style: "display: block" %>































































    <%= form.number_field :_breves_cinema_id %>































































  </div>































































































































  <div>































































    <%= form.label :_breves_evenement_id, style: "display: block" %>































































    <%= form.number_field :_breves_evenement_id %>































































  </div>































































































































  <div>































































    <%= form.label :_breves_concerts_id, style: "display: block" %>































































    <%= form.number_field :_breves_concerts_id %>































































  </div>































































































































  <div>































































    <%= form.label :_breves_recette_id, style: "display: block" %>































































    <%= form.number_field :_breves_recette_id %>































































  </div>































































































































  <div>































































    <%= form.label :_breves_cd_id, style: "display: block" %>































































    <%= form.number_field :_breves_cd_id %>































































  </div>































































































































  <div>































































    <%= form.label :_breves_ost_id, style: "display: block" %>































































    <%= form.number_field :_breves_ost_id %>































































  </div>































































































































  <div>































































    <%= form.label :_breves_amv_id, style: "display: block" %>































































    <%= form.number_field :_breves_amv_id %>































































  </div>































































































































  <div>































































    <%= form.label :_breves_clip_id, style: "display: block" %>































































    <%= form.number_field :_breves_clip_id %>































































  </div>































































































































  <div>































































    <%= form.label :_breves_emission_tv_id, style: "display: block" %>































































    <%= form.number_field :_breves_emission_tv_id %>































































  </div>































































































































  <div>































































    <%= form.label :_breves_emission_tv_numero_id, style: "display: block" %>































































    <%= form.number_field :_breves_emission_tv_numero_id %>































































  </div>































































































































  <div>































































    <%= form.label :_breves_sondage_id, style: "display: block" %>































































    <%= form.number_field :_breves_sondage_id %>































































  </div>































































































































  <div>































































    <%= form.label :_breves_quizz_id, style: "display: block" %>































































    <%= form.number_field :_breves_quizz_id %>































































  </div>































































































































  <div>































































    <%= form.label :_breves_concours_id, style: "display: block" %>































































    <%= form.number_field :_breves_concours_id %>































































  </div>































































































































  <div>































































    <%= form.label :_breves_manga_editeur_id, style: "display: block" %>































































    <%= form.number_field :_breves_manga_editeur_id %>































































  </div>































































































































  <div>































































    <%= form.label :_breves_anime_studio_id, style: "display: block" %>































































    <%= form.number_field :_breves_anime_studio_id %>































































  </div>































































































































  <div>































































    <%= form.label :_breves_jv_societe_id, style: "display: block" %>































































    <%= form.number_field :_breves_jv_societe_id %>































































  </div>































































































































  <div>































































    <%= form.label :_breves_societe_id, style: "display: block" %>































































    <%= form.number_field :_breves_societe_id %>































































  </div>































































































































  <div>































































    <%= form.label :_breves_culture_id, style: "display: block" %>































































    <%= form.number_field :_breves_culture_id %>































































  </div>































































































































  <div>































































    <%= form.label :comment, style: "display: block" %>































































    <%= form.text_area :comment %>































































  </div>































































































































  <div>































































    <%= form.label :statut_prop, style: "display: block" %>































































    <%= form.text_field :statut_prop %>































































  </div>































































































































  <div>































































    <%= form.label :statut_prop, style: "display: block" %>































































    <%= form.text_field :statut_prop %>































































  </div>































































































































  <div>































































    <%= form.label :acceptregles, style: "display: block" %>































































    <%= form.text_field :acceptregles %>































































  </div>































































































































  <div>































































    <%= form.submit %>































































  </div>































































<% end %>
