<%= form_with(model: _brefe) do |form| %>































































  <% if _brefe.errors.any? %>































































    <div style="color: red">































































      <h2><%= pluralize(_brefe.errors.count, "error") %> prohibited this _brefe from being saved:</h2>































































































































      <ul>































































        <% _brefe.errors.each do |error| %>































































          <li><%= error.full_message %></li>































































        <% end %>































































      </ul>































































    </div>































































  <% end %>































































































































  <div>































































    <%= form.label :titre, style: "display: block" %>































































    <%= form.text_field :titre %>































































  </div>































































































































  <div>































































    <%= form.label :_breves_cat_id, style: "display: block" %>































































    <%= form.select :_breves_cat_id, BrevesCat.all.collect{|x|[x.name, x.id]} %>































































  </div>































































































































  <div>































































    <%= form.label :image, style: "display: block" %>































































    <%= form.text_field :image %>































































  </div>































































































































  <div>































































    <%= form.label :texte, style: "display: block" %>































































    <%= form.text_area :texte %>































































  </div>































































































































  <div>































































    <%= form.label :tags, style: "display: block" %>































































    <%= form.text_field :tags %>































































  </div>































































































































  <div>































































    <%= form.label :source, style: "display: block" %>































































    <%= form.text_field :source %>































































  </div>































































































































  <div>































































    <%= form.label :source_url, style: "display: block" %>































































    <%= form.text_field :source_url %>































































  </div>































































































































  <div>































































    <%= form.label :source2, style: "display: block" %>































































    <%= form.text_field :source2 %>































































  </div>































































































































  <div>































































    <%= form.label :source2_url, style: "display: block" %>































































    <%= form.text_field :source2_url %>































































  </div>































































































































  <div>































































    <%= form.label :source3, style: "display: block" %>































































    <%= form.text_field :source3 %>































































  </div>































































































































  <div>































































    <%= form.label :source3_url, style: "display: block" %>































































    <%= form.text_field :source3_url %>































































  </div>































































































































  <div>































































    <%= form.label :_breves_actualite_id, style: "display: block" %>































































    <%= form.select :_breves_actualite_id, BrevesActualite.all.collect{|x|[x.name, x.id]} %>































































  </div>































































































































  <div>































































    <%= form.label :_breves_actualite_mini_id, style: "display: block" %>































































    <%= form.select :_breves_actualite_mini_id, BrevesActualiteMini.all.collect{|x|[x.name, x.id]} %>































































  </div>































































































































  <div>































































    <%= form.label :_breves_people_id, style: "display: block" %>































































    <%= form.select :_breves_people_id, BrevesPerson.all.collect{|x|[x.name, x.id]} %>































































  </div>































































































































  <div>































































    <%= form.label :_breves_anime_id, style: "display: block" %>































































    <%= form.select :_breves_anime_id, Anime.all.collect{|x|[x.titre, x.id]} %>































































  </div>































































































































  <div>































































    <%= form.label :_breves_ln_id, style: "display: block" %>































































    <%= form.select :_breves_ln_id, LightNovel.all.collect{|x|[x.titre, x.id]} %>































































  </div>































































































































  <div>































































    <%= form.label :_breves_manga_id, style: "display: block" %>































































    <%= form.select :_breves_manga_id, Manga.all.collect{|x|[x.titre, x.id]} %>































































  </div>































































































































  <div>































































    <%= form.label :_breves_drama_id, style: "display: block" %>































































    <%= form.select :_breves_drama_id, Drama.all.collect{|x|[x.titre, x.id]} %>































































  </div>































































































































  <div>































































    <%= form.label :_breves_am_id, style: "display: block" %>































































    <%= form.select :_breves_am_id, FilmsAsiatique.all.collect{|x|[x.titre, x.id]} %>































































  </div>































































































































  <div>































































    <%= form.label :_breves_litterature_asiatique_id, style: "display: block" %>































































    <%= form.select :_breves_litterature_asiatique_id, LivresLitteratureAsiatique.all.collect{|x|[x.name, x.id]} %>































































  </div>































































































































  <div>































































    <%= form.label :_breves_livre_jeunesse_id, style: "display: block" %>































































    <%= form.select :_breves_livre_jeunesse_id, BrevesLivreJeunesse.all.collect{|x|[x.name, x.id]} %>































































  </div>































































































































  <div>































































    <%= form.label :_breves_magazine_id, style: "display: block" %>































































    <%= form.select :_breves_magazine_id, BrevesMagazine.all.collect{|x|[x.name, x.id]} %>































































  </div>































































































































  <div>































































    <%= form.label :_breves_beau_livre_id, style: "display: block" %>































































    <%= form.select :_breves_beau_livre_id, Livre.all.collect{|x|[x.titre, x.id]} %>































































  </div>































































































































  <div>































































    <%= form.label :_breves_jv_id, style: "display: block" %>































































    <%= form.select :_breves_jv_id, JeuxVideo.all.collect{|x|[x.titre_fr, x.id]} %>































































  </div>































































































































  <div>































































    <%= form.label :_breves_dvd_id, style: "display: block" %>































































    <%= form.select :_breves_dvd_id, Dvd::BluRay.all.collect{|x|[x.titre, x.id]} %>































































  </div>































































































































  <div>































































    <%= form.label :_breves_artbook_id, style: "display: block" %>































































    <%= form.select :_breves_artbook_id, Artbook.all.collect{|x|[x.titre, x.id]} %>































































  </div>































































































































  <div>































































    <%= form.label :_breves_photobook_id, style: "display: block" %>































































    <%= form.select :_breves_photobook_id, Photobook.all.collect{|x|[x.titre, x.id]} %>































































  </div>































































































































  <div>































































    <%= form.label :_breves_goodies_id, style: "display: block" %>































































    <%= form.select :_breves_goodies_id, Goody.all.collect{|x|[x.titre, x.id]} %>































































  </div>































































































































  <div>































































    <%= form.label :_breves_cinema_id, style: "display: block" %>































































    <%= form.select :_breves_cinema_id, FilmsAsiatiquesEnSalle.all.collect{|x|[x.titre, x.id]} %>































































  </div>































































































































  <div>































































    <%= form.label :_breves_evenement_id, style: "display: block" %>































































    <%= form.select :_breves_evenement_id, Evenement.all.collect{|x|[x.titre, x.id]} %>































































  </div>































































































































  <div>































































    <%= form.label :_breves_concerts_id, style: "display: block" %>































































    <%= form.select :_breves_concerts_id, Concert.all.collect{|x|[x.nom+" "+x.date.to_s, x.id]} %>































































  </div>































































































































  <div>































































    <%= form.label :_breves_recette_id, style: "display: block" %>































































    <%= form.select :_breves_recette_id, Recette.all.collect{|x|[x.nom, x.id]} %>































































  </div>































































































































  <div>































































    <%= form.label :_breves_cd_id, style: "display: block" %>































































    <%= form.select :_breves_cd_id, Cd.all.collect{|x|[x.titre, x.id]} %>































































  </div>































































































































  <div>































































    <%= form.label :_breves_ost_id, style: "display: block" %>































































    <%= form.select :_breves_ost_id, Ost.all.collect{|x|[x.titre, x.id]} %>































































  </div>































































































































  <div>































































    <%= form.label :_breves_amv_id, style: "display: block" %>































































    <%= form.select :_breves_amv_id, Amv.all.collect{|x|[x.titre, x.id]} %>































































  </div>































































































































  <div>































































    <%= form.label :_breves_clip_id, style: "display: block" %>































































    <%= form.select :_breves_clip_id, Clips::Lives::Bonus::Concert.clips.collect{|x|[x.nom, x.id]} %>































































  </div>































































































































  <div>































































    <%= form.label :_breves_emission_tv_id, style: "display: block" %>































































    <%= form.select :_breves_emission_tv_id, BrevesEmissionTv.all.collect{|x|[x.name, x.id]} %>































































  </div>































































































































  <div>































































    <%= form.label :_breves_emission_tv_numero_id, style: "display: block" %>































































    <%= form.select :_breves_emission_tv_numero_id, NumeroDemissionTv.all.collect{|x|[x.name, x.id]} %>































































  </div>































































































































  <div>































































    <%= form.label :_breves_sondage_id, style: "display: block" %>































































    <%= form.select :_breves_sondage_id, BrevesSondage.all.collect{|x|[x.name, x.id]} %>































































  </div>































































































































  <div>































































    <%= form.label :_breves_quizz_id, style: "display: block" %>































































    <%= form.select :_breves_quizz_id, BrevesQuizz.all.collect{|x|[x.name, x.id]} %>































































  </div>































































































































  <div>































































    <%= form.label :_breves_concours_id, style: "display: block" %>































































    <%= form.select :_breves_concours_id, BrevesConcour.all.collect{|x|[x.name, x.id]} %>































































  </div>































































































































  <div>































































    <%= form.label :_breves_manga_editeur_id, style: "display: block" %>































































    <%= form.select :_breves_manga_editeur_id, MangasEditeursVf.all.collect{|x|[x.name, x.id]} %>































































  </div>































































































































  <div>































































    <%= form.label :_breves_anime_studio_id, style: "display: block" %>































































    <%= form.select :_breves_anime_studio_id, BrevesAnimeStudio.all.collect{|x|[x.name, x.id]} %>































































  </div>































































































































  <div>































































    <%= form.label :_breves_jv_societe_id, style: "display: block" %>































































    <%= form.select :_breves_jv_societe_id, JeuxVideosStaffSociete.all.collect{|x|[x.name, x.id]} %>































































  </div>































































































































  <div>































































    <%= form.label :_breves_societe_id, style: "display: block" %>































































    <%= form.select :_breves_societe_id, BrevesSociete.all.collect{|x|[x.name, x.id]} %>































































  </div>































































































































  <div>































































    <%= form.label :_breves_culture_id, style: "display: block" %>































































    <%= form.select :_breves_culture_id, BrevesCulture.all.collect{|x|[x.name, x.id]} %>































































  </div>































































































































  <div>































































    <%= form.label :comment, style: "display: block" %>































































    <%= form.text_area :comment %>































































  </div>































































































































  <div>































































    <%= form.label :statut_prop, style: "display: block" %>































































    <%= form.text_field :statut_prop %>































































  </div>































































































































  <div>































































    <%= form.label :statut_prop, style: "display: block" %>































































    <%= form.text_field :statut_prop %>































































  </div>































































































































  <div>































































    <%= form.label :acceptregles, style: "display: block" %>































































    <%= form.text_field :acceptregles %>































































  </div>































































































































  <div>































































    <%= form.submit %>































































  </div>































































<% end %>
