<p style="color: green"><%= notice %></p>































































































































<%= render @_doujinshis_am_plu %>































































































































<div>































































  <%= link_to "Edit this doujinshis am plu", edit_doujinshis_am_plu_path(@_doujinshis_am_plu) %> |































































  <%= link_to "Back to doujinshis am plus", doujinshis_am_plus_path %>































































































































  <%= button_to "Destroy this doujinshis am plu", @_doujinshis_am_plu, method: :delete %>































































</div>
