<p style="color: green"><%= notice %></p>

<%= render @animes_amv %>

<div>
  <%= link_to "Edit this animes amv", edit_animes_amv_path(@animes_amv) %> |
  <%= link_to "Back to animes amvs", animes_amvs_path %>

  <%= button_to "Destroy this animes amv", @animes_amv, method: :delete %>
</div>
