<p style="color: green"><%= notice %></p>































































































































<%= render @_goodies_drama %>































































































































<div>































































  <%= link_to "Edit this goodies drama", edit_goodies_drama_path(@_goodies_drama) %> |































































  <%= link_to "Back to goodies dramas", goodies_dramas_path %>































































































































  <%= button_to "Destroy this goodies drama", @_goodies_drama, method: :delete %>































































</div>
