<p style="color: green"><%= notice %></p>































































































































<%= render @_cds_label %>































































































































<div>































































  <%= link_to "Edit this cds label", edit_cds_label_path(@_cds_label) %> |































































  <%= link_to "Back to cds labels", cds_labels_path %>































































































































  <%= button_to "Destroy this cds label", @_cds_label, method: :delete %>































































</div>
