<p style="color: green"><%= notice %></p>































































































































<%= render @_personnalites_genre %>































































































































<div>































































  <%= link_to "Edit this personnalites genre", edit_personnalites_genre_path(@_personnalites_genre) %> |































































  <%= link_to "Back to personnalites genres", personnalites_genres_path %>































































































































  <%= button_to "Destroy this personnalites genre", @_personnalites_genre, method: :delete %>































































</div>
