<%= form_with(model: _mangas_jv) do |form| %>































































  <% if _mangas_jv.errors.any? %>































































    <div style="color: red">































































      <h2><%= pluralize(_mangas_jv.errors.count, "error") %> prohibited this _mangas_jv from being saved:</h2>































































































































      <ul>































































        <% _mangas_jv.errors.each do |error| %>































































          <li><%= error.full_message %></li>































































        <% end %>































































      </ul>































































    </div>































































  <% end %>































































































































  <div>































































    <%= form.label :name, style: "display: block" %>































































    <%= form.text_field :name %>































































  </div>































































































































  <div>































































    <%= form.submit %>































































  </div>































































<% end %>
