<p style="color: green"><%= notice %></p>

<%= render @_mangas_jv %>

<div>
  <%= link_to "Edit this mangas jv", edit__mangas_jv_path(@_mangas_jv) %> |
  <%= link_to "Back to mangas jvs", _mangas_jvs_path %>

  <%= button_to "Destroy this mangas jv", @_mangas_jv, method: :delete %>
</div>
