<p style="color: green"><%= notice %></p>































































































































<%= render @_personnalites_agences_debut %>































































































































<div>































































  <%= link_to "Edit this personnalites agences debut", edit_personnalites_agences_debut_path(@_personnalites_agences_debut) %> |































































  <%= link_to "Back to personnalites agences debuts", personnalites_agences_debuts_path %>































































































































  <%= button_to "Destroy this personnalites agences debut", @_personnalites_agences_debut, method: :delete %>































































</div>
