<p style="color: green"><%= notice %></p>































































































































<%= render @_numero_demission_tvs_presentateur %>































































































































<div>































































  <%= link_to "Edit this numero demission tvs presentateur", edit_numero_demission_tvs_presentateur_path(@_numero_demission_tvs_presentateur) %> |































































  <%= link_to "Back to numero demission tvs presentateurs", numero_demission_tvs_presentateurs_path %>































































































































  <%= button_to "Destroy this numero demission tvs presentateur", @_numero_demission_tvs_presentateur, method: :delete %>































































</div>
