<p style="color: green"><%= notice %></p>















<%= render @_dvd___blu_rays_am %>















<div>







  <%= link_to "Edit this blu rays am", edit_dvd___blu_rays_am_path(@_dvd___blu_rays_am) %> |







  <%= link_to "Back to blu rays ams", dvd___blu_rays_ams_path %>















  <%= button_to "Destroy this blu rays am", @_dvd___blu_rays_am, method: :delete %>







</div>
