<p style="color: green"><%= notice %></p>































































































































<%= render @_photobooks_goody %>































































































































<div>































































  <%= link_to "Edit this photobooks goody", edit_photobooks_goody_path(@_photobooks_goody) %> |































































  <%= link_to "Back to photobooks goodies", photobooks_goodies_path %>































































































































  <%= button_to "Destroy this photobooks goody", @_photobooks_goody, method: :delete %>































































</div>
