<p style="color: green"><%= notice %></p>

<%= render @_breves_am %>

<div>
  <%= link_to "Edit this breves am", edit__breves_am_path(@_breves_am) %> |
  <%= link_to "Back to breves ams", _breves_ams_path %>

  <%= button_to "Destroy this breves am", @_breves_am, method: :delete %>
</div>
