<p style="color: green"><%= notice %></p>































































































































<%= render @_films_asiatiques_generiques_clip %>































































































































<div>































































  <%= link_to "Edit this films asiatiques generiques clip", edit_films_asiatiques_generiques_clip_path(@_films_asiatiques_generiques_clip) %> |































































  <%= link_to "Back to films asiatiques generiques clips", films_asiatiques_generiques_clips_path %>































































































































  <%= button_to "Destroy this films asiatiques generiques clip", @_films_asiatiques_generiques_clip, method: :delete %>































































</div>
