<p style="color: green"><%= notice %></p>































































































































<%= render @_films_asiatiques_concour %>































































































































<div>































































  <%= link_to "Edit this films asiatiques concour", edit_films_asiatiques_concour_path(@_films_asiatiques_concour) %> |































































  <%= link_to "Back to films asiatiques concours", films_asiatiques_concours_path %>































































































































  <%= button_to "Destroy this films asiatiques concour", @_films_asiatiques_concour, method: :delete %>































































</div>
