<p style="color: green"><%= notice %></p>































































































































<%= render @_breves_cat %>































































































































<div>































































  <%= link_to "Edit this breves cat", edit_breves_cat_path(@_breves_cat) %> |































































  <%= link_to "Back to breves cats", breves_cats_path %>































































































































  <%= button_to "Destroy this breves cat", @_breves_cat, method: :delete %>































































</div>
