<p style="color: green"><%= notice %></p>

<%= render @_livres_statut_publication %>

<div>
  <%= link_to "Edit this livres statut publication", edit__livres_statut_publication_path(@_livres_statut_publication) %> |
  <%= link_to "Back to livres statut publications", _livres_statut_publications_path %>

  <%= button_to "Destroy this livres statut publication", @_livres_statut_publication, method: :delete %>
</div>
