<p style="color: green"><%= notice %></p>































































































































<%= render @_films_asiatiques_drama %>































































































































<div>































































  <%= link_to "Edit this films asiatiques drama", edit_films_asiatiques_drama_path(@_films_asiatiques_drama) %> |































































  <%= link_to "Back to films asiatiques dramas", films_asiatiques_dramas_path %>































































































































  <%= button_to "Destroy this films asiatiques drama", @_films_asiatiques_drama, method: :delete %>































































</div>
