<p style="color: green"><%= notice %></p>

<%= render @_jeux_videos_ost %>

<div>
  <%= link_to "Edit this jeux videos ost", edit__jeux_videos_ost_path(@_jeux_videos_ost) %> |
  <%= link_to "Back to jeux videos osts", _jeux_videos_osts_path %>

  <%= button_to "Destroy this jeux videos ost", @_jeux_videos_ost, method: :delete %>
</div>
