<p style="color: green"><%= notice %></p>































































































































<%= render @_mangas_societe_role %>































































































































<div>































































  <%= link_to "Edit this mangas societe role", edit_mangas_societe_role_path(@_mangas_societe_role) %> |































































  <%= link_to "Back to mangas societe roles", mangas_societe_roles_path %>































































































































  <%= button_to "Destroy this mangas societe role", @_mangas_societe_role, method: :delete %>































































</div>
