<p style="color: green"><%= notice %></p>































































































































<%= render @_dramas_ost %>































































































































<div>































































  <%= link_to "Edit this dramas ost", edit_dramas_ost_path(@_dramas_ost) %> |































































  <%= link_to "Back to dramas osts", dramas_osts_path %>































































































































  <%= button_to "Destroy this dramas ost", @_dramas_ost, method: :delete %>































































</div>
