<%= form_with(model: osts_monnaie) do |form| %>
  <% if osts_monnaie.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(osts_monnaie.errors.count, "error") %> prohibited this osts_monnaie from being saved:</h2>

      <ul>
        <% osts_monnaie.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
