<p style="color: green"><%= notice %></p>

<%= render @_doujinshis_perso_plu %>

<div>
  <%= link_to "Edit this doujinshis perso plu", edit__doujinshis_perso_plu_path(@_doujinshis_perso_plu) %> |
  <%= link_to "Back to doujinshis perso plus", _doujinshis_perso_plus_path %>

  <%= button_to "Destroy this doujinshis perso plu", @_doujinshis_perso_plu, method: :delete %>
</div>
