<p style="color: green"><%= notice %></p>

<%= render @_dramas_editeurs_vf_role %>

<div>
  <%= link_to "Edit this dramas editeurs vf role", edit__dramas_editeurs_vf_role_path(@_dramas_editeurs_vf_role) %> |
  <%= link_to "Back to dramas editeurs vf roles", _dramas_editeurs_vf_roles_path %>

  <%= button_to "Destroy this dramas editeurs vf role", @_dramas_editeurs_vf_role, method: :delete %>
</div>
