<p style="color: green"><%= notice %></p>

<%= render @_mangas_anime_plu %>

<div>
  <%= link_to "Edit this mangas anime plu", edit__mangas_anime_plu_path(@_mangas_anime_plu) %> |
  <%= link_to "Back to mangas anime plus", _mangas_anime_plus_path %>

  <%= button_to "Destroy this mangas anime plu", @_mangas_anime_plu, method: :delete %>
</div>
