<p style="color: green"><%= notice %></p>































































































































<%= render @artbooks_person %>































































































































<div>































































  <%= link_to "Edit this artbooks person", edit_artbooks_person_path(@artbooks_person) %> |































































  <%= link_to "Back to artbooks people", artbooks_people_path %>































































































































  <%= button_to "Destroy this artbooks person", @artbooks_person, method: :delete %>































































</div>
