<p style="color: green"><%= notice %></p>































































































































<%= render @_light_novels_litterature_asiatique %>































































































































<div>































































  <%= link_to "Edit this light novels litterature asiatique", edit_light_novels_litterature_asiatique_path(@_light_novels_litterature_asiatique) %> |































































  <%= link_to "Back to light novels litterature asiatiques", light_novels_litterature_asiatiques_path %>































































































































  <%= button_to "Destroy this light novels litterature asiatique", @_light_novels_litterature_asiatique, method: :delete %>































































</div>
