<p style="color: green"><%= notice %></p>































































































































<%= render @_recettes_difficulte %>































































































































<div>































































  <%= link_to "Edit this recettes difficulte", edit_recettes_difficulte_path(@_recettes_difficulte) %> |































































  <%= link_to "Back to recettes difficultes", recettes_difficultes_path %>































































































































  <%= button_to "Destroy this recettes difficulte", @_recettes_difficulte, method: :delete %>































































</div>
