<p style="color: green"><%= notice %></p>































































































































<%= render @_films_asiatiques_type %>































































































































<div>































































  <%= link_to "Edit this films asiatiques type", edit_films_asiatiques_type_path(@_films_asiatiques_type) %> |































































  <%= link_to "Back to films asiatiques types", films_asiatiques_types_path %>































































































































  <%= button_to "Destroy this films asiatiques type", @_films_asiatiques_type, method: :delete %>































































</div>
