<p style="color: green"><%= notice %></p>































































































































<%= render @_dramas_theme %>































































































































<div>































































  <%= link_to "Edit this dramas theme", edit_dramas_theme_path(@_dramas_theme) %> |































































  <%= link_to "Back to dramas themes", dramas_themes_path %>































































































































  <%= button_to "Destroy this dramas theme", @_dramas_theme, method: :delete %>































































</div>
