<p style="color: green"><%= notice %></p>

<%= render @_photobooks_actualite %>

<div>
  <%= link_to "Edit this photobooks actualite", edit__photobooks_actualite_path(@_photobooks_actualite) %> |
  <%= link_to "Back to photobooks actualites", _photobooks_actualites_path %>

  <%= button_to "Destroy this photobooks actualite", @_photobooks_actualite, method: :delete %>
</div>
