<div id="<%= dom_id personnage_de_manga %>">































































  <p>































































    <strong>Nom:</strong>































































    <%= personnage_de_manga.nom %>































































  </p>































































































































  <p>































































    <strong>Nom alternatif:</strong>































































    <%= personnage_de_manga.nom_alternatif %>































































  </p>































































































































  <p>































































    <strong>Nom suite:</strong>































































    <%= personnage_de_manga.nom_suite %>































































  </p>































































































































  <p>































































    <strong>Nom original:</strong>































































    <%= personnage_de_manga.nom_original %>































































  </p>































































































































  <p>































































    <strong>Personnage de mangas manga:</strong>































































    <%= personnage_de_manga._personnage_de_mangas_manga_id %>































































  </p>































































































































  <p>































































    <strong>Personnage de mangas manga:</strong>































































    <%= personnage_de_manga._personnage_de_mangas_manga_id %>































































  </p>































































































































  <p>































































    <strong>Image:</strong>































































    <%= personnage_de_manga.image %>































































  </p>































































































































  <p>































































    <strong>Description:</strong>































































    <%= personnage_de_manga.description %>































































  </p>































































































































  <p>































































    <strong>Personnage de mangas perso manga:</strong>































































    <%= personnage_de_manga._personnage_de_mangas_perso_manga_id %>































































  </p>































































































































  <p>































































    <strong>Personnage de mangas perso:</strong>































































    <%= personnage_de_manga._personnage_de_mangas_perso_id %>































































  </p>































































































































  <p>































































    <strong>Personnage de mangas perso plus:</strong>































































    <%= personnage_de_manga._personnage_de_mangas_perso_plus_id %>































































  </p>































































































































  <p>































































    <strong>Personnage de mangas jv perso:</strong>































































    <%= personnage_de_manga._personnage_de_mangas_jv_perso_id %>































































  </p>































































































































  <p>































































    <strong>Personnage de mangas goodies:</strong>































































    <%= personnage_de_manga._personnage_de_mangas_goodies_id %>































































  </p>































































































































  <p>































































    <strong>Comment:</strong>































































    <%= personnage_de_manga.comment %>































































  </p>































































































































  <p>































































    <strong>Statut prop:</strong>































































    <%= personnage_de_manga.statut_prop %>































































  </p>































































































































  <p>































































    <strong>Statut prop:</strong>































































    <%= personnage_de_manga.statut_prop %>































































  </p>































































































































  <p>































































    <strong>Acceptregles:</strong>































































    <%= personnage_de_manga.acceptregles %>































































  </p>































































































































</div>
