<p style="color: green"><%= notice %></p>

<%= render @_livres_manga %>

<div>
  <%= link_to "Edit this livres manga", edit__livres_manga_path(@_livres_manga) %> |
  <%= link_to "Back to livres mangas", _livres_mangas_path %>

  <%= button_to "Destroy this livres manga", @_livres_manga, method: :delete %>
</div>
