<div id="<%= dom_id _cd %>">
  <p>
    <strong>Titre:</strong>
    <%= _cd.titre %>
  </p>

  <p>
    <strong>Titre original:</strong>
    <%= _cd.titre_original %>
  </p>

  <p>
    <strong>Titre original latin:</strong>
    <%= _cd.titre_original_latin %>
  </p>

  <p>
    <strong>Cds type:</strong>
    <%= _cd._cds_type_id %>
  </p>

  <p>
    <strong>Ref:</strong>
    <%= _cd.ref %>
  </p>

  <p>
    <strong>Date jj:</strong>
    <%= _cd.date_jj %>
  </p>

  <p>
    <strong>Date mm:</strong>
    <%= _cd.date_mm %>
  </p>

  <p>
    <strong>Date aaaa:</strong>
    <%= _cd.date_aaaa %>
  </p>

  <p>
    <strong>Prix:</strong>
    <%= _cd.prix %>
  </p>

  <p>
    <strong>Cds monnaie:</strong>
    <%= _cd._cds_monnaie_id %>
  </p>

  <p>
    <strong>Cds role:</strong>
    <%= _cd._cds_role_id %>
  </p>

  <p>
    <strong>Cds people:</strong>
    <%= _cd._cds_people_id %>
  </p>

  <p>
    <strong>Cds role:</strong>
    <%= _cd._cds_role_id %>
  </p>

  <p>
    <strong>Cds people:</strong>
    <%= _cd._cds_people_id %>
  </p>

  <p>
    <strong>Image:</strong>
    <%= _cd.image %>
  </p>

  <p>
    <strong>Sametracklist:</strong>
    <%= _cd.sametracklist %>
  </p>

  <p>
    <strong>Cds labels:</strong>
    <%= _cd._cds_labels_id %>
  </p>

  <p>
    <strong>Cds labels:</strong>
    <%= _cd._cds_labels_id %>
  </p>

  <p>
    <strong>Cds distributeurs:</strong>
    <%= _cd._cds_distributeurs_id %>
  </p>

  <p>
    <strong>Cds distributeurs:</strong>
    <%= _cd._cds_distributeurs_id %>
  </p>

  <p>
    <strong>Infos:</strong>
    <%= _cd.infos %>
  </p>

  <p>
    <strong>Cds groupes:</strong>
    <%= _cd._cds_groupes_id %>
  </p>

  <p>
    <strong>Cds cd:</strong>
    <%= _cd._cds_cd_id %>
  </p>

  <p>
    <strong>Cds anime:</strong>
    <%= _cd._cds_anime_id %>
  </p>

  <p>
    <strong>Cds ln:</strong>
    <%= _cd._cds_ln_id %>
  </p>

  <p>
    <strong>Cds drama:</strong>
    <%= _cd._cds_drama_id %>
  </p>

  <p>
    <strong>Cds am:</strong>
    <%= _cd._cds_am_id %>
  </p>

  <p>
    <strong>Cds jv:</strong>
    <%= _cd._cds_jv_id %>
  </p>

  <p>
    <strong>Cds emission tv:</strong>
    <%= _cd._cds_emission_tv_id %>
  </p>

  <p>
    <strong>Cds bonus:</strong>
    <%= _cd._cds_bonus_id %>
  </p>

  <p>
    <strong>Cds manga:</strong>
    <%= _cd._cds_manga_id %>
  </p>

  <p>
    <strong>Comment:</strong>
    <%= _cd.comment %>
  </p>

  <p>
    <strong>Statut prop:</strong>
    <%= _cd.statut_prop %>
  </p>

  <p>
    <strong>Statut prop:</strong>
    <%= _cd.statut_prop %>
  </p>

  <p>
    <strong>Acceptregles:</strong>
    <%= _cd.acceptregles %>
  </p>

</div>
