<div id="<%= dom_id cd %>">































































  <p>































































    <strong>Titre:</strong>































































    <%= cd.titre %>































































  </p>































































































































  <p>































































    <strong>Titre original:</strong>































































    <%= cd.titre_original %>































































  </p>































































































































  <p>































































    <strong>Titre original latin:</strong>































































    <%= cd.titre_original_latin %>































































  </p>































































































































  <p>































































    <strong>Cds type:</strong>































































    <%= cd._cds_type_id %>































































  </p>































































































































  <p>































































    <strong>Ref:</strong>































































    <%= cd.ref %>































































  </p>































































































































  <p>































































    <strong>Date jj:</strong>































































    <%= cd.date_jj %>































































  </p>































































































































  <p>































































    <strong>Date mm:</strong>































































    <%= cd.date_mm %>































































  </p>































































































































  <p>































































    <strong>Date aaaa:</strong>































































    <%= cd.date_aaaa %>































































  </p>































































































































  <p>































































    <strong>Prix:</strong>































































    <%= cd.prix %>































































  </p>































































































































  <p>































































    <strong>Cds monnaie:</strong>































































    <%= cd._cds_monnaie_id %>































































  </p>































































































































  <p>































































    <strong>Cds role:</strong>































































    <%= cd._cds_role_id %>































































  </p>































































































































  <p>































































    <strong>Cds people:</strong>































































    <%= cd._cds_people_id %>































































  </p>































































































































  <p>































































    <strong>Cds role:</strong>































































    <%= cd._cds_role_id %>































































  </p>































































































































  <p>































































    <strong>Cds people:</strong>































































    <%= cd._cds_people_id %>































































  </p>































































































































  <p>































































    <strong>Image:</strong>































































    <%= cd.image %>































































  </p>































































































































  <p>































































    <strong>Sametracklist:</strong>































































    <%= cd.sametracklist %>































































  </p>































































































































  <p>































































    <strong>Cds labels:</strong>































































    <%= cd._cds_labels_id %>































































  </p>































































































































  <p>































































    <strong>Cds labels:</strong>































































    <%= cd._cds_labels_id %>































































  </p>































































































































  <p>































































    <strong>Cds distributeurs:</strong>































































    <%= cd._cds_distributeurs_id %>































































  </p>































































































































  <p>































































    <strong>Cds distributeurs:</strong>































































    <%= cd._cds_distributeurs_id %>































































  </p>































































































































  <p>































































    <strong>Infos:</strong>































































    <%= cd.infos %>































































  </p>































































































































  <p>































































    <strong>Cds groupes:</strong>































































    <%= cd._cds_groupes_id %>































































  </p>































































































































  <p>































































    <strong>Cds cd:</strong>































































    <%= cd._cds_cd_id %>































































  </p>































































































































  <p>































































    <strong>Cds anime:</strong>































































    <%= cd._cds_anime_id %>































































  </p>































































































































  <p>































































    <strong>Cds ln:</strong>































































    <%= cd._cds_ln_id %>































































  </p>































































































































  <p>































































    <strong>Cds drama:</strong>































































    <%= cd._cds_drama_id %>































































  </p>































































































































  <p>































































    <strong>Cds am:</strong>































































    <%= cd._cds_am_id %>































































  </p>































































































































  <p>































































    <strong>Cds jv:</strong>































































    <%= cd._cds_jv_id %>































































  </p>































































































































  <p>































































    <strong>Cds emission tv:</strong>































































    <%= cd._cds_emission_tv_id %>































































  </p>































































































































  <p>































































    <strong>Cds bonus:</strong>































































    <%= cd._cds_bonus_id %>































































  </p>































































































































  <p>































































    <strong>Cds manga:</strong>































































    <%= cd._cds_manga_id %>































































  </p>































































































































  <p>































































    <strong>Comment:</strong>































































    <%= cd.comment %>































































  </p>































































































































  <p>































































    <strong>Statut prop:</strong>































































    <%= cd.statut_prop %>































































  </p>































































































































  <p>































































    <strong>Statut prop:</strong>































































    <%= cd.statut_prop %>































































  </p>































































































































  <p>































































    <strong>Acceptregles:</strong>































































    <%= cd.acceptregles %>































































  </p>































































































































</div>
