<%= form_with(model: _cd) do |form| %>































































  <% if _cd.errors.any? %>































































    <div style="color: red">































































      <h2><%= pluralize(_cd.errors.count, "error") %> prohibited this _cd from being saved:</h2>































































































































      <ul>































































        <% _cd.errors.each do |error| %>































































          <li><%= error.full_message %></li>































































        <% end %>































































      </ul>































































    </div>































































  <% end %>































































































































  <div>































































    <%= form.label :titre, style: "display: block" %>































































    <%= form.text_field :titre %>































































  </div>































































































































  <div>































































    <%= form.label :titre_original, style: "display: block" %>































































    <%= form.text_field :titre_original %>































































  </div>































































































































  <div>































































    <%= form.label :titre_original_latin, style: "display: block" %>































































    <%= form.text_field :titre_original_latin %>































































  </div>































































































































  <div>































































    <%= form.label :_cds_type_id, style: "display: block" %>































































    <%= form.select :_cds_type_id, CdsType.all.collect{|x|[x.name, x.id]} %>































































  </div>































































































































  <div>































































    <%= form.label :ref, style: "display: block" %>































































    <%= form.text_field :ref %>































































  </div>































































































































  <div>































































    <%= form.label :date_jj, style: "display: block" %>































































    <%= form.text_field :date_jj %>































































  </div>































































































































  <div>































































    <%= form.label :date_mm, style: "display: block" %>































































    <%= form.text_field :date_mm %>































































  </div>































































































































  <div>































































    <%= form.label :date_aaaa, style: "display: block" %>































































    <%= form.text_field :date_aaaa %>































































  </div>































































































































  <div>































































    <%= form.label :prix, style: "display: block" %>































































    <%= form.text_field :prix %>































































  </div>































































































































  <div>































































    <%= form.label :_cds_monnaie_id, style: "display: block" %>































































    <%= form.select :_cds_monnaie_id, CdsMonnaie.all.collect{|x|[x.name, x.id]} %>































































  </div>































































































































  <div>































































    <%= form.label :_cds_role_id, style: "display: block" %>































































    <%= form.select :_cds_role_id, CdsRole.all.collect{|x|[x.name, x.id]} %>































































  </div>































































































































  <div>































































    <%= form.label :_cds_people_id, style: "display: block" %>































































    <%= form.select :_cds_people_id, CdsPerson.all.collect{|x|[x.name, x.id]} %>































































  </div>































































































































  <div>































































    <%= form.label :_cds_role_id, style: "display: block" %>































































    <%= form.select :_cds_role_id, CdsRole.all.collect{|x|[x.name, x.id]} %>































































  </div>































































































































  <div>































































    <%= form.label :_cds_people_id, style: "display: block" %>































































    <%= form.select :_cds_people_id, CdsPerson.all.collect{|x|[x.name, x.id]} %>































































  </div>































































































































  <div>































































    <%= form.label :image, style: "display: block" %>































































    <%= form.text_field :image %>































































  </div>































































































































  <div>































































    <%= form.label :sametracklist, style: "display: block" %>































































    <%= form.text_field :sametracklist %>































































  </div>































































































































  <div>































































    <%= form.label :_cds_labels_id, style: "display: block" %>































































    <%= form.select :_cds_labels_id, CdsLabel.all.collect{|x|[x.name, x.id]} %>































































  </div>































































































































  <div>































































    <%= form.label :_cds_labels_id, style: "display: block" %>































































    <%= form.select :_cds_labels_id, CdsLabel.all.collect{|x|[x.name, x.id]} %>































































  </div>































































































































  <div>































































    <%= form.label :_cds_distributeurs_id, style: "display: block" %>































































    <%= form.select :_cds_distributeurs_id, CdsDistributeur.all.collect{|x|[x.name, x.id]} %>































































  </div>































































































































  <div>































































    <%= form.label :_cds_distributeurs_id, style: "display: block" %>































































    <%= form.select :_cds_distributeurs_id, CdsDistributeur.all.collect{|x|[x.name, x.id]} %>































































  </div>































































































































  <div>































































    <%= form.label :infos, style: "display: block" %>































































    <%= form.text_area :infos %>































































  </div>































































































































  <div>































































    <%= form.label :_cds_groupes_id, style: "display: block" %>































































    <%= form.select :_cds_groupes_id, CdsGroupe.all.collect{|x|[x.name, x.id]} %>































































  </div>































































































































  <div>































































    <%= form.label :_cds_cd_id, style: "display: block" %>































































    <%= form.select :_cds_cd_id, CdsCd.all.collect{|x|[x.name, x.id]} %>































































  </div>































































































































  <div>































































    <%= form.label :_cds_anime_id, style: "display: block" %>































































    <%= form.select :_cds_anime_id, CdsAnime.all.collect{|x|[x.name, x.id]} %>































































  </div>































































































































  <div>































































    <%= form.label :_cds_ln_id, style: "display: block" %>































































    <%= form.select :_cds_ln_id, CdsLn.all.collect{|x|[x.name, x.id]} %>































































  </div>































































































































  <div>































































    <%= form.label :_cds_drama_id, style: "display: block" %>































































    <%= form.select :_cds_drama_id, CdsDrama.all.collect{|x|[x.name, x.id]} %>































































  </div>































































































































  <div>































































    <%= form.label :_cds_am_id, style: "display: block" %>































































    <%= form.select :_cds_am_id, CdsAm.all.collect{|x|[x.name, x.id]} %>































































  </div>































































































































  <div>































































    <%= form.label :_cds_jv_id, style: "display: block" %>































































    <%= form.select :_cds_jv_id, CdsJv.all.collect{|x|[x.name, x.id]} %>































































  </div>































































































































  <div>































































    <%= form.label :_cds_emission_tv_id, style: "display: block" %>































































    <%= form.select :_cds_emission_tv_id, CdsEmissionTv.all.collect{|x|[x.name, x.id]} %>































































  </div>































































































































  <div>































































    <%= form.label :_cds_bonus_id, style: "display: block" %>































































    <%= form.select :_cds_bonus_id, CdsBonu.all.collect{|x|[x.name, x.id]} %>































































  </div>































































































































  <div>































































    <%= form.label :_cds_manga_id, style: "display: block" %>































































    <%= form.select :_cds_manga_id, CdsManga.all.collect{|x|[x.name, x.id]} %>































































  </div>































































































































  <div>































































    <%= form.label :comment, style: "display: block" %>































































    <%= form.text_area :comment %>































































  </div>































































































































  <div>































































    <%= form.label :statut_prop, style: "display: block" %>































































    <%= form.text_field :statut_prop %>































































  </div>































































































































  <div>































































    <%= form.label :statut_prop, style: "display: block" %>































































    <%= form.text_field :statut_prop %>































































  </div>































































































































  <div>































































    <%= form.label :acceptregles, style: "display: block" %>































































    <%= form.text_field :acceptregles %>































































  </div>































































































































  <div>































































    <%= form.submit %>































































  </div>































































<% end %>
