<p style="color: green"><%= notice %></p>































































































































<%= render @_cd %>































































































































<div>































































  <%= link_to "Edit this cd", edit_cd_path(@_cd) %> |































































  <%= link_to "Back to cds", cds_path %>































































































































  <%= button_to "Destroy this cd", @_cd, method: :delete %>































































</div>
