<p style="color: green"><%= notice %></p>































































































































<%= render @_doujinshis_france %>































































































































<div>































































  <%= link_to "Edit this doujinshis france", edit_doujinshis_france_path(@_doujinshis_france) %> |































































  <%= link_to "Back to doujinshis frances", doujinshis_frances_path %>































































































































  <%= button_to "Destroy this doujinshis france", @_doujinshis_france, method: :delete %>































































</div>
