<p style="color: green"><%= notice %></p>































































































































<%= render @_personnalites_pay %>































































































































<div>































































  <%= link_to "Edit this personnalites pay", edit_personnalites_pay_path(@_personnalites_pay) %> |































































  <%= link_to "Back to personnalites pays", personnalites_pays_path %>































































































































  <%= button_to "Destroy this personnalites pay", @_personnalites_pay, method: :delete %>































































</div>
