<p style="color: green"><%= notice %></p>

<%= render @_dramas_origine %>

<div>
  <%= link_to "Edit this dramas origine", edit__dramas_origine_path(@_dramas_origine) %> |
  <%= link_to "Back to dramas origines", _dramas_origines_path %>

  <%= button_to "Destroy this dramas origine", @_dramas_origine, method: :delete %>
</div>
