<p style="color: green"><%= notice %></p>

<%= render @_petites_annonces_pay %>

<div>
  <%= link_to "Edit this petites annonces pay", edit__petites_annonces_pay_path(@_petites_annonces_pay) %> |
  <%= link_to "Back to petites annonces pays", _petites_annonces_pays_path %>

  <%= button_to "Destroy this petites annonces pay", @_petites_annonces_pay, method: :delete %>
</div>
