<p style="color: green"><%= notice %></p>



<%= render @_clips_lives_bonus_concerts_clip %>



<div>

  <%= link_to "Edit this concerts clip", edit_clips_lives_bonus_concerts_clip_path(@_clips_lives_bonus_concerts_clip) %> |

  <%= link_to "Back to concerts clips", clips_lives_bonus_concerts_clips_path %>



  <%= button_to "Destroy this concerts clip", @_clips_lives_bonus_concerts_clip, method: :delete %>

</div>
