<p style="color: green"><%= notice %></p>

<%= render @_livres_actualite %>

<div>
  <%= link_to "Edit this livres actualite", edit__livres_actualite_path(@_livres_actualite) %> |
  <%= link_to "Back to livres actualites", _livres_actualites_path %>

  <%= button_to "Destroy this livres actualite", @_livres_actualite, method: :delete %>
</div>
