<div id="<%= dom_id _livre %>">
  <p>
    <strong>Livres type:</strong>
    <%= _livre._livres_type_id %>
  </p>

  <p>
    <strong>Livres type secondaire:</strong>
    <%= _livre._livres_type_secondaire_id %>
  </p>

  <p>
    <strong>Titre:</strong>
    <%= _livre.titre %>
  </p>

  <p>
    <strong>Titre original latin:</strong>
    <%= _livre.titre_original_latin %>
  </p>

  <p>
    <strong>Titre original:</strong>
    <%= _livre.titre_original %>
  </p>

  <p>
    <strong>Image:</strong>
    <%= _livre.image %>
  </p>

  <p>
    <strong>Date parution vo jj:</strong>
    <%= _livre.date_parution_vo_jj %>
  </p>

  <p>
    <strong>Date parution vo mm:</strong>
    <%= _livre.date_parution_vo_mm %>
  </p>

  <p>
    <strong>Date parution vo aaaa:</strong>
    <%= _livre.date_parution_vo_aaaa %>
  </p>

  <p>
    <strong>Date parution vf jj:</strong>
    <%= _livre.date_parution_vf_jj %>
  </p>

  <p>
    <strong>Date parution vf mm:</strong>
    <%= _livre.date_parution_vf_mm %>
  </p>

  <p>
    <strong>Date parution vf aaaa:</strong>
    <%= _livre.date_parution_vf_aaaa %>
  </p>

  <p>
    <strong>Livres pays:</strong>
    <%= _livre._livres_pays_id %>
  </p>

  <p>
    <strong>Ean:</strong>
    <%= _livre.ean %>
  </p>

  <p>
    <strong>Pages:</strong>
    <%= _livre.pages %>
  </p>

  <p>
    <strong>Prix:</strong>
    <%= _livre.prix %>
  </p>

  <p>
    <strong>Gratuit:</strong>
    <%= _livre.gratuit %>
  </p>

  <p>
    <strong>Age:</strong>
    <%= _livre.age %>
  </p>

  <p>
    <strong>Livres statut publication:</strong>
    <%= _livre._livres_statut_publication_id %>
  </p>

  <p>
    <strong>Livres staff role:</strong>
    <%= _livre._livres_staff_role_id %>
  </p>

  <p>
    <strong>Livres staff people:</strong>
    <%= _livre._livres_staff_people_id %>
  </p>

  <p>
    <strong>Livres staff role:</strong>
    <%= _livre._livres_staff_role_id %>
  </p>

  <p>
    <strong>Livres staff people:</strong>
    <%= _livre._livres_staff_people_id %>
  </p>

  <p>
    <strong>Livres editeurs vo:</strong>
    <%= _livre._livres_editeurs_vo_id %>
  </p>

  <p>
    <strong>Livres editeurs vo:</strong>
    <%= _livre._livres_editeurs_vo_id %>
  </p>

  <p>
    <strong>Livres editeurs vf:</strong>
    <%= _livre._livres_editeurs_vf_id %>
  </p>

  <p>
    <strong>Livres editeurs vf:</strong>
    <%= _livre._livres_editeurs_vf_id %>
  </p>

  <p>
    <strong>Collection:</strong>
    <%= _livre.collection %>
  </p>

  <p>
    <strong>Traducteur:</strong>
    <%= _livre.traducteur %>
  </p>

  <p>
    <strong>Livres genres:</strong>
    <%= _livre._livres_genres_id %>
  </p>

  <p>
    <strong>Livres genres:</strong>
    <%= _livre._livres_genres_id %>
  </p>

  <p>
    <strong>Livres themes:</strong>
    <%= _livre._livres_themes_id %>
  </p>

  <p>
    <strong>Livres themes:</strong>
    <%= _livre._livres_themes_id %>
  </p>

  <p>
    <strong>Livres pays theme:</strong>
    <%= _livre._livres_pays_theme_id %>
  </p>

  <p>
    <strong>Livres public averti:</strong>
    <%= _livre._livres_public_averti_id %>
  </p>

  <p>
    <strong>Resume:</strong>
    <%= _livre.resume %>
  </p>

  <p>
    <strong>Preview:</strong>
    <%= _livre.preview %>
  </p>

  <p>
    <strong>Livres groupes:</strong>
    <%= _livre._livres_groupes_id %>
  </p>

  <p>
    <strong>Livres anime:</strong>
    <%= _livre._livres_anime_id %>
  </p>

  <p>
    <strong>Livres anime plus:</strong>
    <%= _livre._livres_anime_plus_id %>
  </p>

  <p>
    <strong>Livres ln:</strong>
    <%= _livre._livres_ln_id %>
  </p>

  <p>
    <strong>Livres ln plus:</strong>
    <%= _livre._livres_ln_plus_id %>
  </p>

  <p>
    <strong>Livres manga:</strong>
    <%= _livre._livres_manga_id %>
  </p>

  <p>
    <strong>Livres manga plus:</strong>
    <%= _livre._livres_manga_plus_id %>
  </p>

  <p>
    <strong>Livres drama:</strong>
    <%= _livre._livres_drama_id %>
  </p>

  <p>
    <strong>Livres drama plus:</strong>
    <%= _livre._livres_drama_plus_id %>
  </p>

  <p>
    <strong>Livres am:</strong>
    <%= _livre._livres_am_id %>
  </p>

  <p>
    <strong>Livres am plus:</strong>
    <%= _livre._livres_am_plus_id %>
  </p>

  <p>
    <strong>Livres litterature asiatique:</strong>
    <%= _livre._livres_litterature_asiatique_id %>
  </p>

  <p>
    <strong>Livres litterature asiatique plus:</strong>
    <%= _livre._livres_litterature_asiatique_plus_id %>
  </p>

  <p>
    <strong>Livres goodies:</strong>
    <%= _livre._livres_goodies_id %>
  </p>

  <p>
    <strong>Livres actualite:</strong>
    <%= _livre._livres_actualite_id %>
  </p>

  <p>
    <strong>Livres culture:</strong>
    <%= _livre._livres_culture_id %>
  </p>

  <p>
    <strong>Livres actualite mini:</strong>
    <%= _livre._livres_actualite_mini_id %>
  </p>

  <p>
    <strong>Livres people:</strong>
    <%= _livre._livres_people_id %>
  </p>

  <p>
    <strong>Livres jv:</strong>
    <%= _livre._livres_jv_id %>
  </p>

  <p>
    <strong>Livres jv plus:</strong>
    <%= _livre._livres_jv_plus_id %>
  </p>

  <p>
    <strong>Comment:</strong>
    <%= _livre.comment %>
  </p>

  <p>
    <strong>Statut prop:</strong>
    <%= _livre.statut_prop %>
  </p>

  <p>
    <strong>Statut prop:</strong>
    <%= _livre.statut_prop %>
  </p>

  <p>
    <strong>Acceptregles:</strong>
    <%= _livre.acceptregles %>
  </p>

</div>
