<div id="<%= dom_id livre %>">































































  <p>































































    <strong>Livres type:</strong>































































    <%= livre._livres_type_id %>































































  </p>































































































































  <p>































































    <strong>Livres type secondaire:</strong>































































    <%= livre._livres_type_secondaire_id %>































































  </p>































































































































  <p>































































    <strong>Titre:</strong>































































    <%= livre.titre %>































































  </p>































































































































  <p>































































    <strong>Titre original latin:</strong>































































    <%= livre.titre_original_latin %>































































  </p>































































































































  <p>































































    <strong>Titre original:</strong>































































    <%= livre.titre_original %>































































  </p>































































































































  <p>































































    <strong>Image:</strong>































































    <%= livre.image %>































































  </p>































































































































  <p>































































    <strong>Date parution vo jj:</strong>































































    <%= livre.date_parution_vo_jj %>































































  </p>































































































































  <p>































































    <strong>Date parution vo mm:</strong>































































    <%= livre.date_parution_vo_mm %>































































  </p>































































































































  <p>































































    <strong>Date parution vo aaaa:</strong>































































    <%= livre.date_parution_vo_aaaa %>































































  </p>































































































































  <p>































































    <strong>Date parution vf jj:</strong>































































    <%= livre.date_parution_vf_jj %>































































  </p>































































































































  <p>































































    <strong>Date parution vf mm:</strong>































































    <%= livre.date_parution_vf_mm %>































































  </p>































































































































  <p>































































    <strong>Date parution vf aaaa:</strong>































































    <%= livre.date_parution_vf_aaaa %>































































  </p>































































































































  <p>































































    <strong>Livres pays:</strong>































































    <%= livre._livres_pays_id %>































































  </p>































































































































  <p>































































    <strong>Ean:</strong>































































    <%= livre.ean %>































































  </p>































































































































  <p>































































    <strong>Pages:</strong>































































    <%= livre.pages %>































































  </p>































































































































  <p>































































    <strong>Prix:</strong>































































    <%= livre.prix %>































































  </p>































































































































  <p>































































    <strong>Gratuit:</strong>































































    <%= livre.gratuit %>































































  </p>































































































































  <p>































































    <strong>Age:</strong>































































    <%= livre.age %>































































  </p>































































































































  <p>































































    <strong>Livres statut publication:</strong>































































    <%= livre._livres_statut_publication_id %>































































  </p>































































































































  <p>































































    <strong>Livres staff role:</strong>































































    <%= livre._livres_staff_role_id %>































































  </p>































































































































  <p>































































    <strong>Livres staff people:</strong>































































    <%= livre._livres_staff_people_id %>































































  </p>































































































































  <p>































































    <strong>Livres staff role:</strong>































































    <%= livre._livres_staff_role_id %>































































  </p>































































































































  <p>































































    <strong>Livres staff people:</strong>































































    <%= livre._livres_staff_people_id %>































































  </p>































































































































  <p>































































    <strong>Livres editeurs vo:</strong>































































    <%= livre._livres_editeurs_vo_id %>































































  </p>































































































































  <p>































































    <strong>Livres editeurs vo:</strong>































































    <%= livre._livres_editeurs_vo_id %>































































  </p>































































































































  <p>































































    <strong>Livres editeurs vf:</strong>































































    <%= livre._livres_editeurs_vf_id %>































































  </p>































































































































  <p>































































    <strong>Livres editeurs vf:</strong>































































    <%= livre._livres_editeurs_vf_id %>































































  </p>































































































































  <p>































































    <strong>Collection:</strong>































































    <%= livre.collection %>































































  </p>































































































































  <p>































































    <strong>Traducteur:</strong>































































    <%= livre.traducteur %>































































  </p>































































































































  <p>































































    <strong>Livres genres:</strong>































































    <%= livre._livres_genres_id %>































































  </p>































































































































  <p>































































    <strong>Livres genres:</strong>































































    <%= livre._livres_genres_id %>































































  </p>































































































































  <p>































































    <strong>Livres themes:</strong>































































    <%= livre._livres_themes_id %>































































  </p>































































































































  <p>































































    <strong>Livres themes:</strong>































































    <%= livre._livres_themes_id %>































































  </p>































































































































  <p>































































    <strong>Livres pays theme:</strong>































































    <%= livre._livres_pays_theme_id %>































































  </p>































































































































  <p>































































    <strong>Livres public averti:</strong>































































    <%= livre._livres_public_averti_id %>































































  </p>































































































































  <p>































































    <strong>Resume:</strong>































































    <%= livre.resume %>































































  </p>































































































































  <p>































































    <strong>Preview:</strong>































































    <%= livre.preview %>































































  </p>































































































































  <p>































































    <strong>Livres groupes:</strong>































































    <%= livre._livres_groupes_id %>































































  </p>































































































































  <p>































































    <strong>Livres anime:</strong>































































    <%= livre._livres_anime_id %>































































  </p>































































































































  <p>































































    <strong>Livres anime plus:</strong>































































    <%= livre._livres_anime_plus_id %>































































  </p>































































































































  <p>































































    <strong>Livres ln:</strong>































































    <%= livre._livres_ln_id %>































































  </p>































































































































  <p>































































    <strong>Livres ln plus:</strong>































































    <%= livre._livres_ln_plus_id %>































































  </p>































































































































  <p>































































    <strong>Livres manga:</strong>































































    <%= livre._livres_manga_id %>































































  </p>































































































































  <p>































































    <strong>Livres manga plus:</strong>































































    <%= livre._livres_manga_plus_id %>































































  </p>































































































































  <p>































































    <strong>Livres drama:</strong>































































    <%= livre._livres_drama_id %>































































  </p>































































































































  <p>































































    <strong>Livres drama plus:</strong>































































    <%= livre._livres_drama_plus_id %>































































  </p>































































































































  <p>































































    <strong>Livres am:</strong>































































    <%= livre._livres_am_id %>































































  </p>































































































































  <p>































































    <strong>Livres am plus:</strong>































































    <%= livre._livres_am_plus_id %>































































  </p>































































































































  <p>































































    <strong>Livres litterature asiatique:</strong>































































    <%= livre._livres_litterature_asiatique_id %>































































  </p>































































































































  <p>































































    <strong>Livres litterature asiatique plus:</strong>































































    <%= livre._livres_litterature_asiatique_plus_id %>































































  </p>































































































































  <p>































































    <strong>Livres goodies:</strong>































































    <%= livre._livres_goodies_id %>































































  </p>































































































































  <p>































































    <strong>Livres actualite:</strong>































































    <%= livre._livres_actualite_id %>































































  </p>































































































































  <p>































































    <strong>Livres culture:</strong>































































    <%= livre._livres_culture_id %>































































  </p>































































































































  <p>































































    <strong>Livres actualite mini:</strong>































































    <%= livre._livres_actualite_mini_id %>































































  </p>































































































































  <p>































































    <strong>Livres people:</strong>































































    <%= livre._livres_people_id %>































































  </p>































































































































  <p>































































    <strong>Livres jv:</strong>































































    <%= livre._livres_jv_id %>































































  </p>































































































































  <p>































































    <strong>Livres jv plus:</strong>































































    <%= livre._livres_jv_plus_id %>































































  </p>































































































































  <p>































































    <strong>Comment:</strong>































































    <%= livre.comment %>































































  </p>































































































































  <p>































































    <strong>Statut prop:</strong>































































    <%= livre.statut_prop %>































































  </p>































































































































  <p>































































    <strong>Statut prop:</strong>































































    <%= livre.statut_prop %>































































  </p>































































































































  <p>































































    <strong>Acceptregles:</strong>































































    <%= livre.acceptregles %>































































  </p>































































































































</div>
