<p style="color: green"><%= notice %></p>

<%= render @_livre %>

<div>
  <%= link_to "Edit this livre", edit__livre_path(@_livre) %> |
  <%= link_to "Back to livres", _livres_path %>

  <%= button_to "Destroy this livre", @_livre, method: :delete %>
</div>
