<p style="color: green"><%= notice %></p>

<%= render @_photobooks_person %>

<div>
  <%= link_to "Edit this photobooks person", edit__photobooks_person_path(@_photobooks_person) %> |
  <%= link_to "Back to photobooks people", _photobooks_people_path %>

  <%= button_to "Destroy this photobooks person", @_photobooks_person, method: :delete %>
</div>
