<p style="color: green"><%= notice %></p>

<%= render @_breves_sondage %>

<div>
  <%= link_to "Edit this breves sondage", edit__breves_sondage_path(@_breves_sondage) %> |
  <%= link_to "Back to breves sondages", _breves_sondages_path %>

  <%= button_to "Destroy this breves sondage", @_breves_sondage, method: :delete %>
</div>
