<p style="color: green"><%= notice %></p>

<%= render @_cds_anime %>

<div>
  <%= link_to "Edit this cds anime", edit__cds_anime_path(@_cds_anime) %> |
  <%= link_to "Back to cds animes", _cds_animes_path %>

  <%= button_to "Destroy this cds anime", @_cds_anime, method: :delete %>
</div>
