<p style="color: green"><%= notice %></p>

<%= render @_livres_ln_plu %>

<div>
  <%= link_to "Edit this livres ln plu", edit__livres_ln_plu_path(@_livres_ln_plu) %> |
  <%= link_to "Back to livres ln plus", _livres_ln_plus_path %>

  <%= button_to "Destroy this livres ln plu", @_livres_ln_plu, method: :delete %>
</div>
