<p style="color: green"><%= notice %></p>































































































































<%= render @_jeux_videos_concour %>































































































































<div>































































  <%= link_to "Edit this jeux videos concour", edit_jeux_videos_concour_path(@_jeux_videos_concour) %> |































































  <%= link_to "Back to jeux videos concours", jeux_videos_concours_path %>































































































































  <%= button_to "Destroy this jeux videos concour", @_jeux_videos_concour, method: :delete %>































































</div>
