<p style="color: green"><%= notice %></p>

<%= render @animes_litterature_asiatique %>

<div>
  <%= link_to "Edit this animes litterature asiatique", edit_animes_litterature_asiatique_path(@animes_litterature_asiatique) %> |
  <%= link_to "Back to animes litterature asiatiques", animes_litterature_asiatiques_path %>

  <%= button_to "Destroy this animes litterature asiatique", @animes_litterature_asiatique, method: :delete %>
</div>
