<p style="color: green"><%= notice %></p>

<%= render @_cds_am %>

<div>
  <%= link_to "Edit this cds am", edit__cds_am_path(@_cds_am) %> |
  <%= link_to "Back to cds ams", _cds_ams_path %>

  <%= button_to "Destroy this cds am", @_cds_am, method: :delete %>
</div>
