<p style="color: green"><%= notice %></p>































































































































<%= render @_jeux_videos_ln %>































































































































<div>































































  <%= link_to "Edit this jeux videos ln", edit_jeux_videos_ln_path(@_jeux_videos_ln) %> |































































  <%= link_to "Back to jeux videos lns", jeux_videos_lns_path %>































































































































  <%= button_to "Destroy this jeux videos ln", @_jeux_videos_ln, method: :delete %>































































</div>
