<div id="<%= dom_id _goody %>">
  <p>
    <strong>Goodies type:</strong>
    <%= _goody._goodies_type_id %>
  </p>

  <p>
    <strong>Goodies pays:</strong>
    <%= _goody._goodies_pays_id %>
  </p>

  <p>
    <strong>Titre:</strong>
    <%= _goody.titre %>
  </p>

  <p>
    <strong>Titre alternatif:</strong>
    <%= _goody.titre_alternatif %>
  </p>

  <p>
    <strong>Titre original latin:</strong>
    <%= _goody.titre_original_latin %>
  </p>

  <p>
    <strong>Titre original:</strong>
    <%= _goody.titre_original %>
  </p>

  <p>
    <strong>Image:</strong>
    <%= _goody.image %>
  </p>

  <p>
    <strong>Image vo:</strong>
    <%= _goody.image_vo %>
  </p>

  <p>
    <strong>Date parution vo jj:</strong>
    <%= _goody.date_parution_vo_jj %>
  </p>

  <p>
    <strong>Date parution vo mm:</strong>
    <%= _goody.date_parution_vo_mm %>
  </p>

  <p>
    <strong>Date parution vo aaaa:</strong>
    <%= _goody.date_parution_vo_aaaa %>
  </p>

  <p>
    <strong>Date parution vf jj:</strong>
    <%= _goody.date_parution_vf_jj %>
  </p>

  <p>
    <strong>Date parution vf mm:</strong>
    <%= _goody.date_parution_vf_mm %>
  </p>

  <p>
    <strong>Date parution vf aaaa:</strong>
    <%= _goody.date_parution_vf_aaaa %>
  </p>

  <p>
    <strong>Date reedition jj:</strong>
    <%= _goody.date_reedition_jj %>
  </p>

  <p>
    <strong>Date reedition mm:</strong>
    <%= _goody.date_reedition_mm %>
  </p>

  <p>
    <strong>Date reedition aaaa:</strong>
    <%= _goody.date_reedition_aaaa %>
  </p>

  <p>
    <strong>Prix:</strong>
    <%= _goody.prix %>
  </p>

  <p>
    <strong>Commerce:</strong>
    <%= _goody.commerce %>
  </p>

  <p>
    <strong>Ean:</strong>
    <%= _goody.ean %>
  </p>

  <p>
    <strong>Ref:</strong>
    <%= _goody.ref %>
  </p>

  <p>
    <strong>Goodies matiere:</strong>
    <%= _goody._goodies_matiere_id %>
  </p>

  <p>
    <strong>Goodies matiere:</strong>
    <%= _goody._goodies_matiere_id %>
  </p>

  <p>
    <strong>Dimensions h:</strong>
    <%= _goody.dimensions_h %>
  </p>

  <p>
    <strong>Dimensions w:</strong>
    <%= _goody.dimensions_w %>
  </p>

  <p>
    <strong>Dimensions z:</strong>
    <%= _goody.dimensions_z %>
  </p>

  <p>
    <strong>Poids:</strong>
    <%= _goody.poids %>
  </p>

  <p>
    <strong>Echelle:</strong>
    <%= _goody.echelle %>
  </p>

  <p>
    <strong>Articule:</strong>
    <%= _goody.articule %>
  </p>

  <p>
    <strong>Articule:</strong>
    <%= _goody.articule %>
  </p>

  <p>
    <strong>Site:</strong>
    <%= _goody.site %>
  </p>

  <p>
    <strong>Goodies editeurs vo:</strong>
    <%= _goody._goodies_editeurs_vo_id %>
  </p>

  <p>
    <strong>Goodies editeurs vo:</strong>
    <%= _goody._goodies_editeurs_vo_id %>
  </p>

  <p>
    <strong>Goodies editeurs vf:</strong>
    <%= _goody._goodies_editeurs_vf_id %>
  </p>

  <p>
    <strong>Goodies editeurs vf:</strong>
    <%= _goody._goodies_editeurs_vf_id %>
  </p>

  <p>
    <strong>Goodies staff role:</strong>
    <%= _goody._goodies_staff_role_id %>
  </p>

  <p>
    <strong>Goodies staff people:</strong>
    <%= _goody._goodies_staff_people_id %>
  </p>

  <p>
    <strong>Goodies staff role:</strong>
    <%= _goody._goodies_staff_role_id %>
  </p>

  <p>
    <strong>Goodies staff people:</strong>
    <%= _goody._goodies_staff_people_id %>
  </p>

  <p>
    <strong>Sculpteur:</strong>
    <%= _goody.sculpteur %>
  </p>

  <p>
    <strong>Goodies societe role:</strong>
    <%= _goody._goodies_societe_role_id %>
  </p>

  <p>
    <strong>Goodies societe people:</strong>
    <%= _goody._goodies_societe_people_id %>
  </p>

  <p>
    <strong>Goodies societe role:</strong>
    <%= _goody._goodies_societe_role_id %>
  </p>

  <p>
    <strong>Goodies societe people:</strong>
    <%= _goody._goodies_societe_people_id %>
  </p>

  <p>
    <strong>Resume:</strong>
    <%= _goody.resume %>
  </p>

  <p>
    <strong>Infos:</strong>
    <%= _goody.infos %>
  </p>

  <p>
    <strong>Youtube:</strong>
    <%= _goody.youtube %>
  </p>

  <p>
    <strong>Goodies public averti:</strong>
    <%= _goody._goodies_public_averti_id %>
  </p>

  <p>
    <strong>Goodies groupes:</strong>
    <%= _goody._goodies_groupes_id %>
  </p>

  <p>
    <strong>Goodies anime:</strong>
    <%= _goody._goodies_anime_id %>
  </p>

  <p>
    <strong>Goodies perso:</strong>
    <%= _goody._goodies_perso_id %>
  </p>

  <p>
    <strong>Goodies manga:</strong>
    <%= _goody._goodies_manga_id %>
  </p>

  <p>
    <strong>Goodies perso manga:</strong>
    <%= _goody._goodies_perso_manga_id %>
  </p>

  <p>
    <strong>Goodies jv:</strong>
    <%= _goody._goodies_jv_id %>
  </p>

  <p>
    <strong>Goodies jv perso:</strong>
    <%= _goody._goodies_jv_perso_id %>
  </p>

  <p>
    <strong>Goodies ln:</strong>
    <%= _goody._goodies_ln_id %>
  </p>

  <p>
    <strong>Goodies drama:</strong>
    <%= _goody._goodies_drama_id %>
  </p>

  <p>
    <strong>Goodies am:</strong>
    <%= _goody._goodies_am_id %>
  </p>

  <p>
    <strong>Goodies artbook:</strong>
    <%= _goody._goodies_artbook_id %>
  </p>

  <p>
    <strong>Goodies photobook:</strong>
    <%= _goody._goodies_photobook_id %>
  </p>

  <p>
    <strong>Goodies doujinshi:</strong>
    <%= _goody._goodies_doujinshi_id %>
  </p>

  <p>
    <strong>Goodies dvd:</strong>
    <%= _goody._goodies_dvd_id %>
  </p>

  <p>
    <strong>Goodies cd:</strong>
    <%= _goody._goodies_cd_id %>
  </p>

  <p>
    <strong>Goodies ost:</strong>
    <%= _goody._goodies_ost_id %>
  </p>

  <p>
    <strong>Goodies people:</strong>
    <%= _goody._goodies_people_id %>
  </p>

  <p>
    <strong>Goodies goodies:</strong>
    <%= _goody._goodies_goodies_id %>
  </p>

  <p>
    <strong>Goodies clip:</strong>
    <%= _goody._goodies_clip_id %>
  </p>

  <p>
    <strong>Goodies bonus:</strong>
    <%= _goody._goodies_bonus_id %>
  </p>

  <p>
    <strong>Goodies litterature asiatique:</strong>
    <%= _goody._goodies_litterature_asiatique_id %>
  </p>

  <p>
    <strong>Goodies actualite:</strong>
    <%= _goody._goodies_actualite_id %>
  </p>

  <p>
    <strong>Goodies actualite mini:</strong>
    <%= _goody._goodies_actualite_mini_id %>
  </p>

  <p>
    <strong>Comment:</strong>
    <%= _goody.comment %>
  </p>

  <p>
    <strong>Statut prop:</strong>
    <%= _goody.statut_prop %>
  </p>

  <p>
    <strong>Statut prop:</strong>
    <%= _goody.statut_prop %>
  </p>

  <p>
    <strong>Acceptregles:</strong>
    <%= _goody.acceptregles %>
  </p>

</div>
