<p style="color: green"><%= notice %></p>































































































































<%= render @_breves_anime_studio %>































































































































<div>































































  <%= link_to "Edit this breves anime studio", edit_breves_anime_studio_path(@_breves_anime_studio) %> |































































  <%= link_to "Back to breves anime studios", breves_anime_studios_path %>































































































































  <%= button_to "Destroy this breves anime studio", @_breves_anime_studio, method: :delete %>































































</div>
