<p style="color: green"><%= notice %></p>

<%= render @osts_ost %>

<div>
  <%= link_to "Edit this osts ost", edit_osts_ost_path(@osts_ost) %> |
  <%= link_to "Back to osts osts", osts_osts_path %>

  <%= button_to "Destroy this osts ost", @osts_ost, method: :delete %>
</div>
