<p style="color: green"><%= notice %></p>































































































































<%= render @_films_asiatiques_genre %>































































































































<div>































































  <%= link_to "Edit this films asiatiques genre", edit_films_asiatiques_genre_path(@_films_asiatiques_genre) %> |































































  <%= link_to "Back to films asiatiques genres", films_asiatiques_genres_path %>































































































































  <%= button_to "Destroy this films asiatiques genre", @_films_asiatiques_genre, method: :delete %>































































</div>
