<p style="color: green"><%= notice %></p>































































































































<%= render @_breves_litterature_asiatique %>































































































































<div>































































  <%= link_to "Edit this breves litterature asiatique", edit_breves_litterature_asiatique_path(@_breves_litterature_asiatique) %> |































































  <%= link_to "Back to breves litterature asiatiques", breves_litterature_asiatiques_path %>































































































































  <%= button_to "Destroy this breves litterature asiatique", @_breves_litterature_asiatique, method: :delete %>































































</div>
