<p style="color: green"><%= notice %></p>

<%= render @_mangas_quizz %>

<div>
  <%= link_to "Edit this mangas quizz", edit__mangas_quizz_path(@_mangas_quizz) %> |
  <%= link_to "Back to mangas quizzs", _mangas_quizzs_path %>

  <%= button_to "Destroy this mangas quizz", @_mangas_quizz, method: :delete %>
</div>
