<p style="color: green"><%= notice %></p>

<%= render @_volumes_ln %>

<div>
  <%= link_to "Edit this volumes ln", edit__volumes_ln_path(@_volumes_ln) %> |
  <%= link_to "Back to volumes lns", _volumes_lns_path %>

  <%= button_to "Destroy this volumes ln", @_volumes_ln, method: :delete %>
</div>
