<p style="color: green"><%= notice %></p>

<%= render @_films_asiatiques_dvd %>

<div>
  <%= link_to "Edit this films asiatiques dvd", edit__films_asiatiques_dvd_path(@_films_asiatiques_dvd) %> |
  <%= link_to "Back to films asiatiques dvds", _films_asiatiques_dvds_path %>

  <%= button_to "Destroy this films asiatiques dvd", @_films_asiatiques_dvd, method: :delete %>
</div>
