<p style="color: green"><%= notice %></p>































































































































<%= render @_breves_societe %>































































































































<div>































































  <%= link_to "Edit this breves societe", edit_breves_societe_path(@_breves_societe) %> |































































  <%= link_to "Back to breves societes", breves_societes_path %>































































































































  <%= button_to "Destroy this breves societe", @_breves_societe, method: :delete %>































































</div>
