<p style="color: green"><%= notice %></p>































































































































<%= render @_films_asiatiques_litterature_asiatique %>































































































































<div>































































  <%= link_to "Edit this films asiatiques litterature asiatique", edit_films_asiatiques_litterature_asiatique_path(@_films_asiatiques_litterature_asiatique) %> |































































  <%= link_to "Back to films asiatiques litterature asiatiques", films_asiatiques_litterature_asiatiques_path %>































































































































  <%= button_to "Destroy this films asiatiques litterature asiatique", @_films_asiatiques_litterature_asiatique, method: :delete %>































































</div>
