<p style="color: green"><%= notice %></p>

<%= render @_mangas_societe_person %>

<div>
  <%= link_to "Edit this mangas societe person", edit__mangas_societe_person_path(@_mangas_societe_person) %> |
  <%= link_to "Back to mangas societe people", _mangas_societe_people_path %>

  <%= button_to "Destroy this mangas societe person", @_mangas_societe_person, method: :delete %>
</div>
