<p style="color: green"><%= notice %></p>

<%= render @artbooks_ln %>

<div>
  <%= link_to "Edit this artbooks ln", edit_artbooks_ln_path(@artbooks_ln) %> |
  <%= link_to "Back to artbooks lns", artbooks_lns_path %>

  <%= button_to "Destroy this artbooks ln", @artbooks_ln, method: :delete %>
</div>
