<%= form_with(model: _personnages_de_jeux_video) do |form| %>































































  <% if _personnages_de_jeux_video.errors.any? %>































































    <div style="color: red">































































      <h2><%= pluralize(_personnages_de_jeux_video.errors.count, "error") %> prohibited this _personnages_de_jeux_video from being saved:</h2>































































































































      <ul>































































        <% _personnages_de_jeux_video.errors.each do |error| %>































































          <li><%= error.full_message %></li>































































        <% end %>































































      </ul>































































    </div>































































  <% end %>































































































































  <div>































































    <%= form.label :nom, style: "display: block" %>































































    <%= form.text_field :nom %>































































  </div>































































































































  <div>































































    <%= form.label :nom_alternatif, style: "display: block" %>































































    <%= form.text_field :nom_alternatif %>































































  </div>































































































































  <div>































































    <%= form.label :nom_suite, style: "display: block" %>































































    <%= form.text_field :nom_suite %>































































  </div>































































































































  <div>































































    <%= form.label :nom_original, style: "display: block" %>































































    <%= form.text_field :nom_original %>































































  </div>































































































































  <div>































































    <%= form.label :_personnages_de_jeux_videos_jv_id, style: "display: block" %>































































    <%= form.select :_personnages_de_jeux_videos_jv_id, PersonnagesDeJeuxVideosJv.all.collect{|x|[x.name, x.id]} %>































































  </div>































































































































  <div>































































    <%= form.label :_personnages_de_jeux_videos_jv_id, style: "display: block" %>































































    <%= form.select :_personnages_de_jeux_videos_jv_id, PersonnagesDeJeuxVideosJv.all.collect{|x|[x.name, x.id]} %>































































  </div>































































































































  <div>































































    <%= form.label :jouable, style: "display: block" %>































































    <%= form.text_field :jouable %>































































  </div>































































































































  <div>































































    <%= form.label :jouable, style: "display: block" %>































































    <%= form.text_field :jouable %>































































  </div>































































































































  <div>































































    <%= form.label :muet, style: "display: block" %>































































    <%= form.text_field :muet %>































































  </div>































































































































  <div>































































    <%= form.label :_personnages_de_jeux_videos_doubleur_pays_id, style: "display: block" %>































































    <%= form.select :_personnages_de_jeux_videos_doubleur_pays_id, PersonnagesDeJeuxVideosDoubleurPay.all.collect{|x|[x.name, x.id]} %>































































  </div>































































































































  <div>































































    <%= form.label :_personnages_de_jeux_videos_doubleur_people_id, style: "display: block" %>































































    <%= form.select :_personnages_de_jeux_videos_doubleur_people_id, PersonnagesDeJeuxVideosDoubleurPerson.all.collect{|x|[x.name, x.id]} %>































































  </div>































































































































  <div>































































    <%= form.label :, style: "display: block" %>































































    <%= form.text_field : %>































































  </div>































































































































  <div>































































    <%= form.label :_personnages_de_jeux_videos_doubleur_role_id, style: "display: block" %>































































    <%= form.select :_personnages_de_jeux_videos_doubleur_role_id, PersonnagesDeJeuxVideosDoubleurRole.all.collect{|x|[x.name, x.id]} %>































































  </div>































































































































  <div>































































    <%= form.label :_personnages_de_jeux_videos_doubleur_pays_id, style: "display: block" %>































































    <%= form.select :_personnages_de_jeux_videos_doubleur_pays_id, PersonnagesDeJeuxVideosDoubleurPay.all.collect{|x|[x.name, x.id]} %>































































  </div>































































































































  <div>































































    <%= form.label :_personnages_de_jeux_videos_doubleur_people_id, style: "display: block" %>































































    <%= form.select :_personnages_de_jeux_videos_doubleur_people_id, PersonnagesDeJeuxVideosDoubleurPerson.all.collect{|x|[x.name, x.id]} %>































































  </div>































































































































  <div>































































    <%= form.label :, style: "display: block" %>































































    <%= form.text_field : %>































































  </div>































































































































  <div>































































    <%= form.label :_personnages_de_jeux_videos_doubleur_role_id, style: "display: block" %>































































    <%= form.select :_personnages_de_jeux_videos_doubleur_role_id, PersonnagesDeJeuxVideosDoubleurRole.all.collect{|x|[x.name, x.id]} %>































































  </div>































































































































  <div>































































    <%= form.label :_personnages_de_jeux_videos_jv_perso_id, style: "display: block" %>































































    <%= form.select :_personnages_de_jeux_videos_jv_perso_id, PersonnagesDeJeuxVideosJvPerso.all.collect{|x|[x.name, x.id]} %>































































  </div>































































































































  <div>































































    <%= form.label :_personnages_de_jeux_videos_perso_id, style: "display: block" %>































































    <%= form.select :_personnages_de_jeux_videos_perso_id, PersonnagesDeJeuxVideosPerso.all.collect{|x|[x.name, x.id]} %>































































  </div>































































































































  <div>































































    <%= form.label :_personnages_de_jeux_videos_perso_plus_id, style: "display: block" %>































































    <%= form.select :_personnages_de_jeux_videos_perso_plus_id, PersonnagesDeJeuxVideosPersoPlu.all.collect{|x|[x.name, x.id]} %>































































  </div>































































































































  <div>































































    <%= form.label :_personnages_de_jeux_videos_perso_manga_id, style: "display: block" %>































































    <%= form.select :_personnages_de_jeux_videos_perso_manga_id, PersonnagesDeJeuxVideosPersoManga.all.collect{|x|[x.name, x.id]} %>































































  </div>































































































































  <div>































































    <%= form.label :_personnages_de_jeux_videos_goodies_id, style: "display: block" %>































































    <%= form.select :_personnages_de_jeux_videos_goodies_id, PersonnagesDeJeuxVideosGoodie.all.collect{|x|[x.name, x.id]} %>































































  </div>































































































































  <div>































































    <%= form.label :image, style: "display: block" %>































































    <%= form.text_field :image %>































































  </div>































































































































  <div>































































    <%= form.label :description, style: "display: block" %>































































    <%= form.text_area :description %>































































  </div>































































































































  <div>































































    <%= form.label :comment, style: "display: block" %>































































    <%= form.text_area :comment %>































































  </div>































































































































  <div>































































    <%= form.label :statut_prop, style: "display: block" %>































































    <%= form.text_field :statut_prop %>































































  </div>































































































































  <div>































































    <%= form.label :statut_prop, style: "display: block" %>































































    <%= form.text_field :statut_prop %>































































  </div>































































































































  <div>































































    <%= form.label :acceptregles, style: "display: block" %>































































    <%= form.text_field :acceptregles %>































































  </div>































































































































  <div>































































    <%= form.submit %>































































  </div>































































<% end %>
