<div id="<%= dom_id personnages_de_jeux_video %>">































































  <p>































































    <strong>Nom:</strong>































































    <%= personnages_de_jeux_video.nom %>































































  </p>































































































































  <p>































































    <strong>Nom alternatif:</strong>































































    <%= personnages_de_jeux_video.nom_alternatif %>































































  </p>































































































































  <p>































































    <strong>Nom suite:</strong>































































    <%= personnages_de_jeux_video.nom_suite %>































































  </p>































































































































  <p>































































    <strong>Nom original:</strong>































































    <%= personnages_de_jeux_video.nom_original %>































































  </p>































































































































  <p>































































    <strong>Personnages de jeux videos jv:</strong>































































    <%= personnages_de_jeux_video._personnages_de_jeux_videos_jv_id %>































































  </p>































































































































  <p>































































    <strong>Personnages de jeux videos jv:</strong>































































    <%= personnages_de_jeux_video._personnages_de_jeux_videos_jv_id %>































































  </p>































































































































  <p>































































    <strong>Jouable:</strong>































































    <%= personnages_de_jeux_video.jouable %>































































  </p>































































































































  <p>































































    <strong>Jouable:</strong>































































    <%= personnages_de_jeux_video.jouable %>































































  </p>































































































































  <p>































































    <strong>Muet:</strong>































































    <%= personnages_de_jeux_video.muet %>































































  </p>































































































































  <p>































































    <strong>Personnages de jeux videos doubleur pays:</strong>































































    <%= personnages_de_jeux_video._personnages_de_jeux_videos_doubleur_pays_id %>































































  </p>































































































































  <p>































































    <strong>Personnages de jeux videos doubleur people:</strong>































































    <%= personnages_de_jeux_video._personnages_de_jeux_videos_doubleur_people_id %>































































  </p>































































































































  <p>































































    <strong>:</strong>































































    <%= personnages_de_jeux_video. %>































































  </p>































































































































  <p>































































    <strong>Personnages de jeux videos doubleur role:</strong>































































    <%= personnages_de_jeux_video._personnages_de_jeux_videos_doubleur_role_id %>































































  </p>































































































































  <p>































































    <strong>Personnages de jeux videos doubleur pays:</strong>































































    <%= personnages_de_jeux_video._personnages_de_jeux_videos_doubleur_pays_id %>































































  </p>































































































































  <p>































































    <strong>Personnages de jeux videos doubleur people:</strong>































































    <%= personnages_de_jeux_video._personnages_de_jeux_videos_doubleur_people_id %>































































  </p>































































































































  <p>































































    <strong>:</strong>































































    <%= personnages_de_jeux_video. %>































































  </p>































































































































  <p>































































    <strong>Personnages de jeux videos doubleur role:</strong>































































    <%= personnages_de_jeux_video._personnages_de_jeux_videos_doubleur_role_id %>































































  </p>































































































































  <p>































































    <strong>Personnages de jeux videos jv perso:</strong>































































    <%= personnages_de_jeux_video._personnages_de_jeux_videos_jv_perso_id %>































































  </p>































































































































  <p>































































    <strong>Personnages de jeux videos perso:</strong>































































    <%= personnages_de_jeux_video._personnages_de_jeux_videos_perso_id %>































































  </p>































































































































  <p>































































    <strong>Personnages de jeux videos perso plus:</strong>































































    <%= personnages_de_jeux_video._personnages_de_jeux_videos_perso_plus_id %>































































  </p>































































































































  <p>































































    <strong>Personnages de jeux videos perso manga:</strong>































































    <%= personnages_de_jeux_video._personnages_de_jeux_videos_perso_manga_id %>































































  </p>































































































































  <p>































































    <strong>Personnages de jeux videos goodies:</strong>































































    <%= personnages_de_jeux_video._personnages_de_jeux_videos_goodies_id %>































































  </p>































































































































  <p>































































    <strong>Image:</strong>































































    <%= personnages_de_jeux_video.image %>































































  </p>































































































































  <p>































































    <strong>Description:</strong>































































    <%= personnages_de_jeux_video.description %>































































  </p>































































































































  <p>































































    <strong>Comment:</strong>































































    <%= personnages_de_jeux_video.comment %>































































  </p>































































































































  <p>































































    <strong>Statut prop:</strong>































































    <%= personnages_de_jeux_video.statut_prop %>































































  </p>































































































































  <p>































































    <strong>Statut prop:</strong>































































    <%= personnages_de_jeux_video.statut_prop %>































































  </p>































































































































  <p>































































    <strong>Acceptregles:</strong>































































    <%= personnages_de_jeux_video.acceptregles %>































































  </p>































































































































</div>
