<p style="color: green"><%= notice %></p>































































































































<%= render @_mangas_drama_plu %>































































































































<div>































































  <%= link_to "Edit this mangas drama plu", edit_mangas_drama_plu_path(@_mangas_drama_plu) %> |































































  <%= link_to "Back to mangas drama plus", mangas_drama_plus_path %>































































































































  <%= button_to "Destroy this mangas drama plu", @_mangas_drama_plu, method: :delete %>































































</div>
