<p style="color: green"><%= notice %></p>































































































































<%= render @_mangas_sondage %>































































































































<div>































































  <%= link_to "Edit this mangas sondage", edit_mangas_sondage_path(@_mangas_sondage) %> |































































  <%= link_to "Back to mangas sondages", mangas_sondages_path %>































































































































  <%= button_to "Destroy this mangas sondage", @_mangas_sondage, method: :delete %>































































</div>
