<p style="color: green"><%= notice %></p>

<%= render @_personnages_de_jeux_videos_perso %>

<div>
  <%= link_to "Edit this personnages de jeux videos perso", edit__personnages_de_jeux_videos_perso_path(@_personnages_de_jeux_videos_perso) %> |
  <%= link_to "Back to personnages de jeux videos persos", _personnages_de_jeux_videos_persos_path %>

  <%= button_to "Destroy this personnages de jeux videos perso", @_personnages_de_jeux_videos_perso, method: :delete %>
</div>
