<p style="color: green"><%= notice %></p>































































































































<%= render @_jeux_videos_ln_plu %>































































































































<div>































































  <%= link_to "Edit this jeux videos ln plu", edit_jeux_videos_ln_plu_path(@_jeux_videos_ln_plu) %> |































































  <%= link_to "Back to jeux videos ln plus", jeux_videos_ln_plus_path %>































































































































  <%= button_to "Destroy this jeux videos ln plu", @_jeux_videos_ln_plu, method: :delete %>































































</div>
