<p style="color: green"><%= notice %></p>

<%= render @_dramas_actualite %>

<div>
  <%= link_to "Edit this dramas actualite", edit__dramas_actualite_path(@_dramas_actualite) %> |
  <%= link_to "Back to dramas actualites", _dramas_actualites_path %>

  <%= button_to "Destroy this dramas actualite", @_dramas_actualite, method: :delete %>
</div>
