<%= form_with(model: artbooks_culture) do |form| %>
  <% if artbooks_culture.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(artbooks_culture.errors.count, "error") %> prohibited this artbooks_culture from being saved:</h2>

      <ul>
        <% artbooks_culture.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
