<p style="color: green"><%= notice %></p>































































































































<%= render @_dramas_acteur %>































































































































<div>































































  <%= link_to "Edit this dramas acteur", edit_dramas_acteur_path(@_dramas_acteur) %> |































































  <%= link_to "Back to dramas acteurs", dramas_acteurs_path %>































































































































  <%= button_to "Destroy this dramas acteur", @_dramas_acteur, method: :delete %>































































</div>
