<p style="color: green"><%= notice %></p>















<%= render @_dvd___blu_rays_anime %>















<div>







  <%= link_to "Edit this blu rays anime", edit_dvd___blu_rays_anime_path(@_dvd___blu_rays_anime) %> |







  <%= link_to "Back to blu rays animes", dvd___blu_rays_animes_path %>















  <%= button_to "Destroy this blu rays anime", @_dvd___blu_rays_anime, method: :delete %>







</div>
