<p style="color: green"><%= notice %></p>































































































































<%= render @artbooks_societe_role %>































































































































<div>































































  <%= link_to "Edit this artbooks societe role", edit_artbooks_societe_role_path(@artbooks_societe_role) %> |































































  <%= link_to "Back to artbooks societe roles", artbooks_societe_roles_path %>































































































































  <%= button_to "Destroy this artbooks societe role", @artbooks_societe_role, method: :delete %>































































</div>
