<p style="color: green"><%= notice %></p>

<%= render @animes_culture %>

<div>
  <%= link_to "Edit this animes culture", edit_animes_culture_path(@animes_culture) %> |
  <%= link_to "Back to animes cultures", animes_cultures_path %>

  <%= button_to "Destroy this animes culture", @animes_culture, method: :delete %>
</div>
