<p style="color: green"><%= notice %></p>































































































































<%= render @_jeux_videos_cd %>































































































































<div>































































  <%= link_to "Edit this jeux videos cd", edit_jeux_videos_cd_path(@_jeux_videos_cd) %> |































































  <%= link_to "Back to jeux videos cds", jeux_videos_cds_path %>































































































































  <%= button_to "Destroy this jeux videos cd", @_jeux_videos_cd, method: :delete %>































































</div>
