<p style="color: green"><%= notice %></p>

<%= render @_clips___lives___bonus___concerts_person %>

<div>
  <%= link_to "Edit this concerts person", edit__clips___lives___bonus___concerts_person_path(@_clips___lives___bonus___concerts_person) %> |
  <%= link_to "Back to concerts people", _clips___lives___bonus___concerts_people_path %>

  <%= button_to "Destroy this concerts person", @_clips___lives___bonus___concerts_person, method: :delete %>
</div>
