<p style="color: green"><%= notice %></p>































































































































<%= render @_goodies_artbook %>































































































































<div>































































  <%= link_to "Edit this goodies artbook", edit_goodies_artbook_path(@_goodies_artbook) %> |































































  <%= link_to "Back to goodies artbooks", goodies_artbooks_path %>































































































































  <%= button_to "Destroy this goodies artbook", @_goodies_artbook, method: :delete %>































































</div>
