<p style="color: green"><%= notice %></p>

<%= render @_photobooks_bonu %>

<div>
  <%= link_to "Edit this photobooks bonu", edit__photobooks_bonu_path(@_photobooks_bonu) %> |
  <%= link_to "Back to photobooks bonus", _photobooks_bonus_path %>

  <%= button_to "Destroy this photobooks bonu", @_photobooks_bonu, method: :delete %>
</div>
