<div id="<%= dom_id _recette %>">
  <p>
    <strong>Nom:</strong>
    <%= _recette.nom %>
  </p>

  <p>
    <strong>Recettes type:</strong>
    <%= _recette._recettes_type_id %>
  </p>

  <p>
    <strong>Image:</strong>
    <%= _recette.image %>
  </p>

  <p>
    <strong>Preparation:</strong>
    <%= _recette.preparation %>
  </p>

  <p>
    <strong>Cuisson:</strong>
    <%= _recette.cuisson %>
  </p>

  <p>
    <strong>Nb pers:</strong>
    <%= _recette.nb_pers %>
  </p>

  <p>
    <strong>Recettes plat:</strong>
    <%= _recette._recettes_plat_id %>
  </p>

  <p>
    <strong>Recettes difficulte:</strong>
    <%= _recette._recettes_difficulte_id %>
  </p>

  <p>
    <strong>Ingredients:</strong>
    <%= _recette.ingredients %>
  </p>

  <p>
    <strong>Texte:</strong>
    <%= _recette.texte %>
  </p>

  <p>
    <strong>Source:</strong>
    <%= _recette.source %>
  </p>

  <p>
    <strong>Comment:</strong>
    <%= _recette.comment %>
  </p>

  <p>
    <strong>Acceptregles:</strong>
    <%= _recette.acceptregles %>
  </p>

</div>
