<%= form_with(model: _films_asiatiques_en_salle) do |form| %>
  <% if _films_asiatiques_en_salle.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(_films_asiatiques_en_salle.errors.count, "error") %> prohibited this _films_asiatiques_en_salle from being saved:</h2>

      <ul>
        <% _films_asiatiques_en_salle.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :titre, style: "display: block" %>
    <%= form.text_field :titre %>
  </div>

  <div>
    <%= form.label :titre_original, style: "display: block" %>
    <%= form.text_field :titre_original %>
  </div>

  <div>
    <%= form.label :_films_asiatiques_en_salles_pays_id, style: "display: block" %>
    <%= form.number_field :_films_asiatiques_en_salles_pays_id %>
  </div>

  <div>
    <%= form.label :, style: "display: block" %>
    <%= form.text_field : %>
  </div>

  <div>
    <%= form.label :_films_asiatiques_en_salles_langue_id, style: "display: block" %>
    <%= form.number_field :_films_asiatiques_en_salles_langue_id %>
  </div>

  <div>
    <%= form.label :_films_asiatiques_en_salles_pays_id, style: "display: block" %>
    <%= form.number_field :_films_asiatiques_en_salles_pays_id %>
  </div>

  <div>
    <%= form.label :, style: "display: block" %>
    <%= form.text_field : %>
  </div>

  <div>
    <%= form.label :_films_asiatiques_en_salles_langue_id, style: "display: block" %>
    <%= form.number_field :_films_asiatiques_en_salles_langue_id %>
  </div>

  <div>
    <%= form.label :image, style: "display: block" %>
    <%= form.text_field :image %>
  </div>

  <div>
    <%= form.label :annee, style: "display: block" %>
    <%= form.text_field :annee %>
  </div>

  <div>
    <%= form.label :_films_asiatiques_en_salles_pays_origine_id, style: "display: block" %>
    <%= form.number_field :_films_asiatiques_en_salles_pays_origine_id %>
  </div>

  <div>
    <%= form.label :_films_asiatiques_en_salles_pays_origine_id, style: "display: block" %>
    <%= form.number_field :_films_asiatiques_en_salles_pays_origine_id %>
  </div>

  <div>
    <%= form.label :duree, style: "display: block" %>
    <%= form.text_field :duree %>
  </div>

  <div>
    <%= form.label :age, style: "display: block" %>
    <%= form.text_field :age %>
  </div>

  <div>
    <%= form.label :_films_asiatiques_en_salles_genres_id, style: "display: block" %>
    <%= form.number_field :_films_asiatiques_en_salles_genres_id %>
  </div>

  <div>
    <%= form.label :_films_asiatiques_en_salles_genres_id, style: "display: block" %>
    <%= form.number_field :_films_asiatiques_en_salles_genres_id %>
  </div>

  <div>
    <%= form.label :youtube, style: "display: block" %>
    <%= form.text_field :youtube %>
  </div>

  <div>
    <%= form.label :site, style: "display: block" %>
    <%= form.text_field :site %>
  </div>

  <div>
    <%= form.label :site2, style: "display: block" %>
    <%= form.text_field :site2 %>
  </div>

  <div>
    <%= form.label :_films_asiatiques_en_salles_staff_role_id, style: "display: block" %>
    <%= form.number_field :_films_asiatiques_en_salles_staff_role_id %>
  </div>

  <div>
    <%= form.label :_films_asiatiques_en_salles_staff_people_id, style: "display: block" %>
    <%= form.number_field :_films_asiatiques_en_salles_staff_people_id %>
  </div>

  <div>
    <%= form.label :_films_asiatiques_en_salles_staff_role_id, style: "display: block" %>
    <%= form.number_field :_films_asiatiques_en_salles_staff_role_id %>
  </div>

  <div>
    <%= form.label :_films_asiatiques_en_salles_staff_people_id, style: "display: block" %>
    <%= form.number_field :_films_asiatiques_en_salles_staff_people_id %>
  </div>

  <div>
    <%= form.label :_films_asiatiques_en_salles_type_id, style: "display: block" %>
    <%= form.number_field :_films_asiatiques_en_salles_type_id %>
  </div>

  <div>
    <%= form.label :_films_asiatiques_en_salles_acteurs_id, style: "display: block" %>
    <%= form.number_field :_films_asiatiques_en_salles_acteurs_id %>
  </div>

  <div>
    <%= form.label :_films_asiatiques_en_salles_type_id, style: "display: block" %>
    <%= form.number_field :_films_asiatiques_en_salles_type_id %>
  </div>

  <div>
    <%= form.label :_films_asiatiques_en_salles_acteurs_id, style: "display: block" %>
    <%= form.number_field :_films_asiatiques_en_salles_acteurs_id %>
  </div>

  <div>
    <%= form.label :_films_asiatiques_en_salles_anime_id, style: "display: block" %>
    <%= form.number_field :_films_asiatiques_en_salles_anime_id %>
  </div>

  <div>
    <%= form.label :_films_asiatiques_en_salles_am_id, style: "display: block" %>
    <%= form.number_field :_films_asiatiques_en_salles_am_id %>
  </div>

  <div>
    <%= form.label :_films_asiatiques_en_salles_drama_id, style: "display: block" %>
    <%= form.number_field :_films_asiatiques_en_salles_drama_id %>
  </div>

  <div>
    <%= form.label :_films_asiatiques_en_salles_actualite_id, style: "display: block" %>
    <%= form.number_field :_films_asiatiques_en_salles_actualite_id %>
  </div>

  <div>
    <%= form.label :_films_asiatiques_en_salles_actualite_mini_id, style: "display: block" %>
    <%= form.number_field :_films_asiatiques_en_salles_actualite_mini_id %>
  </div>

  <div>
    <%= form.label :synopsis, style: "display: block" %>
    <%= form.text_area :synopsis %>
  </div>

  <div>
    <%= form.label :recompense, style: "display: block" %>
    <%= form.text_area :recompense %>
  </div>

  <div>
    <%= form.label :comment, style: "display: block" %>
    <%= form.text_area :comment %>
  </div>

  <div>
    <%= form.label :acceptregles, style: "display: block" %>
    <%= form.text_field :acceptregles %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
