<p style="color: green"><%= notice %></p>































































































































<%= render @_films_asiatiques_en_salle %>































































































































<div>































































  <%= link_to "Edit this films asiatiques en salle", edit_films_asiatiques_en_salle_path(@_films_asiatiques_en_salle) %> |































































  <%= link_to "Back to films asiatiques en salles", films_asiatiques_en_salles_path %>































































































































  <%= button_to "Destroy this films asiatiques en salle", @_films_asiatiques_en_salle, method: :delete %>































































</div>
