<p style="color: green"><%= notice %></p>

<%= render @_mangas_am_plu %>

<div>
  <%= link_to "Edit this mangas am plu", edit__mangas_am_plu_path(@_mangas_am_plu) %> |
  <%= link_to "Back to mangas am plus", _mangas_am_plus_path %>

  <%= button_to "Destroy this mangas am plu", @_mangas_am_plu, method: :delete %>
</div>
