<p style="color: green"><%= notice %></p>

<%= render @_livres_public_averti %>

<div>
  <%= link_to "Edit this livres public averti", edit__livres_public_averti_path(@_livres_public_averti) %> |
  <%= link_to "Back to livres public avertis", _livres_public_avertis_path %>

  <%= button_to "Destroy this livres public averti", @_livres_public_averti, method: :delete %>
</div>
