<div id="<%= dom_id _doujinshi %>">
  <p>
    <strong>Doujinshis france:</strong>
    <%= _doujinshi._doujinshis_france_id %>
  </p>

  <p>
    <strong>Titre:</strong>
    <%= _doujinshi.titre %>
  </p>

  <p>
    <strong>Titre alternatif:</strong>
    <%= _doujinshi.titre_alternatif %>
  </p>

  <p>
    <strong>Titre alternatif suite:</strong>
    <%= _doujinshi.titre_alternatif_suite %>
  </p>

  <p>
    <strong>Titre original latin:</strong>
    <%= _doujinshi.titre_original_latin %>
  </p>

  <p>
    <strong>Titre original:</strong>
    <%= _doujinshi.titre_original %>
  </p>

  <p>
    <strong>Image:</strong>
    <%= _doujinshi.image %>
  </p>

  <p>
    <strong>Image vo:</strong>
    <%= _doujinshi.image_vo %>
  </p>

  <p>
    <strong>Doujinshis origine:</strong>
    <%= _doujinshi._doujinshis_origine_id %>
  </p>

  <p>
    <strong>Doujinshis pays:</strong>
    <%= _doujinshi._doujinshis_pays_id %>
  </p>

  <p>
    <strong>Doujinshis pays:</strong>
    <%= _doujinshi._doujinshis_pays_id %>
  </p>

  <p>
    <strong>Doujinshis type:</strong>
    <%= _doujinshi._doujinshis_type_id %>
  </p>

  <p>
    <strong>Numerique:</strong>
    <%= _doujinshi.numerique %>
  </p>

  <p>
    <strong>Doujinshis genres:</strong>
    <%= _doujinshi._doujinshis_genres_id %>
  </p>

  <p>
    <strong>Doujinshis genres:</strong>
    <%= _doujinshi._doujinshis_genres_id %>
  </p>

  <p>
    <strong>Doujinshis themes:</strong>
    <%= _doujinshi._doujinshis_themes_id %>
  </p>

  <p>
    <strong>Doujinshis themes:</strong>
    <%= _doujinshi._doujinshis_themes_id %>
  </p>

  <p>
    <strong>Doujinshis genres averti:</strong>
    <%= _doujinshi._doujinshis_genres_averti_id %>
  </p>

  <p>
    <strong>Doujinshis genres averti:</strong>
    <%= _doujinshi._doujinshis_genres_averti_id %>
  </p>

  <p>
    <strong>Date parution vo jj:</strong>
    <%= _doujinshi.date_parution_vo_jj %>
  </p>

  <p>
    <strong>Date parution vo mm:</strong>
    <%= _doujinshi.date_parution_vo_mm %>
  </p>

  <p>
    <strong>Date parution vo aaaa:</strong>
    <%= _doujinshi.date_parution_vo_aaaa %>
  </p>

  <p>
    <strong>Date parution vf jj:</strong>
    <%= _doujinshi.date_parution_vf_jj %>
  </p>

  <p>
    <strong>Date parution vf mm:</strong>
    <%= _doujinshi.date_parution_vf_mm %>
  </p>

  <p>
    <strong>Date parution vf aaaa:</strong>
    <%= _doujinshi.date_parution_vf_aaaa %>
  </p>

  <p>
    <strong>Nb page:</strong>
    <%= _doujinshi.nb_page %>
  </p>

  <p>
    <strong>Doujinshis conventions:</strong>
    <%= _doujinshi._doujinshis_conventions_id %>
  </p>

  <p>
    <strong>Doujinshis conventions:</strong>
    <%= _doujinshi._doujinshis_conventions_id %>
  </p>

  <p>
    <strong>Doujinshis role:</strong>
    <%= _doujinshi._doujinshis_role_id %>
  </p>

  <p>
    <strong>Doujinshis staff people:</strong>
    <%= _doujinshi._doujinshis_staff_people_id %>
  </p>

  <p>
    <strong>Doujinshis role:</strong>
    <%= _doujinshi._doujinshis_role_id %>
  </p>

  <p>
    <strong>Doujinshis staff people:</strong>
    <%= _doujinshi._doujinshis_staff_people_id %>
  </p>

  <p>
    <strong>Staff txt:</strong>
    <%= _doujinshi.staff_txt %>
  </p>

  <p>
    <strong>Doujinshis public averti:</strong>
    <%= _doujinshi._doujinshis_public_averti_id %>
  </p>

  <p>
    <strong>Doujinshis censure:</strong>
    <%= _doujinshi._doujinshis_censure_id %>
  </p>

  <p>
    <strong>Tags:</strong>
    <%= _doujinshi.tags %>
  </p>

  <p>
    <strong>Prix:</strong>
    <%= _doujinshi.prix %>
  </p>

  <p>
    <strong>Doujinshis gratuit:</strong>
    <%= _doujinshi._doujinshis_gratuit_id %>
  </p>

  <p>
    <strong>Lien achat:</strong>
    <%= _doujinshi.lien_achat %>
  </p>

  <p>
    <strong>Infos:</strong>
    <%= _doujinshi.infos %>
  </p>

  <p>
    <strong>Resume:</strong>
    <%= _doujinshi.resume %>
  </p>

  <p>
    <strong>Doujinshis groupes:</strong>
    <%= _doujinshi._doujinshis_groupes_id %>
  </p>

  <p>
    <strong>Doujinshis anime:</strong>
    <%= _doujinshi._doujinshis_anime_id %>
  </p>

  <p>
    <strong>Doujinshis anime plus:</strong>
    <%= _doujinshi._doujinshis_anime_plus_id %>
  </p>

  <p>
    <strong>Doujinshis manga:</strong>
    <%= _doujinshi._doujinshis_manga_id %>
  </p>

  <p>
    <strong>Doujinshis manga plus:</strong>
    <%= _doujinshi._doujinshis_manga_plus_id %>
  </p>

  <p>
    <strong>Doujinshis ln:</strong>
    <%= _doujinshi._doujinshis_ln_id %>
  </p>

  <p>
    <strong>Doujinshis ln plus:</strong>
    <%= _doujinshi._doujinshis_ln_plus_id %>
  </p>

  <p>
    <strong>Doujinshis doujinshi:</strong>
    <%= _doujinshi._doujinshis_doujinshi_id %>
  </p>

  <p>
    <strong>Doujinshis doujinshi plus:</strong>
    <%= _doujinshi._doujinshis_doujinshi_plus_id %>
  </p>

  <p>
    <strong>Doujinshis drama:</strong>
    <%= _doujinshi._doujinshis_drama_id %>
  </p>

  <p>
    <strong>Doujinshis drama plus:</strong>
    <%= _doujinshi._doujinshis_drama_plus_id %>
  </p>

  <p>
    <strong>Doujinshis jv:</strong>
    <%= _doujinshi._doujinshis_jv_id %>
  </p>

  <p>
    <strong>Doujinshis jv plus:</strong>
    <%= _doujinshi._doujinshis_jv_plus_id %>
  </p>

  <p>
    <strong>Doujinshis am:</strong>
    <%= _doujinshi._doujinshis_am_id %>
  </p>

  <p>
    <strong>Doujinshis am plus:</strong>
    <%= _doujinshi._doujinshis_am_plus_id %>
  </p>

  <p>
    <strong>Doujinshis litterature asiatique:</strong>
    <%= _doujinshi._doujinshis_litterature_asiatique_id %>
  </p>

  <p>
    <strong>Doujinshis litterature asiatique plus:</strong>
    <%= _doujinshi._doujinshis_litterature_asiatique_plus_id %>
  </p>

  <p>
    <strong>Doujinshis artbook:</strong>
    <%= _doujinshi._doujinshis_artbook_id %>
  </p>

  <p>
    <strong>Doujinshis actualite:</strong>
    <%= _doujinshi._doujinshis_actualite_id %>
  </p>

  <p>
    <strong>Doujinshis culture:</strong>
    <%= _doujinshi._doujinshis_culture_id %>
  </p>

  <p>
    <strong>Doujinshis actualite mini:</strong>
    <%= _doujinshi._doujinshis_actualite_mini_id %>
  </p>

  <p>
    <strong>Doujinshis perso:</strong>
    <%= _doujinshi._doujinshis_perso_id %>
  </p>

  <p>
    <strong>Doujinshis perso plus:</strong>
    <%= _doujinshi._doujinshis_perso_plus_id %>
  </p>

  <p>
    <strong>Doujinshis perso manga:</strong>
    <%= _doujinshi._doujinshis_perso_manga_id %>
  </p>

  <p>
    <strong>Doujinshis jv perso:</strong>
    <%= _doujinshi._doujinshis_jv_perso_id %>
  </p>

  <p>
    <strong>Doujinshis quizz:</strong>
    <%= _doujinshi._doujinshis_quizz_id %>
  </p>

  <p>
    <strong>Doujinshis people:</strong>
    <%= _doujinshi._doujinshis_people_id %>
  </p>

  <p>
    <strong>Comment:</strong>
    <%= _doujinshi.comment %>
  </p>

  <p>
    <strong>Statut prop:</strong>
    <%= _doujinshi.statut_prop %>
  </p>

  <p>
    <strong>Statut prop:</strong>
    <%= _doujinshi.statut_prop %>
  </p>

  <p>
    <strong>Acceptregles:</strong>
    <%= _doujinshi.acceptregles %>
  </p>

</div>
