<div id="<%= dom_id doujinshi %>">































































  <p>































































    <strong>Doujinshis france:</strong>































































    <%= doujinshi._doujinshis_france_id %>































































  </p>































































































































  <p>































































    <strong>Titre:</strong>































































    <%= doujinshi.titre %>































































  </p>































































































































  <p>































































    <strong>Titre alternatif:</strong>































































    <%= doujinshi.titre_alternatif %>































































  </p>































































































































  <p>































































    <strong>Titre alternatif suite:</strong>































































    <%= doujinshi.titre_alternatif_suite %>































































  </p>































































































































  <p>































































    <strong>Titre original latin:</strong>































































    <%= doujinshi.titre_original_latin %>































































  </p>































































































































  <p>































































    <strong>Titre original:</strong>































































    <%= doujinshi.titre_original %>































































  </p>































































































































  <p>































































    <strong>Image:</strong>































































    <%= doujinshi.image %>































































  </p>































































































































  <p>































































    <strong>Image vo:</strong>































































    <%= doujinshi.image_vo %>































































  </p>































































































































  <p>































































    <strong>Doujinshis origine:</strong>































































    <%= doujinshi._doujinshis_origine_id %>































































  </p>































































































































  <p>































































    <strong>Doujinshis pays:</strong>































































    <%= doujinshi._doujinshis_pays_id %>































































  </p>































































































































  <p>































































    <strong>Doujinshis pays:</strong>































































    <%= doujinshi._doujinshis_pays_id %>































































  </p>































































































































  <p>































































    <strong>Doujinshis type:</strong>































































    <%= doujinshi._doujinshis_type_id %>































































  </p>































































































































  <p>































































    <strong>Numerique:</strong>































































    <%= doujinshi.numerique %>































































  </p>































































































































  <p>































































    <strong>Doujinshis genres:</strong>































































    <%= doujinshi._doujinshis_genres_id %>































































  </p>































































































































  <p>































































    <strong>Doujinshis genres:</strong>































































    <%= doujinshi._doujinshis_genres_id %>































































  </p>































































































































  <p>































































    <strong>Doujinshis themes:</strong>































































    <%= doujinshi._doujinshis_themes_id %>































































  </p>































































































































  <p>































































    <strong>Doujinshis themes:</strong>































































    <%= doujinshi._doujinshis_themes_id %>































































  </p>































































































































  <p>































































    <strong>Doujinshis genres averti:</strong>































































    <%= doujinshi._doujinshis_genres_averti_id %>































































  </p>































































































































  <p>































































    <strong>Doujinshis genres averti:</strong>































































    <%= doujinshi._doujinshis_genres_averti_id %>































































  </p>































































































































  <p>































































    <strong>Date parution vo jj:</strong>































































    <%= doujinshi.date_parution_vo_jj %>































































  </p>































































































































  <p>































































    <strong>Date parution vo mm:</strong>































































    <%= doujinshi.date_parution_vo_mm %>































































  </p>































































































































  <p>































































    <strong>Date parution vo aaaa:</strong>































































    <%= doujinshi.date_parution_vo_aaaa %>































































  </p>































































































































  <p>































































    <strong>Date parution vf jj:</strong>































































    <%= doujinshi.date_parution_vf_jj %>































































  </p>































































































































  <p>































































    <strong>Date parution vf mm:</strong>































































    <%= doujinshi.date_parution_vf_mm %>































































  </p>































































































































  <p>































































    <strong>Date parution vf aaaa:</strong>































































    <%= doujinshi.date_parution_vf_aaaa %>































































  </p>































































































































  <p>































































    <strong>Nb page:</strong>































































    <%= doujinshi.nb_page %>































































  </p>































































































































  <p>































































    <strong>Doujinshis conventions:</strong>































































    <%= doujinshi._doujinshis_conventions_id %>































































  </p>































































































































  <p>































































    <strong>Doujinshis conventions:</strong>































































    <%= doujinshi._doujinshis_conventions_id %>































































  </p>































































































































  <p>































































    <strong>Doujinshis role:</strong>































































    <%= doujinshi._doujinshis_role_id %>































































  </p>































































































































  <p>































































    <strong>Doujinshis staff people:</strong>































































    <%= doujinshi._doujinshis_staff_people_id %>































































  </p>































































































































  <p>































































    <strong>Doujinshis role:</strong>































































    <%= doujinshi._doujinshis_role_id %>































































  </p>































































































































  <p>































































    <strong>Doujinshis staff people:</strong>































































    <%= doujinshi._doujinshis_staff_people_id %>































































  </p>































































































































  <p>































































    <strong>Staff txt:</strong>































































    <%= doujinshi.staff_txt %>































































  </p>































































































































  <p>































































    <strong>Doujinshis public averti:</strong>































































    <%= doujinshi._doujinshis_public_averti_id %>































































  </p>































































































































  <p>































































    <strong>Doujinshis censure:</strong>































































    <%= doujinshi._doujinshis_censure_id %>































































  </p>































































































































  <p>































































    <strong>Tags:</strong>































































    <%= doujinshi.tags %>































































  </p>































































































































  <p>































































    <strong>Prix:</strong>































































    <%= doujinshi.prix %>































































  </p>































































































































  <p>































































    <strong>Doujinshis gratuit:</strong>































































    <%= doujinshi._doujinshis_gratuit_id %>































































  </p>































































































































  <p>































































    <strong>Lien achat:</strong>































































    <%= doujinshi.lien_achat %>































































  </p>































































































































  <p>































































    <strong>Infos:</strong>































































    <%= doujinshi.infos %>































































  </p>































































































































  <p>































































    <strong>Resume:</strong>































































    <%= doujinshi.resume %>































































  </p>































































































































  <p>































































    <strong>Doujinshis groupes:</strong>































































    <%= doujinshi._doujinshis_groupes_id %>































































  </p>































































































































  <p>































































    <strong>Doujinshis anime:</strong>































































    <%= doujinshi._doujinshis_anime_id %>































































  </p>































































































































  <p>































































    <strong>Doujinshis anime plus:</strong>































































    <%= doujinshi._doujinshis_anime_plus_id %>































































  </p>































































































































  <p>































































    <strong>Doujinshis manga:</strong>































































    <%= doujinshi._doujinshis_manga_id %>































































  </p>































































































































  <p>































































    <strong>Doujinshis manga plus:</strong>































































    <%= doujinshi._doujinshis_manga_plus_id %>































































  </p>































































































































  <p>































































    <strong>Doujinshis ln:</strong>































































    <%= doujinshi._doujinshis_ln_id %>































































  </p>































































































































  <p>































































    <strong>Doujinshis ln plus:</strong>































































    <%= doujinshi._doujinshis_ln_plus_id %>































































  </p>































































































































  <p>































































    <strong>Doujinshis doujinshi:</strong>































































    <%= doujinshi._doujinshis_doujinshi_id %>































































  </p>































































































































  <p>































































    <strong>Doujinshis doujinshi plus:</strong>































































    <%= doujinshi._doujinshis_doujinshi_plus_id %>































































  </p>































































































































  <p>































































    <strong>Doujinshis drama:</strong>































































    <%= doujinshi._doujinshis_drama_id %>































































  </p>































































































































  <p>































































    <strong>Doujinshis drama plus:</strong>































































    <%= doujinshi._doujinshis_drama_plus_id %>































































  </p>































































































































  <p>































































    <strong>Doujinshis jv:</strong>































































    <%= doujinshi._doujinshis_jv_id %>































































  </p>































































































































  <p>































































    <strong>Doujinshis jv plus:</strong>































































    <%= doujinshi._doujinshis_jv_plus_id %>































































  </p>































































































































  <p>































































    <strong>Doujinshis am:</strong>































































    <%= doujinshi._doujinshis_am_id %>































































  </p>































































































































  <p>































































    <strong>Doujinshis am plus:</strong>































































    <%= doujinshi._doujinshis_am_plus_id %>































































  </p>































































































































  <p>































































    <strong>Doujinshis litterature asiatique:</strong>































































    <%= doujinshi._doujinshis_litterature_asiatique_id %>































































  </p>































































































































  <p>































































    <strong>Doujinshis litterature asiatique plus:</strong>































































    <%= doujinshi._doujinshis_litterature_asiatique_plus_id %>































































  </p>































































































































  <p>































































    <strong>Doujinshis artbook:</strong>































































    <%= doujinshi._doujinshis_artbook_id %>































































  </p>































































































































  <p>































































    <strong>Doujinshis actualite:</strong>































































    <%= doujinshi._doujinshis_actualite_id %>































































  </p>































































































































  <p>































































    <strong>Doujinshis culture:</strong>































































    <%= doujinshi._doujinshis_culture_id %>































































  </p>































































































































  <p>































































    <strong>Doujinshis actualite mini:</strong>































































    <%= doujinshi._doujinshis_actualite_mini_id %>































































  </p>































































































































  <p>































































    <strong>Doujinshis perso:</strong>































































    <%= doujinshi._doujinshis_perso_id %>































































  </p>































































































































  <p>































































    <strong>Doujinshis perso plus:</strong>































































    <%= doujinshi._doujinshis_perso_plus_id %>































































  </p>































































































































  <p>































































    <strong>Doujinshis perso manga:</strong>































































    <%= doujinshi._doujinshis_perso_manga_id %>































































  </p>































































































































  <p>































































    <strong>Doujinshis jv perso:</strong>































































    <%= doujinshi._doujinshis_jv_perso_id %>































































  </p>































































































































  <p>































































    <strong>Doujinshis quizz:</strong>































































    <%= doujinshi._doujinshis_quizz_id %>































































  </p>































































































































  <p>































































    <strong>Doujinshis people:</strong>































































    <%= doujinshi._doujinshis_people_id %>































































  </p>































































































































  <p>































































    <strong>Comment:</strong>































































    <%= doujinshi.comment %>































































  </p>































































































































  <p>































































    <strong>Statut prop:</strong>































































    <%= doujinshi.statut_prop %>































































  </p>































































































































  <p>































































    <strong>Statut prop:</strong>































































    <%= doujinshi.statut_prop %>































































  </p>































































































































  <p>































































    <strong>Acceptregles:</strong>































































    <%= doujinshi.acceptregles %>































































  </p>































































































































</div>
