<p style="color: green"><%= notice %></p>

<%= render @_doujinshi %>

<div>
  <%= link_to "Edit this doujinshi", edit__doujinshi_path(@_doujinshi) %> |
  <%= link_to "Back to doujinshis", _doujinshis_path %>

  <%= button_to "Destroy this doujinshi", @_doujinshi, method: :delete %>
</div>
