<p style="color: green"><%= notice %></p>































































































































<%= render @_films_asiatiques_societe_person %>































































































































<div>































































  <%= link_to "Edit this films asiatiques societe person", edit_films_asiatiques_societe_person_path(@_films_asiatiques_societe_person) %> |































































  <%= link_to "Back to films asiatiques societe people", films_asiatiques_societe_people_path %>































































































































  <%= button_to "Destroy this films asiatiques societe person", @_films_asiatiques_societe_person, method: :delete %>































































</div>
