<p style="color: green"><%= notice %></p>

<%= render @_goodies_person %>

<div>
  <%= link_to "Edit this goodies person", edit__goodies_person_path(@_goodies_person) %> |
  <%= link_to "Back to goodies people", _goodies_people_path %>

  <%= button_to "Destroy this goodies person", @_goodies_person, method: :delete %>
</div>
