<p style="color: green"><%= notice %></p>

<%= render @animes_topic %>

<div>
  <%= link_to "Edit this animes topic", edit_animes_topic_path(@animes_topic) %> |
  <%= link_to "Back to animes topics", animes_topics_path %>

  <%= button_to "Destroy this animes topic", @animes_topic, method: :delete %>
</div>
