<p style="color: green"><%= notice %></p>































































































































<%= render @_breves_jv %>































































































































<div>































































  <%= link_to "Edit this breves jv", edit_breves_jv_path(@_breves_jv) %> |































































  <%= link_to "Back to breves jvs", breves_jvs_path %>































































































































  <%= button_to "Destroy this breves jv", @_breves_jv, method: :delete %>































































</div>
