<p style="color: green"><%= notice %></p>































































































































<%= render @_fiche_univers_litterature_asiatique %>































































































































<div>































































  <%= link_to "Edit this fiche univers litterature asiatique", edit_fiche_univers_litterature_asiatique_path(@_fiche_univers_litterature_asiatique) %> |































































  <%= link_to "Back to fiche univers litterature asiatiques", fiche_univers_litterature_asiatiques_path %>































































































































  <%= button_to "Destroy this fiche univers litterature asiatique", @_fiche_univers_litterature_asiatique, method: :delete %>































































</div>
