<p style="color: green"><%= notice %></p>































































































































<%= render @_films_asiatiques_groupe %>































































































































<div>































































  <%= link_to "Edit this films asiatiques groupe", edit_films_asiatiques_groupe_path(@_films_asiatiques_groupe) %> |































































  <%= link_to "Back to films asiatiques groupes", films_asiatiques_groupes_path %>































































































































  <%= button_to "Destroy this films asiatiques groupe", @_films_asiatiques_groupe, method: :delete %>































































</div>
