<div id="<%= dom_id artbook %>">































































  <p>































































    <strong>Artbooks france:</strong>































































    <%= artbook.artbooks_france_id %>































































  </p>































































































































  <p>































































    <strong>Artbooks pays:</strong>































































    <%= artbook.artbooks_pays_id %>































































  </p>































































































































  <p>































































    <strong>Titre:</strong>































































    <%= artbook.titre %>































































  </p>































































































































  <p>































































    <strong>Titre alternatif:</strong>































































    <%= artbook.titre_alternatif %>































































  </p>































































































































  <p>































































    <strong>Titre original latin:</strong>































































    <%= artbook.titre_original_latin %>































































  </p>































































































































  <p>































































    <strong>Titre original:</strong>































































    <%= artbook.titre_original %>































































  </p>































































































































  <p>































































    <strong>Image:</strong>































































    <%= artbook.image %>































































  </p>































































































































  <p>































































    <strong>Image vo:</strong>































































    <%= artbook.image_vo %>































































  </p>































































































































  <p>































































    <strong>Date parution vo jj:</strong>































































    <%= artbook.date_parution_vo_jj %>































































  </p>































































































































  <p>































































    <strong>Date parution vo mm:</strong>































































    <%= artbook.date_parution_vo_mm %>































































  </p>































































































































  <p>































































    <strong>Date parution vo aaaa:</strong>































































    <%= artbook.date_parution_vo_aaaa %>































































  </p>































































































































  <p>































































    <strong>Date parution vf jj:</strong>































































    <%= artbook.date_parution_vf_jj %>































































  </p>































































































































  <p>































































    <strong>Date parution vf mm:</strong>































































    <%= artbook.date_parution_vf_mm %>































































  </p>































































































































  <p>































































    <strong>Date parution vf aaaa:</strong>































































    <%= artbook.date_parution_vf_aaaa %>































































  </p>































































































































  <p>































































    <strong>Prix:</strong>































































    <%= artbook.prix %>































































  </p>































































































































  <p>































































    <strong>Ean:</strong>































































    <%= artbook.ean %>































































  </p>































































































































  <p>































































    <strong>Nb pages:</strong>































































    <%= artbook.nb_pages %>































































  </p>































































































































  <p>































































    <strong>Artbooks illustrations:</strong>































































    <%= artbook.artbooks_illustrations_id %>































































  </p>































































































































  <p>































































    <strong>Artbooks type:</strong>































































    <%= artbook.artbooks_type_id %>































































  </p>































































































































  <p>































































    <strong>Crossover:</strong>































































    <%= artbook.crossover %>































































  </p>































































































































  <p>































































    <strong>Artbooks editeurs vo:</strong>































































    <%= artbook.artbooks_editeurs_vo_id %>































































  </p>































































































































  <p>































































    <strong>Artbooks editeurs vo:</strong>































































    <%= artbook.artbooks_editeurs_vo_id %>































































  </p>































































































































  <p>































































    <strong>Artbooks editeurs vf:</strong>































































    <%= artbook.artbooks_editeurs_vf_id %>































































  </p>































































































































  <p>































































    <strong>Artbooks editeurs vf:</strong>































































    <%= artbook.artbooks_editeurs_vf_id %>































































  </p>































































































































  <p>































































    <strong>Artbooks role:</strong>































































    <%= artbook.artbooks_role_id %>































































  </p>































































































































  <p>































































    <strong>Artbooks people:</strong>































































    <%= artbook.artbooks_people_id %>































































  </p>































































































































  <p>































































    <strong>Artbooks role:</strong>































































    <%= artbook.artbooks_role_id %>































































  </p>































































































































  <p>































































    <strong>Artbooks people:</strong>































































    <%= artbook.artbooks_people_id %>































































  </p>































































































































  <p>































































    <strong>Artbooks societe role:</strong>































































    <%= artbook.artbooks_societe_role_id %>































































  </p>































































































































  <p>































































    <strong>Artbooks societe people:</strong>































































    <%= artbook.artbooks_societe_people_id %>































































  </p>































































































































  <p>































































    <strong>Artbooks societe role:</strong>































































    <%= artbook.artbooks_societe_role_id %>































































  </p>































































































































  <p>































































    <strong>Artbooks societe people:</strong>































































    <%= artbook.artbooks_societe_people_id %>































































  </p>































































































































  <p>































































    <strong>Resume:</strong>































































    <%= artbook.resume %>































































  </p>































































































































  <p>































































    <strong>Infos:</strong>































































    <%= artbook.infos %>































































  </p>































































































































  <p>































































    <strong>Artbooks public averti:</strong>































































    <%= artbook.artbooks_public_averti_id %>































































  </p>































































































































  <p>































































    <strong>Artbooks groupes:</strong>































































    <%= artbook.artbooks_groupes_id %>































































  </p>































































































































  <p>































































    <strong>Artbooks anime:</strong>































































    <%= artbook.artbooks_anime_id %>































































  </p>































































































































  <p>































































    <strong>Artbooks manga:</strong>































































    <%= artbook.artbooks_manga_id %>































































  </p>































































































































  <p>































































    <strong>Artbooks ln:</strong>































































    <%= artbook.artbooks_ln_id %>































































  </p>































































































































  <p>































































    <strong>Artbooks doujinshi:</strong>































































    <%= artbook.artbooks_doujinshi_id %>































































  </p>































































































































  <p>































































    <strong>Artbooks jv:</strong>































































    <%= artbook.artbooks_jv_id %>































































  </p>































































































































  <p>































































    <strong>Artbooks drama:</strong>































































    <%= artbook.artbooks_drama_id %>































































  </p>































































































































  <p>































































    <strong>Artbooks am:</strong>































































    <%= artbook.artbooks_am_id %>































































  </p>































































































































  <p>































































    <strong>Artbooks litterature asiatique:</strong>































































    <%= artbook.artbooks_litterature_asiatique_id %>































































  </p>































































































































  <p>































































    <strong>Artbooks artbook:</strong>































































    <%= artbook.artbooks_artbook_id %>































































  </p>































































































































  <p>































































    <strong>Artbooks goodies:</strong>































































    <%= artbook.artbooks_goodies_id %>































































  </p>































































































































  <p>































































    <strong>Artbooks doujin:</strong>































































    <%= artbook.artbooks_doujin_id %>































































  </p>































































































































  <p>































































    <strong>Artbooks actualite:</strong>































































    <%= artbook.artbooks_actualite_id %>































































  </p>































































































































  <p>































































    <strong>Artbooks actualite mini:</strong>































































    <%= artbook.artbooks_actualite_mini_id %>































































  </p>































































































































  <p>































































    <strong>Artbooks culture:</strong>































































    <%= artbook.artbooks_culture_id %>































































  </p>































































































































  <p>































































    <strong>Comment:</strong>































































    <%= artbook.comment %>































































  </p>































































































































  <p>































































    <strong>Statut prop:</strong>































































    <%= artbook.statut_prop %>































































  </p>































































































































  <p>































































    <strong>Statut prop:</strong>































































    <%= artbook.statut_prop %>































































  </p>































































































































  <p>































































    <strong>Acceptregles:</strong>































































    <%= artbook.acceptregles %>































































  </p>































































































































</div>
