<%= form_with(model: artbook) do |form| %>































































  <% if artbook.errors.any? %>































































    <div style="color: red">































































      <h2><%= pluralize(artbook.errors.count, "error") %> prohibited this artbook from being saved:</h2>































































































































      <ul>































































        <% artbook.errors.each do |error| %>































































          <li><%= error.full_message %></li>































































        <% end %>































































      </ul>































































    </div>































































  <% end %>































































































































  <div>































































    <%= form.label :artbooks_france_id, style: "display: block" %>































































    <%= form.number_field :artbooks_france_id %>































































  </div>































































































































  <div>































































    <%= form.label :artbooks_pays_id, style: "display: block" %>































































    <%= form.number_field :artbooks_pays_id %>































































  </div>































































































































  <div>































































    <%= form.label :titre, style: "display: block" %>































































    <%= form.text_field :titre %>































































  </div>































































































































  <div>































































    <%= form.label :titre_alternatif, style: "display: block" %>































































    <%= form.text_field :titre_alternatif %>































































  </div>































































































































  <div>































































    <%= form.label :titre_original_latin, style: "display: block" %>































































    <%= form.text_field :titre_original_latin %>































































  </div>































































































































  <div>































































    <%= form.label :titre_original, style: "display: block" %>































































    <%= form.text_field :titre_original %>































































  </div>































































































































  <div>































































    <%= form.label :image, style: "display: block" %>































































    <%= form.text_field :image %>































































  </div>































































































































  <div>































































    <%= form.label :image_vo, style: "display: block" %>































































    <%= form.text_field :image_vo %>































































  </div>































































































































  <div>































































    <%= form.label :date_parution_vo_jj, style: "display: block" %>































































    <%= form.text_field :date_parution_vo_jj %>































































  </div>































































































































  <div>































































    <%= form.label :date_parution_vo_mm, style: "display: block" %>































































    <%= form.text_field :date_parution_vo_mm %>































































  </div>































































































































  <div>































































    <%= form.label :date_parution_vo_aaaa, style: "display: block" %>































































    <%= form.text_field :date_parution_vo_aaaa %>































































  </div>































































































































  <div>































































    <%= form.label :date_parution_vf_jj, style: "display: block" %>































































    <%= form.text_field :date_parution_vf_jj %>































































  </div>































































































































  <div>































































    <%= form.label :date_parution_vf_mm, style: "display: block" %>































































    <%= form.text_field :date_parution_vf_mm %>































































  </div>































































































































  <div>































































    <%= form.label :date_parution_vf_aaaa, style: "display: block" %>































































    <%= form.text_field :date_parution_vf_aaaa %>































































  </div>































































































































  <div>































































    <%= form.label :prix, style: "display: block" %>































































    <%= form.text_field :prix %>































































  </div>































































































































  <div>































































    <%= form.label :ean, style: "display: block" %>































































    <%= form.text_field :ean %>































































  </div>































































































































  <div>































































    <%= form.label :nb_pages, style: "display: block" %>































































    <%= form.text_field :nb_pages %>































































  </div>































































































































  <div>































































    <%= form.label :artbooks_illustrations_id, style: "display: block" %>































































    <%= form.number_field :artbooks_illustrations_id %>































































  </div>































































































































  <div>































































    <%= form.label :artbooks_type_id, style: "display: block" %>































































    <%= form.number_field :artbooks_type_id %>































































  </div>































































































































  <div>































































    <%= form.label :crossover, style: "display: block" %>































































    <%= form.text_field :crossover %>































































  </div>































































































































  <div>































































    <%= form.label :artbooks_editeurs_vo_id, style: "display: block" %>































































    <%= form.number_field :artbooks_editeurs_vo_id %>































































  </div>































































































































  <div>































































    <%= form.label :artbooks_editeurs_vo_id, style: "display: block" %>































































    <%= form.number_field :artbooks_editeurs_vo_id %>































































  </div>































































































































  <div>































































    <%= form.label :artbooks_editeurs_vf_id, style: "display: block" %>































































    <%= form.number_field :artbooks_editeurs_vf_id %>































































  </div>































































































































  <div>































































    <%= form.label :artbooks_editeurs_vf_id, style: "display: block" %>































































    <%= form.number_field :artbooks_editeurs_vf_id %>































































  </div>































































































































  <div>































































    <%= form.label :artbooks_role_id, style: "display: block" %>































































    <%= form.number_field :artbooks_role_id %>































































  </div>































































































































  <div>































































    <%= form.label :artbooks_people_id, style: "display: block" %>































































    <%= form.number_field :artbooks_people_id %>































































  </div>































































































































  <div>































































    <%= form.label :artbooks_role_id, style: "display: block" %>































































    <%= form.number_field :artbooks_role_id %>































































  </div>































































































































  <div>































































    <%= form.label :artbooks_people_id, style: "display: block" %>































































    <%= form.number_field :artbooks_people_id %>































































  </div>































































































































  <div>































































    <%= form.label :artbooks_societe_role_id, style: "display: block" %>































































    <%= form.number_field :artbooks_societe_role_id %>































































  </div>































































































































  <div>































































    <%= form.label :artbooks_societe_people_id, style: "display: block" %>































































    <%= form.number_field :artbooks_societe_people_id %>































































  </div>































































































































  <div>































































    <%= form.label :artbooks_societe_role_id, style: "display: block" %>































































    <%= form.number_field :artbooks_societe_role_id %>































































  </div>































































































































  <div>































































    <%= form.label :artbooks_societe_people_id, style: "display: block" %>































































    <%= form.number_field :artbooks_societe_people_id %>































































  </div>































































































































  <div>































































    <%= form.label :resume, style: "display: block" %>































































    <%= form.text_area :resume %>































































  </div>































































































































  <div>































































    <%= form.label :infos, style: "display: block" %>































































    <%= form.text_area :infos %>































































  </div>































































































































  <div>































































    <%= form.label :artbooks_public_averti_id, style: "display: block" %>































































    <%= form.number_field :artbooks_public_averti_id %>































































  </div>































































































































  <div>































































    <%= form.label :artbooks_groupes_id, style: "display: block" %>































































    <%= form.number_field :artbooks_groupes_id %>































































  </div>































































































































  <div>































































    <%= form.label :artbooks_anime_id, style: "display: block" %>































































    <%= form.number_field :artbooks_anime_id %>































































  </div>































































































































  <div>































































    <%= form.label :artbooks_manga_id, style: "display: block" %>































































    <%= form.number_field :artbooks_manga_id %>































































  </div>































































































































  <div>































































    <%= form.label :artbooks_ln_id, style: "display: block" %>































































    <%= form.number_field :artbooks_ln_id %>































































  </div>































































































































  <div>































































    <%= form.label :artbooks_doujinshi_id, style: "display: block" %>































































    <%= form.number_field :artbooks_doujinshi_id %>































































  </div>































































































































  <div>































































    <%= form.label :artbooks_jv_id, style: "display: block" %>































































    <%= form.number_field :artbooks_jv_id %>































































  </div>































































































































  <div>































































    <%= form.label :artbooks_drama_id, style: "display: block" %>































































    <%= form.number_field :artbooks_drama_id %>































































  </div>































































































































  <div>































































    <%= form.label :artbooks_am_id, style: "display: block" %>































































    <%= form.number_field :artbooks_am_id %>































































  </div>































































































































  <div>































































    <%= form.label :artbooks_litterature_asiatique_id, style: "display: block" %>































































    <%= form.number_field :artbooks_litterature_asiatique_id %>































































  </div>































































































































  <div>































































    <%= form.label :artbooks_artbook_id, style: "display: block" %>































































    <%= form.number_field :artbooks_artbook_id %>































































  </div>































































































































  <div>































































    <%= form.label :artbooks_goodies_id, style: "display: block" %>































































    <%= form.number_field :artbooks_goodies_id %>































































  </div>































































































































  <div>































































    <%= form.label :artbooks_doujin_id, style: "display: block" %>































































    <%= form.number_field :artbooks_doujin_id %>































































  </div>































































































































  <div>































































    <%= form.label :artbooks_actualite_id, style: "display: block" %>































































    <%= form.number_field :artbooks_actualite_id %>































































  </div>































































































































  <div>































































    <%= form.label :artbooks_actualite_mini_id, style: "display: block" %>































































    <%= form.number_field :artbooks_actualite_mini_id %>































































  </div>































































































































  <div>































































    <%= form.label :artbooks_culture_id, style: "display: block" %>































































    <%= form.number_field :artbooks_culture_id %>































































  </div>































































































































  <div>































































    <%= form.label :comment, style: "display: block" %>































































    <%= form.text_area :comment %>































































  </div>































































































































  <div>































































    <%= form.label :statut_prop, style: "display: block" %>































































    <%= form.text_field :statut_prop %>































































  </div>































































































































  <div>































































    <%= form.label :statut_prop, style: "display: block" %>































































    <%= form.text_field :statut_prop %>































































  </div>































































































































  <div>































































    <%= form.label :acceptregles, style: "display: block" %>































































    <%= form.text_field :acceptregles %>































































  </div>































































































































  <div>































































    <%= form.submit %>































































  </div>































































<% end %>
