<p style="color: green"><%= notice %></p>

<%= render @artbook %>

<div>
  <%= link_to "Edit this artbook", edit_artbook_path(@artbook) %> |
  <%= link_to "Back to artbooks", artbooks_path %>

  <%= button_to "Destroy this artbook", @artbook, method: :delete %>
</div>
