<p style="color: green"><%= notice %></p>































































































































<%= render @_jeux_videos_theme %>































































































































<div>































































  <%= link_to "Edit this jeux videos theme", edit_jeux_videos_theme_path(@_jeux_videos_theme) %> |































































  <%= link_to "Back to jeux videos themes", jeux_videos_themes_path %>































































































































  <%= button_to "Destroy this jeux videos theme", @_jeux_videos_theme, method: :delete %>































































</div>
