<p style="color: green"><%= notice %></p>

<%= render @_fiche_univers_drama %>

<div>
  <%= link_to "Edit this fiche univers drama", edit__fiche_univers_drama_path(@_fiche_univers_drama) %> |
  <%= link_to "Back to fiche univers dramas", _fiche_univers_dramas_path %>

  <%= button_to "Destroy this fiche univers drama", @_fiche_univers_drama, method: :delete %>
</div>
