<p style="color: green"><%= notice %></p>































































































































<%= render @_films_asiatiques_sondage %>































































































































<div>































































  <%= link_to "Edit this films asiatiques sondage", edit_films_asiatiques_sondage_path(@_films_asiatiques_sondage) %> |































































  <%= link_to "Back to films asiatiques sondages", films_asiatiques_sondages_path %>































































































































  <%= button_to "Destroy this films asiatiques sondage", @_films_asiatiques_sondage, method: :delete %>































































</div>
