<%= form_with(model: _personnage_de_mangas_jv_perso) do |form| %>
  <% if _personnage_de_mangas_jv_perso.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(_personnage_de_mangas_jv_perso.errors.count, "error") %> prohibited this _personnage_de_mangas_jv_perso from being saved:</h2>

      <ul>
        <% _personnage_de_mangas_jv_perso.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
