<p style="color: green"><%= notice %></p>

<%= render @_personnage_de_mangas_jv_perso %>

<div>
  <%= link_to "Edit this personnage de mangas jv perso", edit__personnage_de_mangas_jv_perso_path(@_personnage_de_mangas_jv_perso) %> |
  <%= link_to "Back to personnage de mangas jv persos", _personnage_de_mangas_jv_persos_path %>

  <%= button_to "Destroy this personnage de mangas jv perso", @_personnage_de_mangas_jv_perso, method: :delete %>
</div>
