<p style="color: green"><%= notice %></p>

<%= render @_films_asiatique %>

<div>
  <%= link_to "Edit this films asiatique", edit__films_asiatique_path(@_films_asiatique) %> |
  <%= link_to "Back to films asiatiques", _films_asiatiques_path %>

  <%= button_to "Destroy this films asiatique", @_films_asiatique, method: :delete %>
</div>
