<p style="color: green"><%= notice %></p>

<%= render @osts_type %>

<div>
  <%= link_to "Edit this osts type", edit_osts_type_path(@osts_type) %> |
  <%= link_to "Back to osts types", osts_types_path %>

  <%= button_to "Destroy this osts type", @osts_type, method: :delete %>
</div>
