<p style="color: green"><%= notice %></p>



<%= render @_clips_lives_bonus_concerts_person %>



<div>

  <%= link_to "Edit this concerts person", edit_clips_lives_bonus_concerts_person_path(@_clips_lives_bonus_concerts_person) %> |

  <%= link_to "Back to concerts people", clips_lives_bonus_concerts_people_path %>



  <%= button_to "Destroy this concerts person", @_clips_lives_bonus_concerts_person, method: :delete %>

</div>
