<p style="color: green"><%= notice %></p>































































































































<%= render @artbooks_manga %>































































































































<div>































































  <%= link_to "Edit this artbooks manga", edit_artbooks_manga_path(@artbooks_manga) %> |































































  <%= link_to "Back to artbooks mangas", artbooks_mangas_path %>































































































































  <%= button_to "Destroy this artbooks manga", @artbooks_manga, method: :delete %>































































</div>
