<p style="color: green"><%= notice %></p>

<%= render @_films_asiatiques_en_salles_drama %>

<div>
  <%= link_to "Edit this films asiatiques en salles drama", edit__films_asiatiques_en_salles_drama_path(@_films_asiatiques_en_salles_drama) %> |
  <%= link_to "Back to films asiatiques en salles dramas", _films_asiatiques_en_salles_dramas_path %>

  <%= button_to "Destroy this films asiatiques en salles drama", @_films_asiatiques_en_salles_drama, method: :delete %>
</div>
