<div id="<%= dom_id _light_novel %>">
  <p>
    <strong>Titre:</strong>
    <%= _light_novel.titre %>
  </p>

  <p>
    <strong>Titre alternatif:</strong>
    <%= _light_novel.titre_alternatif %>
  </p>

  <p>
    <strong>Titre alternatif suite:</strong>
    <%= _light_novel.titre_alternatif_suite %>
  </p>

  <p>
    <strong>Titre original latin:</strong>
    <%= _light_novel.titre_original_latin %>
  </p>

  <p>
    <strong>Titre original:</strong>
    <%= _light_novel.titre_original %>
  </p>

  <p>
    <strong>Image:</strong>
    <%= _light_novel.image %>
  </p>

  <p>
    <strong>Image vo:</strong>
    <%= _light_novel.image_vo %>
  </p>

  <p>
    <strong>Light novels pays:</strong>
    <%= _light_novel._light_novels_pays_id %>
  </p>

  <p>
    <strong>Light novels pays:</strong>
    <%= _light_novel._light_novels_pays_id %>
  </p>

  <p>
    <strong>Light novels genres:</strong>
    <%= _light_novel._light_novels_genres_id %>
  </p>

  <p>
    <strong>Light novels genres:</strong>
    <%= _light_novel._light_novels_genres_id %>
  </p>

  <p>
    <strong>Webcomic:</strong>
    <%= _light_novel.webcomic %>
  </p>

  <p>
    <strong>Light novels themes:</strong>
    <%= _light_novel._light_novels_themes_id %>
  </p>

  <p>
    <strong>Light novels themes:</strong>
    <%= _light_novel._light_novels_themes_id %>
  </p>

  <p>
    <strong>Annee vo:</strong>
    <%= _light_novel.annee_vo %>
  </p>

  <p>
    <strong>Annee vf:</strong>
    <%= _light_novel.annee_vf %>
  </p>

  <p>
    <strong>Nb volumes vo:</strong>
    <%= _light_novel.nb_volumes_vo %>
  </p>

  <p>
    <strong>Nb chapitres vo:</strong>
    <%= _light_novel.nb_chapitres_vo %>
  </p>

  <p>
    <strong>Nb volumes vf:</strong>
    <%= _light_novel.nb_volumes_vf %>
  </p>

  <p>
    <strong>Nb chapitres vf:</strong>
    <%= _light_novel.nb_chapitres_vf %>
  </p>

  <p>
    <strong>Light novels encours vo:</strong>
    <%= _light_novel._light_novels_encours_vo_id %>
  </p>

  <p>
    <strong>Light novels encours vf:</strong>
    <%= _light_novel._light_novels_encours_vf_id %>
  </p>

  <p>
    <strong>Light novels editeurs vo:</strong>
    <%= _light_novel._light_novels_editeurs_vo_id %>
  </p>

  <p>
    <strong>Light novels editeurs vo:</strong>
    <%= _light_novel._light_novels_editeurs_vo_id %>
  </p>

  <p>
    <strong>Light novels editeurs vf:</strong>
    <%= _light_novel._light_novels_editeurs_vf_id %>
  </p>

  <p>
    <strong>Light novels editeurs vf collection:</strong>
    <%= _light_novel._light_novels_editeurs_vf_collection_id %>
  </p>

  <p>
    <strong>Light novels editeurs vf:</strong>
    <%= _light_novel._light_novels_editeurs_vf_id %>
  </p>

  <p>
    <strong>Light novels editeurs vf collection:</strong>
    <%= _light_novel._light_novels_editeurs_vf_collection_id %>
  </p>

  <p>
    <strong>Light novels prepublie:</strong>
    <%= _light_novel._light_novels_prepublie_id %>
  </p>

  <p>
    <strong>Light novels prepublie:</strong>
    <%= _light_novel._light_novels_prepublie_id %>
  </p>

  <p>
    <strong>Light novels staff role:</strong>
    <%= _light_novel._light_novels_staff_role_id %>
  </p>

  <p>
    <strong>Light novels staff people:</strong>
    <%= _light_novel._light_novels_staff_people_id %>
  </p>

  <p>
    <strong>Light novels staff role:</strong>
    <%= _light_novel._light_novels_staff_role_id %>
  </p>

  <p>
    <strong>Light novels staff people:</strong>
    <%= _light_novel._light_novels_staff_people_id %>
  </p>

  <p>
    <strong>Light novels societe role:</strong>
    <%= _light_novel._light_novels_societe_role_id %>
  </p>

  <p>
    <strong>Light novels societe people:</strong>
    <%= _light_novel._light_novels_societe_people_id %>
  </p>

  <p>
    <strong>Light novels societe role:</strong>
    <%= _light_novel._light_novels_societe_role_id %>
  </p>

  <p>
    <strong>Light novels societe people:</strong>
    <%= _light_novel._light_novels_societe_people_id %>
  </p>

  <p>
    <strong>Age:</strong>
    <%= _light_novel.age %>
  </p>

  <p>
    <strong>Light novels public averti:</strong>
    <%= _light_novel._light_novels_public_averti_id %>
  </p>

  <p>
    <strong>Light novels commerce:</strong>
    <%= _light_novel._light_novels_commerce_id %>
  </p>

  <p>
    <strong>Adapte anime:</strong>
    <%= _light_novel.adapte_anime %>
  </p>

  <p>
    <strong>Adapte anime:</strong>
    <%= _light_novel.adapte_anime %>
  </p>

  <p>
    <strong>Adapte anime:</strong>
    <%= _light_novel.adapte_anime %>
  </p>

  <p>
    <strong>Prix:</strong>
    <%= _light_novel.prix %>
  </p>

  <p>
    <strong>Resume:</strong>
    <%= _light_novel.resume %>
  </p>

  <p>
    <strong>Light novels groupes:</strong>
    <%= _light_novel._light_novels_groupes_id %>
  </p>

  <p>
    <strong>Light novels anime:</strong>
    <%= _light_novel._light_novels_anime_id %>
  </p>

  <p>
    <strong>Light novels anime plus:</strong>
    <%= _light_novel._light_novels_anime_plus_id %>
  </p>

  <p>
    <strong>Light novels manga:</strong>
    <%= _light_novel._light_novels_manga_id %>
  </p>

  <p>
    <strong>Light novels manga plus:</strong>
    <%= _light_novel._light_novels_manga_plus_id %>
  </p>

  <p>
    <strong>Light novels ln:</strong>
    <%= _light_novel._light_novels_ln_id %>
  </p>

  <p>
    <strong>Light novels ln plus:</strong>
    <%= _light_novel._light_novels_ln_plus_id %>
  </p>

  <p>
    <strong>Light novels drama:</strong>
    <%= _light_novel._light_novels_drama_id %>
  </p>

  <p>
    <strong>Light novels drama plus:</strong>
    <%= _light_novel._light_novels_drama_plus_id %>
  </p>

  <p>
    <strong>Light novels jv:</strong>
    <%= _light_novel._light_novels_jv_id %>
  </p>

  <p>
    <strong>Light novels jv plus:</strong>
    <%= _light_novel._light_novels_jv_plus_id %>
  </p>

  <p>
    <strong>Light novels am:</strong>
    <%= _light_novel._light_novels_am_id %>
  </p>

  <p>
    <strong>Light novels am plus:</strong>
    <%= _light_novel._light_novels_am_plus_id %>
  </p>

  <p>
    <strong>Light novels litterature asiatique:</strong>
    <%= _light_novel._light_novels_litterature_asiatique_id %>
  </p>

  <p>
    <strong>Light novels litterature asiatique plus:</strong>
    <%= _light_novel._light_novels_litterature_asiatique_plus_id %>
  </p>

  <p>
    <strong>Light novels ost:</strong>
    <%= _light_novel._light_novels_ost_id %>
  </p>

  <p>
    <strong>Light novels artbook:</strong>
    <%= _light_novel._light_novels_artbook_id %>
  </p>

  <p>
    <strong>Light novels actualite:</strong>
    <%= _light_novel._light_novels_actualite_id %>
  </p>

  <p>
    <strong>Light novels culture:</strong>
    <%= _light_novel._light_novels_culture_id %>
  </p>

  <p>
    <strong>Light novels actualite mini:</strong>
    <%= _light_novel._light_novels_actualite_mini_id %>
  </p>

  <p>
    <strong>Light novels quizz:</strong>
    <%= _light_novel._light_novels_quizz_id %>
  </p>

  <p>
    <strong>Comment:</strong>
    <%= _light_novel.comment %>
  </p>

  <p>
    <strong>Statut prop:</strong>
    <%= _light_novel.statut_prop %>
  </p>

  <p>
    <strong>Statut prop:</strong>
    <%= _light_novel.statut_prop %>
  </p>

  <p>
    <strong>Acceptregles:</strong>
    <%= _light_novel.acceptregles %>
  </p>

</div>
