<p style="color: green"><%= notice %></p>































































































































<%= render @_doujinshis_am %>































































































































<div>































































  <%= link_to "Edit this doujinshis am", edit_doujinshis_am_path(@_doujinshis_am) %> |































































  <%= link_to "Back to doujinshis ams", doujinshis_ams_path %>































































































































  <%= button_to "Destroy this doujinshis am", @_doujinshis_am, method: :delete %>































































</div>
