<p style="color: green"><%= notice %></p>

<%= render @_light_novels_ln_plu %>

<div>
  <%= link_to "Edit this light novels ln plu", edit__light_novels_ln_plu_path(@_light_novels_ln_plu) %> |
  <%= link_to "Back to light novels ln plus", _light_novels_ln_plus_path %>

  <%= button_to "Destroy this light novels ln plu", @_light_novels_ln_plu, method: :delete %>
</div>
