<p style="color: green"><%= notice %></p>































































































































<%= render @_personnage_danimes_anime %>































































































































<div>































































  <%= link_to "Edit this personnage danimes anime", edit_personnage_danimes_anime_path(@_personnage_danimes_anime) %> |































































  <%= link_to "Back to personnage danimes animes", personnage_danimes_animes_path %>































































































































  <%= button_to "Destroy this personnage danimes anime", @_personnage_danimes_anime, method: :delete %>































































</div>
