<p style="color: green"><%= notice %></p>































































































































<%= render @_films_asiatiques_person %>































































































































<div>































































  <%= link_to "Edit this films asiatiques person", edit_films_asiatiques_person_path(@_films_asiatiques_person) %> |































































  <%= link_to "Back to films asiatiques people", films_asiatiques_people_path %>































































































































  <%= button_to "Destroy this films asiatiques person", @_films_asiatiques_person, method: :delete %>































































</div>
