<p style="color: green"><%= notice %></p>































































































































<%= render @_dramas_editeurs_vf %>































































































































<div>































































  <%= link_to "Edit this dramas editeurs vf", edit_dramas_editeurs_vf_path(@_dramas_editeurs_vf) %> |































































  <%= link_to "Back to dramas editeurs vfs", dramas_editeurs_vfs_path %>































































































































  <%= button_to "Destroy this dramas editeurs vf", @_dramas_editeurs_vf, method: :delete %>































































</div>
