<p style="color: green"><%= notice %></p>































































































































<%= render @_films_asiatiques_manga_plu %>































































































































<div>































































  <%= link_to "Edit this films asiatiques manga plu", edit_films_asiatiques_manga_plu_path(@_films_asiatiques_manga_plu) %> |































































  <%= link_to "Back to films asiatiques manga plus", films_asiatiques_manga_plus_path %>































































































































  <%= button_to "Destroy this films asiatiques manga plu", @_films_asiatiques_manga_plu, method: :delete %>































































</div>
