<p style="color: green"><%= notice %></p>































































































































<%= render @_fiche_univers_am %>































































































































<div>































































  <%= link_to "Edit this fiche univers am", edit_fiche_univers_am_path(@_fiche_univers_am) %> |































































  <%= link_to "Back to fiche univers ams", fiche_univers_ams_path %>































































































































  <%= button_to "Destroy this fiche univers am", @_fiche_univers_am, method: :delete %>































































</div>
