<div id="<%= dom_id _boutique %>">
  <p>
    <strong>Nom:</strong>
    <%= _boutique.nom %>
  </p>

  <p>
    <strong>Image:</strong>
    <%= _boutique.image %>
  </p>

  <p>
    <strong>Adresse:</strong>
    <%= _boutique.adresse %>
  </p>

  <p>
    <strong>Tel:</strong>
    <%= _boutique.tel %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= _boutique.description %>
  </p>

  <p>
    <strong>Dept:</strong>
    <%= _boutique.dept %>
  </p>

  <p>
    <strong>Ville:</strong>
    <%= _boutique.ville %>
  </p>

  <p>
    <strong>Boutiques pays:</strong>
    <%= _boutique._boutiques_pays_id %>
  </p>

  <p>
    <strong>Site:</strong>
    <%= _boutique.site %>
  </p>

  <p>
    <strong>Acceptregles:</strong>
    <%= _boutique.acceptregles %>
  </p>

</div>
