<div id="<%= dom_id boutique %>">































































  <p>































































    <strong>Nom:</strong>































































    <%= boutique.nom %>































































  </p>































































































































  <p>































































    <strong>Image:</strong>































































    <%= boutique.image %>































































  </p>































































































































  <p>































































    <strong>Adresse:</strong>































































    <%= boutique.adresse %>































































  </p>































































































































  <p>































































    <strong>Tel:</strong>































































    <%= boutique.tel %>































































  </p>































































































































  <p>































































    <strong>Description:</strong>































































    <%= boutique.description %>































































  </p>































































































































  <p>































































    <strong>Dept:</strong>































































    <%= boutique.dept %>































































  </p>































































































































  <p>































































    <strong>Ville:</strong>































































    <%= boutique.ville %>































































  </p>































































































































  <p>































































    <strong>Boutiques pays:</strong>































































    <%= boutique._boutiques_pays_id %>































































  </p>































































































































  <p>































































    <strong>Site:</strong>































































    <%= boutique.site %>































































  </p>































































































































  <p>































































    <strong>Acceptregles:</strong>































































    <%= boutique.acceptregles %>































































  </p>































































































































</div>
