<%= form_with(model: _boutique) do |form| %>































































  <% if _boutique.errors.any? %>































































    <div style="color: red">































































      <h2><%= pluralize(_boutique.errors.count, "error") %> prohibited this _boutique from being saved:</h2>































































































































      <ul>































































        <% _boutique.errors.each do |error| %>































































          <li><%= error.full_message %></li>































































        <% end %>































































      </ul>































































    </div>































































  <% end %>































































































































  <div>































































    <%= form.label :nom, style: "display: block" %>































































    <%= form.text_field :nom %>































































  </div>































































































































  <div>































































    <%= form.label :image, style: "display: block" %>































































    <%= form.text_field :image %>































































  </div>































































































































  <div>































































    <%= form.label :adresse, style: "display: block" %>































































    <%= form.text_area :adresse %>































































  </div>































































































































  <div>































































    <%= form.label :tel, style: "display: block" %>































































    <%= form.text_field :tel %>































































  </div>































































































































  <div>































































    <%= form.label :description, style: "display: block" %>































































    <%= form.text_area :description %>































































  </div>































































































































  <div>































































    <%= form.label :dept, style: "display: block" %>































































    <%= form.text_field :dept %>































































  </div>































































































































  <div>































































    <%= form.label :ville, style: "display: block" %>































































    <%= form.text_field :ville %>































































  </div>































































































































  <div>































































    <%= form.label :_boutiques_pays_id, style: "display: block" %>































































    <%= form.select :_boutiques_pays_id, BoutiquesPay.all.collect{|x|[x.name, x.id]} %>































































  </div>































































































































  <div>































































    <%= form.label :site, style: "display: block" %>































































    <%= form.text_field :site %>































































  </div>































































































































  <div>































































    <%= form.label :acceptregles, style: "display: block" %>































































    <%= form.text_field :acceptregles %>































































  </div>































































































































  <div>































































    <%= form.submit %>































































  </div>































































<% end %>
