<p style="color: green"><%= notice %></p>































































































































<%= render @_personnalites_id_galery %>































































































































<div>































































  <%= link_to "Edit this personnalites id galerie", edit_personnalites_id_galery_path(@_personnalites_id_galery) %> |































































  <%= link_to "Back to personnalites id galeries", personnalites_id_galeries_path %>































































































































  <%= button_to "Destroy this personnalites id galerie", @_personnalites_id_galery, method: :delete %>































































</div>
