<div id="<%= dom_id recette %>">































































  <p>































































    <strong>Nom:</strong>































































    <%= recette.nom %>































































  </p>































































































































  <p>































































    <strong>Recettes type:</strong>































































    <%= recette._recettes_type_id %>































































  </p>































































































































  <p>































































    <strong>Image:</strong>































































    <%= recette.image %>































































  </p>































































































































  <p>































































    <strong>Preparation:</strong>































































    <%= recette.preparation %>































































  </p>































































































































  <p>































































    <strong>Cuisson:</strong>































































    <%= recette.cuisson %>































































  </p>































































































































  <p>































































    <strong>Nb pers:</strong>































































    <%= recette.nb_pers %>































































  </p>































































































































  <p>































































    <strong>Recettes plat:</strong>































































    <%= recette._recettes_plat_id %>































































  </p>































































































































  <p>































































    <strong>Recettes difficulte:</strong>































































    <%= recette._recettes_difficulte_id %>































































  </p>































































































































  <p>































































    <strong>Ingredients:</strong>































































    <%= recette.ingredients %>































































  </p>































































































































  <p>































































    <strong>Texte:</strong>































































    <%= recette.texte %>































































  </p>































































































































  <p>































































    <strong>Source:</strong>































































    <%= recette.source %>































































  </p>































































































































  <p>































































    <strong>Comment:</strong>































































    <%= recette.comment %>































































  </p>































































































































  <p>































































    <strong>Acceptregles:</strong>































































    <%= recette.acceptregles %>































































  </p>































































































































</div>
