<p style="color: green"><%= notice %></p>

<%= render @_jeux_videos_culture %>

<div>
  <%= link_to "Edit this jeux videos culture", edit__jeux_videos_culture_path(@_jeux_videos_culture) %> |
  <%= link_to "Back to jeux videos cultures", _jeux_videos_cultures_path %>

  <%= button_to "Destroy this jeux videos culture", @_jeux_videos_culture, method: :delete %>
</div>
