<p style="color: green"><%= notice %></p>































































































































<%= render @_dramas_drama_plu %>































































































































<div>































































  <%= link_to "Edit this dramas drama plu", edit_dramas_drama_plu_path(@_dramas_drama_plu) %> |































































  <%= link_to "Back to dramas drama plus", dramas_drama_plus_path %>































































































































  <%= button_to "Destroy this dramas drama plu", @_dramas_drama_plu, method: :delete %>































































</div>
