<p style="color: green"><%= notice %></p>































































































































<%= render @_films_asiatiques_staff_role %>































































































































<div>































































  <%= link_to "Edit this films asiatiques staff role", edit_films_asiatiques_staff_role_path(@_films_asiatiques_staff_role) %> |































































  <%= link_to "Back to films asiatiques staff roles", films_asiatiques_staff_roles_path %>































































































































  <%= button_to "Destroy this films asiatiques staff role", @_films_asiatiques_staff_role, method: :delete %>































































</div>
