<p style="color: green"><%= notice %></p>































































































































<%= render @_photobooks_public_averti %>































































































































<div>































































  <%= link_to "Edit this photobooks public averti", edit_photobooks_public_averti_path(@_photobooks_public_averti) %> |































































  <%= link_to "Back to photobooks public avertis", photobooks_public_avertis_path %>































































































































  <%= button_to "Destroy this photobooks public averti", @_photobooks_public_averti, method: :delete %>































































</div>
