<p style="color: green"><%= notice %></p>































































































































<%= render @animes_manga_plu %>































































































































<div>































































  <%= link_to "Edit this animes manga plu", edit_animes_manga_plu_path(@animes_manga_plu) %> |































































  <%= link_to "Back to animes manga plus", animes_manga_plus_path %>































































































































  <%= button_to "Destroy this animes manga plu", @animes_manga_plu, method: :delete %>































































</div>
