<p style="color: green"><%= notice %></p>































































































































<%= render @_dramas_societe_person %>































































































































<div>































































  <%= link_to "Edit this dramas societe person", edit_dramas_societe_person_path(@_dramas_societe_person) %> |































































  <%= link_to "Back to dramas societe people", dramas_societe_people_path %>































































































































  <%= button_to "Destroy this dramas societe person", @_dramas_societe_person, method: :delete %>































































</div>
