<p style="color: green"><%= notice %></p>































































































































<%= render @_fiche_univers_ln %>































































































































<div>































































  <%= link_to "Edit this fiche univers ln", edit_fiche_univers_ln_path(@_fiche_univers_ln) %> |































































  <%= link_to "Back to fiche univers lns", fiche_univers_lns_path %>































































































































  <%= button_to "Destroy this fiche univers ln", @_fiche_univers_ln, method: :delete %>































































</div>
