<p style="color: green"><%= notice %></p>

<%= render @_livres_staff_role %>

<div>
  <%= link_to "Edit this livres staff role", edit__livres_staff_role_path(@_livres_staff_role) %> |
  <%= link_to "Back to livres staff roles", _livres_staff_roles_path %>

  <%= button_to "Destroy this livres staff role", @_livres_staff_role, method: :delete %>
</div>
