<p style="color: green"><%= notice %></p>































































































































<%= render @animes_societe_role %>































































































































<div>































































  <%= link_to "Edit this animes societe role", edit_animes_societe_role_path(@animes_societe_role) %> |































































  <%= link_to "Back to animes societe roles", animes_societe_roles_path %>































































































































  <%= button_to "Destroy this animes societe role", @animes_societe_role, method: :delete %>































































</div>
