<p style="color: green"><%= notice %></p>

<%= render @_fiche_univers_cat %>

<div>
  <%= link_to "Edit this fiche univers cat", edit__fiche_univers_cat_path(@_fiche_univers_cat) %> |
  <%= link_to "Back to fiche univers cats", _fiche_univers_cats_path %>

  <%= button_to "Destroy this fiche univers cat", @_fiche_univers_cat, method: :delete %>
</div>
