<p style="color: green"><%= notice %></p>































































































































<%= render @_cds_person %>































































































































<div>































































  <%= link_to "Edit this cds person", edit_cds_person_path(@_cds_person) %> |































































  <%= link_to "Back to cds people", cds_people_path %>































































































































  <%= button_to "Destroy this cds person", @_cds_person, method: :delete %>































































</div>
