<p style="color: green"><%= notice %></p>

<%= render @_mangas_jv_plu %>

<div>
  <%= link_to "Edit this mangas jv plu", edit__mangas_jv_plu_path(@_mangas_jv_plu) %> |
  <%= link_to "Back to mangas jv plus", _mangas_jv_plus_path %>

  <%= button_to "Destroy this mangas jv plu", @_mangas_jv_plu, method: :delete %>
</div>
