<p style="color: green"><%= notice %></p>



<%= render @_clips_lives_bonus_concerts_role %>



<div>

  <%= link_to "Edit this concerts role", edit_clips_lives_bonus_concerts_role_path(@_clips_lives_bonus_concerts_role) %> |

  <%= link_to "Back to concerts roles", clips_lives_bonus_concerts_roles_path %>



  <%= button_to "Destroy this concerts role", @_clips_lives_bonus_concerts_role, method: :delete %>

</div>
