<p style="color: green"><%= notice %></p>































































































































<%= render @_cds_distributeur %>































































































































<div>































































  <%= link_to "Edit this cds distributeur", edit_cds_distributeur_path(@_cds_distributeur) %> |































































  <%= link_to "Back to cds distributeurs", cds_distributeurs_path %>































































































































  <%= button_to "Destroy this cds distributeur", @_cds_distributeur, method: :delete %>































































</div>
