<p style="color: green"><%= notice %></p>































































































































<%= render @_doujinshis_jv %>































































































































<div>































































  <%= link_to "Edit this doujinshis jv", edit_doujinshis_jv_path(@_doujinshis_jv) %> |































































  <%= link_to "Back to doujinshis jvs", doujinshis_jvs_path %>































































































































  <%= button_to "Destroy this doujinshis jv", @_doujinshis_jv, method: :delete %>































































</div>
