<p style="color: green"><%= notice %></p>

<%= render @_goodies_jv %>

<div>
  <%= link_to "Edit this goodies jv", edit__goodies_jv_path(@_goodies_jv) %> |
  <%= link_to "Back to goodies jvs", _goodies_jvs_path %>

  <%= button_to "Destroy this goodies jv", @_goodies_jv, method: :delete %>
</div>
