<p style="color: green"><%= notice %></p>































































































































<%= render @_livres_pays_theme %>































































































































<div>































































  <%= link_to "Edit this livres pays theme", edit_livres_pays_theme_path(@_livres_pays_theme) %> |































































  <%= link_to "Back to livres pays themes", livres_pays_themes_path %>































































































































  <%= button_to "Destroy this livres pays theme", @_livres_pays_theme, method: :delete %>































































</div>
