<p style="color: green"><%= notice %></p>

<%= render @_jeux_videos_am_plu %>

<div>
  <%= link_to "Edit this jeux videos am plu", edit__jeux_videos_am_plu_path(@_jeux_videos_am_plu) %> |
  <%= link_to "Back to jeux videos am plus", _jeux_videos_am_plus_path %>

  <%= button_to "Destroy this jeux videos am plu", @_jeux_videos_am_plu, method: :delete %>
</div>
