<div id="<%= dom_id _personnalite %>">
  <p>
    <strong>Nom:</strong>
    <%= _personnalite.nom %>
  </p>

  <p>
    <strong>Nom alternatif:</strong>
    <%= _personnalite.nom_alternatif %>
  </p>

  <p>
    <strong>Nom alternatif suite:</strong>
    <%= _personnalite.nom_alternatif_suite %>
  </p>

  <p>
    <strong>Nom original latin:</strong>
    <%= _personnalite.nom_original_latin %>
  </p>

  <p>
    <strong>Nom original:</strong>
    <%= _personnalite.nom_original %>
  </p>

  <p>
    <strong>Nom original 2:</strong>
    <%= _personnalite.nom_original_2 %>
  </p>

  <p>
    <strong>Nom original 3:</strong>
    <%= _personnalite.nom_original_3 %>
  </p>

  <p>
    <strong>Nom original 4:</strong>
    <%= _personnalite.nom_original_4 %>
  </p>

  <p>
    <strong>Personnalites type people:</strong>
    <%= _personnalite._personnalites_type_people_id %>
  </p>

  <p>
    <strong>Personnalites sexe:</strong>
    <%= _personnalite._personnalites_sexe_id %>
  </p>

  <p>
    <strong>Personnalites pays:</strong>
    <%= _personnalite._personnalites_pays_id %>
  </p>

  <p>
    <strong>Personnalites pays:</strong>
    <%= _personnalite._personnalites_pays_id %>
  </p>

  <p>
    <strong>Decede:</strong>
    <%= _personnalite.decede %>
  </p>

  <p>
    <strong>Date nais jj:</strong>
    <%= _personnalite.date_nais_jj %>
  </p>

  <p>
    <strong>Date nais mm:</strong>
    <%= _personnalite.date_nais_mm %>
  </p>

  <p>
    <strong>Date nais aaaa:</strong>
    <%= _personnalite.date_nais_aaaa %>
  </p>

  <p>
    <strong>Date deces jj:</strong>
    <%= _personnalite.date_deces_jj %>
  </p>

  <p>
    <strong>Date deces mm:</strong>
    <%= _personnalite.date_deces_mm %>
  </p>

  <p>
    <strong>Date deces aaaa:</strong>
    <%= _personnalite.date_deces_aaaa %>
  </p>

  <p>
    <strong>Image:</strong>
    <%= _personnalite.image %>
  </p>

  <p>
    <strong>Personnalites statut:</strong>
    <%= _personnalite._personnalites_statut_id %>
  </p>

  <p>
    <strong>Debut:</strong>
    <%= _personnalite.debut %>
  </p>

  <p>
    <strong>Fin:</strong>
    <%= _personnalite.fin %>
  </p>

  <p>
    <strong>Personnalites genres:</strong>
    <%= _personnalite._personnalites_genres_id %>
  </p>

  <p>
    <strong>Personnalites genres:</strong>
    <%= _personnalite._personnalites_genres_id %>
  </p>

  <p>
    <strong>Personnalites labels:</strong>
    <%= _personnalite._personnalites_labels_id %>
  </p>

  <p>
    <strong>Personnalites labels debut:</strong>
    <%= _personnalite._personnalites_labels_debut_id %>
  </p>

  <p>
    <strong>Personnalites labels fin:</strong>
    <%= _personnalite._personnalites_labels_fin_id %>
  </p>

  <p>
    <strong>Personnalites labels ex:</strong>
    <%= _personnalite._personnalites_labels_ex_id %>
  </p>

  <p>
    <strong>Personnalites labels:</strong>
    <%= _personnalite._personnalites_labels_id %>
  </p>

  <p>
    <strong>Personnalites labels debut:</strong>
    <%= _personnalite._personnalites_labels_debut_id %>
  </p>

  <p>
    <strong>Personnalites labels fin:</strong>
    <%= _personnalite._personnalites_labels_fin_id %>
  </p>

  <p>
    <strong>Personnalites labels ex:</strong>
    <%= _personnalite._personnalites_labels_ex_id %>
  </p>

  <p>
    <strong>Personnalites agences:</strong>
    <%= _personnalite._personnalites_agences_id %>
  </p>

  <p>
    <strong>Personnalites agences debut:</strong>
    <%= _personnalite._personnalites_agences_debut_id %>
  </p>

  <p>
    <strong>Personnalites agences fin:</strong>
    <%= _personnalite._personnalites_agences_fin_id %>
  </p>

  <p>
    <strong>Personnalites agences ex:</strong>
    <%= _personnalite._personnalites_agences_ex_id %>
  </p>

  <p>
    <strong>Personnalites agences:</strong>
    <%= _personnalite._personnalites_agences_id %>
  </p>

  <p>
    <strong>Personnalites agences debut:</strong>
    <%= _personnalite._personnalites_agences_debut_id %>
  </p>

  <p>
    <strong>Personnalites agences fin:</strong>
    <%= _personnalite._personnalites_agences_fin_id %>
  </p>

  <p>
    <strong>Personnalites agences ex:</strong>
    <%= _personnalite._personnalites_agences_ex_id %>
  </p>

  <p>
    <strong>Personnalites roles:</strong>
    <%= _personnalite._personnalites_roles_id %>
  </p>

  <p>
    <strong>Personnalites roles:</strong>
    <%= _personnalite._personnalites_roles_id %>
  </p>

  <p>
    <strong>Personnalites id membre:</strong>
    <%= _personnalite._personnalites_id_membre_id %>
  </p>

  <p>
    <strong>Personnalites ex:</strong>
    <%= _personnalite._personnalites_ex_id %>
  </p>

  <p>
    <strong>Personnalites ex debut:</strong>
    <%= _personnalite._personnalites_ex_debut_id %>
  </p>

  <p>
    <strong>Personnalites ex fin:</strong>
    <%= _personnalite._personnalites_ex_fin_id %>
  </p>

  <p>
    <strong>Bio:</strong>
    <%= _personnalite.bio %>
  </p>

  <p>
    <strong>Personnalites id galerie:</strong>
    <%= _personnalite._personnalites_id_galerie_id %>
  </p>

  <p>
    <strong>Liaison auto galerie:</strong>
    <%= _personnalite.liaison_auto_galerie %>
  </p>

  <p>
    <strong>Personnalites id travaux:</strong>
    <%= _personnalite._personnalites_id_travaux_id %>
  </p>

  <p>
    <strong>Liaison auto cosplay:</strong>
    <%= _personnalite.liaison_auto_cosplay %>
  </p>

  <p>
    <strong>Personnalites people:</strong>
    <%= _personnalite._personnalites_people_id %>
  </p>

  <p>
    <strong>Personnalites people plus:</strong>
    <%= _personnalite._personnalites_people_plus_id %>
  </p>

  <p>
    <strong>Comment:</strong>
    <%= _personnalite.comment %>
  </p>

  <p>
    <strong>Statut prop:</strong>
    <%= _personnalite.statut_prop %>
  </p>

  <p>
    <strong>Statut prop:</strong>
    <%= _personnalite.statut_prop %>
  </p>

  <p>
    <strong>Acceptregles:</strong>
    <%= _personnalite.acceptregles %>
  </p>

</div>
