<%= form_with(model: _personnalite) do |form| %>
  <% if _personnalite.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(_personnalite.errors.count, "error") %> prohibited this _personnalite from being saved:</h2>

      <ul>
        <% _personnalite.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :nom, style: "display: block" %>
    <%= form.text_field :nom %>
  </div>

  <div>
    <%= form.label :nom_alternatif, style: "display: block" %>
    <%= form.text_field :nom_alternatif %>
  </div>

  <div>
    <%= form.label :nom_alternatif_suite, style: "display: block" %>
    <%= form.text_field :nom_alternatif_suite %>
  </div>

  <div>
    <%= form.label :nom_original_latin, style: "display: block" %>
    <%= form.text_field :nom_original_latin %>
  </div>

  <div>
    <%= form.label :nom_original, style: "display: block" %>
    <%= form.text_field :nom_original %>
  </div>

  <div>
    <%= form.label :nom_original_2, style: "display: block" %>
    <%= form.text_field :nom_original_2 %>
  </div>

  <div>
    <%= form.label :nom_original_3, style: "display: block" %>
    <%= form.text_field :nom_original_3 %>
  </div>

  <div>
    <%= form.label :nom_original_4, style: "display: block" %>
    <%= form.text_field :nom_original_4 %>
  </div>

  <div>
    <%= form.label :_personnalites_type_people_id, style: "display: block" %>
    <%= form.number_field :_personnalites_type_people_id %>
  </div>

  <div>
    <%= form.label :_personnalites_sexe_id, style: "display: block" %>
    <%= form.number_field :_personnalites_sexe_id %>
  </div>

  <div>
    <%= form.label :_personnalites_pays_id, style: "display: block" %>
    <%= form.number_field :_personnalites_pays_id %>
  </div>

  <div>
    <%= form.label :_personnalites_pays_id, style: "display: block" %>
    <%= form.number_field :_personnalites_pays_id %>
  </div>

  <div>
    <%= form.label :decede, style: "display: block" %>
    <%= form.text_field :decede %>
  </div>

  <div>
    <%= form.label :date_nais_jj, style: "display: block" %>
    <%= form.text_field :date_nais_jj %>
  </div>

  <div>
    <%= form.label :date_nais_mm, style: "display: block" %>
    <%= form.text_field :date_nais_mm %>
  </div>

  <div>
    <%= form.label :date_nais_aaaa, style: "display: block" %>
    <%= form.text_field :date_nais_aaaa %>
  </div>

  <div>
    <%= form.label :date_deces_jj, style: "display: block" %>
    <%= form.text_field :date_deces_jj %>
  </div>

  <div>
    <%= form.label :date_deces_mm, style: "display: block" %>
    <%= form.text_field :date_deces_mm %>
  </div>

  <div>
    <%= form.label :date_deces_aaaa, style: "display: block" %>
    <%= form.text_field :date_deces_aaaa %>
  </div>

  <div>
    <%= form.label :image, style: "display: block" %>
    <%= form.text_field :image %>
  </div>

  <div>
    <%= form.label :_personnalites_statut_id, style: "display: block" %>
    <%= form.number_field :_personnalites_statut_id %>
  </div>

  <div>
    <%= form.label :debut, style: "display: block" %>
    <%= form.text_field :debut %>
  </div>

  <div>
    <%= form.label :fin, style: "display: block" %>
    <%= form.text_field :fin %>
  </div>

  <div>
    <%= form.label :_personnalites_genres_id, style: "display: block" %>
    <%= form.number_field :_personnalites_genres_id %>
  </div>

  <div>
    <%= form.label :_personnalites_genres_id, style: "display: block" %>
    <%= form.number_field :_personnalites_genres_id %>
  </div>

  <div>
    <%= form.label :_personnalites_labels_id, style: "display: block" %>
    <%= form.number_field :_personnalites_labels_id %>
  </div>

  <div>
    <%= form.label :_personnalites_labels_debut_id, style: "display: block" %>
    <%= form.number_field :_personnalites_labels_debut_id %>
  </div>

  <div>
    <%= form.label :_personnalites_labels_fin_id, style: "display: block" %>
    <%= form.number_field :_personnalites_labels_fin_id %>
  </div>

  <div>
    <%= form.label :_personnalites_labels_ex_id, style: "display: block" %>
    <%= form.number_field :_personnalites_labels_ex_id %>
  </div>

  <div>
    <%= form.label :_personnalites_labels_id, style: "display: block" %>
    <%= form.number_field :_personnalites_labels_id %>
  </div>

  <div>
    <%= form.label :_personnalites_labels_debut_id, style: "display: block" %>
    <%= form.number_field :_personnalites_labels_debut_id %>
  </div>

  <div>
    <%= form.label :_personnalites_labels_fin_id, style: "display: block" %>
    <%= form.number_field :_personnalites_labels_fin_id %>
  </div>

  <div>
    <%= form.label :_personnalites_labels_ex_id, style: "display: block" %>
    <%= form.number_field :_personnalites_labels_ex_id %>
  </div>

  <div>
    <%= form.label :_personnalites_agences_id, style: "display: block" %>
    <%= form.number_field :_personnalites_agences_id %>
  </div>

  <div>
    <%= form.label :_personnalites_agences_debut_id, style: "display: block" %>
    <%= form.number_field :_personnalites_agences_debut_id %>
  </div>

  <div>
    <%= form.label :_personnalites_agences_fin_id, style: "display: block" %>
    <%= form.number_field :_personnalites_agences_fin_id %>
  </div>

  <div>
    <%= form.label :_personnalites_agences_ex_id, style: "display: block" %>
    <%= form.number_field :_personnalites_agences_ex_id %>
  </div>

  <div>
    <%= form.label :_personnalites_agences_id, style: "display: block" %>
    <%= form.number_field :_personnalites_agences_id %>
  </div>

  <div>
    <%= form.label :_personnalites_agences_debut_id, style: "display: block" %>
    <%= form.number_field :_personnalites_agences_debut_id %>
  </div>

  <div>
    <%= form.label :_personnalites_agences_fin_id, style: "display: block" %>
    <%= form.number_field :_personnalites_agences_fin_id %>
  </div>

  <div>
    <%= form.label :_personnalites_agences_ex_id, style: "display: block" %>
    <%= form.number_field :_personnalites_agences_ex_id %>
  </div>

  <div>
    <%= form.label :_personnalites_roles_id, style: "display: block" %>
    <%= form.number_field :_personnalites_roles_id %>
  </div>

  <div>
    <%= form.label :_personnalites_roles_id, style: "display: block" %>
    <%= form.number_field :_personnalites_roles_id %>
  </div>

  <div>
    <%= form.label :_personnalites_id_membre_id, style: "display: block" %>
    <%= form.number_field :_personnalites_id_membre_id %>
  </div>

  <div>
    <%= form.label :_personnalites_ex_id, style: "display: block" %>
    <%= form.number_field :_personnalites_ex_id %>
  </div>

  <div>
    <%= form.label :_personnalites_ex_debut_id, style: "display: block" %>
    <%= form.number_field :_personnalites_ex_debut_id %>
  </div>

  <div>
    <%= form.label :_personnalites_ex_fin_id, style: "display: block" %>
    <%= form.number_field :_personnalites_ex_fin_id %>
  </div>

  <div>
    <%= form.label :bio, style: "display: block" %>
    <%= form.text_area :bio %>
  </div>

  <div>
    <%= form.label :_personnalites_id_galerie_id, style: "display: block" %>
    <%= form.number_field :_personnalites_id_galerie_id %>
  </div>

  <div>
    <%= form.label :liaison_auto_galerie, style: "display: block" %>
    <%= form.text_field :liaison_auto_galerie %>
  </div>

  <div>
    <%= form.label :_personnalites_id_travaux_id, style: "display: block" %>
    <%= form.number_field :_personnalites_id_travaux_id %>
  </div>

  <div>
    <%= form.label :liaison_auto_cosplay, style: "display: block" %>
    <%= form.text_field :liaison_auto_cosplay %>
  </div>

  <div>
    <%= form.label :_personnalites_people_id, style: "display: block" %>
    <%= form.number_field :_personnalites_people_id %>
  </div>

  <div>
    <%= form.label :_personnalites_people_plus_id, style: "display: block" %>
    <%= form.number_field :_personnalites_people_plus_id %>
  </div>

  <div>
    <%= form.label :comment, style: "display: block" %>
    <%= form.text_area :comment %>
  </div>

  <div>
    <%= form.label :statut_prop, style: "display: block" %>
    <%= form.text_field :statut_prop %>
  </div>

  <div>
    <%= form.label :statut_prop, style: "display: block" %>
    <%= form.text_field :statut_prop %>
  </div>

  <div>
    <%= form.label :acceptregles, style: "display: block" %>
    <%= form.text_field :acceptregles %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
