<p style="color: green"><%= notice %></p>

<%= render @_numero_demission_tvs_special %>

<div>
  <%= link_to "Edit this numero demission tvs special", edit__numero_demission_tvs_special_path(@_numero_demission_tvs_special) %> |
  <%= link_to "Back to numero demission tvs specials", _numero_demission_tvs_specials_path %>

  <%= button_to "Destroy this numero demission tvs special", @_numero_demission_tvs_special, method: :delete %>
</div>
