<p style="color: green"><%= notice %></p>

<%= render @artbooks_type %>

<div>
  <%= link_to "Edit this artbooks type", edit_artbooks_type_path(@artbooks_type) %> |
  <%= link_to "Back to artbooks types", artbooks_types_path %>

  <%= button_to "Destroy this artbooks type", @artbooks_type, method: :delete %>
</div>
