<p style="color: green"><%= notice %></p>































































































































<%= render @_photobooks_groupe %>































































































































<div>































































  <%= link_to "Edit this photobooks groupe", edit_photobooks_groupe_path(@_photobooks_groupe) %> |































































  <%= link_to "Back to photobooks groupes", photobooks_groupes_path %>































































































































  <%= button_to "Destroy this photobooks groupe", @_photobooks_groupe, method: :delete %>































































</div>
