<p style="color: green"><%= notice %></p>

<%= render @_mangas_drama %>

<div>
  <%= link_to "Edit this mangas drama", edit__mangas_drama_path(@_mangas_drama) %> |
  <%= link_to "Back to mangas dramas", _mangas_dramas_path %>

  <%= button_to "Destroy this mangas drama", @_mangas_drama, method: :delete %>
</div>
