<p style="color: green"><%= notice %></p>































































































































<%= render @_films_asiatiques_en_salles_actualite %>































































































































<div>































































  <%= link_to "Edit this films asiatiques en salles actualite", edit_films_asiatiques_en_salles_actualite_path(@_films_asiatiques_en_salles_actualite) %> |































































  <%= link_to "Back to films asiatiques en salles actualites", films_asiatiques_en_salles_actualites_path %>































































































































  <%= button_to "Destroy this films asiatiques en salles actualite", @_films_asiatiques_en_salles_actualite, method: :delete %>































































</div>
