<p style="color: green"><%= notice %></p>































































































































<%= render @_jeux_videos_plateforme %>































































































































<div>































































  <%= link_to "Edit this jeux videos plateforme", edit_jeux_videos_plateforme_path(@_jeux_videos_plateforme) %> |































































  <%= link_to "Back to jeux videos plateformes", jeux_videos_plateformes_path %>































































































































  <%= button_to "Destroy this jeux videos plateforme", @_jeux_videos_plateforme, method: :delete %>































































</div>
