<p style="color: green"><%= notice %></p>

<%= render @_dramas_societe_role %>

<div>
  <%= link_to "Edit this dramas societe role", edit__dramas_societe_role_path(@_dramas_societe_role) %> |
  <%= link_to "Back to dramas societe roles", _dramas_societe_roles_path %>

  <%= button_to "Destroy this dramas societe role", @_dramas_societe_role, method: :delete %>
</div>
