<p style="color: green"><%= notice %></p>

<%= render @_films_asiatiques_actualite_mini %>

<div>
  <%= link_to "Edit this films asiatiques actualite mini", edit__films_asiatiques_actualite_mini_path(@_films_asiatiques_actualite_mini) %> |
  <%= link_to "Back to films asiatiques actualite minis", _films_asiatiques_actualite_minis_path %>

  <%= button_to "Destroy this films asiatiques actualite mini", @_films_asiatiques_actualite_mini, method: :delete %>
</div>
