<p style="color: green"><%= notice %></p>































































































































<%= render @_films_asiatiques_staff_person %>































































































































<div>































































  <%= link_to "Edit this films asiatiques staff person", edit_films_asiatiques_staff_person_path(@_films_asiatiques_staff_person) %> |































































  <%= link_to "Back to films asiatiques staff people", films_asiatiques_staff_people_path %>































































































































  <%= button_to "Destroy this films asiatiques staff person", @_films_asiatiques_staff_person, method: :delete %>































































</div>
