<p style="color: green"><%= notice %></p>































































































































<%= render @_livres_manga_plu %>































































































































<div>































































  <%= link_to "Edit this livres manga plu", edit_livres_manga_plu_path(@_livres_manga_plu) %> |































































  <%= link_to "Back to livres manga plus", livres_manga_plus_path %>































































































































  <%= button_to "Destroy this livres manga plu", @_livres_manga_plu, method: :delete %>































































</div>
