<p style="color: green"><%= notice %></p>

<%= render @_films_asiatiques_en_salles_pay %>

<div>
  <%= link_to "Edit this films asiatiques en salles pay", edit__films_asiatiques_en_salles_pay_path(@_films_asiatiques_en_salles_pay) %> |
  <%= link_to "Back to films asiatiques en salles pays", _films_asiatiques_en_salles_pays_path %>

  <%= button_to "Destroy this films asiatiques en salles pay", @_films_asiatiques_en_salles_pay, method: :delete %>
</div>
