<p style="color: green"><%= notice %></p>































































































































<%= render @_generiques_id_anime %>































































































































<div>































































  <%= link_to "Edit this generiques id anime", edit_generiques_id_anime_path(@_generiques_id_anime) %> |































































  <%= link_to "Back to generiques id animes", generiques_id_animes_path %>































































































































  <%= button_to "Destroy this generiques id anime", @_generiques_id_anime, method: :delete %>































































</div>
