<p style="color: green"><%= notice %></p>

<%= render @_livres_jv %>

<div>
  <%= link_to "Edit this livres jv", edit__livres_jv_path(@_livres_jv) %> |
  <%= link_to "Back to livres jvs", _livres_jvs_path %>

  <%= button_to "Destroy this livres jv", @_livres_jv, method: :delete %>
</div>
