<div id="<%= dom_id _tablature %>">
  <p>
    <strong>Titre:</strong>
    <%= _tablature.titre %>
  </p>

  <p>
    <strong>Tablatures people:</strong>
    <%= _tablature._tablatures_people_id %>
  </p>

  <p>
    <strong>Tablatures people:</strong>
    <%= _tablature._tablatures_people_id %>
  </p>

  <p>
    <strong>Infos:</strong>
    <%= _tablature.infos %>
  </p>

  <p>
    <strong>Comment:</strong>
    <%= _tablature.comment %>
  </p>

  <p>
    <strong>Statut prop:</strong>
    <%= _tablature.statut_prop %>
  </p>

  <p>
    <strong>Statut prop:</strong>
    <%= _tablature.statut_prop %>
  </p>

  <p>
    <strong>Acceptregles:</strong>
    <%= _tablature.acceptregles %>
  </p>

</div>
