<p style="color: green"><%= notice %></p>































































































































<%= render @_personnage_danimes_doubleur_pay %>































































































































<div>































































  <%= link_to "Edit this personnage danimes doubleur pay", edit_personnage_danimes_doubleur_pay_path(@_personnage_danimes_doubleur_pay) %> |































































  <%= link_to "Back to personnage danimes doubleur pays", personnage_danimes_doubleur_pays_path %>































































































































  <%= button_to "Destroy this personnage danimes doubleur pay", @_personnage_danimes_doubleur_pay, method: :delete %>































































</div>
