<p style="color: green"><%= notice %></p>































































































































<%= render @_doujinshis_origine %>































































































































<div>































































  <%= link_to "Edit this doujinshis origine", edit_doujinshis_origine_path(@_doujinshis_origine) %> |































































  <%= link_to "Back to doujinshis origines", doujinshis_origines_path %>































































































































  <%= button_to "Destroy this doujinshis origine", @_doujinshis_origine, method: :delete %>































































</div>
