<p style="color: green"><%= notice %></p>































































































































<%= render @_doujinshis_gratuit %>































































































































<div>































































  <%= link_to "Edit this doujinshis gratuit", edit_doujinshis_gratuit_path(@_doujinshis_gratuit) %> |































































  <%= link_to "Back to doujinshis gratuits", doujinshis_gratuits_path %>































































































































  <%= button_to "Destroy this doujinshis gratuit", @_doujinshis_gratuit, method: :delete %>































































</div>
