<p style="color: green"><%= notice %></p>































































































































<%= render @animes_staff_person %>































































































































<div>































































  <%= link_to "Edit this animes staff person", edit_animes_staff_person_path(@animes_staff_person) %> |































































  <%= link_to "Back to animes staff people", animes_staff_people_path %>































































































































  <%= button_to "Destroy this animes staff person", @animes_staff_person, method: :delete %>































































</div>
