<p style="color: green"><%= notice %></p>































































































































<%= render @_jeux_videos_amv %>































































































































<div>































































  <%= link_to "Edit this jeux videos amv", edit_jeux_videos_amv_path(@_jeux_videos_amv) %> |































































  <%= link_to "Back to jeux videos amvs", jeux_videos_amvs_path %>































































































































  <%= button_to "Destroy this jeux videos amv", @_jeux_videos_amv, method: :delete %>































































</div>
