<p style="color: green"><%= notice %></p>































































































































<%= render @_mangas_public_averti %>































































































































<div>































































  <%= link_to "Edit this mangas public averti", edit_mangas_public_averti_path(@_mangas_public_averti) %> |































































  <%= link_to "Back to mangas public avertis", mangas_public_avertis_path %>































































































































  <%= button_to "Destroy this mangas public averti", @_mangas_public_averti, method: :delete %>































































</div>
