<p style="color: green"><%= notice %></p>































































































































<%= render @animes_pay %>































































































































<div>































































  <%= link_to "Edit this animes pay", edit_animes_pay_path(@animes_pay) %> |































































  <%= link_to "Back to animes pays", animes_pays_path %>































































































































  <%= button_to "Destroy this animes pay", @animes_pay, method: :delete %>































































</div>
