<p style="color: green"><%= notice %></p>

<%= render @_generiques_staff_person %>

<div>
  <%= link_to "Edit this generiques staff person", edit__generiques_staff_person_path(@_generiques_staff_person) %> |
  <%= link_to "Back to generiques staff people", _generiques_staff_people_path %>

  <%= button_to "Destroy this generiques staff person", @_generiques_staff_person, method: :delete %>
</div>
