<p style="color: green"><%= notice %></p>































































































































<%= render @animes_litterature_asiatique_plu %>































































































































<div>































































  <%= link_to "Edit this animes litterature asiatique plu", edit_animes_litterature_asiatique_plu_path(@animes_litterature_asiatique_plu) %> |































































  <%= link_to "Back to animes litterature asiatique plus", animes_litterature_asiatique_plus_path %>































































































































  <%= button_to "Destroy this animes litterature asiatique plu", @animes_litterature_asiatique_plu, method: :delete %>































































</div>
