<p style="color: green"><%= notice %></p>































































































































<%= render @_doujinshis_role %>































































































































<div>































































  <%= link_to "Edit this doujinshis role", edit_doujinshis_role_path(@_doujinshis_role) %> |































































  <%= link_to "Back to doujinshis roles", doujinshis_roles_path %>































































































































  <%= button_to "Destroy this doujinshis role", @_doujinshis_role, method: :delete %>































































</div>
