<p style="color: green"><%= notice %></p>































































































































<%= render @_personnage_danimes_perso_plu %>































































































































<div>































































  <%= link_to "Edit this personnage danimes perso plu", edit_personnage_danimes_perso_plu_path(@_personnage_danimes_perso_plu) %> |































































  <%= link_to "Back to personnage danimes perso plus", personnage_danimes_perso_plus_path %>































































































































  <%= button_to "Destroy this personnage danimes perso plu", @_personnage_danimes_perso_plu, method: :delete %>































































</div>
