<p style="color: green"><%= notice %></p>

<%= render @_films_asiatiques_en_salles_staff_role %>

<div>
  <%= link_to "Edit this films asiatiques en salles staff role", edit__films_asiatiques_en_salles_staff_role_path(@_films_asiatiques_en_salles_staff_role) %> |
  <%= link_to "Back to films asiatiques en salles staff roles", _films_asiatiques_en_salles_staff_roles_path %>

  <%= button_to "Destroy this films asiatiques en salles staff role", @_films_asiatiques_en_salles_staff_role, method: :delete %>
</div>
