<p style="color: green"><%= notice %></p>

<%= render @_clips___lives___bonus___concerts_clip %>

<div>
  <%= link_to "Edit this concerts clip", edit__clips___lives___bonus___concerts_clip_path(@_clips___lives___bonus___concerts_clip) %> |
  <%= link_to "Back to concerts clips", _clips___lives___bonus___concerts_clips_path %>

  <%= button_to "Destroy this concerts clip", @_clips___lives___bonus___concerts_clip, method: :delete %>
</div>
