<p style="color: green"><%= notice %></p>

<%= render @_numero_demission_tvs_person %>

<div>
  <%= link_to "Edit this numero demission tvs person", edit__numero_demission_tvs_person_path(@_numero_demission_tvs_person) %> |
  <%= link_to "Back to numero demission tvs people", _numero_demission_tvs_people_path %>

  <%= button_to "Destroy this numero demission tvs person", @_numero_demission_tvs_person, method: :delete %>
</div>
