<p style="color: green"><%= notice %></p>































































































































<%= render @_livres_groupe %>































































































































<div>































































  <%= link_to "Edit this livres groupe", edit_livres_groupe_path(@_livres_groupe) %> |































































  <%= link_to "Back to livres groupes", livres_groupes_path %>































































































































  <%= button_to "Destroy this livres groupe", @_livres_groupe, method: :delete %>































































</div>
