<p style="color: green"><%= notice %></p>

<%= render @_breves_jv_societe %>

<div>
  <%= link_to "Edit this breves jv societe", edit__breves_jv_societe_path(@_breves_jv_societe) %> |
  <%= link_to "Back to breves jv societes", _breves_jv_societes_path %>

  <%= button_to "Destroy this breves jv societe", @_breves_jv_societe, method: :delete %>
</div>
