<p style="color: green"><%= notice %></p>































































































































<%= render @_volumes_illustration %>































































































































<div>































































  <%= link_to "Edit this volumes illustration", edit_volumes_illustration_path(@_volumes_illustration) %> |































































  <%= link_to "Back to volumes illustrations", volumes_illustrations_path %>































































































































  <%= button_to "Destroy this volumes illustration", @_volumes_illustration, method: :delete %>































































</div>
