<p style="color: green"><%= notice %></p>

<%= render @_doujins_jv %>

<div>
  <%= link_to "Edit this doujins jv", edit__doujins_jv_path(@_doujins_jv) %> |
  <%= link_to "Back to doujins jvs", _doujins_jvs_path %>

  <%= button_to "Destroy this doujins jv", @_doujins_jv, method: :delete %>
</div>
