<p style="color: green"><%= notice %></p>































































































































<%= render @_dramas_dvd %>































































































































<div>































































  <%= link_to "Edit this dramas dvd", edit_dramas_dvd_path(@_dramas_dvd) %> |































































  <%= link_to "Back to dramas dvds", dramas_dvds_path %>































































































































  <%= button_to "Destroy this dramas dvd", @_dramas_dvd, method: :delete %>































































</div>
