<p style="color: green"><%= notice %></p>

<%= render @animes_editeurs_vf_role %>

<div>
  <%= link_to "Edit this animes editeurs vf role", edit_animes_editeurs_vf_role_path(@animes_editeurs_vf_role) %> |
  <%= link_to "Back to animes editeurs vf roles", animes_editeurs_vf_roles_path %>

  <%= button_to "Destroy this animes editeurs vf role", @animes_editeurs_vf_role, method: :delete %>
</div>
