<p style="color: green"><%= notice %></p>

<%= render @_goodies_type %>

<div>
  <%= link_to "Edit this goodies type", edit__goodies_type_path(@_goodies_type) %> |
  <%= link_to "Back to goodies types", _goodies_types_path %>

  <%= button_to "Destroy this goodies type", @_goodies_type, method: :delete %>
</div>
