<p style="color: green"><%= notice %></p>































































































































<%= render @_personnages_de_jeux_videos_perso_plu %>































































































































<div>































































  <%= link_to "Edit this personnages de jeux videos perso plu", edit_personnages_de_jeux_videos_perso_plu_path(@_personnages_de_jeux_videos_perso_plu) %> |































































  <%= link_to "Back to personnages de jeux videos perso plus", personnages_de_jeux_videos_perso_plus_path %>































































































































  <%= button_to "Destroy this personnages de jeux videos perso plu", @_personnages_de_jeux_videos_perso_plu, method: :delete %>































































</div>
