<p style="color: green"><%= notice %></p>































































































































<%= render @_dramas_am %>































































































































<div>































































  <%= link_to "Edit this dramas am", edit_dramas_am_path(@_dramas_am) %> |































































  <%= link_to "Back to dramas ams", dramas_ams_path %>































































































































  <%= button_to "Destroy this dramas am", @_dramas_am, method: :delete %>































































</div>
