<p style="color: green"><%= notice %></p>

<%= render @_personnalites_labels_debut %>

<div>
  <%= link_to "Edit this personnalites labels debut", edit__personnalites_labels_debut_path(@_personnalites_labels_debut) %> |
  <%= link_to "Back to personnalites labels debuts", _personnalites_labels_debuts_path %>

  <%= button_to "Destroy this personnalites labels debut", @_personnalites_labels_debut, method: :delete %>
</div>
