<div id="<%= dom_id personnage_danime %>">































































  <p>































































    <strong>Nom:</strong>































































    <%= personnage_danime.nom %>































































  </p>































































































































  <p>































































    <strong>Nom alternatif:</strong>































































    <%= personnage_danime.nom_alternatif %>































































  </p>































































































































  <p>































































    <strong>Nom suite:</strong>































































    <%= personnage_danime.nom_suite %>































































  </p>































































































































  <p>































































    <strong>Nom original:</strong>































































    <%= personnage_danime.nom_original %>































































  </p>































































































































  <p>































































    <strong>Personnage danimes sexe:</strong>































































    <%= personnage_danime._personnage_danimes_sexe_id %>































































  </p>































































































































  <p>































































    <strong>Personnage danimes anime:</strong>































































    <%= personnage_danime._personnage_danimes_anime_id %>































































  </p>































































































































  <p>































































    <strong>Personnage danimes anime:</strong>































































    <%= personnage_danime._personnage_danimes_anime_id %>































































  </p>































































































































  <p>































































    <strong>Personnage danimes doubleur pays:</strong>































































    <%= personnage_danime._personnage_danimes_doubleur_pays_id %>































































  </p>































































































































  <p>































































    <strong>Personnage danimes doubleur people:</strong>































































    <%= personnage_danime._personnage_danimes_doubleur_people_id %>































































  </p>































































































































  <p>































































    <strong>:</strong>































































    <%= personnage_danime. %>































































  </p>































































































































  <p>































































    <strong>Personnage danimes doubleur role:</strong>































































    <%= personnage_danime._personnage_danimes_doubleur_role_id %>































































  </p>































































































































  <p>































































    <strong>Personnage danimes doubleur pays:</strong>































































    <%= personnage_danime._personnage_danimes_doubleur_pays_id %>































































  </p>































































































































  <p>































































    <strong>Personnage danimes doubleur people:</strong>































































    <%= personnage_danime._personnage_danimes_doubleur_people_id %>































































  </p>































































































































  <p>































































    <strong>:</strong>































































    <%= personnage_danime. %>































































  </p>































































































































  <p>































































    <strong>Personnage danimes doubleur role:</strong>































































    <%= personnage_danime._personnage_danimes_doubleur_role_id %>































































  </p>































































































































  <p>































































    <strong>Special:</strong>































































    <%= personnage_danime.special %>































































  </p>































































































































  <p>































































    <strong>Special:</strong>































































    <%= personnage_danime.special %>































































  </p>































































































































  <p>































































    <strong>Image:</strong>































































    <%= personnage_danime.image %>































































  </p>































































































































  <p>































































    <strong>Description:</strong>































































    <%= personnage_danime.description %>































































  </p>































































































































  <p>































































    <strong>Personnage danimes perso:</strong>































































    <%= personnage_danime._personnage_danimes_perso_id %>































































  </p>































































































































  <p>































































    <strong>Personnage danimes perso plus:</strong>































































    <%= personnage_danime._personnage_danimes_perso_plus_id %>































































  </p>































































































































  <p>































































    <strong>Personnage danimes perso manga:</strong>































































    <%= personnage_danime._personnage_danimes_perso_manga_id %>































































  </p>































































































































  <p>































































    <strong>Personnage danimes jv perso:</strong>































































    <%= personnage_danime._personnage_danimes_jv_perso_id %>































































  </p>































































































































  <p>































































    <strong>Personnage danimes goodies:</strong>































































    <%= personnage_danime._personnage_danimes_goodies_id %>































































  </p>































































































































  <p>































































    <strong>Comment:</strong>































































    <%= personnage_danime.comment %>































































  </p>































































































































  <p>































































    <strong>Statut prop:</strong>































































    <%= personnage_danime.statut_prop %>































































  </p>































































































































  <p>































































    <strong>Statut prop:</strong>































































    <%= personnage_danime.statut_prop %>































































  </p>































































































































  <p>































































    <strong>Acceptregles:</strong>































































    <%= personnage_danime.acceptregles %>































































  </p>































































































































</div>
