<p style="color: green"><%= notice %></p>

<%= render @_personnalites_person %>

<div>
  <%= link_to "Edit this personnalites person", edit__personnalites_person_path(@_personnalites_person) %> |
  <%= link_to "Back to personnalites people", _personnalites_people_path %>

  <%= button_to "Destroy this personnalites person", @_personnalites_person, method: :delete %>
</div>
