<p style="color: green"><%= notice %></p>































































































































<%= render @_films_asiatiques_univer %>































































































































<div>































































  <%= link_to "Edit this films asiatiques univer", edit_films_asiatiques_univer_path(@_films_asiatiques_univer) %> |































































  <%= link_to "Back to films asiatiques univers", films_asiatiques_univers_path %>































































































































  <%= button_to "Destroy this films asiatiques univer", @_films_asiatiques_univer, method: :delete %>































































</div>
