<p style="color: green"><%= notice %></p>































































































































<%= render @_dramas_culture %>































































































































<div>































































  <%= link_to "Edit this dramas culture", edit_dramas_culture_path(@_dramas_culture) %> |































































  <%= link_to "Back to dramas cultures", dramas_cultures_path %>































































































































  <%= button_to "Destroy this dramas culture", @_dramas_culture, method: :delete %>































































</div>
