<p style="color: green"><%= notice %></p>































































































































<%= render @_goodies_anime %>































































































































<div>































































  <%= link_to "Edit this goodies anime", edit_goodies_anime_path(@_goodies_anime) %> |































































  <%= link_to "Back to goodies animes", goodies_animes_path %>































































































































  <%= button_to "Destroy this goodies anime", @_goodies_anime, method: :delete %>































































</div>
