<p style="color: green"><%= notice %></p>































































































































<%= render @_dramas_drama %>































































































































<div>































































  <%= link_to "Edit this dramas drama", edit_dramas_drama_path(@_dramas_drama) %> |































































  <%= link_to "Back to dramas dramas", dramas_dramas_path %>































































































































  <%= button_to "Destroy this dramas drama", @_dramas_drama, method: :delete %>































































</div>
