<p style="color: green"><%= notice %></p>































































































































<%= render @_breves_cinema %>































































































































<div>































































  <%= link_to "Edit this breves cinema", edit_breves_cinema_path(@_breves_cinema) %> |































































  <%= link_to "Back to breves cinemas", breves_cinemas_path %>































































































































  <%= button_to "Destroy this breves cinema", @_breves_cinema, method: :delete %>































































</div>
