<p style="color: green"><%= notice %></p>

<%= render @_jeux_videos_genre %>

<div>
  <%= link_to "Edit this jeux videos genre", edit__jeux_videos_genre_path(@_jeux_videos_genre) %> |
  <%= link_to "Back to jeux videos genres", _jeux_videos_genres_path %>

  <%= button_to "Destroy this jeux videos genre", @_jeux_videos_genre, method: :delete %>
</div>
