<p style="color: green"><%= notice %></p>

<%= render @_films_asiatiques_actualite %>

<div>
  <%= link_to "Edit this films asiatiques actualite", edit__films_asiatiques_actualite_path(@_films_asiatiques_actualite) %> |
  <%= link_to "Back to films asiatiques actualites", _films_asiatiques_actualites_path %>

  <%= button_to "Destroy this films asiatiques actualite", @_films_asiatiques_actualite, method: :delete %>
</div>
