<p style="color: green"><%= notice %></p>































































































































<%= render @_doujinshis_ln %>































































































































<div>































































  <%= link_to "Edit this doujinshis ln", edit_doujinshis_ln_path(@_doujinshis_ln) %> |































































  <%= link_to "Back to doujinshis lns", doujinshis_lns_path %>































































































































  <%= button_to "Destroy this doujinshis ln", @_doujinshis_ln, method: :delete %>































































</div>
