<p style="color: green"><%= notice %></p>

<%= render @_sites_dachats_pay %>

<div>
  <%= link_to "Edit this sites dachats pay", edit__sites_dachats_pay_path(@_sites_dachats_pay) %> |
  <%= link_to "Back to sites dachats pays", _sites_dachats_pays_path %>

  <%= button_to "Destroy this sites dachats pay", @_sites_dachats_pay, method: :delete %>
</div>
