<p style="color: green"><%= notice %></p>

<%= render @artbooks_illustration %>

<div>
  <%= link_to "Edit this artbooks illustration", edit_artbooks_illustration_path(@artbooks_illustration) %> |
  <%= link_to "Back to artbooks illustrations", artbooks_illustrations_path %>

  <%= button_to "Destroy this artbooks illustration", @artbooks_illustration, method: :delete %>
</div>
