<p style="color: green"><%= notice %></p>

<%= render @_films_asiatiques_jv %>

<div>
  <%= link_to "Edit this films asiatiques jv", edit__films_asiatiques_jv_path(@_films_asiatiques_jv) %> |
  <%= link_to "Back to films asiatiques jvs", _films_asiatiques_jvs_path %>

  <%= button_to "Destroy this films asiatiques jv", @_films_asiatiques_jv, method: :delete %>
</div>
