<p style="color: green"><%= notice %></p>































































































































<%= render @_goodies_editeurs_vf %>































































































































<div>































































  <%= link_to "Edit this goodies editeurs vf", edit_goodies_editeurs_vf_path(@_goodies_editeurs_vf) %> |































































  <%= link_to "Back to goodies editeurs vfs", goodies_editeurs_vfs_path %>































































































































  <%= button_to "Destroy this goodies editeurs vf", @_goodies_editeurs_vf, method: :delete %>































































</div>
