<p style="color: green"><%= notice %></p>

<%= render @_dramas_generiques_person %>

<div>
  <%= link_to "Edit this dramas generiques person", edit__dramas_generiques_person_path(@_dramas_generiques_person) %> |
  <%= link_to "Back to dramas generiques people", _dramas_generiques_people_path %>

  <%= button_to "Destroy this dramas generiques person", @_dramas_generiques_person, method: :delete %>
</div>
