<p style="color: green"><%= notice %></p>































































































































<%= render @_dramas_anime_plu %>































































































































<div>































































  <%= link_to "Edit this dramas anime plu", edit_dramas_anime_plu_path(@_dramas_anime_plu) %> |































































  <%= link_to "Back to dramas anime plus", dramas_anime_plus_path %>































































































































  <%= button_to "Destroy this dramas anime plu", @_dramas_anime_plu, method: :delete %>































































</div>
