<p style="color: green"><%= notice %></p>































































































































<%= render @_jeux_video %>































































































































<div>































































  <%= link_to "Edit this jeux video", edit_jeux_video_path(@_jeux_video) %> |































































  <%= link_to "Back to jeux videos", jeux_videos_path %>































































































































  <%= button_to "Destroy this jeux video", @_jeux_video, method: :delete %>































































</div>
