<p style="color: green"><%= notice %></p>































































































































<%= render @_personnalites_agences_fin %>































































































































<div>































































  <%= link_to "Edit this personnalites agences fin", edit_personnalites_agences_fin_path(@_personnalites_agences_fin) %> |































































  <%= link_to "Back to personnalites agences fins", personnalites_agences_fins_path %>































































































































  <%= button_to "Destroy this personnalites agences fin", @_personnalites_agences_fin, method: :delete %>































































</div>
