<p style="color: green"><%= notice %></p>































































































































<%= render @_photobooks_role %>































































































































<div>































































  <%= link_to "Edit this photobooks role", edit_photobooks_role_path(@_photobooks_role) %> |































































  <%= link_to "Back to photobooks roles", photobooks_roles_path %>































































































































  <%= button_to "Destroy this photobooks role", @_photobooks_role, method: :delete %>































































</div>
