<p style="color: green"><%= notice %></p>































































































































<%= render @_mangas_anime %>































































































































<div>































































  <%= link_to "Edit this mangas anime", edit_mangas_anime_path(@_mangas_anime) %> |































































  <%= link_to "Back to mangas animes", mangas_animes_path %>































































































































  <%= button_to "Destroy this mangas anime", @_mangas_anime, method: :delete %>































































</div>
