<p style="color: green"><%= notice %></p>































































































































<%= render @_livres_pay %>































































































































<div>































































  <%= link_to "Edit this livres pay", edit_livres_pay_path(@_livres_pay) %> |































































  <%= link_to "Back to livres pays", livres_pays_path %>































































































































  <%= button_to "Destroy this livres pay", @_livres_pay, method: :delete %>































































</div>
