<p style="color: green"><%= notice %></p>

<%= render @_breves_amv %>

<div>
  <%= link_to "Edit this breves amv", edit__breves_amv_path(@_breves_amv) %> |
  <%= link_to "Back to breves amvs", _breves_amvs_path %>

  <%= button_to "Destroy this breves amv", @_breves_amv, method: :delete %>
</div>
