<%= form_with(model: _doujins_groupe) do |form| %>
  <% if _doujins_groupe.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(_doujins_groupe.errors.count, "error") %> prohibited this _doujins_groupe from being saved:</h2>

      <ul>
        <% _doujins_groupe.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
