<p style="color: green"><%= notice %></p>

<%= render @_personnalites_role %>

<div>
  <%= link_to "Edit this personnalites role", edit__personnalites_role_path(@_personnalites_role) %> |
  <%= link_to "Back to personnalites roles", _personnalites_roles_path %>

  <%= button_to "Destroy this personnalites role", @_personnalites_role, method: :delete %>
</div>
