<p style="color: green"><%= notice %></p>































































































































<%= render @_generique_de_jeu_videos_jv_generic %>































































































































<div>































































  <%= link_to "Edit this generique de jeu videos jv generic", edit_generique_de_jeu_videos_jv_generic_path(@_generique_de_jeu_videos_jv_generic) %> |































































  <%= link_to "Back to generique de jeu videos jv generics", generique_de_jeu_videos_jv_generics_path %>































































































































  <%= button_to "Destroy this generique de jeu videos jv generic", @_generique_de_jeu_videos_jv_generic, method: :delete %>































































</div>
