<p style="color: green"><%= notice %></p>































































































































<%= render @animes_anime_plu %>































































































































<div>































































  <%= link_to "Edit this animes anime plu", edit_animes_anime_plu_path(@animes_anime_plu) %> |































































  <%= link_to "Back to animes anime plus", animes_anime_plus_path %>































































































































  <%= button_to "Destroy this animes anime plu", @animes_anime_plu, method: :delete %>































































</div>
