<p style="color: green"><%= notice %></p>

<%= render @_films_asiatiques_en_salles_genre %>

<div>
  <%= link_to "Edit this films asiatiques en salles genre", edit__films_asiatiques_en_salles_genre_path(@_films_asiatiques_en_salles_genre) %> |
  <%= link_to "Back to films asiatiques en salles genres", _films_asiatiques_en_salles_genres_path %>

  <%= button_to "Destroy this films asiatiques en salles genre", @_films_asiatiques_en_salles_genre, method: :delete %>
</div>
