<div id="<%= dom_id _doujin %>">
  <p>
    <strong>Titre:</strong>
    <%= _doujin.titre %>
  </p>

  <p>
    <strong>Titre original latin:</strong>
    <%= _doujin.titre_original_latin %>
  </p>

  <p>
    <strong>Titre original:</strong>
    <%= _doujin.titre_original %>
  </p>

  <p>
    <strong>Titre alternatif:</strong>
    <%= _doujin.titre_alternatif %>
  </p>

  <p>
    <strong>Doujins conventions:</strong>
    <%= _doujin._doujins_conventions_id %>
  </p>

  <p>
    <strong>Doujins conventions:</strong>
    <%= _doujin._doujins_conventions_id %>
  </p>

  <p>
    <strong>Ref:</strong>
    <%= _doujin.ref %>
  </p>

  <p>
    <strong>Date jj:</strong>
    <%= _doujin.date_jj %>
  </p>

  <p>
    <strong>Date mm:</strong>
    <%= _doujin.date_mm %>
  </p>

  <p>
    <strong>Date aaaa:</strong>
    <%= _doujin.date_aaaa %>
  </p>

  <p>
    <strong>Doujins role:</strong>
    <%= _doujin._doujins_role_id %>
  </p>

  <p>
    <strong>Doujins people:</strong>
    <%= _doujin._doujins_people_id %>
  </p>

  <p>
    <strong>Doujins role:</strong>
    <%= _doujin._doujins_role_id %>
  </p>

  <p>
    <strong>Doujins people:</strong>
    <%= _doujin._doujins_people_id %>
  </p>

  <p>
    <strong>Cercle:</strong>
    <%= _doujin.cercle %>
  </p>

  <p>
    <strong>Image:</strong>
    <%= _doujin.image %>
  </p>

  <p>
    <strong>Infos:</strong>
    <%= _doujin.infos %>
  </p>

  <p>
    <strong>Doujins genres:</strong>
    <%= _doujin._doujins_genres_id %>
  </p>

  <p>
    <strong>Doujins genres:</strong>
    <%= _doujin._doujins_genres_id %>
  </p>

  <p>
    <strong>Doujins groupes:</strong>
    <%= _doujin._doujins_groupes_id %>
  </p>

  <p>
    <strong>Doujins anime:</strong>
    <%= _doujin._doujins_anime_id %>
  </p>

  <p>
    <strong>Doujins ln:</strong>
    <%= _doujin._doujins_ln_id %>
  </p>

  <p>
    <strong>Doujins drama:</strong>
    <%= _doujin._doujins_drama_id %>
  </p>

  <p>
    <strong>Doujins am:</strong>
    <%= _doujin._doujins_am_id %>
  </p>

  <p>
    <strong>Doujins jv:</strong>
    <%= _doujin._doujins_jv_id %>
  </p>

  <p>
    <strong>Doujins doujin:</strong>
    <%= _doujin._doujins_doujin_id %>
  </p>

  <p>
    <strong>Doujins artbook:</strong>
    <%= _doujin._doujins_artbook_id %>
  </p>

  <p>
    <strong>Comment:</strong>
    <%= _doujin.comment %>
  </p>

  <p>
    <strong>Statut prop:</strong>
    <%= _doujin.statut_prop %>
  </p>

  <p>
    <strong>Statut prop:</strong>
    <%= _doujin.statut_prop %>
  </p>

  <p>
    <strong>Acceptregles:</strong>
    <%= _doujin.acceptregles %>
  </p>

</div>
