<p style="color: green"><%= notice %></p>



<%= render @_clips_lives_bonus_concerts_type_bonu %>



<div>

  <%= link_to "Edit this concerts type bonu", edit_clips_lives_bonus_concerts_type_bonu_path(@_clips_lives_bonus_concerts_type_bonu) %> |

  <%= link_to "Back to concerts type bonus", clips_lives_bonus_concerts_type_bonus_path %>



  <%= button_to "Destroy this concerts type bonu", @_clips_lives_bonus_concerts_type_bonu, method: :delete %>

</div>
