<p style="color: green"><%= notice %></p>































































































































<%= render @_generique_de_jeu_videos_jv %>































































































































<div>































































  <%= link_to "Edit this generique de jeu videos jv", edit_generique_de_jeu_videos_jv_path(@_generique_de_jeu_videos_jv) %> |































































  <%= link_to "Back to generique de jeu videos jvs", generique_de_jeu_videos_jvs_path %>































































































































  <%= button_to "Destroy this generique de jeu videos jv", @_generique_de_jeu_videos_jv, method: :delete %>































































</div>
