<p style="color: green"><%= notice %></p>































































































































<%= render @_livres_person %>































































































































<div>































































  <%= link_to "Edit this livres person", edit_livres_person_path(@_livres_person) %> |































































  <%= link_to "Back to livres people", livres_people_path %>































































































































  <%= button_to "Destroy this livres person", @_livres_person, method: :delete %>































































</div>
