<p style="color: green"><%= notice %></p>

<%= render @_doujinshis_manga_plu %>

<div>
  <%= link_to "Edit this doujinshis manga plu", edit__doujinshis_manga_plu_path(@_doujinshis_manga_plu) %> |
  <%= link_to "Back to doujinshis manga plus", _doujinshis_manga_plus_path %>

  <%= button_to "Destroy this doujinshis manga plu", @_doujinshis_manga_plu, method: :delete %>
</div>
