<p style="color: green"><%= notice %></p>

<%= render @_photobooks_france %>

<div>
  <%= link_to "Edit this photobooks france", edit__photobooks_france_path(@_photobooks_france) %> |
  <%= link_to "Back to photobooks frances", _photobooks_frances_path %>

  <%= button_to "Destroy this photobooks france", @_photobooks_france, method: :delete %>
</div>
