<p style="color: green"><%= notice %></p>

<%= render @_films_asiatiques_theme %>

<div>
  <%= link_to "Edit this films asiatiques theme", edit__films_asiatiques_theme_path(@_films_asiatiques_theme) %> |
  <%= link_to "Back to films asiatiques themes", _films_asiatiques_themes_path %>

  <%= button_to "Destroy this films asiatiques theme", @_films_asiatiques_theme, method: :delete %>
</div>
