<p style="color: green"><%= notice %></p>































































































































<%= render @_doujinshis_type %>































































































































<div>































































  <%= link_to "Edit this doujinshis type", edit_doujinshis_type_path(@_doujinshis_type) %> |































































  <%= link_to "Back to doujinshis types", doujinshis_types_path %>































































































































  <%= button_to "Destroy this doujinshis type", @_doujinshis_type, method: :delete %>































































</div>
