<p style="color: green"><%= notice %></p>































































































































<%= render @_goodies_bonu %>































































































































<div>































































  <%= link_to "Edit this goodies bonu", edit_goodies_bonu_path(@_goodies_bonu) %> |































































  <%= link_to "Back to goodies bonus", goodies_bonus_path %>































































































































  <%= button_to "Destroy this goodies bonu", @_goodies_bonu, method: :delete %>































































</div>
