<p style="color: green"><%= notice %></p>

<%= render @_films_asiatiques_en_salles_anime %>

<div>
  <%= link_to "Edit this films asiatiques en salles anime", edit__films_asiatiques_en_salles_anime_path(@_films_asiatiques_en_salles_anime) %> |
  <%= link_to "Back to films asiatiques en salles animes", _films_asiatiques_en_salles_animes_path %>

  <%= button_to "Destroy this films asiatiques en salles anime", @_films_asiatiques_en_salles_anime, method: :delete %>
</div>
