<p style="color: green"><%= notice %></p>































































































































<%= render @_cds_manga %>































































































































<div>































































  <%= link_to "Edit this cds manga", edit_cds_manga_path(@_cds_manga) %> |































































  <%= link_to "Back to cds mangas", cds_mangas_path %>































































































































  <%= button_to "Destroy this cds manga", @_cds_manga, method: :delete %>































































</div>
