<p style="color: green"><%= notice %></p>































































































































<%= render @animes_drama %>































































































































<div>































































  <%= link_to "Edit this animes drama", edit_animes_drama_path(@animes_drama) %> |































































  <%= link_to "Back to animes dramas", animes_dramas_path %>































































































































  <%= button_to "Destroy this animes drama", @animes_drama, method: :delete %>































































</div>
