<p style="color: green"><%= notice %></p>

<%= render @_video %>

<div>
  <%= link_to "Edit this video", edit__video_path(@_video) %> |
  <%= link_to "Back to videos", _videos_path %>

  <%= button_to "Destroy this video", @_video, method: :delete %>
</div>
