<p style="color: green"><%= notice %></p>

<%= render @_mangas_actualite %>

<div>
  <%= link_to "Edit this mangas actualite", edit__mangas_actualite_path(@_mangas_actualite) %> |
  <%= link_to "Back to mangas actualites", _mangas_actualites_path %>

  <%= button_to "Destroy this mangas actualite", @_mangas_actualite, method: :delete %>
</div>
