<%= form_with(model: _goody) do |form| %>































































  <% if _goody.errors.any? %>































































    <div style="color: red">































































      <h2><%= pluralize(_goody.errors.count, "error") %> prohibited this _goody from being saved:</h2>































































































































      <ul>































































        <% _goody.errors.each do |error| %>































































          <li><%= error.full_message %></li>































































        <% end %>































































      </ul>































































    </div>































































  <% end %>































































































































  <div>































































    <%= form.label :_goodies_type_id, style: "display: block" %>































































    <%= form.select :_goodies_type_id, GoodiesType.all.collect{|x|[x.name, x.id]} %>































































  </div>































































































































  <div>































































    <%= form.label :_goodies_pays_id, style: "display: block" %>































































    <%= form.select :_goodies_pays_id, GoodiesPay.all.collect{|x|[x.name, x.id]} %>































































  </div>































































































































  <div>































































    <%= form.label :titre, style: "display: block" %>































































    <%= form.text_field :titre %>































































  </div>































































































































  <div>































































    <%= form.label :titre_alternatif, style: "display: block" %>































































    <%= form.text_field :titre_alternatif %>































































  </div>































































































































  <div>































































    <%= form.label :titre_original_latin, style: "display: block" %>































































    <%= form.text_field :titre_original_latin %>































































  </div>































































































































  <div>































































    <%= form.label :titre_original, style: "display: block" %>































































    <%= form.text_field :titre_original %>































































  </div>































































































































  <div>































































    <%= form.label :image, style: "display: block" %>































































    <%= form.text_field :image %>































































  </div>































































































































  <div>































































    <%= form.label :image_vo, style: "display: block" %>































































    <%= form.text_field :image_vo %>































































  </div>































































































































  <div>































































    <%= form.label :date_parution_vo_jj, style: "display: block" %>































































    <%= form.text_field :date_parution_vo_jj %>































































  </div>































































































































  <div>































































    <%= form.label :date_parution_vo_mm, style: "display: block" %>































































    <%= form.text_field :date_parution_vo_mm %>































































  </div>































































































































  <div>































































    <%= form.label :date_parution_vo_aaaa, style: "display: block" %>































































    <%= form.text_field :date_parution_vo_aaaa %>































































  </div>































































































































  <div>































































    <%= form.label :date_parution_vf_jj, style: "display: block" %>































































    <%= form.text_field :date_parution_vf_jj %>































































  </div>































































































































  <div>































































    <%= form.label :date_parution_vf_mm, style: "display: block" %>































































    <%= form.text_field :date_parution_vf_mm %>































































  </div>































































































































  <div>































































    <%= form.label :date_parution_vf_aaaa, style: "display: block" %>































































    <%= form.text_field :date_parution_vf_aaaa %>































































  </div>































































































































  <div>































































    <%= form.label :date_reedition_jj, style: "display: block" %>































































    <%= form.text_field :date_reedition_jj %>































































  </div>































































































































  <div>































































    <%= form.label :date_reedition_mm, style: "display: block" %>































































    <%= form.text_field :date_reedition_mm %>































































  </div>































































































































  <div>































































    <%= form.label :date_reedition_aaaa, style: "display: block" %>































































    <%= form.text_field :date_reedition_aaaa %>































































  </div>































































































































  <div>































































    <%= form.label :prix, style: "display: block" %>































































    <%= form.text_field :prix %>































































  </div>































































































































  <div>































































    <%= form.label :commerce, style: "display: block" %>































































    <%= form.text_field :commerce %>































































  </div>































































































































  <div>































































    <%= form.label :ean, style: "display: block" %>































































    <%= form.text_field :ean %>































































  </div>































































































































  <div>































































    <%= form.label :ref, style: "display: block" %>































































    <%= form.text_field :ref %>































































  </div>































































































































  <div>































































    <%= form.label :_goodies_matiere_id, style: "display: block" %>































































    <%= form.select :_goodies_matiere_id, GoodiesMatiere.all.collect{|x|[x.name, x.id]} %>































































  </div>































































































































  <div>































































    <%= form.label :_goodies_matiere_id, style: "display: block" %>































































    <%= form.select :_goodies_matiere_id, GoodiesMatiere.all.collect{|x|[x.name, x.id]} %>































































  </div>































































































































  <div>































































    <%= form.label :dimensions_h, style: "display: block" %>































































    <%= form.text_field :dimensions_h %>































































  </div>































































































































  <div>































































    <%= form.label :dimensions_w, style: "display: block" %>































































    <%= form.text_field :dimensions_w %>































































  </div>































































































































  <div>































































    <%= form.label :dimensions_z, style: "display: block" %>































































    <%= form.text_field :dimensions_z %>































































  </div>































































































































  <div>































































    <%= form.label :poids, style: "display: block" %>































































    <%= form.text_field :poids %>































































  </div>































































































































  <div>































































    <%= form.label :echelle, style: "display: block" %>































































    <%= form.text_field :echelle %>































































  </div>































































































































  <div>































































    <%= form.label :articule, style: "display: block" %>































































    <%= form.text_field :articule %>































































  </div>































































































































  <div>































































    <%= form.label :articule, style: "display: block" %>































































    <%= form.text_field :articule %>































































  </div>































































































































  <div>































































    <%= form.label :site, style: "display: block" %>































































    <%= form.text_field :site %>































































  </div>































































































































  <div>































































    <%= form.label :_goodies_editeurs_vo_id, style: "display: block" %>































































    <%= form.select :_goodies_editeurs_vo_id, GoodiesEditeursVo.all.collect{|x|[x.name, x.id]} %>































































  </div>































































































































  <div>































































    <%= form.label :_goodies_editeurs_vo_id, style: "display: block" %>































































    <%= form.select :_goodies_editeurs_vo_id, GoodiesEditeursVo.all.collect{|x|[x.name, x.id]} %>































































  </div>































































































































  <div>































































    <%= form.label :_goodies_editeurs_vf_id, style: "display: block" %>































































    <%= form.select :_goodies_editeurs_vf_id, GoodiesEditeursVf.all.collect{|x|[x.name, x.id]} %>































































  </div>































































































































  <div>































































    <%= form.label :_goodies_editeurs_vf_id, style: "display: block" %>































































    <%= form.select :_goodies_editeurs_vf_id, GoodiesEditeursVf.all.collect{|x|[x.name, x.id]} %>































































  </div>































































































































  <div>































































    <%= form.label :_goodies_staff_role_id, style: "display: block" %>































































    <%= form.select :_goodies_staff_role_id, GoodiesStaffRole.all.collect{|x|[x.name, x.id]} %>































































  </div>































































































































  <div>































































    <%= form.label :_goodies_staff_people_id, style: "display: block" %>































































    <%= form.select :_goodies_staff_people_id, GoodiesStaffPerson.all.collect{|x|[x.name, x.id]} %>































































  </div>































































































































  <div>































































    <%= form.label :_goodies_staff_role_id, style: "display: block" %>































































    <%= form.select :_goodies_staff_role_id, GoodiesStaffRole.all.collect{|x|[x.name, x.id]} %>































































  </div>































































































































  <div>































































    <%= form.label :_goodies_staff_people_id, style: "display: block" %>































































    <%= form.select :_goodies_staff_people_id, GoodiesStaffPerson.all.collect{|x|[x.name, x.id]} %>































































  </div>































































































































  <div>































































    <%= form.label :sculpteur, style: "display: block" %>































































    <%= form.text_field :sculpteur %>































































  </div>































































































































  <div>































































    <%= form.label :_goodies_societe_role_id, style: "display: block" %>































































    <%= form.select :_goodies_societe_role_id, GoodiesSocieteRole.all.collect{|x|[x.name, x.id]} %>































































  </div>































































































































  <div>































































    <%= form.label :_goodies_societe_people_id, style: "display: block" %>































































    <%= form.select :_goodies_societe_people_id, GoodiesSocietePerson.all.collect{|x|[x.name, x.id]} %>































































  </div>































































































































  <div>































































    <%= form.label :_goodies_societe_role_id, style: "display: block" %>































































    <%= form.select :_goodies_societe_role_id, GoodiesSocieteRole.all.collect{|x|[x.name, x.id]} %>































































  </div>































































































































  <div>































































    <%= form.label :_goodies_societe_people_id, style: "display: block" %>































































    <%= form.select :_goodies_societe_people_id, GoodiesSocietePerson.all.collect{|x|[x.name, x.id]} %>































































  </div>































































































































  <div>































































    <%= form.label :resume, style: "display: block" %>































































    <%= form.text_area :resume %>































































  </div>































































































































  <div>































































    <%= form.label :infos, style: "display: block" %>































































    <%= form.text_area :infos %>































































  </div>































































































































  <div>































































    <%= form.label :youtube, style: "display: block" %>































































    <%= form.text_field :youtube %>































































  </div>































































































































  <div>































































    <%= form.label :_goodies_public_averti_id, style: "display: block" %>































































    <%= form.select :_goodies_public_averti_id, GoodiesPublicAverti.all.collect{|x|[x.name, x.id]} %>































































  </div>































































































































  <div>































































    <%= form.label :_goodies_groupes_id, style: "display: block" %>































































    <%= form.select :_goodies_groupes_id, GoodiesGroupe.all.collect{|x|[x.name, x.id]} %>































































  </div>































































































































  <div>































































    <%= form.label :_goodies_anime_id, style: "display: block" %>































































    <%= form.select :_goodies_anime_id, GoodiesAnime.all.collect{|x|[x.name, x.id]} %>































































  </div>































































































































  <div>































































    <%= form.label :_goodies_perso_id, style: "display: block" %>































































    <%= form.select :_goodies_perso_id, GoodiesPerso.all.collect{|x|[x.name, x.id]} %>































































  </div>































































































































  <div>































































    <%= form.label :_goodies_manga_id, style: "display: block" %>































































    <%= form.select :_goodies_manga_id, GoodiesManga.all.collect{|x|[x.name, x.id]} %>































































  </div>































































































































  <div>































































    <%= form.label :_goodies_perso_manga_id, style: "display: block" %>































































    <%= form.select :_goodies_perso_manga_id, GoodiesPersoManga.all.collect{|x|[x.name, x.id]} %>































































  </div>































































































































  <div>































































    <%= form.label :_goodies_jv_id, style: "display: block" %>































































    <%= form.select :_goodies_jv_id, GoodiesJv.all.collect{|x|[x.name, x.id]} %>































































  </div>































































































































  <div>































































    <%= form.label :_goodies_jv_perso_id, style: "display: block" %>































































    <%= form.select :_goodies_jv_perso_id, GoodiesJvPerso.all.collect{|x|[x.name, x.id]} %>































































  </div>































































































































  <div>































































    <%= form.label :_goodies_ln_id, style: "display: block" %>































































    <%= form.select :_goodies_ln_id, GoodiesLn.all.collect{|x|[x.name, x.id]} %>































































  </div>































































































































  <div>































































    <%= form.label :_goodies_drama_id, style: "display: block" %>































































    <%= form.select :_goodies_drama_id, GoodiesDrama.all.collect{|x|[x.name, x.id]} %>































































  </div>































































































































  <div>































































    <%= form.label :_goodies_am_id, style: "display: block" %>































































    <%= form.select :_goodies_am_id, GoodiesAm.all.collect{|x|[x.name, x.id]} %>































































  </div>































































































































  <div>































































    <%= form.label :_goodies_artbook_id, style: "display: block" %>































































    <%= form.select :_goodies_artbook_id, GoodiesArtbook.all.collect{|x|[x.name, x.id]} %>































































  </div>































































































































  <div>































































    <%= form.label :_goodies_photobook_id, style: "display: block" %>































































    <%= form.select :_goodies_photobook_id, GoodiesPhotobook.all.collect{|x|[x.name, x.id]} %>































































  </div>































































































































  <div>































































    <%= form.label :_goodies_doujinshi_id, style: "display: block" %>































































    <%= form.select :_goodies_doujinshi_id, GoodiesDoujinshi.all.collect{|x|[x.name, x.id]} %>































































  </div>































































































































  <div>































































    <%= form.label :_goodies_dvd_id, style: "display: block" %>































































    <%= form.select :_goodies_dvd_id, GoodiesDvd.all.collect{|x|[x.name, x.id]} %>































































  </div>































































































































  <div>































































    <%= form.label :_goodies_cd_id, style: "display: block" %>































































    <%= form.select :_goodies_cd_id, GoodiesCd.all.collect{|x|[x.name, x.id]} %>































































  </div>































































































































  <div>































































    <%= form.label :_goodies_ost_id, style: "display: block" %>































































    <%= form.select :_goodies_ost_id, GoodiesOst.all.collect{|x|[x.name, x.id]} %>































































  </div>































































































































  <div>































































    <%= form.label :_goodies_people_id, style: "display: block" %>































































    <%= form.select :_goodies_people_id, GoodiesPerson.all.collect{|x|[x.name, x.id]} %>































































  </div>































































































































  <div>































































    <%= form.label :_goodies_goodies_id, style: "display: block" %>































































    <%= form.select :_goodies_goodies_id, GoodiesGoodie.all.collect{|x|[x.name, x.id]} %>































































  </div>































































































































  <div>































































    <%= form.label :_goodies_clip_id, style: "display: block" %>































































    <%= form.select :_goodies_clip_id, GoodiesClip.all.collect{|x|[x.name, x.id]} %>































































  </div>































































































































  <div>































































    <%= form.label :_goodies_bonus_id, style: "display: block" %>































































    <%= form.select :_goodies_bonus_id, GoodiesBonu.all.collect{|x|[x.name, x.id]} %>































































  </div>































































































































  <div>































































    <%= form.label :_goodies_litterature_asiatique_id, style: "display: block" %>































































    <%= form.select :_goodies_litterature_asiatique_id, GoodiesLitteratureAsiatique.all.collect{|x|[x.name, x.id]} %>































































  </div>































































































































  <div>































































    <%= form.label :_goodies_actualite_id, style: "display: block" %>































































    <%= form.select :_goodies_actualite_id, GoodiesActualite.all.collect{|x|[x.name, x.id]} %>































































  </div>































































































































  <div>































































    <%= form.label :_goodies_actualite_mini_id, style: "display: block" %>































































    <%= form.select :_goodies_actualite_mini_id, GoodiesActualiteMini.all.collect{|x|[x.name, x.id]} %>































































  </div>































































































































  <div>































































    <%= form.label :comment, style: "display: block" %>































































    <%= form.text_area :comment %>































































  </div>































































































































  <div>































































    <%= form.label :statut_prop, style: "display: block" %>































































    <%= form.text_field :statut_prop %>































































  </div>































































































































  <div>































































    <%= form.label :statut_prop, style: "display: block" %>































































    <%= form.text_field :statut_prop %>































































  </div>































































































































  <div>































































    <%= form.label :acceptregles, style: "display: block" %>































































    <%= form.text_field :acceptregles %>































































  </div>































































































































  <div>































































    <%= form.submit %>































































  </div>































































<% end %>
