<%= form_with(model: _goody) do |form| %>
  <% if _goody.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(_goody.errors.count, "error") %> prohibited this _goody from being saved:</h2>

      <ul>
        <% _goody.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :_goodies_type_id, style: "display: block" %>
    <%= form.number_field :_goodies_type_id %>
  </div>

  <div>
    <%= form.label :_goodies_pays_id, style: "display: block" %>
    <%= form.number_field :_goodies_pays_id %>
  </div>

  <div>
    <%= form.label :titre, style: "display: block" %>
    <%= form.text_field :titre %>
  </div>

  <div>
    <%= form.label :titre_alternatif, style: "display: block" %>
    <%= form.text_field :titre_alternatif %>
  </div>

  <div>
    <%= form.label :titre_original_latin, style: "display: block" %>
    <%= form.text_field :titre_original_latin %>
  </div>

  <div>
    <%= form.label :titre_original, style: "display: block" %>
    <%= form.text_field :titre_original %>
  </div>

  <div>
    <%= form.label :image, style: "display: block" %>
    <%= form.text_field :image %>
  </div>

  <div>
    <%= form.label :image_vo, style: "display: block" %>
    <%= form.text_field :image_vo %>
  </div>

  <div>
    <%= form.label :date_parution_vo_jj, style: "display: block" %>
    <%= form.text_field :date_parution_vo_jj %>
  </div>

  <div>
    <%= form.label :date_parution_vo_mm, style: "display: block" %>
    <%= form.text_field :date_parution_vo_mm %>
  </div>

  <div>
    <%= form.label :date_parution_vo_aaaa, style: "display: block" %>
    <%= form.text_field :date_parution_vo_aaaa %>
  </div>

  <div>
    <%= form.label :date_parution_vf_jj, style: "display: block" %>
    <%= form.text_field :date_parution_vf_jj %>
  </div>

  <div>
    <%= form.label :date_parution_vf_mm, style: "display: block" %>
    <%= form.text_field :date_parution_vf_mm %>
  </div>

  <div>
    <%= form.label :date_parution_vf_aaaa, style: "display: block" %>
    <%= form.text_field :date_parution_vf_aaaa %>
  </div>

  <div>
    <%= form.label :date_reedition_jj, style: "display: block" %>
    <%= form.text_field :date_reedition_jj %>
  </div>

  <div>
    <%= form.label :date_reedition_mm, style: "display: block" %>
    <%= form.text_field :date_reedition_mm %>
  </div>

  <div>
    <%= form.label :date_reedition_aaaa, style: "display: block" %>
    <%= form.text_field :date_reedition_aaaa %>
  </div>

  <div>
    <%= form.label :prix, style: "display: block" %>
    <%= form.text_field :prix %>
  </div>

  <div>
    <%= form.label :commerce, style: "display: block" %>
    <%= form.text_field :commerce %>
  </div>

  <div>
    <%= form.label :ean, style: "display: block" %>
    <%= form.text_field :ean %>
  </div>

  <div>
    <%= form.label :ref, style: "display: block" %>
    <%= form.text_field :ref %>
  </div>

  <div>
    <%= form.label :_goodies_matiere_id, style: "display: block" %>
    <%= form.number_field :_goodies_matiere_id %>
  </div>

  <div>
    <%= form.label :_goodies_matiere_id, style: "display: block" %>
    <%= form.number_field :_goodies_matiere_id %>
  </div>

  <div>
    <%= form.label :dimensions_h, style: "display: block" %>
    <%= form.text_field :dimensions_h %>
  </div>

  <div>
    <%= form.label :dimensions_w, style: "display: block" %>
    <%= form.text_field :dimensions_w %>
  </div>

  <div>
    <%= form.label :dimensions_z, style: "display: block" %>
    <%= form.text_field :dimensions_z %>
  </div>

  <div>
    <%= form.label :poids, style: "display: block" %>
    <%= form.text_field :poids %>
  </div>

  <div>
    <%= form.label :echelle, style: "display: block" %>
    <%= form.text_field :echelle %>
  </div>

  <div>
    <%= form.label :articule, style: "display: block" %>
    <%= form.text_field :articule %>
  </div>

  <div>
    <%= form.label :articule, style: "display: block" %>
    <%= form.text_field :articule %>
  </div>

  <div>
    <%= form.label :site, style: "display: block" %>
    <%= form.text_field :site %>
  </div>

  <div>
    <%= form.label :_goodies_editeurs_vo_id, style: "display: block" %>
    <%= form.number_field :_goodies_editeurs_vo_id %>
  </div>

  <div>
    <%= form.label :_goodies_editeurs_vo_id, style: "display: block" %>
    <%= form.number_field :_goodies_editeurs_vo_id %>
  </div>

  <div>
    <%= form.label :_goodies_editeurs_vf_id, style: "display: block" %>
    <%= form.number_field :_goodies_editeurs_vf_id %>
  </div>

  <div>
    <%= form.label :_goodies_editeurs_vf_id, style: "display: block" %>
    <%= form.number_field :_goodies_editeurs_vf_id %>
  </div>

  <div>
    <%= form.label :_goodies_staff_role_id, style: "display: block" %>
    <%= form.number_field :_goodies_staff_role_id %>
  </div>

  <div>
    <%= form.label :_goodies_staff_people_id, style: "display: block" %>
    <%= form.number_field :_goodies_staff_people_id %>
  </div>

  <div>
    <%= form.label :_goodies_staff_role_id, style: "display: block" %>
    <%= form.number_field :_goodies_staff_role_id %>
  </div>

  <div>
    <%= form.label :_goodies_staff_people_id, style: "display: block" %>
    <%= form.number_field :_goodies_staff_people_id %>
  </div>

  <div>
    <%= form.label :sculpteur, style: "display: block" %>
    <%= form.text_field :sculpteur %>
  </div>

  <div>
    <%= form.label :_goodies_societe_role_id, style: "display: block" %>
    <%= form.number_field :_goodies_societe_role_id %>
  </div>

  <div>
    <%= form.label :_goodies_societe_people_id, style: "display: block" %>
    <%= form.number_field :_goodies_societe_people_id %>
  </div>

  <div>
    <%= form.label :_goodies_societe_role_id, style: "display: block" %>
    <%= form.number_field :_goodies_societe_role_id %>
  </div>

  <div>
    <%= form.label :_goodies_societe_people_id, style: "display: block" %>
    <%= form.number_field :_goodies_societe_people_id %>
  </div>

  <div>
    <%= form.label :resume, style: "display: block" %>
    <%= form.text_area :resume %>
  </div>

  <div>
    <%= form.label :infos, style: "display: block" %>
    <%= form.text_area :infos %>
  </div>

  <div>
    <%= form.label :youtube, style: "display: block" %>
    <%= form.text_field :youtube %>
  </div>

  <div>
    <%= form.label :_goodies_public_averti_id, style: "display: block" %>
    <%= form.number_field :_goodies_public_averti_id %>
  </div>

  <div>
    <%= form.label :_goodies_groupes_id, style: "display: block" %>
    <%= form.number_field :_goodies_groupes_id %>
  </div>

  <div>
    <%= form.label :_goodies_anime_id, style: "display: block" %>
    <%= form.number_field :_goodies_anime_id %>
  </div>

  <div>
    <%= form.label :_goodies_perso_id, style: "display: block" %>
    <%= form.number_field :_goodies_perso_id %>
  </div>

  <div>
    <%= form.label :_goodies_manga_id, style: "display: block" %>
    <%= form.number_field :_goodies_manga_id %>
  </div>

  <div>
    <%= form.label :_goodies_perso_manga_id, style: "display: block" %>
    <%= form.number_field :_goodies_perso_manga_id %>
  </div>

  <div>
    <%= form.label :_goodies_jv_id, style: "display: block" %>
    <%= form.number_field :_goodies_jv_id %>
  </div>

  <div>
    <%= form.label :_goodies_jv_perso_id, style: "display: block" %>
    <%= form.number_field :_goodies_jv_perso_id %>
  </div>

  <div>
    <%= form.label :_goodies_ln_id, style: "display: block" %>
    <%= form.number_field :_goodies_ln_id %>
  </div>

  <div>
    <%= form.label :_goodies_drama_id, style: "display: block" %>
    <%= form.number_field :_goodies_drama_id %>
  </div>

  <div>
    <%= form.label :_goodies_am_id, style: "display: block" %>
    <%= form.number_field :_goodies_am_id %>
  </div>

  <div>
    <%= form.label :_goodies_artbook_id, style: "display: block" %>
    <%= form.number_field :_goodies_artbook_id %>
  </div>

  <div>
    <%= form.label :_goodies_photobook_id, style: "display: block" %>
    <%= form.number_field :_goodies_photobook_id %>
  </div>

  <div>
    <%= form.label :_goodies_doujinshi_id, style: "display: block" %>
    <%= form.number_field :_goodies_doujinshi_id %>
  </div>

  <div>
    <%= form.label :_goodies_dvd_id, style: "display: block" %>
    <%= form.number_field :_goodies_dvd_id %>
  </div>

  <div>
    <%= form.label :_goodies_cd_id, style: "display: block" %>
    <%= form.number_field :_goodies_cd_id %>
  </div>

  <div>
    <%= form.label :_goodies_ost_id, style: "display: block" %>
    <%= form.number_field :_goodies_ost_id %>
  </div>

  <div>
    <%= form.label :_goodies_people_id, style: "display: block" %>
    <%= form.number_field :_goodies_people_id %>
  </div>

  <div>
    <%= form.label :_goodies_goodies_id, style: "display: block" %>
    <%= form.number_field :_goodies_goodies_id %>
  </div>

  <div>
    <%= form.label :_goodies_clip_id, style: "display: block" %>
    <%= form.number_field :_goodies_clip_id %>
  </div>

  <div>
    <%= form.label :_goodies_bonus_id, style: "display: block" %>
    <%= form.number_field :_goodies_bonus_id %>
  </div>

  <div>
    <%= form.label :_goodies_litterature_asiatique_id, style: "display: block" %>
    <%= form.number_field :_goodies_litterature_asiatique_id %>
  </div>

  <div>
    <%= form.label :_goodies_actualite_id, style: "display: block" %>
    <%= form.number_field :_goodies_actualite_id %>
  </div>

  <div>
    <%= form.label :_goodies_actualite_mini_id, style: "display: block" %>
    <%= form.number_field :_goodies_actualite_mini_id %>
  </div>

  <div>
    <%= form.label :comment, style: "display: block" %>
    <%= form.text_area :comment %>
  </div>

  <div>
    <%= form.label :statut_prop, style: "display: block" %>
    <%= form.text_field :statut_prop %>
  </div>

  <div>
    <%= form.label :statut_prop, style: "display: block" %>
    <%= form.text_field :statut_prop %>
  </div>

  <div>
    <%= form.label :acceptregles, style: "display: block" %>
    <%= form.text_field :acceptregles %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
