<div id="<%= dom_id goody %>">































































  <p>































































    <strong>Goodies type:</strong>































































    <%= goody._goodies_type_id %>































































  </p>































































































































  <p>































































    <strong>Goodies pays:</strong>































































    <%= goody._goodies_pays_id %>































































  </p>































































































































  <p>































































    <strong>Titre:</strong>































































    <%= goody.titre %>































































  </p>































































































































  <p>































































    <strong>Titre alternatif:</strong>































































    <%= goody.titre_alternatif %>































































  </p>































































































































  <p>































































    <strong>Titre original latin:</strong>































































    <%= goody.titre_original_latin %>































































  </p>































































































































  <p>































































    <strong>Titre original:</strong>































































    <%= goody.titre_original %>































































  </p>































































































































  <p>































































    <strong>Image:</strong>































































    <%= goody.image %>































































  </p>































































































































  <p>































































    <strong>Image vo:</strong>































































    <%= goody.image_vo %>































































  </p>































































































































  <p>































































    <strong>Date parution vo jj:</strong>































































    <%= goody.date_parution_vo_jj %>































































  </p>































































































































  <p>































































    <strong>Date parution vo mm:</strong>































































    <%= goody.date_parution_vo_mm %>































































  </p>































































































































  <p>































































    <strong>Date parution vo aaaa:</strong>































































    <%= goody.date_parution_vo_aaaa %>































































  </p>































































































































  <p>































































    <strong>Date parution vf jj:</strong>































































    <%= goody.date_parution_vf_jj %>































































  </p>































































































































  <p>































































    <strong>Date parution vf mm:</strong>































































    <%= goody.date_parution_vf_mm %>































































  </p>































































































































  <p>































































    <strong>Date parution vf aaaa:</strong>































































    <%= goody.date_parution_vf_aaaa %>































































  </p>































































































































  <p>































































    <strong>Date reedition jj:</strong>































































    <%= goody.date_reedition_jj %>































































  </p>































































































































  <p>































































    <strong>Date reedition mm:</strong>































































    <%= goody.date_reedition_mm %>































































  </p>































































































































  <p>































































    <strong>Date reedition aaaa:</strong>































































    <%= goody.date_reedition_aaaa %>































































  </p>































































































































  <p>































































    <strong>Prix:</strong>































































    <%= goody.prix %>































































  </p>































































































































  <p>































































    <strong>Commerce:</strong>































































    <%= goody.commerce %>































































  </p>































































































































  <p>































































    <strong>Ean:</strong>































































    <%= goody.ean %>































































  </p>































































































































  <p>































































    <strong>Ref:</strong>































































    <%= goody.ref %>































































  </p>































































































































  <p>































































    <strong>Goodies matiere:</strong>































































    <%= goody._goodies_matiere_id %>































































  </p>































































































































  <p>































































    <strong>Goodies matiere:</strong>































































    <%= goody._goodies_matiere_id %>































































  </p>































































































































  <p>































































    <strong>Dimensions h:</strong>































































    <%= goody.dimensions_h %>































































  </p>































































































































  <p>































































    <strong>Dimensions w:</strong>































































    <%= goody.dimensions_w %>































































  </p>































































































































  <p>































































    <strong>Dimensions z:</strong>































































    <%= goody.dimensions_z %>































































  </p>































































































































  <p>































































    <strong>Poids:</strong>































































    <%= goody.poids %>































































  </p>































































































































  <p>































































    <strong>Echelle:</strong>































































    <%= goody.echelle %>































































  </p>































































































































  <p>































































    <strong>Articule:</strong>































































    <%= goody.articule %>































































  </p>































































































































  <p>































































    <strong>Articule:</strong>































































    <%= goody.articule %>































































  </p>































































































































  <p>































































    <strong>Site:</strong>































































    <%= goody.site %>































































  </p>































































































































  <p>































































    <strong>Goodies editeurs vo:</strong>































































    <%= goody._goodies_editeurs_vo_id %>































































  </p>































































































































  <p>































































    <strong>Goodies editeurs vo:</strong>































































    <%= goody._goodies_editeurs_vo_id %>































































  </p>































































































































  <p>































































    <strong>Goodies editeurs vf:</strong>































































    <%= goody._goodies_editeurs_vf_id %>































































  </p>































































































































  <p>































































    <strong>Goodies editeurs vf:</strong>































































    <%= goody._goodies_editeurs_vf_id %>































































  </p>































































































































  <p>































































    <strong>Goodies staff role:</strong>































































    <%= goody._goodies_staff_role_id %>































































  </p>































































































































  <p>































































    <strong>Goodies staff people:</strong>































































    <%= goody._goodies_staff_people_id %>































































  </p>































































































































  <p>































































    <strong>Goodies staff role:</strong>































































    <%= goody._goodies_staff_role_id %>































































  </p>































































































































  <p>































































    <strong>Goodies staff people:</strong>































































    <%= goody._goodies_staff_people_id %>































































  </p>































































































































  <p>































































    <strong>Sculpteur:</strong>































































    <%= goody.sculpteur %>































































  </p>































































































































  <p>































































    <strong>Goodies societe role:</strong>































































    <%= goody._goodies_societe_role_id %>































































  </p>































































































































  <p>































































    <strong>Goodies societe people:</strong>































































    <%= goody._goodies_societe_people_id %>































































  </p>































































































































  <p>































































    <strong>Goodies societe role:</strong>































































    <%= goody._goodies_societe_role_id %>































































  </p>































































































































  <p>































































    <strong>Goodies societe people:</strong>































































    <%= goody._goodies_societe_people_id %>































































  </p>































































































































  <p>































































    <strong>Resume:</strong>































































    <%= goody.resume %>































































  </p>































































































































  <p>































































    <strong>Infos:</strong>































































    <%= goody.infos %>































































  </p>































































































































  <p>































































    <strong>Youtube:</strong>































































    <%= goody.youtube %>































































  </p>































































































































  <p>































































    <strong>Goodies public averti:</strong>































































    <%= goody._goodies_public_averti_id %>































































  </p>































































































































  <p>































































    <strong>Goodies groupes:</strong>































































    <%= goody._goodies_groupes_id %>































































  </p>































































































































  <p>































































    <strong>Goodies anime:</strong>































































    <%= goody._goodies_anime_id %>































































  </p>































































































































  <p>































































    <strong>Goodies perso:</strong>































































    <%= goody._goodies_perso_id %>































































  </p>































































































































  <p>































































    <strong>Goodies manga:</strong>































































    <%= goody._goodies_manga_id %>































































  </p>































































































































  <p>































































    <strong>Goodies perso manga:</strong>































































    <%= goody._goodies_perso_manga_id %>































































  </p>































































































































  <p>































































    <strong>Goodies jv:</strong>































































    <%= goody._goodies_jv_id %>































































  </p>































































































































  <p>































































    <strong>Goodies jv perso:</strong>































































    <%= goody._goodies_jv_perso_id %>































































  </p>































































































































  <p>































































    <strong>Goodies ln:</strong>































































    <%= goody._goodies_ln_id %>































































  </p>































































































































  <p>































































    <strong>Goodies drama:</strong>































































    <%= goody._goodies_drama_id %>































































  </p>































































































































  <p>































































    <strong>Goodies am:</strong>































































    <%= goody._goodies_am_id %>































































  </p>































































































































  <p>































































    <strong>Goodies artbook:</strong>































































    <%= goody._goodies_artbook_id %>































































  </p>































































































































  <p>































































    <strong>Goodies photobook:</strong>































































    <%= goody._goodies_photobook_id %>































































  </p>































































































































  <p>































































    <strong>Goodies doujinshi:</strong>































































    <%= goody._goodies_doujinshi_id %>































































  </p>































































































































  <p>































































    <strong>Goodies dvd:</strong>































































    <%= goody._goodies_dvd_id %>































































  </p>































































































































  <p>































































    <strong>Goodies cd:</strong>































































    <%= goody._goodies_cd_id %>































































  </p>































































































































  <p>































































    <strong>Goodies ost:</strong>































































    <%= goody._goodies_ost_id %>































































  </p>































































































































  <p>































































    <strong>Goodies people:</strong>































































    <%= goody._goodies_people_id %>































































  </p>































































































































  <p>































































    <strong>Goodies goodies:</strong>































































    <%= goody._goodies_goodies_id %>































































  </p>































































































































  <p>































































    <strong>Goodies clip:</strong>































































    <%= goody._goodies_clip_id %>































































  </p>































































































































  <p>































































    <strong>Goodies bonus:</strong>































































    <%= goody._goodies_bonus_id %>































































  </p>































































































































  <p>































































    <strong>Goodies litterature asiatique:</strong>































































    <%= goody._goodies_litterature_asiatique_id %>































































  </p>































































































































  <p>































































    <strong>Goodies actualite:</strong>































































    <%= goody._goodies_actualite_id %>































































  </p>































































































































  <p>































































    <strong>Goodies actualite mini:</strong>































































    <%= goody._goodies_actualite_mini_id %>































































  </p>































































































































  <p>































































    <strong>Comment:</strong>































































    <%= goody.comment %>































































  </p>































































































































  <p>































































    <strong>Statut prop:</strong>































































    <%= goody.statut_prop %>































































  </p>































































































































  <p>































































    <strong>Statut prop:</strong>































































    <%= goody.statut_prop %>































































  </p>































































































































  <p>































































    <strong>Acceptregles:</strong>































































    <%= goody.acceptregles %>































































  </p>































































































































</div>
