<p style="color: green"><%= notice %></p>

<%= render @animes_actualite %>

<div>
  <%= link_to "Edit this animes actualite", edit_animes_actualite_path(@animes_actualite) %> |
  <%= link_to "Back to animes actualites", animes_actualites_path %>

  <%= button_to "Destroy this animes actualite", @animes_actualite, method: :delete %>
</div>
