<p style="color: green"><%= notice %></p>































































































































<%= render @artbooks_editeurs_vf %>































































































































<div>































































  <%= link_to "Edit this artbooks editeurs vf", edit_artbooks_editeurs_vf_path(@artbooks_editeurs_vf) %> |































































  <%= link_to "Back to artbooks editeurs vfs", artbooks_editeurs_vfs_path %>































































































































  <%= button_to "Destroy this artbooks editeurs vf", @artbooks_editeurs_vf, method: :delete %>































































</div>
