<p style="color: green"><%= notice %></p>































































































































<%= render @_dramas_doujin %>































































































































<div>































































  <%= link_to "Edit this dramas doujin", edit_dramas_doujin_path(@_dramas_doujin) %> |































































  <%= link_to "Back to dramas doujins", dramas_doujins_path %>































































































































  <%= button_to "Destroy this dramas doujin", @_dramas_doujin, method: :delete %>































































</div>
