<p style="color: green"><%= notice %></p>































































































































<%= render @_livres_am_plu %>































































































































<div>































































  <%= link_to "Edit this livres am plu", edit_livres_am_plu_path(@_livres_am_plu) %> |































































  <%= link_to "Back to livres am plus", livres_am_plus_path %>































































































































  <%= button_to "Destroy this livres am plu", @_livres_am_plu, method: :delete %>































































</div>
