<%= form_with(model: animes_public_averti) do |form| %>
  <% if animes_public_averti.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(animes_public_averti.errors.count, "error") %> prohibited this animes_public_averti from being saved:</h2>

      <ul>
        <% animes_public_averti.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
