<p style="color: green"><%= notice %></p>

<%= render @animes_public_averti %>

<div>
  <%= link_to "Edit this animes public averti", edit_animes_public_averti_path(@animes_public_averti) %> |
  <%= link_to "Back to animes public avertis", animes_public_avertis_path %>

  <%= button_to "Destroy this animes public averti", @animes_public_averti, method: :delete %>
</div>
