<p style="color: green"><%= notice %></p>

<%= render @_films_asiatiques_en_salles_am %>

<div>
  <%= link_to "Edit this films asiatiques en salles am", edit__films_asiatiques_en_salles_am_path(@_films_asiatiques_en_salles_am) %> |
  <%= link_to "Back to films asiatiques en salles ams", _films_asiatiques_en_salles_ams_path %>

  <%= button_to "Destroy this films asiatiques en salles am", @_films_asiatiques_en_salles_am, method: :delete %>
</div>
