<p style="color: green"><%= notice %></p>































































































































<%= render @amvs_jv %>































































































































<div>































































  <%= link_to "Edit this amvs jv", edit_amvs_jv_path(@amvs_jv) %> |































































  <%= link_to "Back to amvs jvs", amvs_jvs_path %>































































































































  <%= button_to "Destroy this amvs jv", @amvs_jv, method: :delete %>































































</div>
