<p style="color: green"><%= notice %></p>































































































































<%= render @_films_asiatiques_emission_tv_plu %>































































































































<div>































































  <%= link_to "Edit this films asiatiques emission tv plu", edit_films_asiatiques_emission_tv_plu_path(@_films_asiatiques_emission_tv_plu) %> |































































  <%= link_to "Back to films asiatiques emission tv plus", films_asiatiques_emission_tv_plus_path %>































































































































  <%= button_to "Destroy this films asiatiques emission tv plu", @_films_asiatiques_emission_tv_plu, method: :delete %>































































</div>
