<p style="color: green"><%= notice %></p>

<%= render @_cds_emission_tv %>

<div>
  <%= link_to "Edit this cds emission tv", edit__cds_emission_tv_path(@_cds_emission_tv) %> |
  <%= link_to "Back to cds emission tvs", _cds_emission_tvs_path %>

  <%= button_to "Destroy this cds emission tv", @_cds_emission_tv, method: :delete %>
</div>
