<p style="color: green"><%= notice %></p>































































































































<%= render @_jeux_videos_anime %>































































































































<div>































































  <%= link_to "Edit this jeux videos anime", edit_jeux_videos_anime_path(@_jeux_videos_anime) %> |































































  <%= link_to "Back to jeux videos animes", jeux_videos_animes_path %>































































































































  <%= button_to "Destroy this jeux videos anime", @_jeux_videos_anime, method: :delete %>































































</div>
