<%= form_with(model: _breves_photobook) do |form| %>
  <% if _breves_photobook.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(_breves_photobook.errors.count, "error") %> prohibited this _breves_photobook from being saved:</h2>

      <ul>
        <% _breves_photobook.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
