<p style="color: green"><%= notice %></p>































































































































<%= render @_films_asiatiques_generiques_people2 %>































































































































<div>































































  <%= link_to "Edit this films asiatiques generiques people2", edit_films_asiatiques_generiques_people2_path(@_films_asiatiques_generiques_people2) %> |































































  <%= link_to "Back to films asiatiques generiques people2s", films_asiatiques_generiques_people2s_path %>































































































































  <%= button_to "Destroy this films asiatiques generiques people2", @_films_asiatiques_generiques_people2, method: :delete %>































































</div>
