<p style="color: green"><%= notice %></p>

<%= render @_jeux_videos_staff_role %>

<div>
  <%= link_to "Edit this jeux videos staff role", edit__jeux_videos_staff_role_path(@_jeux_videos_staff_role) %> |
  <%= link_to "Back to jeux videos staff roles", _jeux_videos_staff_roles_path %>

  <%= button_to "Destroy this jeux videos staff role", @_jeux_videos_staff_role, method: :delete %>
</div>
