<p style="color: green"><%= notice %></p>

<%= render @_films_asiatiques_en_salles_type %>

<div>
  <%= link_to "Edit this films asiatiques en salles type", edit__films_asiatiques_en_salles_type_path(@_films_asiatiques_en_salles_type) %> |
  <%= link_to "Back to films asiatiques en salles types", _films_asiatiques_en_salles_types_path %>

  <%= button_to "Destroy this films asiatiques en salles type", @_films_asiatiques_en_salles_type, method: :delete %>
</div>
