<%= form_with(model: _clips___lives___bonus___concert) do |form| %>
  <% if _clips___lives___bonus___concert.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(_clips___lives___bonus___concert.errors.count, "error") %> prohibited this _clips___lives___bonus___concert from being saved:</h2>

      <ul>
        <% _clips___lives___bonus___concert.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :_clips_/_lives_/_bonus_/_concerts_type_id, style: "display: block" %>
    <%= form.number_field :_clips_/_lives_/_bonus_/_concerts_type_id %>
  </div>

  <div>
    <%= form.label :_clips_/_lives_/_bonus_/_concerts_type_bonus_id, style: "display: block" %>
    <%= form.number_field :_clips_/_lives_/_bonus_/_concerts_type_bonus_id %>
  </div>

  <div>
    <%= form.label :titre, style: "display: block" %>
    <%= form.text_field :titre %>
  </div>

  <div>
    <%= form.label :titre_original, style: "display: block" %>
    <%= form.text_field :titre_original %>
  </div>

  <div>
    <%= form.label :date_jj, style: "display: block" %>
    <%= form.text_field :date_jj %>
  </div>

  <div>
    <%= form.label :date_mm, style: "display: block" %>
    <%= form.text_field :date_mm %>
  </div>

  <div>
    <%= form.label :date_aaaa, style: "display: block" %>
    <%= form.text_field :date_aaaa %>
  </div>

  <div>
    <%= form.label :_clips_/_lives_/_bonus_/_concerts_role_id, style: "display: block" %>
    <%= form.number_field :_clips_/_lives_/_bonus_/_concerts_role_id %>
  </div>

  <div>
    <%= form.label :_clips_/_lives_/_bonus_/_concerts_people_id, style: "display: block" %>
    <%= form.number_field :_clips_/_lives_/_bonus_/_concerts_people_id %>
  </div>

  <div>
    <%= form.label :_clips_/_lives_/_bonus_/_concerts_role_id, style: "display: block" %>
    <%= form.number_field :_clips_/_lives_/_bonus_/_concerts_role_id %>
  </div>

  <div>
    <%= form.label :_clips_/_lives_/_bonus_/_concerts_people_id, style: "display: block" %>
    <%= form.number_field :_clips_/_lives_/_bonus_/_concerts_people_id %>
  </div>

  <div>
    <%= form.label :image, style: "display: block" %>
    <%= form.text_field :image %>
  </div>

  <div>
    <%= form.label :youtube, style: "display: block" %>
    <%= form.text_field :youtube %>
  </div>

  <div>
    <%= form.label :infos, style: "display: block" %>
    <%= form.text_area :infos %>
  </div>

  <div>
    <%= form.label :_clips_/_lives_/_bonus_/_concerts_clip_id, style: "display: block" %>
    <%= form.number_field :_clips_/_lives_/_bonus_/_concerts_clip_id %>
  </div>

  <div>
    <%= form.label :_clips_/_lives_/_bonus_/_concerts_emission_tv_numero_id, style: "display: block" %>
    <%= form.number_field :_clips_/_lives_/_bonus_/_concerts_emission_tv_numero_id %>
  </div>

  <div>
    <%= form.label :comment, style: "display: block" %>
    <%= form.text_area :comment %>
  </div>

  <div>
    <%= form.label :statut_prop, style: "display: block" %>
    <%= form.text_field :statut_prop %>
  </div>

  <div>
    <%= form.label :statut_prop, style: "display: block" %>
    <%= form.text_field :statut_prop %>
  </div>

  <div>
    <%= form.label :acceptregles, style: "display: block" %>
    <%= form.text_field :acceptregles %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
