<p style="color: green"><%= notice %></p>

<%= render @_clips___lives___bonus___concert %>

<div>
  <%= link_to "Edit this concert", edit__clips___lives___bonus___concert_path(@_clips___lives___bonus___concert) %> |
  <%= link_to "Back to concerts", _clips___lives___bonus___concerts_path %>

  <%= button_to "Destroy this concert", @_clips___lives___bonus___concert, method: :delete %>
</div>
