<p style="color: green"><%= notice %></p>































































































































<%= render @_films_asiatiques_litterature_asiatique_plu %>































































































































<div>































































  <%= link_to "Edit this films asiatiques litterature asiatique plu", edit_films_asiatiques_litterature_asiatique_plu_path(@_films_asiatiques_litterature_asiatique_plu) %> |































































  <%= link_to "Back to films asiatiques litterature asiatique plus", films_asiatiques_litterature_asiatique_plus_path %>































































































































  <%= button_to "Destroy this films asiatiques litterature asiatique plu", @_films_asiatiques_litterature_asiatique_plu, method: :delete %>































































</div>
