<p style="color: green"><%= notice %></p>































































































































<%= render @_jeux_videos_manga %>































































































































<div>































































  <%= link_to "Edit this jeux videos manga", edit_jeux_videos_manga_path(@_jeux_videos_manga) %> |































































  <%= link_to "Back to jeux videos mangas", jeux_videos_mangas_path %>































































































































  <%= button_to "Destroy this jeux videos manga", @_jeux_videos_manga, method: :delete %>































































</div>
