<p style="color: green"><%= notice %></p>































































































































<%= render @_jeux_videos_drama_plu %>































































































































<div>































































  <%= link_to "Edit this jeux videos drama plu", edit_jeux_videos_drama_plu_path(@_jeux_videos_drama_plu) %> |































































  <%= link_to "Back to jeux videos drama plus", jeux_videos_drama_plus_path %>































































































































  <%= button_to "Destroy this jeux videos drama plu", @_jeux_videos_drama_plu, method: :delete %>































































</div>
