<p style="color: green"><%= notice %></p>































































































































<%= render @_doujinshis_censure %>































































































































<div>































































  <%= link_to "Edit this doujinshis censure", edit_doujinshis_censure_path(@_doujinshis_censure) %> |































































  <%= link_to "Back to doujinshis censures", doujinshis_censures_path %>































































































































  <%= button_to "Destroy this doujinshis censure", @_doujinshis_censure, method: :delete %>































































</div>
