<p style="color: green"><%= notice %></p>

<%= render @_films_asiatiques_am_plu %>

<div>
  <%= link_to "Edit this films asiatiques am plu", edit__films_asiatiques_am_plu_path(@_films_asiatiques_am_plu) %> |
  <%= link_to "Back to films asiatiques am plus", _films_asiatiques_am_plus_path %>

  <%= button_to "Destroy this films asiatiques am plu", @_films_asiatiques_am_plu, method: :delete %>
</div>
