<p style="color: green"><%= notice %></p>

<%= render @animes_jv_plu %>

<div>
  <%= link_to "Edit this animes jv plu", edit_animes_jv_plu_path(@animes_jv_plu) %> |
  <%= link_to "Back to animes jv plus", animes_jv_plus_path %>

  <%= button_to "Destroy this animes jv plu", @animes_jv_plu, method: :delete %>
</div>
