<p style="color: green"><%= notice %></p>































































































































<%= render @_cds_jv %>































































































































<div>































































  <%= link_to "Edit this cds jv", edit_cds_jv_path(@_cds_jv) %> |































































  <%= link_to "Back to cds jvs", cds_jvs_path %>































































































































  <%= button_to "Destroy this cds jv", @_cds_jv, method: :delete %>































































</div>
