<p style="color: green"><%= notice %></p>

<%= render @animes_cinema %>

<div>
  <%= link_to "Edit this animes cinema", edit_animes_cinema_path(@animes_cinema) %> |
  <%= link_to "Back to animes cinemas", animes_cinemas_path %>

  <%= button_to "Destroy this animes cinema", @animes_cinema, method: :delete %>
</div>
