<p style="color: green"><%= notice %></p>































































































































<%= render @_livres_anime_plu %>































































































































<div>































































  <%= link_to "Edit this livres anime plu", edit_livres_anime_plu_path(@_livres_anime_plu) %> |































































  <%= link_to "Back to livres anime plus", livres_anime_plus_path %>































































































































  <%= button_to "Destroy this livres anime plu", @_livres_anime_plu, method: :delete %>































































</div>
