<p style="color: green"><%= notice %></p>































































































































<%= render @_breves_emission_tv %>































































































































<div>































































  <%= link_to "Edit this breves emission tv", edit_breves_emission_tv_path(@_breves_emission_tv) %> |































































  <%= link_to "Back to breves emission tvs", breves_emission_tvs_path %>































































































































  <%= button_to "Destroy this breves emission tv", @_breves_emission_tv, method: :delete %>































































</div>
