<div id="<%= dom_id _volume %>">
  <p>
    <strong>Volumes ln:</strong>
    <%= _volume._volumes_ln_id %>
  </p>

  <p>
    <strong>Numero:</strong>
    <%= _volume.numero %>
  </p>

  <p>
    <strong>Volumes type:</strong>
    <%= _volume._volumes_type_id %>
  </p>

  <p>
    <strong>Numerique:</strong>
    <%= _volume.numerique %>
  </p>

  <p>
    <strong>Image:</strong>
    <%= _volume.image %>
  </p>

  <p>
    <strong>Image nc:</strong>
    <%= _volume.image_nc %>
  </p>

  <p>
    <strong>Image vo:</strong>
    <%= _volume.image_vo %>
  </p>

  <p>
    <strong>Image vo2:</strong>
    <%= _volume.image_vo2 %>
  </p>

  <p>
    <strong>Date parution vo jj:</strong>
    <%= _volume.date_parution_vo_jj %>
  </p>

  <p>
    <strong>Date parution vo mm:</strong>
    <%= _volume.date_parution_vo_mm %>
  </p>

  <p>
    <strong>Date parution vo aaaa:</strong>
    <%= _volume.date_parution_vo_aaaa %>
  </p>

  <p>
    <strong>Date parution vf jj:</strong>
    <%= _volume.date_parution_vf_jj %>
  </p>

  <p>
    <strong>Date parution vf mm:</strong>
    <%= _volume.date_parution_vf_mm %>
  </p>

  <p>
    <strong>Date parution vf aaaa:</strong>
    <%= _volume.date_parution_vf_aaaa %>
  </p>

  <p>
    <strong>Prix:</strong>
    <%= _volume.prix %>
  </p>

  <p>
    <strong>Prix vo:</strong>
    <%= _volume.prix_vo %>
  </p>

  <p>
    <strong>Pages:</strong>
    <%= _volume.pages %>
  </p>

  <p>
    <strong>Volumes illustrations:</strong>
    <%= _volume._volumes_illustrations_id %>
  </p>

  <p>
    <strong>Ean:</strong>
    <%= _volume.ean %>
  </p>

  <p>
    <strong>Relie:</strong>
    <%= _volume.relie %>
  </p>

  <p>
    <strong>Sous jaquette:</strong>
    <%= _volume.sous_jaquette %>
  </p>

  <p>
    <strong>Resume:</strong>
    <%= _volume.resume %>
  </p>

  <p>
    <strong>Chapitres:</strong>
    <%= _volume.chapitres %>
  </p>

  <p>
    <strong>Infos:</strong>
    <%= _volume.infos %>
  </p>

  <p>
    <strong>Preview:</strong>
    <%= _volume.preview %>
  </p>

  <p>
    <strong>Comment:</strong>
    <%= _volume.comment %>
  </p>

  <p>
    <strong>Statut prop:</strong>
    <%= _volume.statut_prop %>
  </p>

  <p>
    <strong>Statut prop:</strong>
    <%= _volume.statut_prop %>
  </p>

  <p>
    <strong>Acceptregles:</strong>
    <%= _volume.acceptregles %>
  </p>

</div>
