<p style="color: green"><%= notice %></p>































































































































<%= render @_volume %>































































































































<div>































































  <%= link_to "Edit this volume", edit_volume_path(@_volume) %> |































































  <%= link_to "Back to volumes", volumes_path %>































































































































  <%= button_to "Destroy this volume", @_volume, method: :delete %>































































</div>
