<p style="color: green"><%= notice %></p>































































































































<%= render @_mangas_ln_plu %>































































































































<div>































































  <%= link_to "Edit this mangas ln plu", edit_mangas_ln_plu_path(@_mangas_ln_plu) %> |































































  <%= link_to "Back to mangas ln plus", mangas_ln_plus_path %>































































































































  <%= button_to "Destroy this mangas ln plu", @_mangas_ln_plu, method: :delete %>































































</div>
