<p style="color: green"><%= notice %></p>































































































































<%= render @_personnage_danimes_doubleur_role %>































































































































<div>































































  <%= link_to "Edit this personnage danimes doubleur role", edit_personnage_danimes_doubleur_role_path(@_personnage_danimes_doubleur_role) %> |































































  <%= link_to "Back to personnage danimes doubleur roles", personnage_danimes_doubleur_roles_path %>































































































































  <%= button_to "Destroy this personnage danimes doubleur role", @_personnage_danimes_doubleur_role, method: :delete %>































































</div>
