<p style="color: green"><%= notice %></p>

<%= render @_personnages_de_jeux_videos_perso_manga %>

<div>
  <%= link_to "Edit this personnages de jeux videos perso manga", edit__personnages_de_jeux_videos_perso_manga_path(@_personnages_de_jeux_videos_perso_manga) %> |
  <%= link_to "Back to personnages de jeux videos perso mangas", _personnages_de_jeux_videos_perso_mangas_path %>

  <%= button_to "Destroy this personnages de jeux videos perso manga", @_personnages_de_jeux_videos_perso_manga, method: :delete %>
</div>
