<p style="color: green"><%= notice %></p>































































































































<%= render @_films_asiatiques_pay %>































































































































<div>































































  <%= link_to "Edit this films asiatiques pay", edit_films_asiatiques_pay_path(@_films_asiatiques_pay) %> |































































  <%= link_to "Back to films asiatiques pays", films_asiatiques_pays_path %>































































































































  <%= button_to "Destroy this films asiatiques pay", @_films_asiatiques_pay, method: :delete %>































































</div>
