<p style="color: green"><%= notice %></p>

<%= render @_generique_de_jeu_video %>

<div>
  <%= link_to "Edit this generique de jeu video", edit__generique_de_jeu_video_path(@_generique_de_jeu_video) %> |
  <%= link_to "Back to generique de jeu videos", _generique_de_jeu_videos_path %>

  <%= button_to "Destroy this generique de jeu video", @_generique_de_jeu_video, method: :delete %>
</div>
