<p style="color: green"><%= notice %></p>































































































































<%= render @_photobooks_cd %>































































































































<div>































































  <%= link_to "Edit this photobooks cd", edit_photobooks_cd_path(@_photobooks_cd) %> |































































  <%= link_to "Back to photobooks cds", photobooks_cds_path %>































































































































  <%= button_to "Destroy this photobooks cd", @_photobooks_cd, method: :delete %>































































</div>
