<div id="<%= dom_id _concert %>">
  <p>
    <strong>Clips / lives / bonus / concerts type:</strong>
    <%= _concert._clips_/_lives_/_bonus_/_concerts_type_id %>
  </p>

  <p>
    <strong>Clips / lives / bonus / concerts type bonus:</strong>
    <%= _concert._clips_/_lives_/_bonus_/_concerts_type_bonus_id %>
  </p>

  <p>
    <strong>Titre:</strong>
    <%= _concert.titre %>
  </p>

  <p>
    <strong>Titre original:</strong>
    <%= _concert.titre_original %>
  </p>

  <p>
    <strong>Date jj:</strong>
    <%= _concert.date_jj %>
  </p>

  <p>
    <strong>Date mm:</strong>
    <%= _concert.date_mm %>
  </p>

  <p>
    <strong>Date aaaa:</strong>
    <%= _concert.date_aaaa %>
  </p>

  <p>
    <strong>Clips / lives / bonus / concerts role:</strong>
    <%= _concert._clips_/_lives_/_bonus_/_concerts_role_id %>
  </p>

  <p>
    <strong>Clips / lives / bonus / concerts people:</strong>
    <%= _concert._clips_/_lives_/_bonus_/_concerts_people_id %>
  </p>

  <p>
    <strong>Clips / lives / bonus / concerts role:</strong>
    <%= _concert._clips_/_lives_/_bonus_/_concerts_role_id %>
  </p>

  <p>
    <strong>Clips / lives / bonus / concerts people:</strong>
    <%= _concert._clips_/_lives_/_bonus_/_concerts_people_id %>
  </p>

  <p>
    <strong>Image:</strong>
    <%= _concert.image %>
  </p>

  <p>
    <strong>Youtube:</strong>
    <%= _concert.youtube %>
  </p>

  <p>
    <strong>Infos:</strong>
    <%= _concert.infos %>
  </p>

  <p>
    <strong>Clips / lives / bonus / concerts clip:</strong>
    <%= _concert._clips_/_lives_/_bonus_/_concerts_clip_id %>
  </p>

  <p>
    <strong>Clips / lives / bonus / concerts emission tv numero:</strong>
    <%= _concert._clips_/_lives_/_bonus_/_concerts_emission_tv_numero_id %>
  </p>

  <p>
    <strong>Comment:</strong>
    <%= _concert.comment %>
  </p>

  <p>
    <strong>Statut prop:</strong>
    <%= _concert.statut_prop %>
  </p>

  <p>
    <strong>Statut prop:</strong>
    <%= _concert.statut_prop %>
  </p>

  <p>
    <strong>Acceptregles:</strong>
    <%= _concert.acceptregles %>
  </p>

</div>
