<p style="color: green"><%= notice %></p>

<%= render @_fiche_univers_actualite %>

<div>
  <%= link_to "Edit this fiche univers actualite", edit__fiche_univers_actualite_path(@_fiche_univers_actualite) %> |
  <%= link_to "Back to fiche univers actualites", _fiche_univers_actualites_path %>

  <%= button_to "Destroy this fiche univers actualite", @_fiche_univers_actualite, method: :delete %>
</div>
