<p style="color: green"><%= notice %></p>































































































































<%= render @_goodies_societe_role %>































































































































<div>































































  <%= link_to "Edit this goodies societe role", edit_goodies_societe_role_path(@_goodies_societe_role) %> |































































  <%= link_to "Back to goodies societe roles", goodies_societe_roles_path %>































































































































  <%= button_to "Destroy this goodies societe role", @_goodies_societe_role, method: :delete %>































































</div>
