<p style="color: green"><%= notice %></p>































































































































<%= render @artbooks_france %>































































































































<div>































































  <%= link_to "Edit this artbooks france", edit_artbooks_france_path(@artbooks_france) %> |































































  <%= link_to "Back to artbooks frances", artbooks_frances_path %>































































































































  <%= button_to "Destroy this artbooks france", @artbooks_france, method: :delete %>































































</div>
