<p style="color: green"><%= notice %></p>

<%= render @_numero_demission_tvs_emission_tv_numero %>

<div>
  <%= link_to "Edit this numero demission tvs emission tv numero", edit__numero_demission_tvs_emission_tv_numero_path(@_numero_demission_tvs_emission_tv_numero) %> |
  <%= link_to "Back to numero demission tvs emission tv numeros", _numero_demission_tvs_emission_tv_numeros_path %>

  <%= button_to "Destroy this numero demission tvs emission tv numero", @_numero_demission_tvs_emission_tv_numero, method: :delete %>
</div>
