<div id="<%= dom_id doujin %>">































































  <p>































































    <strong>Titre:</strong>































































    <%= doujin.titre %>































































  </p>































































































































  <p>































































    <strong>Titre original latin:</strong>































































    <%= doujin.titre_original_latin %>































































  </p>































































































































  <p>































































    <strong>Titre original:</strong>































































    <%= doujin.titre_original %>































































  </p>































































































































  <p>































































    <strong>Titre alternatif:</strong>































































    <%= doujin.titre_alternatif %>































































  </p>































































































































  <p>































































    <strong>Doujins conventions:</strong>































































    <%= doujin._doujins_conventions_id %>































































  </p>































































































































  <p>































































    <strong>Doujins conventions:</strong>































































    <%= doujin._doujins_conventions_id %>































































  </p>































































































































  <p>































































    <strong>Ref:</strong>































































    <%= doujin.ref %>































































  </p>































































































































  <p>































































    <strong>Date jj:</strong>































































    <%= doujin.date_jj %>































































  </p>































































































































  <p>































































    <strong>Date mm:</strong>































































    <%= doujin.date_mm %>































































  </p>































































































































  <p>































































    <strong>Date aaaa:</strong>































































    <%= doujin.date_aaaa %>































































  </p>































































































































  <p>































































    <strong>Doujins role:</strong>































































    <%= doujin._doujins_role_id %>































































  </p>































































































































  <p>































































    <strong>Doujins people:</strong>































































    <%= doujin._doujins_people_id %>































































  </p>































































































































  <p>































































    <strong>Doujins role:</strong>































































    <%= doujin._doujins_role_id %>































































  </p>































































































































  <p>































































    <strong>Doujins people:</strong>































































    <%= doujin._doujins_people_id %>































































  </p>































































































































  <p>































































    <strong>Cercle:</strong>































































    <%= doujin.cercle %>































































  </p>































































































































  <p>































































    <strong>Image:</strong>































































    <%= doujin.image %>































































  </p>































































































































  <p>































































    <strong>Infos:</strong>































































    <%= doujin.infos %>































































  </p>































































































































  <p>































































    <strong>Doujins genres:</strong>































































    <%= doujin._doujins_genres_id %>































































  </p>































































































































  <p>































































    <strong>Doujins genres:</strong>































































    <%= doujin._doujins_genres_id %>































































  </p>































































































































  <p>































































    <strong>Doujins groupes:</strong>































































    <%= doujin._doujins_groupes_id %>































































  </p>































































































































  <p>































































    <strong>Doujins anime:</strong>































































    <%= doujin._doujins_anime_id %>































































  </p>































































































































  <p>































































    <strong>Doujins ln:</strong>































































    <%= doujin._doujins_ln_id %>































































  </p>































































































































  <p>































































    <strong>Doujins drama:</strong>































































    <%= doujin._doujins_drama_id %>































































  </p>































































































































  <p>































































    <strong>Doujins am:</strong>































































    <%= doujin._doujins_am_id %>































































  </p>































































































































  <p>































































    <strong>Doujins jv:</strong>































































    <%= doujin._doujins_jv_id %>































































  </p>































































































































  <p>































































    <strong>Doujins doujin:</strong>































































    <%= doujin._doujins_doujin_id %>































































  </p>































































































































  <p>































































    <strong>Doujins artbook:</strong>































































    <%= doujin._doujins_artbook_id %>































































  </p>































































































































  <p>































































    <strong>Comment:</strong>































































    <%= doujin.comment %>































































  </p>































































































































  <p>































































    <strong>Statut prop:</strong>































































    <%= doujin.statut_prop %>































































  </p>































































































































  <p>































































    <strong>Statut prop:</strong>































































    <%= doujin.statut_prop %>































































  </p>































































































































  <p>































































    <strong>Acceptregles:</strong>































































    <%= doujin.acceptregles %>































































  </p>































































































































</div>
