<%= form_with(model: _doujin) do |form| %>































































  <% if _doujin.errors.any? %>































































    <div style="color: red">































































      <h2><%= pluralize(_doujin.errors.count, "error") %> prohibited this _doujin from being saved:</h2>































































































































      <ul>































































        <% _doujin.errors.each do |error| %>































































          <li><%= error.full_message %></li>































































        <% end %>































































      </ul>































































    </div>































































  <% end %>































































































































  <div>































































    <%= form.label :titre, style: "display: block" %>































































    <%= form.text_field :titre %>































































  </div>































































































































  <div>































































    <%= form.label :titre_original_latin, style: "display: block" %>































































    <%= form.text_field :titre_original_latin %>































































  </div>































































































































  <div>































































    <%= form.label :titre_original, style: "display: block" %>































































    <%= form.text_field :titre_original %>































































  </div>































































































































  <div>































































    <%= form.label :titre_alternatif, style: "display: block" %>































































    <%= form.text_field :titre_alternatif %>































































  </div>































































































































  <div>































































    <%= form.label :_doujins_conventions_id, style: "display: block" %>































































    <%= form.select :_doujins_conventions_id, DoujinsConvention.all.collect{|x|[x.name, x.id]} %>































































  </div>































































































































  <div>































































    <%= form.label :_doujins_conventions_id, style: "display: block" %>































































    <%= form.select :_doujins_conventions_id, DoujinsConvention.all.collect{|x|[x.name, x.id]} %>































































  </div>































































































































  <div>































































    <%= form.label :ref, style: "display: block" %>































































    <%= form.text_field :ref %>































































  </div>































































































































  <div>































































    <%= form.label :date_jj, style: "display: block" %>































































    <%= form.text_field :date_jj %>































































  </div>































































































































  <div>































































    <%= form.label :date_mm, style: "display: block" %>































































    <%= form.text_field :date_mm %>































































  </div>































































































































  <div>































































    <%= form.label :date_aaaa, style: "display: block" %>































































    <%= form.text_field :date_aaaa %>































































  </div>































































































































  <div>































































    <%= form.label :_doujins_role_id, style: "display: block" %>































































    <%= form.select :_doujins_role_id, DoujinsRole.all.collect{|x|[x.name, x.id]} %>































































  </div>































































































































  <div>































































    <%= form.label :_doujins_people_id, style: "display: block" %>































































    <%= form.select :_doujins_people_id, DoujinsPerson.all.collect{|x|[x.name, x.id]} %>































































  </div>































































































































  <div>































































    <%= form.label :_doujins_role_id, style: "display: block" %>































































    <%= form.select :_doujins_role_id, DoujinsRole.all.collect{|x|[x.name, x.id]} %>































































  </div>































































































































  <div>































































    <%= form.label :_doujins_people_id, style: "display: block" %>































































    <%= form.select :_doujins_people_id, DoujinsPerson.all.collect{|x|[x.name, x.id]} %>































































  </div>































































































































  <div>































































    <%= form.label :cercle, style: "display: block" %>































































    <%= form.text_field :cercle %>































































  </div>































































































































  <div>































































    <%= form.label :image, style: "display: block" %>































































    <%= form.text_field :image %>































































  </div>































































































































  <div>































































    <%= form.label :infos, style: "display: block" %>































































    <%= form.text_area :infos %>































































  </div>































































































































  <div>































































    <%= form.label :_doujins_genres_id, style: "display: block" %>































































    <%= form.select :_doujins_genres_id, DoujinsGenre.all.collect{|x|[x.name, x.id]} %>































































  </div>































































































































  <div>































































    <%= form.label :_doujins_genres_id, style: "display: block" %>































































    <%= form.select :_doujins_genres_id, DoujinsGenre.all.collect{|x|[x.name, x.id]} %>































































  </div>































































































































  <div>































































    <%= form.label :_doujins_groupes_id, style: "display: block" %>































































    <%= form.select :_doujins_groupes_id, DoujinsGroupe.all.collect{|x|[x.name, x.id]} %>































































  </div>































































































































  <div>































































    <%= form.label :_doujins_anime_id, style: "display: block" %>































































    <%= form.select :_doujins_anime_id, DoujinsAnime.all.collect{|x|[x.name, x.id]} %>































































  </div>































































































































  <div>































































    <%= form.label :_doujins_ln_id, style: "display: block" %>































































    <%= form.select :_doujins_ln_id, DoujinsLn.all.collect{|x|[x.name, x.id]} %>































































  </div>































































































































  <div>































































    <%= form.label :_doujins_drama_id, style: "display: block" %>































































    <%= form.select :_doujins_drama_id, DoujinsDrama.all.collect{|x|[x.name, x.id]} %>































































  </div>































































































































  <div>































































    <%= form.label :_doujins_am_id, style: "display: block" %>































































    <%= form.select :_doujins_am_id, DoujinsAm.all.collect{|x|[x.name, x.id]} %>































































  </div>































































































































  <div>































































    <%= form.label :_doujins_jv_id, style: "display: block" %>































































    <%= form.select :_doujins_jv_id, DoujinsJv.all.collect{|x|[x.name, x.id]} %>































































  </div>































































































































  <div>































































    <%= form.label :_doujins_doujin_id, style: "display: block" %>































































    <%= form.select :_doujins_doujin_id, DoujinsDoujin.all.collect{|x|[x.name, x.id]} %>































































  </div>































































































































  <div>































































    <%= form.label :_doujins_artbook_id, style: "display: block" %>































































    <%= form.select :_doujins_artbook_id, DoujinsArtbook.all.collect{|x|[x.name, x.id]} %>































































  </div>































































































































  <div>































































    <%= form.label :comment, style: "display: block" %>































































    <%= form.text_area :comment %>































































  </div>































































































































  <div>































































    <%= form.label :statut_prop, style: "display: block" %>































































    <%= form.text_field :statut_prop %>































































  </div>































































































































  <div>































































    <%= form.label :statut_prop, style: "display: block" %>































































    <%= form.text_field :statut_prop %>































































  </div>































































































































  <div>































































    <%= form.label :acceptregles, style: "display: block" %>































































    <%= form.text_field :acceptregles %>































































  </div>































































































































  <div>































































    <%= form.submit %>































































  </div>































































<% end %>
