<p style="color: green"><%= notice %></p>































































































































<%= render @_doujin %>































































































































<div>































































  <%= link_to "Edit this doujin", edit_doujin_path(@_doujin) %> |































































  <%= link_to "Back to doujins", doujins_path %>































































































































  <%= button_to "Destroy this doujin", @_doujin, method: :delete %>































































</div>
