<p style="color: green"><%= notice %></p>































































































































<%= render @_jeux_videos_dvd %>































































































































<div>































































  <%= link_to "Edit this jeux videos dvd", edit_jeux_videos_dvd_path(@_jeux_videos_dvd) %> |































































  <%= link_to "Back to jeux videos dvds", jeux_videos_dvds_path %>































































































































  <%= button_to "Destroy this jeux videos dvd", @_jeux_videos_dvd, method: :delete %>































































</div>
