<p style="color: green"><%= notice %></p>

<%= render @_recettes_type %>

<div>
  <%= link_to "Edit this recettes type", edit__recettes_type_path(@_recettes_type) %> |
  <%= link_to "Back to recettes types", _recettes_types_path %>

  <%= button_to "Destroy this recettes type", @_recettes_type, method: :delete %>
</div>
