<p style="color: green"><%= notice %></p>

<%= render @_doujinshis_ln_plu %>

<div>
  <%= link_to "Edit this doujinshis ln plu", edit__doujinshis_ln_plu_path(@_doujinshis_ln_plu) %> |
  <%= link_to "Back to doujinshis ln plus", _doujinshis_ln_plus_path %>

  <%= button_to "Destroy this doujinshis ln plu", @_doujinshis_ln_plu, method: :delete %>
</div>
