<p style="color: green"><%= notice %></p>































































































































<%= render @_fiche_univers_actualite_mini %>































































































































<div>































































  <%= link_to "Edit this fiche univers actualite mini", edit_fiche_univers_actualite_mini_path(@_fiche_univers_actualite_mini) %> |































































  <%= link_to "Back to fiche univers actualite minis", fiche_univers_actualite_minis_path %>































































































































  <%= button_to "Destroy this fiche univers actualite mini", @_fiche_univers_actualite_mini, method: :delete %>































































</div>
