<div id="<%= dom_id concert %>">































































  <p>































































    <strong>Date:</strong>































































    <%= concert.date %>































































  </p>































































































































  <p>































































    <strong>Concerts artiste:</strong>































































    <%= concert._concerts_artiste_id %>































































  </p>































































































































  <p>































































    <strong>Nom:</strong>































































    <%= concert.nom %>































































  </p>































































































































  <p>































































    <strong>Endroit:</strong>































































    <%= concert.endroit %>































































  </p>































































































































  <p>































































    <strong>Adresse:</strong>































































    <%= concert.adresse %>































































  </p>































































































































  <p>































































    <strong>Ville:</strong>































































    <%= concert.ville %>































































  </p>































































































































  <p>































































    <strong>Concerts pays:</strong>































































    <%= concert._concerts_pays_id %>































































  </p>































































































































  <p>































































    <strong>Infos:</strong>































































    <%= concert.infos %>































































  </p>































































































































  <p>































































    <strong>Lien:</strong>































































    <%= concert.lien %>































































  </p>































































































































  <p>































































    <strong>Prix:</strong>































































    <%= concert.prix %>































































  </p>































































































































  <p>































































    <strong>Heure:</strong>































































    <%= concert.heure %>































































  </p>































































































































  <p>































































    <strong>Acceptregles:</strong>































































    <%= concert.acceptregles %>































































  </p>































































































































</div>
