<p style="color: green"><%= notice %></p>































































































































<%= render @_breves_concert %>































































































































<div>































































  <%= link_to "Edit this breves concert", edit_breves_concert_path(@_breves_concert) %> |































































  <%= link_to "Back to breves concerts", breves_concerts_path %>































































































































  <%= button_to "Destroy this breves concert", @_breves_concert, method: :delete %>































































</div>
