<div id="<%= dom_id _numero_demission_tv %>">
  <p>
    <strong>Numero demission tvs id emission tv:</strong>
    <%= _numero_demission_tv._numero_demission_tvs_id_emission_tv_id %>
  </p>

  <p>
    <strong>Titre:</strong>
    <%= _numero_demission_tv.titre %>
  </p>

  <p>
    <strong>Titre original:</strong>
    <%= _numero_demission_tv.titre_original %>
  </p>

  <p>
    <strong>Date jj:</strong>
    <%= _numero_demission_tv.date_jj %>
  </p>

  <p>
    <strong>Date mm:</strong>
    <%= _numero_demission_tv.date_mm %>
  </p>

  <p>
    <strong>Date aaaa:</strong>
    <%= _numero_demission_tv.date_aaaa %>
  </p>

  <p>
    <strong>Numero demission tvs special:</strong>
    <%= _numero_demission_tv._numero_demission_tvs_special_id %>
  </p>

  <p>
    <strong>Duree:</strong>
    <%= _numero_demission_tv.duree %>
  </p>

  <p>
    <strong>Numero demission tvs presentateur:</strong>
    <%= _numero_demission_tv._numero_demission_tvs_presentateur_id %>
  </p>

  <p>
    <strong>Numero demission tvs presentateur:</strong>
    <%= _numero_demission_tv._numero_demission_tvs_presentateur_id %>
  </p>

  <p>
    <strong>Numero demission tvs people:</strong>
    <%= _numero_demission_tv._numero_demission_tvs_people_id %>
  </p>

  <p>
    <strong>Numero demission tvs people:</strong>
    <%= _numero_demission_tv._numero_demission_tvs_people_id %>
  </p>

  <p>
    <strong>Image:</strong>
    <%= _numero_demission_tv.image %>
  </p>

  <p>
    <strong>Infos:</strong>
    <%= _numero_demission_tv.infos %>
  </p>

  <p>
    <strong>Youtube:</strong>
    <%= _numero_demission_tv.youtube %>
  </p>

  <p>
    <strong>Numero demission tvs emission tv numero:</strong>
    <%= _numero_demission_tv._numero_demission_tvs_emission_tv_numero_id %>
  </p>

  <p>
    <strong>Numero demission tvs clip:</strong>
    <%= _numero_demission_tv._numero_demission_tvs_clip_id %>
  </p>

  <p>
    <strong>Comment:</strong>
    <%= _numero_demission_tv.comment %>
  </p>

  <p>
    <strong>Statut prop:</strong>
    <%= _numero_demission_tv.statut_prop %>
  </p>

  <p>
    <strong>Statut prop:</strong>
    <%= _numero_demission_tv.statut_prop %>
  </p>

  <p>
    <strong>Acceptregles:</strong>
    <%= _numero_demission_tv.acceptregles %>
  </p>

</div>
