<div id="<%= dom_id numero_demission_tv %>">































































  <p>































































    <strong>Numero demission tvs id emission tv:</strong>































































    <%= numero_demission_tv._numero_demission_tvs_id_emission_tv_id %>































































  </p>































































































































  <p>































































    <strong>Titre:</strong>































































    <%= numero_demission_tv.titre %>































































  </p>































































































































  <p>































































    <strong>Titre original:</strong>































































    <%= numero_demission_tv.titre_original %>































































  </p>































































































































  <p>































































    <strong>Date jj:</strong>































































    <%= numero_demission_tv.date_jj %>































































  </p>































































































































  <p>































































    <strong>Date mm:</strong>































































    <%= numero_demission_tv.date_mm %>































































  </p>































































































































  <p>































































    <strong>Date aaaa:</strong>































































    <%= numero_demission_tv.date_aaaa %>































































  </p>































































































































  <p>































































    <strong>Numero demission tvs special:</strong>































































    <%= numero_demission_tv._numero_demission_tvs_special_id %>































































  </p>































































































































  <p>































































    <strong>Duree:</strong>































































    <%= numero_demission_tv.duree %>































































  </p>































































































































  <p>































































    <strong>Numero demission tvs presentateur:</strong>































































    <%= numero_demission_tv._numero_demission_tvs_presentateur_id %>































































  </p>































































































































  <p>































































    <strong>Numero demission tvs presentateur:</strong>































































    <%= numero_demission_tv._numero_demission_tvs_presentateur_id %>































































  </p>































































































































  <p>































































    <strong>Numero demission tvs people:</strong>































































    <%= numero_demission_tv._numero_demission_tvs_people_id %>































































  </p>































































































































  <p>































































    <strong>Numero demission tvs people:</strong>































































    <%= numero_demission_tv._numero_demission_tvs_people_id %>































































  </p>































































































































  <p>































































    <strong>Image:</strong>































































    <%= numero_demission_tv.image %>































































  </p>































































































































  <p>































































    <strong>Infos:</strong>































































    <%= numero_demission_tv.infos %>































































  </p>































































































































  <p>































































    <strong>Youtube:</strong>































































    <%= numero_demission_tv.youtube %>































































  </p>































































































































  <p>































































    <strong>Numero demission tvs emission tv numero:</strong>































































    <%= numero_demission_tv._numero_demission_tvs_emission_tv_numero_id %>































































  </p>































































































































  <p>































































    <strong>Numero demission tvs clip:</strong>































































    <%= numero_demission_tv._numero_demission_tvs_clip_id %>































































  </p>































































































































  <p>































































    <strong>Comment:</strong>































































    <%= numero_demission_tv.comment %>































































  </p>































































































































  <p>































































    <strong>Statut prop:</strong>































































    <%= numero_demission_tv.statut_prop %>































































  </p>































































































































  <p>































































    <strong>Statut prop:</strong>































































    <%= numero_demission_tv.statut_prop %>































































  </p>































































































































  <p>































































    <strong>Acceptregles:</strong>































































    <%= numero_demission_tv.acceptregles %>































































  </p>































































































































</div>
