<p style="color: green"><%= notice %></p>































































































































<%= render @_numero_demission_tv %>































































































































<div>































































  <%= link_to "Edit this numero demission tv", edit_numero_demission_tv_path(@_numero_demission_tv) %> |































































  <%= link_to "Back to numero demission tvs", numero_demission_tvs_path %>































































































































  <%= button_to "Destroy this numero demission tv", @_numero_demission_tv, method: :delete %>































































</div>
