<p style="color: green"><%= notice %></p>































































































































<%= render @_films_asiatiques_generiques_type %>































































































































<div>































































  <%= link_to "Edit this films asiatiques generiques type", edit_films_asiatiques_generiques_type_path(@_films_asiatiques_generiques_type) %> |































































  <%= link_to "Back to films asiatiques generiques types", films_asiatiques_generiques_types_path %>































































































































  <%= button_to "Destroy this films asiatiques generiques type", @_films_asiatiques_generiques_type, method: :delete %>































































</div>
