<p style="color: green"><%= notice %></p>

<%= render @_films_asiatiques_quizz %>

<div>
  <%= link_to "Edit this films asiatiques quizz", edit__films_asiatiques_quizz_path(@_films_asiatiques_quizz) %> |
  <%= link_to "Back to films asiatiques quizzs", _films_asiatiques_quizzs_path %>

  <%= button_to "Destroy this films asiatiques quizz", @_films_asiatiques_quizz, method: :delete %>
</div>
