<p style="color: green"><%= notice %></p>































































































































<%= render @animes_anime %>































































































































<div>































































  <%= link_to "Edit this animes anime", edit_animes_anime_path(@animes_anime) %> |































































  <%= link_to "Back to animes animes", animes_animes_path %>































































































































  <%= button_to "Destroy this animes anime", @animes_anime, method: :delete %>































































</div>
