<p style="color: green"><%= notice %></p>

<%= render @_breves_concour %>

<div>
  <%= link_to "Edit this breves concour", edit__breves_concour_path(@_breves_concour) %> |
  <%= link_to "Back to breves concours", _breves_concours_path %>

  <%= button_to "Destroy this breves concour", @_breves_concour, method: :delete %>
</div>
