<p style="color: green"><%= notice %></p>

<%= render @_doujinshis_litterature_asiatique %>

<div>
  <%= link_to "Edit this doujinshis litterature asiatique", edit__doujinshis_litterature_asiatique_path(@_doujinshis_litterature_asiatique) %> |
  <%= link_to "Back to doujinshis litterature asiatiques", _doujinshis_litterature_asiatiques_path %>

  <%= button_to "Destroy this doujinshis litterature asiatique", @_doujinshis_litterature_asiatique, method: :delete %>
</div>
