<p style="color: green"><%= notice %></p>































































































































<%= render @amvs_groupe %>































































































































<div>































































  <%= link_to "Edit this amvs groupe", edit_amvs_groupe_path(@amvs_groupe) %> |































































  <%= link_to "Back to amvs groupes", amvs_groupes_path %>































































































































  <%= button_to "Destroy this amvs groupe", @amvs_groupe, method: :delete %>































































</div>
