<p style="color: green"><%= notice %></p>































































































































<%= render @_jeux_videos_etat %>































































































































<div>































































  <%= link_to "Edit this jeux videos etat", edit_jeux_videos_etat_path(@_jeux_videos_etat) %> |































































  <%= link_to "Back to jeux videos etats", jeux_videos_etats_path %>































































































































  <%= button_to "Destroy this jeux videos etat", @_jeux_videos_etat, method: :delete %>































































</div>
