<p style="color: green"><%= notice %></p>

<%= render @_photobooks_editeurs_vo %>

<div>
  <%= link_to "Edit this photobooks editeurs vo", edit__photobooks_editeurs_vo_path(@_photobooks_editeurs_vo) %> |
  <%= link_to "Back to photobooks editeurs vos", _photobooks_editeurs_vos_path %>

  <%= button_to "Destroy this photobooks editeurs vo", @_photobooks_editeurs_vo, method: :delete %>
</div>
