<div id="<%= dom_id concert %>">

  <p>

    <strong>Clips / lives / bonus / concerts type:</strong>

    <%= concert._clips_lives_hbonus_concerts_type_id %>

  </p>



  <p>

    <strong>Clips / lives / bonus / concerts type bonus:</strong>

    <%= concert._clips_lives_hbonus_concerts_type_bonus_id %>

  </p>



  <p>

    <strong>Titre:</strong>

    <%= concert.titre %>

  </p>



  <p>

    <strong>Titre original:</strong>

    <%= concert.titre_original %>

  </p>



  <p>

    <strong>Date jj:</strong>

    <%= concert.date_jj %>

  </p>



  <p>

    <strong>Date mm:</strong>

    <%= concert.date_mm %>

  </p>



  <p>

    <strong>Date aaaa:</strong>

    <%= concert.date_aaaa %>

  </p>



  <p>

    <strong>Clips / lives / bonus / concerts role:</strong>

    <%= concert._clips_lives_bonus_concerts_role_id %>

  </p>



  <p>

    <strong>Clips / lives / bonus / concerts people:</strong>

    <%= concert._clips_lives_bonus_concerts_people_id %>

  </p>



  <p>

    <strong>Clips / lives / bonus / concerts role:</strong>

    <%= concert._clips_lives_bonus_concerts_role_id %>

  </p>



  <p>

    <strong>Clips / lives / bonus / concerts people:</strong>

    <%= concert._clips_lives_bonus_concerts_people_id %>

  </p>



  <p>

    <strong>Image:</strong>

    <%= concert.image %>

  </p>



  <p>

    <strong>Youtube:</strong>

    <%= concert.youtube %>

  </p>



  <p>

    <strong>Infos:</strong>

    <%= concert.infos %>

  </p>



  <p>

    <strong>Clips / lives / bonus / concerts clip:</strong>

    <%= concert._clips_lives_bonus_concerts_clip_id %>

  </p>



  <p>

    <strong>Clips / lives / bonus / concerts emission tv numero:</strong>

    <%= concert._clips_lives_bonus_concerts_emission_tv_numero_id %>

  </p>



  <p>

    <strong>Comment:</strong>

    <%= concert.comment %>

  </p>



  <p>

    <strong>Statut prop:</strong>

    <%= concert.statut_prop %>

  </p>



  <p>

    <strong>Statut prop:</strong>

    <%= concert.statut_prop %>

  </p>



  <p>

    <strong>Acceptregles:</strong>

    <%= concert.acceptregles %>

  </p>



</div>
