<%= form_with(model: _clips_lives_bonus_concert) do |form| %>

  <% if _clips_lives_bonus_concert.errors.any? %>

    <div style="color: red">

      <h2><%= pluralize(_clips_lives_bonus_concert.errors.count, "error") %> prohibited this _clips_lives_bonus_concert from being saved:</h2>



      <ul>

        <% _clips_lives_bonus_concert.errors.each do |error| %>

          <li><%= error.full_message %></li>

        <% end %>

      </ul>

    </div>

  <% end %>



  <div>

    <%= form.label :_clips_lives_bonus_concerts_type_id, style: "display: block" %>

    <%= form.number_field :_clips_lives_bonus_concerts_type_id %>

  </div>



  <div>

    <%= form.label :_clips_lives_bonus_concerts_type_bonus_id, style: "display: block" %>

    <%= form.number_field :_clips_lives_bonus_concerts_type_bonus_id %>

  </div>



  <div>

    <%= form.label :titre, style: "display: block" %>

    <%= form.text_field :titre %>

  </div>



  <div>

    <%= form.label :titre_original, style: "display: block" %>

    <%= form.text_field :titre_original %>

  </div>



  <div>

    <%= form.label :date_jj, style: "display: block" %>

    <%= form.text_field :date_jj %>

  </div>



  <div>

    <%= form.label :date_mm, style: "display: block" %>

    <%= form.text_field :date_mm %>

  </div>



  <div>

    <%= form.label :date_aaaa, style: "display: block" %>

    <%= form.text_field :date_aaaa %>

  </div>



  <div>

    <%= form.label :_clips_lives_bonus_concerts_role_id, style: "display: block" %>

    <%= form.number_field :_clips_lives_bonus_concerts_role_id %>

  </div>



  <div>

    <%= form.label :_clips_lives_bonus_concerts_people_id, style: "display: block" %>

    <%= form.number_field :_clips_lives_bonus_concerts_people_id %>

  </div>



  <div>

    <%= form.label :_clips_lives_bonus_concerts_role_id, style: "display: block" %>

    <%= form.number_field :_clips_lives_bonus_concerts_role_id %>

  </div>



  <div>

    <%= form.label :_clips_lives_bonus_concerts_people_id, style: "display: block" %>

    <%= form.number_field :_clips_lives_bonus_concerts_people_id %>

  </div>



  <div>

    <%= form.label :image, style: "display: block" %>

    <%= form.text_field :image %>

  </div>



  <div>

    <%= form.label :youtube, style: "display: block" %>

    <%= form.text_field :youtube %>

  </div>



  <div>

    <%= form.label :infos, style: "display: block" %>

    <%= form.text_area :infos %>

  </div>



  <div>

    <%= form.label :_clips_lives_bonus_concerts_clip_id, style: "display: block" %>

    <%= form.number_field :_clips_lives_bonus_concerts_clip_id %>

  </div>



  <div>

    <%= form.label :_clips_lives_bonus_concerts_emission_tv_numero_id, style: "display: block" %>

    <%= form.number_field :_clips_lives_bonus_concerts_emission_tv_numero_id %>

  </div>



  <div>

    <%= form.label :comment, style: "display: block" %>

    <%= form.text_area :comment %>

  </div>



  <div>

    <%= form.label :statut_prop, style: "display: block" %>

    <%= form.text_field :statut_prop %>

  </div>



  <div>

    <%= form.label :statut_prop, style: "display: block" %>

    <%= form.text_field :statut_prop %>

  </div>



  <div>

    <%= form.label :acceptregles, style: "display: block" %>

    <%= form.text_field :acceptregles %>

  </div>



  <div>

    <%= form.submit %>

  </div>

<% end %>
