<p style="color: green"><%= notice %></p>



<%= render @_clips_lives_bonus_concert %>



<div>

  <%= link_to "Edit this concert", edit_clips_lives_bonus_concert_path(@_clips_lives_bonus_concert) %> |

  <%= link_to "Back to concerts", clips_lives_bonus_concerts_path %>



  <%= button_to "Destroy this concert", @_clips_lives_bonus_concert, method: :delete %>

</div>
