<p style="color: green"><%= notice %></p>































































































































<%= render @animes_am_plu %>































































































































<div>































































  <%= link_to "Edit this animes am plu", edit_animes_am_plu_path(@animes_am_plu) %> |































































  <%= link_to "Back to animes am plus", animes_am_plus_path %>































































































































  <%= button_to "Destroy this animes am plu", @animes_am_plu, method: :delete %>































































</div>
