<p style="color: green"><%= notice %></p>

<%= render @_doujinshis_public_averti %>

<div>
  <%= link_to "Edit this doujinshis public averti", edit__doujinshis_public_averti_path(@_doujinshis_public_averti) %> |
  <%= link_to "Back to doujinshis public avertis", _doujinshis_public_avertis_path %>

  <%= button_to "Destroy this doujinshis public averti", @_doujinshis_public_averti, method: :delete %>
</div>
