<p style="color: green"><%= notice %></p>

<%= render @_boutiques_pay %>

<div>
  <%= link_to "Edit this boutiques pay", edit__boutiques_pay_path(@_boutiques_pay) %> |
  <%= link_to "Back to boutiques pays", _boutiques_pays_path %>

  <%= button_to "Destroy this boutiques pay", @_boutiques_pay, method: :delete %>
</div>
