<p style="color: green"><%= notice %></p>































































































































<%= render @_personnage_de_mangas_perso_plu %>































































































































<div>































































  <%= link_to "Edit this personnage de mangas perso plu", edit_personnage_de_mangas_perso_plu_path(@_personnage_de_mangas_perso_plu) %> |































































  <%= link_to "Back to personnage de mangas perso plus", personnage_de_mangas_perso_plus_path %>































































































































  <%= button_to "Destroy this personnage de mangas perso plu", @_personnage_de_mangas_perso_plu, method: :delete %>































































</div>
