<p style="color: green"><%= notice %></p>































































































































<%= render @_personnage_danimes_sex %>































































































































<div>































































  <%= link_to "Edit this personnage danimes sexe", edit_personnage_danimes_sex_path(@_personnage_danimes_sex) %> |































































  <%= link_to "Back to personnage danimes sexes", personnage_danimes_sexes_path %>































































































































  <%= button_to "Destroy this personnage danimes sexe", @_personnage_danimes_sex, method: :delete %>































































</div>
