<p style="color: green"><%= notice %></p>

<%= render @_recettes_plat %>

<div>
  <%= link_to "Edit this recettes plat", edit__recettes_plat_path(@_recettes_plat) %> |
  <%= link_to "Back to recettes plats", _recettes_plats_path %>

  <%= button_to "Destroy this recettes plat", @_recettes_plat, method: :delete %>
</div>
