<p style="color: green"><%= notice %></p>































































































































<%= render @_personnages_de_jeux_videos_doubleur_role %>































































































































<div>































































  <%= link_to "Edit this personnages de jeux videos doubleur role", edit_personnages_de_jeux_videos_doubleur_role_path(@_personnages_de_jeux_videos_doubleur_role) %> |































































  <%= link_to "Back to personnages de jeux videos doubleur roles", personnages_de_jeux_videos_doubleur_roles_path %>































































































































  <%= button_to "Destroy this personnages de jeux videos doubleur role", @_personnages_de_jeux_videos_doubleur_role, method: :delete %>































































</div>
