<p style="color: green"><%= notice %></p>































































































































<%= render @_jeux_videos_am %>































































































































<div>































































  <%= link_to "Edit this jeux videos am", edit_jeux_videos_am_path(@_jeux_videos_am) %> |































































  <%= link_to "Back to jeux videos ams", jeux_videos_ams_path %>































































































































  <%= button_to "Destroy this jeux videos am", @_jeux_videos_am, method: :delete %>































































</div>
