<p style="color: green"><%= notice %></p>

<%= render @_dramas_ln_plu %>

<div>
  <%= link_to "Edit this dramas ln plu", edit__dramas_ln_plu_path(@_dramas_ln_plu) %> |
  <%= link_to "Back to dramas ln plus", _dramas_ln_plus_path %>

  <%= button_to "Destroy this dramas ln plu", @_dramas_ln_plu, method: :delete %>
</div>
