<p style="color: green"><%= notice %></p>































































































































<%= render @_doujinshis_person %>































































































































<div>































































  <%= link_to "Edit this doujinshis person", edit_doujinshis_person_path(@_doujinshis_person) %> |































































  <%= link_to "Back to doujinshis people", doujinshis_people_path %>































































































































  <%= button_to "Destroy this doujinshis person", @_doujinshis_person, method: :delete %>































































</div>
