<p style="color: green"><%= notice %></p>

<%= render @_jeux_videos_staff_societe_role %>

<div>
  <%= link_to "Edit this jeux videos staff societe role", edit__jeux_videos_staff_societe_role_path(@_jeux_videos_staff_societe_role) %> |
  <%= link_to "Back to jeux videos staff societe roles", _jeux_videos_staff_societe_roles_path %>

  <%= button_to "Destroy this jeux videos staff societe role", @_jeux_videos_staff_societe_role, method: :delete %>
</div>
