<p style="color: green"><%= notice %></p>































































































































<%= render @_jeux_videos_staff_person %>































































































































<div>































































  <%= link_to "Edit this jeux videos staff person", edit_jeux_videos_staff_person_path(@_jeux_videos_staff_person) %> |































































  <%= link_to "Back to jeux videos staff people", jeux_videos_staff_people_path %>































































































































  <%= button_to "Destroy this jeux videos staff person", @_jeux_videos_staff_person, method: :delete %>































































</div>
