<p style="color: green"><%= notice %></p>































































































































<%= render @_livres_drama %>































































































































<div>































































  <%= link_to "Edit this livres drama", edit_livres_drama_path(@_livres_drama) %> |































































  <%= link_to "Back to livres dramas", livres_dramas_path %>































































































































  <%= button_to "Destroy this livres drama", @_livres_drama, method: :delete %>































































</div>
