<p style="color: green"><%= notice %></p>































































































































<%= render @artbooks_role %>































































































































<div>































































  <%= link_to "Edit this artbooks role", edit_artbooks_role_path(@artbooks_role) %> |































































  <%= link_to "Back to artbooks roles", artbooks_roles_path %>































































































































  <%= button_to "Destroy this artbooks role", @artbooks_role, method: :delete %>































































</div>
