<p style="color: green"><%= notice %></p>

<%= render @_dramas_generiques_people2 %>

<div>
  <%= link_to "Edit this dramas generiques people2", edit__dramas_generiques_people2_path(@_dramas_generiques_people2) %> |
  <%= link_to "Back to dramas generiques people2s", _dramas_generiques_people2s_path %>

  <%= button_to "Destroy this dramas generiques people2", @_dramas_generiques_people2, method: :delete %>
</div>
