<p style="color: green"><%= notice %></p>

<%= render @animes_format %>

<div>
  <%= link_to "Edit this animes format", edit_animes_format_path(@animes_format) %> |
  <%= link_to "Back to animes formats", animes_formats_path %>

  <%= button_to "Destroy this animes format", @animes_format, method: :delete %>
</div>
