<p style="color: green"><%= notice %></p>

<%= render @_personnalites_agences_ex %>

<div>
  <%= link_to "Edit this personnalites agences ex", edit__personnalites_agences_ex_path(@_personnalites_agences_ex) %> |
  <%= link_to "Back to personnalites agences exes", _personnalites_agences_exes_path %>

  <%= button_to "Destroy this personnalites agences ex", @_personnalites_agences_ex, method: :delete %>
</div>
