<p style="color: green"><%= notice %></p>































































































































<%= render @_photobooks_societe_role %>































































































































<div>































































  <%= link_to "Edit this photobooks societe role", edit_photobooks_societe_role_path(@_photobooks_societe_role) %> |































































  <%= link_to "Back to photobooks societe roles", photobooks_societe_roles_path %>































































































































  <%= button_to "Destroy this photobooks societe role", @_photobooks_societe_role, method: :delete %>































































</div>
