<p style="color: green"><%= notice %></p>

<%= render @osts_distributeur %>

<div>
  <%= link_to "Edit this osts distributeur", edit_osts_distributeur_path(@osts_distributeur) %> |
  <%= link_to "Back to osts distributeurs", osts_distributeurs_path %>

  <%= button_to "Destroy this osts distributeur", @osts_distributeur, method: :delete %>
</div>
