<%= form_with(model: _light_novel) do |form| %>































































  <% if _light_novel.errors.any? %>































































    <div style="color: red">































































      <h2><%= pluralize(_light_novel.errors.count, "error") %> prohibited this _light_novel from being saved:</h2>































































































































      <ul>































































        <% _light_novel.errors.each do |error| %>































































          <li><%= error.full_message %></li>































































        <% end %>































































      </ul>































































    </div>































































  <% end %>































































































































  <div>































































    <%= form.label :titre, style: "display: block" %>































































    <%= form.text_field :titre %>































































  </div>































































































































  <div>































































    <%= form.label :titre_alternatif, style: "display: block" %>































































    <%= form.text_field :titre_alternatif %>































































  </div>































































































































  <div>































































    <%= form.label :titre_alternatif_suite, style: "display: block" %>































































    <%= form.text_field :titre_alternatif_suite %>































































  </div>































































































































  <div>































































    <%= form.label :titre_original_latin, style: "display: block" %>































































    <%= form.text_field :titre_original_latin %>































































  </div>































































































































  <div>































































    <%= form.label :titre_original, style: "display: block" %>































































    <%= form.text_field :titre_original %>































































  </div>































































































































  <div>































































    <%= form.label :image, style: "display: block" %>































































    <%= form.text_field :image %>































































  </div>































































































































  <div>































































    <%= form.label :image_vo, style: "display: block" %>































































    <%= form.text_field :image_vo %>































































  </div>































































































































  <div>































































    <%= form.label :_light_novels_pays_id, style: "display: block" %>































































    <%= form.select :_light_novels_pays_id, LightNovelsPay.all.collect{|x|[x.name, x.id]} %>































































  </div>































































































































  <div>































































    <%= form.label :_light_novels_pays_id, style: "display: block" %>































































    <%= form.select :_light_novels_pays_id, LightNovelsPay.all.collect{|x|[x.name, x.id]} %>































































  </div>































































































































  <div>































































    <%= form.label :_light_novels_genres_id, style: "display: block" %>































































    <%= form.select :_light_novels_genres_id, LightNovelsGenre.all.collect{|x|[x.name, x.id]} %>































































  </div>































































































































  <div>































































    <%= form.label :_light_novels_genres_id, style: "display: block" %>































































    <%= form.select :_light_novels_genres_id, LightNovelsGenre.all.collect{|x|[x.name, x.id]} %>































































  </div>































































































































  <div>































































    <%= form.label :webcomic, style: "display: block" %>































































    <%= form.text_field :webcomic %>































































  </div>































































































































  <div>































































    <%= form.label :_light_novels_themes_id, style: "display: block" %>































































    <%= form.select :_light_novels_themes_id, LightNovelsTheme.all.collect{|x|[x.name, x.id]} %>































































  </div>































































































































  <div>































































    <%= form.label :_light_novels_themes_id, style: "display: block" %>































































    <%= form.select :_light_novels_themes_id, LightNovelsTheme.all.collect{|x|[x.name, x.id]} %>































































  </div>































































































































  <div>































































    <%= form.label :annee_vo, style: "display: block" %>































































    <%= form.text_field :annee_vo %>































































  </div>































































































































  <div>































































    <%= form.label :annee_vf, style: "display: block" %>































































    <%= form.text_field :annee_vf %>































































  </div>































































































































  <div>































































    <%= form.label :nb_volumes_vo, style: "display: block" %>































































    <%= form.text_field :nb_volumes_vo %>































































  </div>































































































































  <div>































































    <%= form.label :nb_chapitres_vo, style: "display: block" %>































































    <%= form.text_field :nb_chapitres_vo %>































































  </div>































































































































  <div>































































    <%= form.label :nb_volumes_vf, style: "display: block" %>































































    <%= form.text_field :nb_volumes_vf %>































































  </div>































































































































  <div>































































    <%= form.label :nb_chapitres_vf, style: "display: block" %>































































    <%= form.text_field :nb_chapitres_vf %>































































  </div>































































































































  <div>































































    <%= form.label :_light_novels_encours_vo_id, style: "display: block" %>































































    <%= form.select :_light_novels_encours_vo_id, LightNovelsEncoursVo.all.collect{|x|[x.name, x.id]} %>































































  </div>































































































































  <div>































































    <%= form.label :_light_novels_encours_vf_id, style: "display: block" %>































































    <%= form.select :_light_novels_encours_vf_id, LightNovelsEncoursVf.all.collect{|x|[x.name, x.id]} %>































































  </div>































































































































  <div>































































    <%= form.label :_light_novels_editeurs_vo_id, style: "display: block" %>































































    <%= form.select :_light_novels_editeurs_vo_id, LightNovelsEditeursVo.all.collect{|x|[x.name, x.id]} %>































































  </div>































































































































  <div>































































    <%= form.label :_light_novels_editeurs_vo_id, style: "display: block" %>































































    <%= form.select :_light_novels_editeurs_vo_id, LightNovelsEditeursVo.all.collect{|x|[x.name, x.id]} %>































































  </div>































































































































  <div>































































    <%= form.label :_light_novels_editeurs_vf_id, style: "display: block" %>































































    <%= form.select :_light_novels_editeurs_vf_id, LightNovelsEditeursVf.all.collect{|x|[x.name, x.id]} %>































































  </div>































































































































  <div>































































    <%= form.label :_light_novels_editeurs_vf_collection_id, style: "display: block" %>































































    <%= form.select :_light_novels_editeurs_vf_collection_id, LightNovelsEditeursVfCollection.all.collect{|x|[x.name, x.id]} %>































































  </div>































































































































  <div>































































    <%= form.label :_light_novels_editeurs_vf_id, style: "display: block" %>































































    <%= form.select :_light_novels_editeurs_vf_id, LightNovelsEditeursVf.all.collect{|x|[x.name, x.id]} %>































































  </div>































































































































  <div>































































    <%= form.label :_light_novels_editeurs_vf_collection_id, style: "display: block" %>































































    <%= form.select :_light_novels_editeurs_vf_collection_id, LightNovelsEditeursVfCollection.all.collect{|x|[x.name, x.id]} %>































































  </div>































































































































  <div>































































    <%= form.label :_light_novels_prepublie_id, style: "display: block" %>































































    <%= form.select :_light_novels_prepublie_id, LightNovelsPrepublie.all.collect{|x|[x.name, x.id]} %>































































  </div>































































































































  <div>































































    <%= form.label :_light_novels_prepublie_id, style: "display: block" %>































































    <%= form.select :_light_novels_prepublie_id, LightNovelsPrepublie.all.collect{|x|[x.name, x.id]} %>































































  </div>































































































































  <div>































































    <%= form.label :_light_novels_staff_role_id, style: "display: block" %>































































    <%= form.select :_light_novels_staff_role_id, LightNovelsStaffRole.all.collect{|x|[x.name, x.id]} %>































































  </div>































































































































  <div>































































    <%= form.label :_light_novels_staff_people_id, style: "display: block" %>































































    <%= form.select :_light_novels_staff_people_id, LightNovelsStaffPerson.all.collect{|x|[x.name, x.id]} %>































































  </div>































































































































  <div>































































    <%= form.label :_light_novels_staff_role_id, style: "display: block" %>































































    <%= form.select :_light_novels_staff_role_id, LightNovelsStaffRole.all.collect{|x|[x.name, x.id]} %>































































  </div>































































































































  <div>































































    <%= form.label :_light_novels_staff_people_id, style: "display: block" %>































































    <%= form.select :_light_novels_staff_people_id, LightNovelsStaffPerson.all.collect{|x|[x.name, x.id]} %>































































  </div>































































































































  <div>































































    <%= form.label :_light_novels_societe_role_id, style: "display: block" %>































































    <%= form.select :_light_novels_societe_role_id, LightNovelsSocieteRole.all.collect{|x|[x.name, x.id]} %>































































  </div>































































































































  <div>































































    <%= form.label :_light_novels_societe_people_id, style: "display: block" %>































































    <%= form.select :_light_novels_societe_people_id, LightNovelsSocietePerson.all.collect{|x|[x.name, x.id]} %>































































  </div>































































































































  <div>































































    <%= form.label :_light_novels_societe_role_id, style: "display: block" %>































































    <%= form.select :_light_novels_societe_role_id, LightNovelsSocieteRole.all.collect{|x|[x.name, x.id]} %>































































  </div>































































































































  <div>































































    <%= form.label :_light_novels_societe_people_id, style: "display: block" %>































































    <%= form.select :_light_novels_societe_people_id, LightNovelsSocietePerson.all.collect{|x|[x.name, x.id]} %>































































  </div>































































































































  <div>































































    <%= form.label :age, style: "display: block" %>































































    <%= form.text_field :age %>































































  </div>































































































































  <div>































































    <%= form.label :_light_novels_public_averti_id, style: "display: block" %>































































    <%= form.select :_light_novels_public_averti_id, LightNovelsPublicAverti.all.collect{|x|[x.name, x.id]} %>































































  </div>































































































































  <div>































































    <%= form.label :_light_novels_commerce_id, style: "display: block" %>































































    <%= form.select :_light_novels_commerce_id, LightNovelsCommerce.all.collect{|x|[x.name, x.id]} %>































































  </div>































































































































  <div>































































    <%= form.label :adapte_anime, style: "display: block" %>































































    <%= form.text_field :adapte_anime %>































































  </div>































































































































  <div>































































    <%= form.label :adapte_anime, style: "display: block" %>































































    <%= form.text_field :adapte_anime %>































































  </div>































































































































  <div>































































    <%= form.label :adapte_anime, style: "display: block" %>































































    <%= form.text_field :adapte_anime %>































































  </div>































































































































  <div>































































    <%= form.label :prix, style: "display: block" %>































































    <%= form.text_field :prix %>































































  </div>































































































































  <div>































































    <%= form.label :resume, style: "display: block" %>































































    <%= form.text_area :resume %>































































  </div>































































































































  <div>































































    <%= form.label :_light_novels_groupes_id, style: "display: block" %>































































    <%= form.select :_light_novels_groupes_id, LightNovelsGroupe.all.collect{|x|[x.name, x.id]} %>































































  </div>































































































































  <div>































































    <%= form.label :_light_novels_anime_id, style: "display: block" %>































































    <%= form.select :_light_novels_anime_id, LightNovelsAnime.all.collect{|x|[x.name, x.id]} %>































































  </div>































































































































  <div>































































    <%= form.label :_light_novels_anime_plus_id, style: "display: block" %>































































    <%= form.select :_light_novels_anime_plus_id, LightNovelsAnimePlu.all.collect{|x|[x.name, x.id]} %>































































  </div>































































































































  <div>































































    <%= form.label :_light_novels_manga_id, style: "display: block" %>































































    <%= form.select :_light_novels_manga_id, LightNovelsManga.all.collect{|x|[x.name, x.id]} %>































































  </div>































































































































  <div>































































    <%= form.label :_light_novels_manga_plus_id, style: "display: block" %>































































    <%= form.select :_light_novels_manga_plus_id, LightNovelsMangaPlu.all.collect{|x|[x.name, x.id]} %>































































  </div>































































































































  <div>































































    <%= form.label :_light_novels_ln_id, style: "display: block" %>































































    <%= form.select :_light_novels_ln_id, LightNovelsLn.all.collect{|x|[x.name, x.id]} %>































































  </div>































































































































  <div>































































    <%= form.label :_light_novels_ln_plus_id, style: "display: block" %>































































    <%= form.select :_light_novels_ln_plus_id, LightNovelsLnPlu.all.collect{|x|[x.name, x.id]} %>































































  </div>































































































































  <div>































































    <%= form.label :_light_novels_drama_id, style: "display: block" %>































































    <%= form.select :_light_novels_drama_id, LightNovelsDrama.all.collect{|x|[x.name, x.id]} %>































































  </div>































































































































  <div>































































    <%= form.label :_light_novels_drama_plus_id, style: "display: block" %>































































    <%= form.select :_light_novels_drama_plus_id, LightNovelsDramaPlu.all.collect{|x|[x.name, x.id]} %>































































  </div>































































































































  <div>































































    <%= form.label :_light_novels_jv_id, style: "display: block" %>































































    <%= form.select :_light_novels_jv_id, LightNovelsJv.all.collect{|x|[x.name, x.id]} %>































































  </div>































































































































  <div>































































    <%= form.label :_light_novels_jv_plus_id, style: "display: block" %>































































    <%= form.select :_light_novels_jv_plus_id, LightNovelsJvPlu.all.collect{|x|[x.name, x.id]} %>































































  </div>































































































































  <div>































































    <%= form.label :_light_novels_am_id, style: "display: block" %>































































    <%= form.select :_light_novels_am_id, LightNovelsAm.all.collect{|x|[x.name, x.id]} %>































































  </div>































































































































  <div>































































    <%= form.label :_light_novels_am_plus_id, style: "display: block" %>































































    <%= form.select :_light_novels_am_plus_id, LightNovelsAmPlu.all.collect{|x|[x.name, x.id]} %>































































  </div>































































































































  <div>































































    <%= form.label :_light_novels_litterature_asiatique_id, style: "display: block" %>































































    <%= form.select :_light_novels_litterature_asiatique_id, LightNovelsLitteratureAsiatique.all.collect{|x|[x.name, x.id]} %>































































  </div>































































































































  <div>































































    <%= form.label :_light_novels_litterature_asiatique_plus_id, style: "display: block" %>































































    <%= form.select :_light_novels_litterature_asiatique_plus_id, LightNovelsLitteratureAsiatiquePlu.all.collect{|x|[x.name, x.id]} %>































































  </div>































































































































  <div>































































    <%= form.label :_light_novels_ost_id, style: "display: block" %>































































    <%= form.select :_light_novels_ost_id, LightNovelsOst.all.collect{|x|[x.name, x.id]} %>































































  </div>































































































































  <div>































































    <%= form.label :_light_novels_artbook_id, style: "display: block" %>































































    <%= form.select :_light_novels_artbook_id, LightNovelsArtbook.all.collect{|x|[x.name, x.id]} %>































































  </div>































































































































  <div>































































    <%= form.label :_light_novels_actualite_id, style: "display: block" %>































































    <%= form.select :_light_novels_actualite_id, LightNovelsActualite.all.collect{|x|[x.name, x.id]} %>































































  </div>































































































































  <div>































































    <%= form.label :_light_novels_culture_id, style: "display: block" %>































































    <%= form.select :_light_novels_culture_id, LightNovelsCulture.all.collect{|x|[x.name, x.id]} %>































































  </div>































































































































  <div>































































    <%= form.label :_light_novels_actualite_mini_id, style: "display: block" %>































































    <%= form.select :_light_novels_actualite_mini_id, LightNovelsActualiteMini.all.collect{|x|[x.name, x.id]} %>































































  </div>































































































































  <div>































































    <%= form.label :_light_novels_quizz_id, style: "display: block" %>































































    <%= form.select :_light_novels_quizz_id, LightNovelsQuizz.all.collect{|x|[x.name, x.id]} %>































































  </div>































































































































  <div>































































    <%= form.label :comment, style: "display: block" %>































































    <%= form.text_area :comment %>































































  </div>































































































































  <div>































































    <%= form.label :statut_prop, style: "display: block" %>































































    <%= form.text_field :statut_prop %>































































  </div>































































































































  <div>































































    <%= form.label :statut_prop, style: "display: block" %>































































    <%= form.text_field :statut_prop %>































































  </div>































































































































  <div>































































    <%= form.label :acceptregles, style: "display: block" %>































































    <%= form.text_field :acceptregles %>































































  </div>































































































































  <div>































































    <%= form.submit %>































































  </div>































































<% end %>
