<p style="color: green"><%= notice %></p>































































































































<%= render @_breves_quizz %>































































































































<div>































































  <%= link_to "Edit this breves quizz", edit_breves_quizz_path(@_breves_quizz) %> |































































  <%= link_to "Back to breves quizzs", breves_quizzs_path %>































































































































  <%= button_to "Destroy this breves quizz", @_breves_quizz, method: :delete %>































































</div>
