<p style="color: green"><%= notice %></p>































































































































<%= render @_films_asiatiques_culture %>































































































































<div>































































  <%= link_to "Edit this films asiatiques culture", edit_films_asiatiques_culture_path(@_films_asiatiques_culture) %> |































































  <%= link_to "Back to films asiatiques cultures", films_asiatiques_cultures_path %>































































































































  <%= button_to "Destroy this films asiatiques culture", @_films_asiatiques_culture, method: :delete %>































































</div>
