<p style="color: green"><%= notice %></p>































































































































<%= render @_mangas_prepubly %>































































































































<div>































































  <%= link_to "Edit this mangas prepublie", edit_mangas_prepubly_path(@_mangas_prepubly) %> |































































  <%= link_to "Back to mangas prepublies", mangas_prepublies_path %>































































































































  <%= button_to "Destroy this mangas prepublie", @_mangas_prepubly, method: :delete %>































































</div>
