<p style="color: green"><%= notice %></p>































































































































<%= render @osts_plateforme %>































































































































<div>































































  <%= link_to "Edit this osts plateforme", edit_osts_plateforme_path(@osts_plateforme) %> |































































  <%= link_to "Back to osts plateformes", osts_plateformes_path %>































































































































  <%= button_to "Destroy this osts plateforme", @osts_plateforme, method: :delete %>































































</div>
