<p style="color: green"><%= notice %></p>

<%= render @_mangas_type %>

<div>
  <%= link_to "Edit this mangas type", edit__mangas_type_path(@_mangas_type) %> |
  <%= link_to "Back to mangas types", _mangas_types_path %>

  <%= button_to "Destroy this mangas type", @_mangas_type, method: :delete %>
</div>
