<p style="color: green"><%= notice %></p>































































































































<%= render @_fiche_univers_jv_perso %>































































































































<div>































































  <%= link_to "Edit this fiche univers jv perso", edit_fiche_univers_jv_perso_path(@_fiche_univers_jv_perso) %> |































































  <%= link_to "Back to fiche univers jv persos", fiche_univers_jv_persos_path %>































































































































  <%= button_to "Destroy this fiche univers jv perso", @_fiche_univers_jv_perso, method: :delete %>































































</div>
