<div id="<%= dom_id _drama %>">
  <p>
    <strong>Titre:</strong>
    <%= _drama.titre %>
  </p>

  <p>
    <strong>Titre alternatif:</strong>
    <%= _drama.titre_alternatif %>
  </p>

  <p>
    <strong>Titre alternatif suite:</strong>
    <%= _drama.titre_alternatif_suite %>
  </p>

  <p>
    <strong>Titre original latin:</strong>
    <%= _drama.titre_original_latin %>
  </p>

  <p>
    <strong>Titre original:</strong>
    <%= _drama.titre_original %>
  </p>

  <p>
    <strong>Image:</strong>
    <%= _drama.image %>
  </p>

  <p>
    <strong>Dramas origine:</strong>
    <%= _drama._dramas_origine_id %>
  </p>

  <p>
    <strong>Dramas encours:</strong>
    <%= _drama._dramas_encours_id %>
  </p>

  <p>
    <strong>Date debut jj:</strong>
    <%= _drama.date_debut_jj %>
  </p>

  <p>
    <strong>Date debut mm:</strong>
    <%= _drama.date_debut_mm %>
  </p>

  <p>
    <strong>Date debut aaaa:</strong>
    <%= _drama.date_debut_aaaa %>
  </p>

  <p>
    <strong>Date fin jj:</strong>
    <%= _drama.date_fin_jj %>
  </p>

  <p>
    <strong>Date fin mm:</strong>
    <%= _drama.date_fin_mm %>
  </p>

  <p>
    <strong>Date fin aaaa:</strong>
    <%= _drama.date_fin_aaaa %>
  </p>

  <p>
    <strong>Nb ep:</strong>
    <%= _drama.nb_ep %>
  </p>

  <p>
    <strong>Total ep inconnu:</strong>
    <%= _drama.total_ep_inconnu %>
  </p>

  <p>
    <strong>Dramas pays:</strong>
    <%= _drama._dramas_pays_id %>
  </p>

  <p>
    <strong>Dramas pays:</strong>
    <%= _drama._dramas_pays_id %>
  </p>

  <p>
    <strong>Duree:</strong>
    <%= _drama.duree %>
  </p>

  <p>
    <strong>Age:</strong>
    <%= _drama.age %>
  </p>

  <p>
    <strong>Dramas genres:</strong>
    <%= _drama._dramas_genres_id %>
  </p>

  <p>
    <strong>Dramas genres:</strong>
    <%= _drama._dramas_genres_id %>
  </p>

  <p>
    <strong>Dramas themes:</strong>
    <%= _drama._dramas_themes_id %>
  </p>

  <p>
    <strong>Dramas themes:</strong>
    <%= _drama._dramas_themes_id %>
  </p>

  <p>
    <strong>Dramas staff role:</strong>
    <%= _drama._dramas_staff_role_id %>
  </p>

  <p>
    <strong>Dramas staff people:</strong>
    <%= _drama._dramas_staff_people_id %>
  </p>

  <p>
    <strong>Dramas staff role:</strong>
    <%= _drama._dramas_staff_role_id %>
  </p>

  <p>
    <strong>Dramas staff people:</strong>
    <%= _drama._dramas_staff_people_id %>
  </p>

  <p>
    <strong>Dramas staff role:</strong>
    <%= _drama._dramas_staff_role_id %>
  </p>

  <p>
    <strong>Dramas staff people:</strong>
    <%= _drama._dramas_staff_people_id %>
  </p>

  <p>
    <strong>Dramas societe role:</strong>
    <%= _drama._dramas_societe_role_id %>
  </p>

  <p>
    <strong>Dramas societe people:</strong>
    <%= _drama._dramas_societe_people_id %>
  </p>

  <p>
    <strong>Dramas type:</strong>
    <%= _drama._dramas_type_id %>
  </p>

  <p>
    <strong>Dramas acteurs:</strong>
    <%= _drama._dramas_acteurs_id %>
  </p>

  <p>
    <strong>Dramas type:</strong>
    <%= _drama._dramas_type_id %>
  </p>

  <p>
    <strong>Dramas acteurs:</strong>
    <%= _drama._dramas_acteurs_id %>
  </p>

  <p>
    <strong>Dramas type:</strong>
    <%= _drama._dramas_type_id %>
  </p>

  <p>
    <strong>Dramas acteurs:</strong>
    <%= _drama._dramas_acteurs_id %>
  </p>

  <p>
    <strong>Dramas type:</strong>
    <%= _drama._dramas_type_id %>
  </p>

  <p>
    <strong>Dramas acteurs:</strong>
    <%= _drama._dramas_acteurs_id %>
  </p>

  <p>
    <strong>Synopsis:</strong>
    <%= _drama.synopsis %>
  </p>

  <p>
    <strong>Youtube:</strong>
    <%= _drama.youtube %>
  </p>

  <p>
    <strong>Webdrama:</strong>
    <%= _drama.webdrama %>
  </p>

  <p>
    <strong>Webdrama:</strong>
    <%= _drama.webdrama %>
  </p>

  <p>
    <strong>Dramas editeurs vf role:</strong>
    <%= _drama._dramas_editeurs_vf_role_id %>
  </p>

  <p>
    <strong>Dramas editeurs vf:</strong>
    <%= _drama._dramas_editeurs_vf_id %>
  </p>

  <p>
    <strong>Dramas editeurs vf role:</strong>
    <%= _drama._dramas_editeurs_vf_role_id %>
  </p>

  <p>
    <strong>Dramas editeurs vf:</strong>
    <%= _drama._dramas_editeurs_vf_id %>
  </p>

  <p>
    <strong>Date debut simulcast jj:</strong>
    <%= _drama.date_debut_simulcast_jj %>
  </p>

  <p>
    <strong>Date debut simulcast mm:</strong>
    <%= _drama.date_debut_simulcast_mm %>
  </p>

  <p>
    <strong>Date debut simulcast aaaa:</strong>
    <%= _drama.date_debut_simulcast_aaaa %>
  </p>

  <p>
    <strong>Licencie:</strong>
    <%= _drama.licencie %>
  </p>

  <p>
    <strong>Licencie:</strong>
    <%= _drama.licencie %>
  </p>

  <p>
    <strong>Date vf jj:</strong>
    <%= _drama.date_vf_jj %>
  </p>

  <p>
    <strong>Date vf mm:</strong>
    <%= _drama.date_vf_mm %>
  </p>

  <p>
    <strong>Date vf aaaa:</strong>
    <%= _drama.date_vf_aaaa %>
  </p>

  <p>
    <strong>Site:</strong>
    <%= _drama.site %>
  </p>

  <p>
    <strong>Site2:</strong>
    <%= _drama.site2 %>
  </p>

  <p>
    <strong>Dramas programme:</strong>
    <%= _drama._dramas_programme_id %>
  </p>

  <p>
    <strong>Episodes:</strong>
    <%= _drama.episodes %>
  </p>

  <p>
    <strong>Dramas generiques type:</strong>
    <%= _drama._dramas_generiques_type_id %>
  </p>

  <p>
    <strong>Dramas generiques people:</strong>
    <%= _drama._dramas_generiques_people_id %>
  </p>

  <p>
    <strong>Dramas generiques people2:</strong>
    <%= _drama._dramas_generiques_people2_id %>
  </p>

  <p>
    <strong>Dramas generiques clip:</strong>
    <%= _drama._dramas_generiques_clip_id %>
  </p>

  <p>
    <strong>Dramas generiques parole:</strong>
    <%= _drama._dramas_generiques_parole_id %>
  </p>

  <p>
    <strong>Dramas generiques type:</strong>
    <%= _drama._dramas_generiques_type_id %>
  </p>

  <p>
    <strong>Dramas generiques people:</strong>
    <%= _drama._dramas_generiques_people_id %>
  </p>

  <p>
    <strong>Dramas generiques people2:</strong>
    <%= _drama._dramas_generiques_people2_id %>
  </p>

  <p>
    <strong>Dramas generiques clip:</strong>
    <%= _drama._dramas_generiques_clip_id %>
  </p>

  <p>
    <strong>Dramas generiques parole:</strong>
    <%= _drama._dramas_generiques_parole_id %>
  </p>

  <p>
    <strong>Infos:</strong>
    <%= _drama.infos %>
  </p>

  <p>
    <strong>Dramas groupes:</strong>
    <%= _drama._dramas_groupes_id %>
  </p>

  <p>
    <strong>Dramas anime:</strong>
    <%= _drama._dramas_anime_id %>
  </p>

  <p>
    <strong>Dramas anime plus:</strong>
    <%= _drama._dramas_anime_plus_id %>
  </p>

  <p>
    <strong>Dramas ln:</strong>
    <%= _drama._dramas_ln_id %>
  </p>

  <p>
    <strong>Dramas ln plus:</strong>
    <%= _drama._dramas_ln_plus_id %>
  </p>

  <p>
    <strong>Dramas manga:</strong>
    <%= _drama._dramas_manga_id %>
  </p>

  <p>
    <strong>Dramas manga plus:</strong>
    <%= _drama._dramas_manga_plus_id %>
  </p>

  <p>
    <strong>Dramas drama:</strong>
    <%= _drama._dramas_drama_id %>
  </p>

  <p>
    <strong>Dramas drama plus:</strong>
    <%= _drama._dramas_drama_plus_id %>
  </p>

  <p>
    <strong>Dramas jv:</strong>
    <%= _drama._dramas_jv_id %>
  </p>

  <p>
    <strong>Dramas jv plus:</strong>
    <%= _drama._dramas_jv_plus_id %>
  </p>

  <p>
    <strong>Dramas am:</strong>
    <%= _drama._dramas_am_id %>
  </p>

  <p>
    <strong>Dramas am plus:</strong>
    <%= _drama._dramas_am_plus_id %>
  </p>

  <p>
    <strong>Dramas univers:</strong>
    <%= _drama._dramas_univers_id %>
  </p>

  <p>
    <strong>Dramas litterature asiatique:</strong>
    <%= _drama._dramas_litterature_asiatique_id %>
  </p>

  <p>
    <strong>Dramas litterature asiatique plus:</strong>
    <%= _drama._dramas_litterature_asiatique_plus_id %>
  </p>

  <p>
    <strong>Dramas actualite:</strong>
    <%= _drama._dramas_actualite_id %>
  </p>

  <p>
    <strong>Dramas culture:</strong>
    <%= _drama._dramas_culture_id %>
  </p>

  <p>
    <strong>Dramas actualite mini:</strong>
    <%= _drama._dramas_actualite_mini_id %>
  </p>

  <p>
    <strong>Dramas ost:</strong>
    <%= _drama._dramas_ost_id %>
  </p>

  <p>
    <strong>Dramas doujin:</strong>
    <%= _drama._dramas_doujin_id %>
  </p>

  <p>
    <strong>Dramas cd:</strong>
    <%= _drama._dramas_cd_id %>
  </p>

  <p>
    <strong>Dramas dvd:</strong>
    <%= _drama._dramas_dvd_id %>
  </p>

  <p>
    <strong>Dramas artbook:</strong>
    <%= _drama._dramas_artbook_id %>
  </p>

  <p>
    <strong>Dramas emission tv:</strong>
    <%= _drama._dramas_emission_tv_id %>
  </p>

  <p>
    <strong>Dramas emission tv plus:</strong>
    <%= _drama._dramas_emission_tv_plus_id %>
  </p>

  <p>
    <strong>Comment:</strong>
    <%= _drama.comment %>
  </p>

  <p>
    <strong>Statut prop:</strong>
    <%= _drama.statut_prop %>
  </p>

  <p>
    <strong>Statut prop:</strong>
    <%= _drama.statut_prop %>
  </p>

  <p>
    <strong>Acceptregles:</strong>
    <%= _drama.acceptregles %>
  </p>

</div>
