<%= form_with(model: _drama) do |form| %>
  <% if _drama.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(_drama.errors.count, "error") %> prohibited this _drama from being saved:</h2>

      <ul>
        <% _drama.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :titre, style: "display: block" %>
    <%= form.text_field :titre %>
  </div>

  <div>
    <%= form.label :titre_alternatif, style: "display: block" %>
    <%= form.text_field :titre_alternatif %>
  </div>

  <div>
    <%= form.label :titre_alternatif_suite, style: "display: block" %>
    <%= form.text_field :titre_alternatif_suite %>
  </div>

  <div>
    <%= form.label :titre_original_latin, style: "display: block" %>
    <%= form.text_field :titre_original_latin %>
  </div>

  <div>
    <%= form.label :titre_original, style: "display: block" %>
    <%= form.text_field :titre_original %>
  </div>

  <div>
    <%= form.label :image, style: "display: block" %>
    <%= form.text_field :image %>
  </div>

  <div>
    <%= form.label :_dramas_origine_id, style: "display: block" %>
    <%= form.number_field :_dramas_origine_id %>
  </div>

  <div>
    <%= form.label :_dramas_encours_id, style: "display: block" %>
    <%= form.number_field :_dramas_encours_id %>
  </div>

  <div>
    <%= form.label :date_debut_jj, style: "display: block" %>
    <%= form.text_field :date_debut_jj %>
  </div>

  <div>
    <%= form.label :date_debut_mm, style: "display: block" %>
    <%= form.text_field :date_debut_mm %>
  </div>

  <div>
    <%= form.label :date_debut_aaaa, style: "display: block" %>
    <%= form.text_field :date_debut_aaaa %>
  </div>

  <div>
    <%= form.label :date_fin_jj, style: "display: block" %>
    <%= form.text_field :date_fin_jj %>
  </div>

  <div>
    <%= form.label :date_fin_mm, style: "display: block" %>
    <%= form.text_field :date_fin_mm %>
  </div>

  <div>
    <%= form.label :date_fin_aaaa, style: "display: block" %>
    <%= form.text_field :date_fin_aaaa %>
  </div>

  <div>
    <%= form.label :nb_ep, style: "display: block" %>
    <%= form.text_field :nb_ep %>
  </div>

  <div>
    <%= form.label :total_ep_inconnu, style: "display: block" %>
    <%= form.text_field :total_ep_inconnu %>
  </div>

  <div>
    <%= form.label :_dramas_pays_id, style: "display: block" %>
    <%= form.number_field :_dramas_pays_id %>
  </div>

  <div>
    <%= form.label :_dramas_pays_id, style: "display: block" %>
    <%= form.number_field :_dramas_pays_id %>
  </div>

  <div>
    <%= form.label :duree, style: "display: block" %>
    <%= form.text_field :duree %>
  </div>

  <div>
    <%= form.label :age, style: "display: block" %>
    <%= form.text_field :age %>
  </div>

  <div>
    <%= form.label :_dramas_genres_id, style: "display: block" %>
    <%= form.number_field :_dramas_genres_id %>
  </div>

  <div>
    <%= form.label :_dramas_genres_id, style: "display: block" %>
    <%= form.number_field :_dramas_genres_id %>
  </div>

  <div>
    <%= form.label :_dramas_themes_id, style: "display: block" %>
    <%= form.number_field :_dramas_themes_id %>
  </div>

  <div>
    <%= form.label :_dramas_themes_id, style: "display: block" %>
    <%= form.number_field :_dramas_themes_id %>
  </div>

  <div>
    <%= form.label :_dramas_staff_role_id, style: "display: block" %>
    <%= form.number_field :_dramas_staff_role_id %>
  </div>

  <div>
    <%= form.label :_dramas_staff_people_id, style: "display: block" %>
    <%= form.number_field :_dramas_staff_people_id %>
  </div>

  <div>
    <%= form.label :_dramas_staff_role_id, style: "display: block" %>
    <%= form.number_field :_dramas_staff_role_id %>
  </div>

  <div>
    <%= form.label :_dramas_staff_people_id, style: "display: block" %>
    <%= form.number_field :_dramas_staff_people_id %>
  </div>

  <div>
    <%= form.label :_dramas_staff_role_id, style: "display: block" %>
    <%= form.number_field :_dramas_staff_role_id %>
  </div>

  <div>
    <%= form.label :_dramas_staff_people_id, style: "display: block" %>
    <%= form.number_field :_dramas_staff_people_id %>
  </div>

  <div>
    <%= form.label :_dramas_societe_role_id, style: "display: block" %>
    <%= form.number_field :_dramas_societe_role_id %>
  </div>

  <div>
    <%= form.label :_dramas_societe_people_id, style: "display: block" %>
    <%= form.number_field :_dramas_societe_people_id %>
  </div>

  <div>
    <%= form.label :_dramas_type_id, style: "display: block" %>
    <%= form.number_field :_dramas_type_id %>
  </div>

  <div>
    <%= form.label :_dramas_acteurs_id, style: "display: block" %>
    <%= form.number_field :_dramas_acteurs_id %>
  </div>

  <div>
    <%= form.label :_dramas_type_id, style: "display: block" %>
    <%= form.number_field :_dramas_type_id %>
  </div>

  <div>
    <%= form.label :_dramas_acteurs_id, style: "display: block" %>
    <%= form.number_field :_dramas_acteurs_id %>
  </div>

  <div>
    <%= form.label :_dramas_type_id, style: "display: block" %>
    <%= form.number_field :_dramas_type_id %>
  </div>

  <div>
    <%= form.label :_dramas_acteurs_id, style: "display: block" %>
    <%= form.number_field :_dramas_acteurs_id %>
  </div>

  <div>
    <%= form.label :_dramas_type_id, style: "display: block" %>
    <%= form.number_field :_dramas_type_id %>
  </div>

  <div>
    <%= form.label :_dramas_acteurs_id, style: "display: block" %>
    <%= form.number_field :_dramas_acteurs_id %>
  </div>

  <div>
    <%= form.label :synopsis, style: "display: block" %>
    <%= form.text_area :synopsis %>
  </div>

  <div>
    <%= form.label :youtube, style: "display: block" %>
    <%= form.text_field :youtube %>
  </div>

  <div>
    <%= form.label :webdrama, style: "display: block" %>
    <%= form.text_field :webdrama %>
  </div>

  <div>
    <%= form.label :webdrama, style: "display: block" %>
    <%= form.text_field :webdrama %>
  </div>

  <div>
    <%= form.label :_dramas_editeurs_vf_role_id, style: "display: block" %>
    <%= form.number_field :_dramas_editeurs_vf_role_id %>
  </div>

  <div>
    <%= form.label :_dramas_editeurs_vf_id, style: "display: block" %>
    <%= form.number_field :_dramas_editeurs_vf_id %>
  </div>

  <div>
    <%= form.label :_dramas_editeurs_vf_role_id, style: "display: block" %>
    <%= form.number_field :_dramas_editeurs_vf_role_id %>
  </div>

  <div>
    <%= form.label :_dramas_editeurs_vf_id, style: "display: block" %>
    <%= form.number_field :_dramas_editeurs_vf_id %>
  </div>

  <div>
    <%= form.label :date_debut_simulcast_jj, style: "display: block" %>
    <%= form.text_field :date_debut_simulcast_jj %>
  </div>

  <div>
    <%= form.label :date_debut_simulcast_mm, style: "display: block" %>
    <%= form.text_field :date_debut_simulcast_mm %>
  </div>

  <div>
    <%= form.label :date_debut_simulcast_aaaa, style: "display: block" %>
    <%= form.text_field :date_debut_simulcast_aaaa %>
  </div>

  <div>
    <%= form.label :licencie, style: "display: block" %>
    <%= form.text_field :licencie %>
  </div>

  <div>
    <%= form.label :licencie, style: "display: block" %>
    <%= form.text_field :licencie %>
  </div>

  <div>
    <%= form.label :date_vf_jj, style: "display: block" %>
    <%= form.text_field :date_vf_jj %>
  </div>

  <div>
    <%= form.label :date_vf_mm, style: "display: block" %>
    <%= form.text_field :date_vf_mm %>
  </div>

  <div>
    <%= form.label :date_vf_aaaa, style: "display: block" %>
    <%= form.text_field :date_vf_aaaa %>
  </div>

  <div>
    <%= form.label :site, style: "display: block" %>
    <%= form.text_field :site %>
  </div>

  <div>
    <%= form.label :site2, style: "display: block" %>
    <%= form.text_field :site2 %>
  </div>

  <div>
    <%= form.label :_dramas_programme_id, style: "display: block" %>
    <%= form.number_field :_dramas_programme_id %>
  </div>

  <div>
    <%= form.label :episodes, style: "display: block" %>
    <%= form.text_area :episodes %>
  </div>

  <div>
    <%= form.label :_dramas_generiques_type_id, style: "display: block" %>
    <%= form.number_field :_dramas_generiques_type_id %>
  </div>

  <div>
    <%= form.label :_dramas_generiques_people_id, style: "display: block" %>
    <%= form.number_field :_dramas_generiques_people_id %>
  </div>

  <div>
    <%= form.label :_dramas_generiques_people2_id, style: "display: block" %>
    <%= form.number_field :_dramas_generiques_people2_id %>
  </div>

  <div>
    <%= form.label :_dramas_generiques_clip_id, style: "display: block" %>
    <%= form.number_field :_dramas_generiques_clip_id %>
  </div>

  <div>
    <%= form.label :_dramas_generiques_parole_id, style: "display: block" %>
    <%= form.number_field :_dramas_generiques_parole_id %>
  </div>

  <div>
    <%= form.label :_dramas_generiques_type_id, style: "display: block" %>
    <%= form.number_field :_dramas_generiques_type_id %>
  </div>

  <div>
    <%= form.label :_dramas_generiques_people_id, style: "display: block" %>
    <%= form.number_field :_dramas_generiques_people_id %>
  </div>

  <div>
    <%= form.label :_dramas_generiques_people2_id, style: "display: block" %>
    <%= form.number_field :_dramas_generiques_people2_id %>
  </div>

  <div>
    <%= form.label :_dramas_generiques_clip_id, style: "display: block" %>
    <%= form.number_field :_dramas_generiques_clip_id %>
  </div>

  <div>
    <%= form.label :_dramas_generiques_parole_id, style: "display: block" %>
    <%= form.number_field :_dramas_generiques_parole_id %>
  </div>

  <div>
    <%= form.label :infos, style: "display: block" %>
    <%= form.text_area :infos %>
  </div>

  <div>
    <%= form.label :_dramas_groupes_id, style: "display: block" %>
    <%= form.number_field :_dramas_groupes_id %>
  </div>

  <div>
    <%= form.label :_dramas_anime_id, style: "display: block" %>
    <%= form.number_field :_dramas_anime_id %>
  </div>

  <div>
    <%= form.label :_dramas_anime_plus_id, style: "display: block" %>
    <%= form.number_field :_dramas_anime_plus_id %>
  </div>

  <div>
    <%= form.label :_dramas_ln_id, style: "display: block" %>
    <%= form.number_field :_dramas_ln_id %>
  </div>

  <div>
    <%= form.label :_dramas_ln_plus_id, style: "display: block" %>
    <%= form.number_field :_dramas_ln_plus_id %>
  </div>

  <div>
    <%= form.label :_dramas_manga_id, style: "display: block" %>
    <%= form.number_field :_dramas_manga_id %>
  </div>

  <div>
    <%= form.label :_dramas_manga_plus_id, style: "display: block" %>
    <%= form.number_field :_dramas_manga_plus_id %>
  </div>

  <div>
    <%= form.label :_dramas_drama_id, style: "display: block" %>
    <%= form.number_field :_dramas_drama_id %>
  </div>

  <div>
    <%= form.label :_dramas_drama_plus_id, style: "display: block" %>
    <%= form.number_field :_dramas_drama_plus_id %>
  </div>

  <div>
    <%= form.label :_dramas_jv_id, style: "display: block" %>
    <%= form.number_field :_dramas_jv_id %>
  </div>

  <div>
    <%= form.label :_dramas_jv_plus_id, style: "display: block" %>
    <%= form.number_field :_dramas_jv_plus_id %>
  </div>

  <div>
    <%= form.label :_dramas_am_id, style: "display: block" %>
    <%= form.number_field :_dramas_am_id %>
  </div>

  <div>
    <%= form.label :_dramas_am_plus_id, style: "display: block" %>
    <%= form.number_field :_dramas_am_plus_id %>
  </div>

  <div>
    <%= form.label :_dramas_univers_id, style: "display: block" %>
    <%= form.number_field :_dramas_univers_id %>
  </div>

  <div>
    <%= form.label :_dramas_litterature_asiatique_id, style: "display: block" %>
    <%= form.number_field :_dramas_litterature_asiatique_id %>
  </div>

  <div>
    <%= form.label :_dramas_litterature_asiatique_plus_id, style: "display: block" %>
    <%= form.number_field :_dramas_litterature_asiatique_plus_id %>
  </div>

  <div>
    <%= form.label :_dramas_actualite_id, style: "display: block" %>
    <%= form.number_field :_dramas_actualite_id %>
  </div>

  <div>
    <%= form.label :_dramas_culture_id, style: "display: block" %>
    <%= form.number_field :_dramas_culture_id %>
  </div>

  <div>
    <%= form.label :_dramas_actualite_mini_id, style: "display: block" %>
    <%= form.number_field :_dramas_actualite_mini_id %>
  </div>

  <div>
    <%= form.label :_dramas_ost_id, style: "display: block" %>
    <%= form.number_field :_dramas_ost_id %>
  </div>

  <div>
    <%= form.label :_dramas_doujin_id, style: "display: block" %>
    <%= form.number_field :_dramas_doujin_id %>
  </div>

  <div>
    <%= form.label :_dramas_cd_id, style: "display: block" %>
    <%= form.number_field :_dramas_cd_id %>
  </div>

  <div>
    <%= form.label :_dramas_dvd_id, style: "display: block" %>
    <%= form.number_field :_dramas_dvd_id %>
  </div>

  <div>
    <%= form.label :_dramas_artbook_id, style: "display: block" %>
    <%= form.number_field :_dramas_artbook_id %>
  </div>

  <div>
    <%= form.label :_dramas_emission_tv_id, style: "display: block" %>
    <%= form.number_field :_dramas_emission_tv_id %>
  </div>

  <div>
    <%= form.label :_dramas_emission_tv_plus_id, style: "display: block" %>
    <%= form.number_field :_dramas_emission_tv_plus_id %>
  </div>

  <div>
    <%= form.label :comment, style: "display: block" %>
    <%= form.text_area :comment %>
  </div>

  <div>
    <%= form.label :statut_prop, style: "display: block" %>
    <%= form.text_field :statut_prop %>
  </div>

  <div>
    <%= form.label :statut_prop, style: "display: block" %>
    <%= form.text_field :statut_prop %>
  </div>

  <div>
    <%= form.label :acceptregles, style: "display: block" %>
    <%= form.text_field :acceptregles %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
