<p style="color: green"><%= notice %></p>































































































































<%= render @_paroles_staff_role %>































































































































<div>































































  <%= link_to "Edit this paroles staff role", edit_paroles_staff_role_path(@_paroles_staff_role) %> |































































  <%= link_to "Back to paroles staff roles", paroles_staff_roles_path %>































































































































  <%= button_to "Destroy this paroles staff role", @_paroles_staff_role, method: :delete %>































































</div>
