<p style="color: green"><%= notice %></p>































































































































<%= render @_films_asiatiques_en_salles_pays_origine %>































































































































<div>































































  <%= link_to "Edit this films asiatiques en salles pays origine", edit_films_asiatiques_en_salles_pays_origine_path(@_films_asiatiques_en_salles_pays_origine) %> |































































  <%= link_to "Back to films asiatiques en salles pays origines", films_asiatiques_en_salles_pays_origines_path %>































































































































  <%= button_to "Destroy this films asiatiques en salles pays origine", @_films_asiatiques_en_salles_pays_origine, method: :delete %>































































</div>
