<p style="color: green"><%= notice %></p>































































































































<%= render @_jeux_videos_topic %>































































































































<div>































































  <%= link_to "Edit this jeux videos topic", edit_jeux_videos_topic_path(@_jeux_videos_topic) %> |































































  <%= link_to "Back to jeux videos topics", jeux_videos_topics_path %>































































































































  <%= button_to "Destroy this jeux videos topic", @_jeux_videos_topic, method: :delete %>































































</div>
