<p style="color: green"><%= notice %></p>

<%= render @_films_asiatiques_ln %>

<div>
  <%= link_to "Edit this films asiatiques ln", edit__films_asiatiques_ln_path(@_films_asiatiques_ln) %> |
  <%= link_to "Back to films asiatiques lns", _films_asiatiques_lns_path %>

  <%= button_to "Destroy this films asiatiques ln", @_films_asiatiques_ln, method: :delete %>
</div>
