<p style="color: green"><%= notice %></p>















<%= render @_dvd___blu_rays_actualite_mini %>















<div>







  <%= link_to "Edit this blu rays actualite mini", edit_dvd___blu_rays_actualite_mini_path(@_dvd___blu_rays_actualite_mini) %> |







  <%= link_to "Back to blu rays actualite minis", dvd___blu_rays_actualite_minis_path %>















  <%= button_to "Destroy this blu rays actualite mini", @_dvd___blu_rays_actualite_mini, method: :delete %>







</div>
