<p style="color: green"><%= notice %></p>

<%= render @_dramas_generiques_type %>

<div>
  <%= link_to "Edit this dramas generiques type", edit__dramas_generiques_type_path(@_dramas_generiques_type) %> |
  <%= link_to "Back to dramas generiques types", _dramas_generiques_types_path %>

  <%= button_to "Destroy this dramas generiques type", @_dramas_generiques_type, method: :delete %>
</div>
