<p style="color: green"><%= notice %></p>



<%= render @_clips_lives_bonus_concerts_type %>



<div>

  <%= link_to "Edit this concerts type", edit_clips_lives_bonus_concerts_type_path(@_clips_lives_bonus_concerts_type) %> |

  <%= link_to "Back to concerts types", clips_lives_bonus_concerts_types_path %>



  <%= button_to "Destroy this concerts type", @_clips_lives_bonus_concerts_type, method: :delete %>

</div>
