<%= form_with(model: _photobooks_editeurs_vo) do |form| %>































































  <% if _photobooks_editeurs_vo.errors.any? %>































































    <div style="color: red">































































      <h2><%= pluralize(_photobooks_editeurs_vo.errors.count, "error") %> prohibited this _photobooks_editeurs_vo from being saved:</h2>































































































































      <ul>































































        <% _photobooks_editeurs_vo.errors.each do |error| %>































































          <li><%= error.full_message %></li>































































        <% end %>































































      </ul>































































    </div>































































  <% end %>































































































































  <div>































































    <%= form.label :name, style: "display: block" %>































































    <%= form.text_field :name %>































































  </div>































































































































  <div>































































    <%= form.submit %>































































  </div>































































<% end %>
