<p style="color: green"><%= notice %></p>

<%= render @artbooks_anime %>

<div>
  <%= link_to "Edit this artbooks anime", edit_artbooks_anime_path(@artbooks_anime) %> |
  <%= link_to "Back to artbooks animes", artbooks_animes_path %>

  <%= button_to "Destroy this artbooks anime", @artbooks_anime, method: :delete %>
</div>
