<p style="color: green"><%= notice %></p>































































































































<%= render @_films_asiatiques_anime %>































































































































<div>































































  <%= link_to "Edit this films asiatiques anime", edit_films_asiatiques_anime_path(@_films_asiatiques_anime) %> |































































  <%= link_to "Back to films asiatiques animes", films_asiatiques_animes_path %>































































































































  <%= button_to "Destroy this films asiatiques anime", @_films_asiatiques_anime, method: :delete %>































































</div>
