<div id="<%= dom_id ost %>">































































  <p>































































    <strong>Titre:</strong>































































    <%= ost.titre %>































































  </p>































































































































  <p>































































    <strong>Titre original latin:</strong>































































    <%= ost.titre_original_latin %>































































  </p>































































































































  <p>































































    <strong>Titre original:</strong>































































    <%= ost.titre_original %>































































  </p>































































































































  <p>































































    <strong>Titre us:</strong>































































    <%= ost.titre_us %>































































  </p>































































































































  <p>































































    <strong>Titre alternatif:</strong>































































    <%= ost.titre_alternatif %>































































  </p>































































































































  <p>































































    <strong>Osts type:</strong>































































    <%= ost.osts_type_id %>































































  </p>































































































































  <p>































































    <strong>Osts plateforme:</strong>































































    <%= ost.osts_plateforme_id %>































































  </p>































































































































  <p>































































    <strong>Osts plateforme:</strong>































































    <%= ost.osts_plateforme_id %>































































  </p>































































































































  <p>































































    <strong>Ref:</strong>































































    <%= ost.ref %>































































  </p>































































































































  <p>































































    <strong>Date jj:</strong>































































    <%= ost.date_jj %>































































  </p>































































































































  <p>































































    <strong>Date mm:</strong>































































    <%= ost.date_mm %>































































  </p>































































































































  <p>































































    <strong>Date aaaa:</strong>































































    <%= ost.date_aaaa %>































































  </p>































































































































  <p>































































    <strong>Prix:</strong>































































    <%= ost.prix %>































































  </p>































































































































  <p>































































    <strong>Osts monnaie:</strong>































































    <%= ost.osts_monnaie_id %>































































  </p>































































































































  <p>































































    <strong>Bonus cd:</strong>































































    <%= ost.bonus_cd %>































































  </p>































































































































  <p>































































    <strong>Osts role:</strong>































































    <%= ost.osts_role_id %>































































  </p>































































































































  <p>































































    <strong>Osts people:</strong>































































    <%= ost.osts_people_id %>































































  </p>































































































































  <p>































































    <strong>Osts role:</strong>































































    <%= ost.osts_role_id %>































































  </p>































































































































  <p>































































    <strong>Osts people:</strong>































































    <%= ost.osts_people_id %>































































  </p>































































































































  <p>































































    <strong>Image:</strong>































































    <%= ost.image %>































































  </p>































































































































  <p>































































    <strong>Sametracklist:</strong>































































    <%= ost.sametracklist %>































































  </p>































































































































  <p>































































    <strong>Osts labels:</strong>































































    <%= ost.osts_labels_id %>































































  </p>































































































































  <p>































































    <strong>Osts labels:</strong>































































    <%= ost.osts_labels_id %>































































  </p>































































































































  <p>































































    <strong>Osts distributeurs:</strong>































































    <%= ost.osts_distributeurs_id %>































































  </p>































































































































  <p>































































    <strong>Osts distributeurs:</strong>































































    <%= ost.osts_distributeurs_id %>































































  </p>































































































































  <p>































































    <strong>Infos:</strong>































































    <%= ost.infos %>































































  </p>































































































































  <p>































































    <strong>Osts groupes:</strong>































































    <%= ost.osts_groupes_id %>































































  </p>































































































































  <p>































































    <strong>Osts anime:</strong>































































    <%= ost.osts_anime_id %>































































  </p>































































































































  <p>































































    <strong>Osts ln:</strong>































































    <%= ost.osts_ln_id %>































































  </p>































































































































  <p>































































    <strong>Osts drama:</strong>































































    <%= ost.osts_drama_id %>































































  </p>































































































































  <p>































































    <strong>Osts am:</strong>































































    <%= ost.osts_am_id %>































































  </p>































































































































  <p>































































    <strong>Osts jv:</strong>































































    <%= ost.osts_jv_id %>































































  </p>































































































































  <p>































































    <strong>Osts ost:</strong>































































    <%= ost.osts_ost_id %>































































  </p>































































































































  <p>































































    <strong>Osts emission tv:</strong>































































    <%= ost.osts_emission_tv_id %>































































  </p>































































































































  <p>































































    <strong>Comment:</strong>































































    <%= ost.comment %>































































  </p>































































































































  <p>































































    <strong>Statut prop:</strong>































































    <%= ost.statut_prop %>































































  </p>































































































































  <p>































































    <strong>Statut prop:</strong>































































    <%= ost.statut_prop %>































































  </p>































































































































  <p>































































    <strong>Acceptregles:</strong>































































    <%= ost.acceptregles %>































































  </p>































































































































</div>
