<p style="color: green"><%= notice %></p>















<%= render @_dvd___blu_rays_jv %>















<div>







  <%= link_to "Edit this blu rays jv", edit_dvd___blu_rays_jv_path(@_dvd___blu_rays_jv) %> |







  <%= link_to "Back to blu rays jvs", dvd___blu_rays_jvs_path %>















  <%= button_to "Destroy this blu rays jv", @_dvd___blu_rays_jv, method: :delete %>







</div>
