<p style="color: green"><%= notice %></p>

<%= render @_personnalites_ex_debut %>

<div>
  <%= link_to "Edit this personnalites ex debut", edit__personnalites_ex_debut_path(@_personnalites_ex_debut) %> |
  <%= link_to "Back to personnalites ex debuts", _personnalites_ex_debuts_path %>

  <%= button_to "Destroy this personnalites ex debut", @_personnalites_ex_debut, method: :delete %>
</div>
