<p style="color: green"><%= notice %></p>

<%= render @_clips___lives___bonus___concerts_type %>

<div>
  <%= link_to "Edit this concerts type", edit__clips___lives___bonus___concerts_type_path(@_clips___lives___bonus___concerts_type) %> |
  <%= link_to "Back to concerts types", _clips___lives___bonus___concerts_types_path %>

  <%= button_to "Destroy this concerts type", @_clips___lives___bonus___concerts_type, method: :delete %>
</div>
