<p style="color: green"><%= notice %></p>































































































































<%= render @_doujinshis_theme %>































































































































<div>































































  <%= link_to "Edit this doujinshis theme", edit_doujinshis_theme_path(@_doujinshis_theme) %> |































































  <%= link_to "Back to doujinshis themes", doujinshis_themes_path %>































































































































  <%= button_to "Destroy this doujinshis theme", @_doujinshis_theme, method: :delete %>































































</div>
