<p style="color: green"><%= notice %></p>

<%= render @animes_drama_plu %>

<div>
  <%= link_to "Edit this animes drama plu", edit_animes_drama_plu_path(@animes_drama_plu) %> |
  <%= link_to "Back to animes drama plus", animes_drama_plus_path %>

  <%= button_to "Destroy this animes drama plu", @animes_drama_plu, method: :delete %>
</div>
