<p style="color: green"><%= notice %></p>

<%= render @_personnage_danimes_perso_manga %>

<div>
  <%= link_to "Edit this personnage danimes perso manga", edit__personnage_danimes_perso_manga_path(@_personnage_danimes_perso_manga) %> |
  <%= link_to "Back to personnage danimes perso mangas", _personnage_danimes_perso_mangas_path %>

  <%= button_to "Destroy this personnage danimes perso manga", @_personnage_danimes_perso_manga, method: :delete %>
</div>
