<p style="color: green"><%= notice %></p>































































































































<%= render @animes_groupe %>































































































































<div>































































  <%= link_to "Edit this animes groupe", edit_animes_groupe_path(@animes_groupe) %> |































































  <%= link_to "Back to animes groupes", animes_groupes_path %>































































































































  <%= button_to "Destroy this animes groupe", @animes_groupe, method: :delete %>































































</div>
