<p style="color: green"><%= notice %></p>

<%= render @_personnalites_agence %>

<div>
  <%= link_to "Edit this personnalites agence", edit__personnalites_agence_path(@_personnalites_agence) %> |
  <%= link_to "Back to personnalites agences", _personnalites_agences_path %>

  <%= button_to "Destroy this personnalites agence", @_personnalites_agence, method: :delete %>
</div>
