<p style="color: green"><%= notice %></p>































































































































<%= render @_goodies_perso %>































































































































<div>































































  <%= link_to "Edit this goodies perso", edit_goodies_perso_path(@_goodies_perso) %> |































































  <%= link_to "Back to goodies persos", goodies_persos_path %>































































































































  <%= button_to "Destroy this goodies perso", @_goodies_perso, method: :delete %>































































</div>
