<p style="color: green"><%= notice %></p>

<%= render @artbooks_societe_person %>

<div>
  <%= link_to "Edit this artbooks societe person", edit_artbooks_societe_person_path(@artbooks_societe_person) %> |
  <%= link_to "Back to artbooks societe people", artbooks_societe_people_path %>

  <%= button_to "Destroy this artbooks societe person", @artbooks_societe_person, method: :delete %>
</div>
