<p style="color: green"><%= notice %></p>































































































































<%= render @osts_label %>































































































































<div>































































  <%= link_to "Edit this osts label", edit_osts_label_path(@osts_label) %> |































































  <%= link_to "Back to osts labels", osts_labels_path %>































































































































  <%= button_to "Destroy this osts label", @osts_label, method: :delete %>































































</div>
