<p style="color: green"><%= notice %></p>

<%= render @_personnalites_ex_fin %>

<div>
  <%= link_to "Edit this personnalites ex fin", edit__personnalites_ex_fin_path(@_personnalites_ex_fin) %> |
  <%= link_to "Back to personnalites ex fins", _personnalites_ex_fins_path %>

  <%= button_to "Destroy this personnalites ex fin", @_personnalites_ex_fin, method: :delete %>
</div>
