<p style="color: green"><%= notice %></p>

<%= render @animes_editeurs_vf %>

<div>
  <%= link_to "Edit this animes editeurs vf", edit_animes_editeurs_vf_path(@animes_editeurs_vf) %> |
  <%= link_to "Back to animes editeurs vfs", animes_editeurs_vfs_path %>

  <%= button_to "Destroy this animes editeurs vf", @animes_editeurs_vf, method: :delete %>
</div>
