<div id="<%= dom_id anime %>">
  <p>
    <strong>Titre:</strong>
    <%= anime.titre %>
  </p>

  <p>
    <strong>Titre alternatif:</strong>
    <%= anime.titre_alternatif %>
  </p>

  <p>
    <strong>Titre alternatif suite:</strong>
    <%= anime.titre_alternatif_suite %>
  </p>

  <p>
    <strong>Titre original latin:</strong>
    <%= anime.titre_original_latin %>
  </p>

  <p>
    <strong>Titre original:</strong>
    <%= anime.titre_original %>
  </p>

  <p>
    <strong>Image:</strong>
    <%= anime.image %>
  </p>

  <p>
    <strong>Animes format:</strong>
    <%= anime.animes_format_id %>
  </p>

  <p>
    <strong>Animes origine:</strong>
    <%= anime.animes_origine_id %>
  </p>

  <p>
    <strong>Webanime:</strong>
    <%= anime.webanime %>
  </p>

  <p>
    <strong>Animes encours:</strong>
    <%= anime.animes_encours_id %>
  </p>

  <p>
    <strong>Date debut jj:</strong>
    <%= anime.date_debut_jj %>
  </p>

  <p>
    <strong>Date debut mm:</strong>
    <%= anime.date_debut_mm %>
  </p>

  <p>
    <strong>Date debut aaaa:</strong>
    <%= anime.date_debut_aaaa %>
  </p>

  <p>
    <strong>Date fin jj:</strong>
    <%= anime.date_fin_jj %>
  </p>

  <p>
    <strong>Date fin mm:</strong>
    <%= anime.date_fin_mm %>
  </p>

  <p>
    <strong>Date fin aaaa:</strong>
    <%= anime.date_fin_aaaa %>
  </p>

  <p>
    <strong>Animes pays:</strong>
    <%= anime.animes_pays_id %>
  </p>

  <p>
    <strong>Animes pays:</strong>
    <%= anime.animes_pays_id %>
  </p>

  <p>
    <strong>Animes genres:</strong>
    <%= anime.animes_genres_id %>
  </p>

  <p>
    <strong>Animes genres:</strong>
    <%= anime.animes_genres_id %>
  </p>

  <p>
    <strong>Animes themes:</strong>
    <%= anime.animes_themes_id %>
  </p>

  <p>
    <strong>Animes themes:</strong>
    <%= anime.animes_themes_id %>
  </p>

  <p>
    <strong>Animes staff role:</strong>
    <%= anime.animes_staff_role_id %>
  </p>

  <p>
    <strong>Animes staff people:</strong>
    <%= anime.animes_staff_people_id %>
  </p>

  <p>
    <strong>Animes staff role:</strong>
    <%= anime.animes_staff_role_id %>
  </p>

  <p>
    <strong>Animes staff people:</strong>
    <%= anime.animes_staff_people_id %>
  </p>

  <p>
    <strong>Animes societe role:</strong>
    <%= anime.animes_societe_role_id %>
  </p>

  <p>
    <strong>Animes societe people:</strong>
    <%= anime.animes_societe_people_id %>
  </p>

  <p>
    <strong>Animes societe role:</strong>
    <%= anime.animes_societe_role_id %>
  </p>

  <p>
    <strong>Animes societe people:</strong>
    <%= anime.animes_societe_people_id %>
  </p>

  <p>
    <strong>Animes public averti:</strong>
    <%= anime.animes_public_averti_id %>
  </p>

  <p>
    <strong>Age:</strong>
    <%= anime.age %>
  </p>

  <p>
    <strong>Nb ep:</strong>
    <%= anime.nb_ep %>
  </p>

  <p>
    <strong>Total ep inconnu:</strong>
    <%= anime.total_ep_inconnu %>
  </p>

  <p>
    <strong>Duree:</strong>
    <%= anime.duree %>
  </p>

  <p>
    <strong>Licencie:</strong>
    <%= anime.licencie %>
  </p>

  <p>
    <strong>Licencie:</strong>
    <%= anime.licencie %>
  </p>

  <p>
    <strong>Animes editeurs vf role:</strong>
    <%= anime.animes_editeurs_vf_role_id %>
  </p>

  <p>
    <strong>Animes editeurs vf:</strong>
    <%= anime.animes_editeurs_vf_id %>
  </p>

  <p>
    <strong>Animes editeurs vf role:</strong>
    <%= anime.animes_editeurs_vf_role_id %>
  </p>

  <p>
    <strong>Animes editeurs vf:</strong>
    <%= anime.animes_editeurs_vf_id %>
  </p>

  <p>
    <strong>Date debut simulcast jj:</strong>
    <%= anime.date_debut_simulcast_jj %>
  </p>

  <p>
    <strong>Date debut simulcast mm:</strong>
    <%= anime.date_debut_simulcast_mm %>
  </p>

  <p>
    <strong>Date debut simulcast aaaa:</strong>
    <%= anime.date_debut_simulcast_aaaa %>
  </p>

  <p>
    <strong>Date vf jj:</strong>
    <%= anime.date_vf_jj %>
  </p>

  <p>
    <strong>Date vf mm:</strong>
    <%= anime.date_vf_mm %>
  </p>

  <p>
    <strong>Date vf aaaa:</strong>
    <%= anime.date_vf_aaaa %>
  </p>

  <p>
    <strong>Image francaise:</strong>
    <%= anime.image_francaise %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= anime.description %>
  </p>

  <p>
    <strong>Site:</strong>
    <%= anime.site %>
  </p>

  <p>
    <strong>Site2:</strong>
    <%= anime.site2 %>
  </p>

  <p>
    <strong>Youtube:</strong>
    <%= anime.youtube %>
  </p>

  <p>
    <strong>Animes groupes:</strong>
    <%= anime.animes_groupes_id %>
  </p>

  <p>
    <strong>Animes actualite:</strong>
    <%= anime.animes_actualite_id %>
  </p>

  <p>
    <strong>Animes actualite mini:</strong>
    <%= anime.animes_actualite_mini_id %>
  </p>

  <p>
    <strong>Animes anime:</strong>
    <%= anime.animes_anime_id %>
  </p>

  <p>
    <strong>Animes anime plus:</strong>
    <%= anime.animes_anime_plus_id %>
  </p>

  <p>
    <strong>Animes ln:</strong>
    <%= anime.animes_ln_id %>
  </p>

  <p>
    <strong>Animes ln plus:</strong>
    <%= anime.animes_ln_plus_id %>
  </p>

  <p>
    <strong>Animes manga:</strong>
    <%= anime.animes_manga_id %>
  </p>

  <p>
    <strong>Animes manga plus:</strong>
    <%= anime.animes_manga_plus_id %>
  </p>

  <p>
    <strong>Animes jv:</strong>
    <%= anime.animes_jv_id %>
  </p>

  <p>
    <strong>Animes jv plus:</strong>
    <%= anime.animes_jv_plus_id %>
  </p>

  <p>
    <strong>Animes am:</strong>
    <%= anime.animes_am_id %>
  </p>

  <p>
    <strong>Animes am plus:</strong>
    <%= anime.animes_am_plus_id %>
  </p>

  <p>
    <strong>Animes drama:</strong>
    <%= anime.animes_drama_id %>
  </p>

  <p>
    <strong>Animes drama plus:</strong>
    <%= anime.animes_drama_plus_id %>
  </p>

  <p>
    <strong>Animes people:</strong>
    <%= anime.animes_people_id %>
  </p>

  <p>
    <strong>Animes dvd:</strong>
    <%= anime.animes_dvd_id %>
  </p>

  <p>
    <strong>Animes artbook:</strong>
    <%= anime.animes_artbook_id %>
  </p>

  <p>
    <strong>Animes photobook:</strong>
    <%= anime.animes_photobook_id %>
  </p>

  <p>
    <strong>Animes litterature asiatique:</strong>
    <%= anime.animes_litterature_asiatique_id %>
  </p>

  <p>
    <strong>Animes litterature asiatique plus:</strong>
    <%= anime.animes_litterature_asiatique_plus_id %>
  </p>

  <p>
    <strong>Animes culture:</strong>
    <%= anime.animes_culture_id %>
  </p>

  <p>
    <strong>Animes ost:</strong>
    <%= anime.animes_ost_id %>
  </p>

  <p>
    <strong>Animes cd:</strong>
    <%= anime.animes_cd_id %>
  </p>

  <p>
    <strong>Animes doujin:</strong>
    <%= anime.animes_doujin_id %>
  </p>

  <p>
    <strong>Animes amv:</strong>
    <%= anime.animes_amv_id %>
  </p>

  <p>
    <strong>Animes cinema:</strong>
    <%= anime.animes_cinema_id %>
  </p>

  <p>
    <strong>Animes quizz:</strong>
    <%= anime.animes_quizz_id %>
  </p>

  <p>
    <strong>Animes topic:</strong>
    <%= anime.animes_topic_id %>
  </p>

  <p>
    <strong>Comment:</strong>
    <%= anime.comment %>
  </p>

  <p>
    <strong>Statut prop:</strong>
    <%= anime.statut_prop %>
  </p>

  <p>
    <strong>Statut prop:</strong>
    <%= anime.statut_prop %>
  </p>

  <p>
    <strong>Acceptregles:</strong>
    <%= anime.acceptregles %>
  </p>

</div>
