<%= form_with(model: anime) do |form| %>
  <% if anime.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(anime.errors.count, "error") %> prohibited this anime from being saved:</h2>

      <ul>
        <% anime.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :titre, style: "display: block" %>
    <%= form.text_field :titre %>
  </div>

  <div>
    <%= form.label :titre_alternatif, style: "display: block" %>
    <%= form.text_field :titre_alternatif %>
  </div>

  <div>
    <%= form.label :titre_alternatif_suite, style: "display: block" %>
    <%= form.text_field :titre_alternatif_suite %>
  </div>

  <div>
    <%= form.label :titre_original_latin, style: "display: block" %>
    <%= form.text_field :titre_original_latin %>
  </div>

  <div>
    <%= form.label :titre_original, style: "display: block" %>
    <%= form.text_field :titre_original %>
  </div>

  <div>
    <%= form.label :image, style: "display: block" %>
    <%= form.text_field :image %>
  </div>

  <div>
    <%= form.label :animes_format_id, style: "display: block" %>
    <%= form.number_field :animes_format_id %>
  </div>

  <div>
    <%= form.label :animes_origine_id, style: "display: block" %>
    <%= form.number_field :animes_origine_id %>
  </div>

  <div>
    <%= form.label :webanime, style: "display: block" %>
    <%= form.text_field :webanime %>
  </div>

  <div>
    <%= form.label :animes_encours_id, style: "display: block" %>
    <%= form.number_field :animes_encours_id %>
  </div>

  <div>
    <%= form.label :date_debut_jj, style: "display: block" %>
    <%= form.text_field :date_debut_jj %>
  </div>

  <div>
    <%= form.label :date_debut_mm, style: "display: block" %>
    <%= form.text_field :date_debut_mm %>
  </div>

  <div>
    <%= form.label :date_debut_aaaa, style: "display: block" %>
    <%= form.text_field :date_debut_aaaa %>
  </div>

  <div>
    <%= form.label :date_fin_jj, style: "display: block" %>
    <%= form.text_field :date_fin_jj %>
  </div>

  <div>
    <%= form.label :date_fin_mm, style: "display: block" %>
    <%= form.text_field :date_fin_mm %>
  </div>

  <div>
    <%= form.label :date_fin_aaaa, style: "display: block" %>
    <%= form.text_field :date_fin_aaaa %>
  </div>

  <div>
    <%= form.label :animes_pays_id, style: "display: block" %>
    <%= form.number_field :animes_pays_id %>
  </div>

  <div>
    <%= form.label :animes_pays_id, style: "display: block" %>
    <%= form.number_field :animes_pays_id %>
  </div>

  <div>
    <%= form.label :animes_genres_id, style: "display: block" %>
    <%= form.number_field :animes_genres_id %>
  </div>

  <div>
    <%= form.label :animes_genres_id, style: "display: block" %>
    <%= form.number_field :animes_genres_id %>
  </div>

  <div>
    <%= form.label :animes_themes_id, style: "display: block" %>
    <%= form.number_field :animes_themes_id %>
  </div>

  <div>
    <%= form.label :animes_themes_id, style: "display: block" %>
    <%= form.number_field :animes_themes_id %>
  </div>

  <div>
    <%= form.label :animes_staff_role_id, style: "display: block" %>
    <%= form.number_field :animes_staff_role_id %>
  </div>

  <div>
    <%= form.label :animes_staff_people_id, style: "display: block" %>
    <%= form.number_field :animes_staff_people_id %>
  </div>

  <div>
    <%= form.label :animes_staff_role_id, style: "display: block" %>
    <%= form.number_field :animes_staff_role_id %>
  </div>

  <div>
    <%= form.label :animes_staff_people_id, style: "display: block" %>
    <%= form.number_field :animes_staff_people_id %>
  </div>

  <div>
    <%= form.label :animes_societe_role_id, style: "display: block" %>
    <%= form.number_field :animes_societe_role_id %>
  </div>

  <div>
    <%= form.label :animes_societe_people_id, style: "display: block" %>
    <%= form.number_field :animes_societe_people_id %>
  </div>

  <div>
    <%= form.label :animes_societe_role_id, style: "display: block" %>
    <%= form.number_field :animes_societe_role_id %>
  </div>

  <div>
    <%= form.label :animes_societe_people_id, style: "display: block" %>
    <%= form.number_field :animes_societe_people_id %>
  </div>

  <div>
    <%= form.label :animes_public_averti_id, style: "display: block" %>
    <%= form.number_field :animes_public_averti_id %>
  </div>

  <div>
    <%= form.label :age, style: "display: block" %>
    <%= form.text_field :age %>
  </div>

  <div>
    <%= form.label :nb_ep, style: "display: block" %>
    <%= form.text_field :nb_ep %>
  </div>

  <div>
    <%= form.label :total_ep_inconnu, style: "display: block" %>
    <%= form.text_field :total_ep_inconnu %>
  </div>

  <div>
    <%= form.label :duree, style: "display: block" %>
    <%= form.text_field :duree %>
  </div>

  <div>
    <%= form.label :licencie, style: "display: block" %>
    <%= form.text_field :licencie %>
  </div>

  <div>
    <%= form.label :licencie, style: "display: block" %>
    <%= form.text_field :licencie %>
  </div>

  <div>
    <%= form.label :animes_editeurs_vf_role_id, style: "display: block" %>
    <%= form.number_field :animes_editeurs_vf_role_id %>
  </div>

  <div>
    <%= form.label :animes_editeurs_vf_id, style: "display: block" %>
    <%= form.number_field :animes_editeurs_vf_id %>
  </div>

  <div>
    <%= form.label :animes_editeurs_vf_role_id, style: "display: block" %>
    <%= form.number_field :animes_editeurs_vf_role_id %>
  </div>

  <div>
    <%= form.label :animes_editeurs_vf_id, style: "display: block" %>
    <%= form.number_field :animes_editeurs_vf_id %>
  </div>

  <div>
    <%= form.label :date_debut_simulcast_jj, style: "display: block" %>
    <%= form.text_field :date_debut_simulcast_jj %>
  </div>

  <div>
    <%= form.label :date_debut_simulcast_mm, style: "display: block" %>
    <%= form.text_field :date_debut_simulcast_mm %>
  </div>

  <div>
    <%= form.label :date_debut_simulcast_aaaa, style: "display: block" %>
    <%= form.text_field :date_debut_simulcast_aaaa %>
  </div>

  <div>
    <%= form.label :date_vf_jj, style: "display: block" %>
    <%= form.text_field :date_vf_jj %>
  </div>

  <div>
    <%= form.label :date_vf_mm, style: "display: block" %>
    <%= form.text_field :date_vf_mm %>
  </div>

  <div>
    <%= form.label :date_vf_aaaa, style: "display: block" %>
    <%= form.text_field :date_vf_aaaa %>
  </div>

  <div>
    <%= form.label :image_francaise, style: "display: block" %>
    <%= form.text_field :image_francaise %>
  </div>

  <div>
    <%= form.label :description, style: "display: block" %>
    <%= form.text_area :description %>
  </div>

  <div>
    <%= form.label :site, style: "display: block" %>
    <%= form.text_field :site %>
  </div>

  <div>
    <%= form.label :site2, style: "display: block" %>
    <%= form.text_field :site2 %>
  </div>

  <div>
    <%= form.label :youtube, style: "display: block" %>
    <%= form.text_field :youtube %>
  </div>

  <div>
    <%= form.label :animes_groupes_id, style: "display: block" %>
    <%= form.number_field :animes_groupes_id %>
  </div>

  <div>
    <%= form.label :animes_actualite_id, style: "display: block" %>
    <%= form.number_field :animes_actualite_id %>
  </div>

  <div>
    <%= form.label :animes_actualite_mini_id, style: "display: block" %>
    <%= form.number_field :animes_actualite_mini_id %>
  </div>

  <div>
    <%= form.label :animes_anime_id, style: "display: block" %>
    <%= form.number_field :animes_anime_id %>
  </div>

  <div>
    <%= form.label :animes_anime_plus_id, style: "display: block" %>
    <%= form.number_field :animes_anime_plus_id %>
  </div>

  <div>
    <%= form.label :animes_ln_id, style: "display: block" %>
    <%= form.number_field :animes_ln_id %>
  </div>

  <div>
    <%= form.label :animes_ln_plus_id, style: "display: block" %>
    <%= form.number_field :animes_ln_plus_id %>
  </div>

  <div>
    <%= form.label :animes_manga_id, style: "display: block" %>
    <%= form.number_field :animes_manga_id %>
  </div>

  <div>
    <%= form.label :animes_manga_plus_id, style: "display: block" %>
    <%= form.number_field :animes_manga_plus_id %>
  </div>

  <div>
    <%= form.label :animes_jv_id, style: "display: block" %>
    <%= form.number_field :animes_jv_id %>
  </div>

  <div>
    <%= form.label :animes_jv_plus_id, style: "display: block" %>
    <%= form.number_field :animes_jv_plus_id %>
  </div>

  <div>
    <%= form.label :animes_am_id, style: "display: block" %>
    <%= form.number_field :animes_am_id %>
  </div>

  <div>
    <%= form.label :animes_am_plus_id, style: "display: block" %>
    <%= form.number_field :animes_am_plus_id %>
  </div>

  <div>
    <%= form.label :animes_drama_id, style: "display: block" %>
    <%= form.number_field :animes_drama_id %>
  </div>

  <div>
    <%= form.label :animes_drama_plus_id, style: "display: block" %>
    <%= form.number_field :animes_drama_plus_id %>
  </div>

  <div>
    <%= form.label :animes_people_id, style: "display: block" %>
    <%= form.number_field :animes_people_id %>
  </div>

  <div>
    <%= form.label :animes_dvd_id, style: "display: block" %>
    <%= form.number_field :animes_dvd_id %>
  </div>

  <div>
    <%= form.label :animes_artbook_id, style: "display: block" %>
    <%= form.number_field :animes_artbook_id %>
  </div>

  <div>
    <%= form.label :animes_photobook_id, style: "display: block" %>
    <%= form.number_field :animes_photobook_id %>
  </div>

  <div>
    <%= form.label :animes_litterature_asiatique_id, style: "display: block" %>
    <%= form.number_field :animes_litterature_asiatique_id %>
  </div>

  <div>
    <%= form.label :animes_litterature_asiatique_plus_id, style: "display: block" %>
    <%= form.number_field :animes_litterature_asiatique_plus_id %>
  </div>

  <div>
    <%= form.label :animes_culture_id, style: "display: block" %>
    <%= form.number_field :animes_culture_id %>
  </div>

  <div>
    <%= form.label :animes_ost_id, style: "display: block" %>
    <%= form.number_field :animes_ost_id %>
  </div>

  <div>
    <%= form.label :animes_cd_id, style: "display: block" %>
    <%= form.number_field :animes_cd_id %>
  </div>

  <div>
    <%= form.label :animes_doujin_id, style: "display: block" %>
    <%= form.number_field :animes_doujin_id %>
  </div>

  <div>
    <%= form.label :animes_amv_id, style: "display: block" %>
    <%= form.number_field :animes_amv_id %>
  </div>

  <div>
    <%= form.label :animes_cinema_id, style: "display: block" %>
    <%= form.number_field :animes_cinema_id %>
  </div>

  <div>
    <%= form.label :animes_quizz_id, style: "display: block" %>
    <%= form.number_field :animes_quizz_id %>
  </div>

  <div>
    <%= form.label :animes_topic_id, style: "display: block" %>
    <%= form.number_field :animes_topic_id %>
  </div>

  <div>
    <%= form.label :comment, style: "display: block" %>
    <%= form.text_area :comment %>
  </div>

  <div>
    <%= form.label :statut_prop, style: "display: block" %>
    <%= form.text_field :statut_prop %>
  </div>

  <div>
    <%= form.label :statut_prop, style: "display: block" %>
    <%= form.text_field :statut_prop %>
  </div>

  <div>
    <%= form.label :acceptregles, style: "display: block" %>
    <%= form.text_field :acceptregles %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
