<p style="color: green"><%= notice %></p>

<%= render @_jeux_videos_pays_date %>

<div>
  <%= link_to "Edit this jeux videos pays date", edit__jeux_videos_pays_date_path(@_jeux_videos_pays_date) %> |
  <%= link_to "Back to jeux videos pays dates", _jeux_videos_pays_dates_path %>

  <%= button_to "Destroy this jeux videos pays date", @_jeux_videos_pays_date, method: :delete %>
</div>
