<p style="color: green"><%= notice %></p>































































































































<%= render @_mangas_person %>































































































































<div>































































  <%= link_to "Edit this mangas person", edit_mangas_person_path(@_mangas_person) %> |































































  <%= link_to "Back to mangas people", mangas_people_path %>































































































































  <%= button_to "Destroy this mangas person", @_mangas_person, method: :delete %>































































</div>
