<p style="color: green"><%= notice %></p>































































































































<%= render @_mangas_editeurs_vf %>































































































































<div>































































  <%= link_to "Edit this mangas editeurs vf", edit_mangas_editeurs_vf_path(@_mangas_editeurs_vf) %> |































































  <%= link_to "Back to mangas editeurs vfs", mangas_editeurs_vfs_path %>































































































































  <%= button_to "Destroy this mangas editeurs vf", @_mangas_editeurs_vf, method: :delete %>































































</div>
