<p style="color: green"><%= notice %></p>































































































































<%= render @_dramas_anime %>































































































































<div>































































  <%= link_to "Edit this dramas anime", edit_dramas_anime_path(@_dramas_anime) %> |































































  <%= link_to "Back to dramas animes", dramas_animes_path %>































































































































  <%= button_to "Destroy this dramas anime", @_dramas_anime, method: :delete %>































































</div>
