<p style="color: green"><%= notice %></p>































































































































<%= render @_goodies_doujinshi %>































































































































<div>































































  <%= link_to "Edit this goodies doujinshi", edit_goodies_doujinshi_path(@_goodies_doujinshi) %> |































































  <%= link_to "Back to goodies doujinshis", goodies_doujinshis_path %>































































































































  <%= button_to "Destroy this goodies doujinshi", @_goodies_doujinshi, method: :delete %>































































</div>
