<p style="color: green"><%= notice %></p>































































































































<%= render @osts_anime %>































































































































<div>































































  <%= link_to "Edit this osts anime", edit_osts_anime_path(@osts_anime) %> |































































  <%= link_to "Back to osts animes", osts_animes_path %>































































































































  <%= button_to "Destroy this osts anime", @osts_anime, method: :delete %>































































</div>
