<p style="color: green"><%= notice %></p>

<%= render @_fiche_univers_univer %>

<div>
  <%= link_to "Edit this fiche univers univer", edit__fiche_univers_univer_path(@_fiche_univers_univer) %> |
  <%= link_to "Back to fiche univers univers", _fiche_univers_univers_path %>

  <%= button_to "Destroy this fiche univers univer", @_fiche_univers_univer, method: :delete %>
</div>
