<p style="color: green"><%= notice %></p>

<%= render @_films_asiatiques_jv_plu %>

<div>
  <%= link_to "Edit this films asiatiques jv plu", edit__films_asiatiques_jv_plu_path(@_films_asiatiques_jv_plu) %> |
  <%= link_to "Back to films asiatiques jv plus", _films_asiatiques_jv_plus_path %>

  <%= button_to "Destroy this films asiatiques jv plu", @_films_asiatiques_jv_plu, method: :delete %>
</div>
