<p style="color: green"><%= notice %></p>

<%= render @_fiche_univers_manga %>

<div>
  <%= link_to "Edit this fiche univers manga", edit__fiche_univers_manga_path(@_fiche_univers_manga) %> |
  <%= link_to "Back to fiche univers mangas", _fiche_univers_mangas_path %>

  <%= button_to "Destroy this fiche univers manga", @_fiche_univers_manga, method: :delete %>
</div>
