<p style="color: green"><%= notice %></p>

<%= render @_mangas_manga_plu %>

<div>
  <%= link_to "Edit this mangas manga plu", edit__mangas_manga_plu_path(@_mangas_manga_plu) %> |
  <%= link_to "Back to mangas manga plus", _mangas_manga_plus_path %>

  <%= button_to "Destroy this mangas manga plu", @_mangas_manga_plu, method: :delete %>
</div>
