<p style="color: green"><%= notice %></p>

<%= render @_generiques_staff_role %>

<div>
  <%= link_to "Edit this generiques staff role", edit__generiques_staff_role_path(@_generiques_staff_role) %> |
  <%= link_to "Back to generiques staff roles", _generiques_staff_roles_path %>

  <%= button_to "Destroy this generiques staff role", @_generiques_staff_role, method: :delete %>
</div>
