<div id="<%= dom_id personnalite %>">































































  <p>































































    <strong>Nom:</strong>































































    <%= personnalite.nom %>































































  </p>































































































































  <p>































































    <strong>Nom alternatif:</strong>































































    <%= personnalite.nom_alternatif %>































































  </p>































































































































  <p>































































    <strong>Nom alternatif suite:</strong>































































    <%= personnalite.nom_alternatif_suite %>































































  </p>































































































































  <p>































































    <strong>Nom original latin:</strong>































































    <%= personnalite.nom_original_latin %>































































  </p>































































































































  <p>































































    <strong>Nom original:</strong>































































    <%= personnalite.nom_original %>































































  </p>































































































































  <p>































































    <strong>Nom original 2:</strong>































































    <%= personnalite.nom_original_2 %>































































  </p>































































































































  <p>































































    <strong>Nom original 3:</strong>































































    <%= personnalite.nom_original_3 %>































































  </p>































































































































  <p>































































    <strong>Nom original 4:</strong>































































    <%= personnalite.nom_original_4 %>































































  </p>































































































































  <p>































































    <strong>Personnalites type people:</strong>































































    <%= personnalite._personnalites_type_people_id %>































































  </p>































































































































  <p>































































    <strong>Personnalites sexe:</strong>































































    <%= personnalite._personnalites_sexe_id %>































































  </p>































































































































  <p>































































    <strong>Personnalites pays:</strong>































































    <%= personnalite._personnalites_pays_id %>































































  </p>































































































































  <p>































































    <strong>Personnalites pays:</strong>































































    <%= personnalite._personnalites_pays_id %>































































  </p>































































































































  <p>































































    <strong>Decede:</strong>































































    <%= personnalite.decede %>































































  </p>































































































































  <p>































































    <strong>Date nais jj:</strong>































































    <%= personnalite.date_nais_jj %>































































  </p>































































































































  <p>































































    <strong>Date nais mm:</strong>































































    <%= personnalite.date_nais_mm %>































































  </p>































































































































  <p>































































    <strong>Date nais aaaa:</strong>































































    <%= personnalite.date_nais_aaaa %>































































  </p>































































































































  <p>































































    <strong>Date deces jj:</strong>































































    <%= personnalite.date_deces_jj %>































































  </p>































































































































  <p>































































    <strong>Date deces mm:</strong>































































    <%= personnalite.date_deces_mm %>































































  </p>































































































































  <p>































































    <strong>Date deces aaaa:</strong>































































    <%= personnalite.date_deces_aaaa %>































































  </p>































































































































  <p>































































    <strong>Image:</strong>































































    <%= personnalite.image %>































































  </p>































































































































  <p>































































    <strong>Personnalites statut:</strong>































































    <%= personnalite._personnalites_statut_id %>































































  </p>































































































































  <p>































































    <strong>Debut:</strong>































































    <%= personnalite.debut %>































































  </p>































































































































  <p>































































    <strong>Fin:</strong>































































    <%= personnalite.fin %>































































  </p>































































































































  <p>































































    <strong>Personnalites genres:</strong>































































    <%= personnalite._personnalites_genres_id %>































































  </p>































































































































  <p>































































    <strong>Personnalites genres:</strong>































































    <%= personnalite._personnalites_genres_id %>































































  </p>































































































































  <p>































































    <strong>Personnalites labels:</strong>































































    <%= personnalite._personnalites_labels_id %>































































  </p>































































































































  <p>































































    <strong>Personnalites labels debut:</strong>































































    <%= personnalite._personnalites_labels_debut_id %>































































  </p>































































































































  <p>































































    <strong>Personnalites labels fin:</strong>































































    <%= personnalite._personnalites_labels_fin_id %>































































  </p>































































































































  <p>































































    <strong>Personnalites labels ex:</strong>































































    <%= personnalite._personnalites_labels_ex_id %>































































  </p>































































































































  <p>































































    <strong>Personnalites labels:</strong>































































    <%= personnalite._personnalites_labels_id %>































































  </p>































































































































  <p>































































    <strong>Personnalites labels debut:</strong>































































    <%= personnalite._personnalites_labels_debut_id %>































































  </p>































































































































  <p>































































    <strong>Personnalites labels fin:</strong>































































    <%= personnalite._personnalites_labels_fin_id %>































































  </p>































































































































  <p>































































    <strong>Personnalites labels ex:</strong>































































    <%= personnalite._personnalites_labels_ex_id %>































































  </p>































































































































  <p>































































    <strong>Personnalites agences:</strong>































































    <%= personnalite._personnalites_agences_id %>































































  </p>































































































































  <p>































































    <strong>Personnalites agences debut:</strong>































































    <%= personnalite._personnalites_agences_debut_id %>































































  </p>































































































































  <p>































































    <strong>Personnalites agences fin:</strong>































































    <%= personnalite._personnalites_agences_fin_id %>































































  </p>































































































































  <p>































































    <strong>Personnalites agences ex:</strong>































































    <%= personnalite._personnalites_agences_ex_id %>































































  </p>































































































































  <p>































































    <strong>Personnalites agences:</strong>































































    <%= personnalite._personnalites_agences_id %>































































  </p>































































































































  <p>































































    <strong>Personnalites agences debut:</strong>































































    <%= personnalite._personnalites_agences_debut_id %>































































  </p>































































































































  <p>































































    <strong>Personnalites agences fin:</strong>































































    <%= personnalite._personnalites_agences_fin_id %>































































  </p>































































































































  <p>































































    <strong>Personnalites agences ex:</strong>































































    <%= personnalite._personnalites_agences_ex_id %>































































  </p>































































































































  <p>































































    <strong>Personnalites roles:</strong>































































    <%= personnalite._personnalites_roles_id %>































































  </p>































































































































  <p>































































    <strong>Personnalites roles:</strong>































































    <%= personnalite._personnalites_roles_id %>































































  </p>































































































































  <p>































































    <strong>Personnalites id membre:</strong>































































    <%= personnalite._personnalites_id_membre_id %>































































  </p>































































































































  <p>































































    <strong>Personnalites ex:</strong>































































    <%= personnalite._personnalites_ex_id %>































































  </p>































































































































  <p>































































    <strong>Personnalites ex debut:</strong>































































    <%= personnalite._personnalites_ex_debut_id %>































































  </p>































































































































  <p>































































    <strong>Personnalites ex fin:</strong>































































    <%= personnalite._personnalites_ex_fin_id %>































































  </p>































































































































  <p>































































    <strong>Bio:</strong>































































    <%= personnalite.bio %>































































  </p>































































































































  <p>































































    <strong>Personnalites id galerie:</strong>































































    <%= personnalite._personnalites_id_galerie_id %>































































  </p>































































































































  <p>































































    <strong>Liaison auto galerie:</strong>































































    <%= personnalite.liaison_auto_galerie %>































































  </p>































































































































  <p>































































    <strong>Personnalites id travaux:</strong>































































    <%= personnalite._personnalites_id_travaux_id %>































































  </p>































































































































  <p>































































    <strong>Liaison auto cosplay:</strong>































































    <%= personnalite.liaison_auto_cosplay %>































































  </p>































































































































  <p>































































    <strong>Personnalites people:</strong>































































    <%= personnalite._personnalites_people_id %>































































  </p>































































































































  <p>































































    <strong>Personnalites people plus:</strong>































































    <%= personnalite._personnalites_people_plus_id %>































































  </p>































































































































  <p>































































    <strong>Comment:</strong>































































    <%= personnalite.comment %>































































  </p>































































































































  <p>































































    <strong>Statut prop:</strong>































































    <%= personnalite.statut_prop %>































































  </p>































































































































  <p>































































    <strong>Statut prop:</strong>































































    <%= personnalite.statut_prop %>































































  </p>































































































































  <p>































































    <strong>Acceptregles:</strong>































































    <%= personnalite.acceptregles %>































































  </p>































































































































</div>
