<p style="color: green"><%= notice %></p>































































































































<%= render @_personnalites_id_travaux %>































































































































<div>































































  <%= link_to "Edit this personnalites id travaux", edit_personnalites_id_travaux_path(@_personnalites_id_travaux) %> |































































  <%= link_to "Back to personnalites id travauxes", personnalites_id_travauxes_path %>































































































































  <%= button_to "Destroy this personnalites id travaux", @_personnalites_id_travaux, method: :delete %>































































</div>
