<p style="color: green"><%= notice %></p>































































































































<%= render @_cds_cd %>































































































































<div>































































  <%= link_to "Edit this cds cd", edit_cds_cd_path(@_cds_cd) %> |































































  <%= link_to "Back to cds cds", cds_cds_path %>































































































































  <%= button_to "Destroy this cds cd", @_cds_cd, method: :delete %>































































</div>
