<p style="color: green"><%= notice %></p>































































































































<%= render @_goodies_societe_person %>































































































































<div>































































  <%= link_to "Edit this goodies societe person", edit_goodies_societe_person_path(@_goodies_societe_person) %> |































































  <%= link_to "Back to goodies societe people", goodies_societe_people_path %>































































































































  <%= button_to "Destroy this goodies societe person", @_goodies_societe_person, method: :delete %>































































</div>
