<div id="<%= dom_id tablature %>">































































  <p>































































    <strong>Titre:</strong>































































    <%= tablature.titre %>































































  </p>































































































































  <p>































































    <strong>Tablatures people:</strong>































































    <%= tablature._tablatures_people_id %>































































  </p>































































































































  <p>































































    <strong>Tablatures people:</strong>































































    <%= tablature._tablatures_people_id %>































































  </p>































































































































  <p>































































    <strong>Infos:</strong>































































    <%= tablature.infos %>































































  </p>































































































































  <p>































































    <strong>Comment:</strong>































































    <%= tablature.comment %>































































  </p>































































































































  <p>































































    <strong>Statut prop:</strong>































































    <%= tablature.statut_prop %>































































  </p>































































































































  <p>































































    <strong>Statut prop:</strong>































































    <%= tablature.statut_prop %>































































  </p>































































































































  <p>































































    <strong>Acceptregles:</strong>































































    <%= tablature.acceptregles %>































































  </p>































































































































</div>
