<p style="color: green"><%= notice %></p>































































































































<%= render @_tablature %>































































































































<div>































































  <%= link_to "Edit this tablature", edit_tablature_path(@_tablature) %> |































































  <%= link_to "Back to tablatures", tablatures_path %>































































































































  <%= button_to "Destroy this tablature", @_tablature, method: :delete %>































































</div>
