<p style="color: green"><%= notice %></p>

<%= render @_photobooks_anime %>

<div>
  <%= link_to "Edit this photobooks anime", edit__photobooks_anime_path(@_photobooks_anime) %> |
  <%= link_to "Back to photobooks animes", _photobooks_animes_path %>

  <%= button_to "Destroy this photobooks anime", @_photobooks_anime, method: :delete %>
</div>
