<div id="<%= dom_id _restaurant %>">
  <p>
    <strong>Nom:</strong>
    <%= _restaurant.nom %>
  </p>

  <p>
    <strong>Image:</strong>
    <%= _restaurant.image %>
  </p>

  <p>
    <strong>Adresse:</strong>
    <%= _restaurant.adresse %>
  </p>

  <p>
    <strong>Tel:</strong>
    <%= _restaurant.tel %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= _restaurant.description %>
  </p>

  <p>
    <strong>Dept:</strong>
    <%= _restaurant.dept %>
  </p>

  <p>
    <strong>Ville:</strong>
    <%= _restaurant.ville %>
  </p>

  <p>
    <strong>Restaurants pays:</strong>
    <%= _restaurant._restaurants_pays_id %>
  </p>

  <p>
    <strong>Horaires:</strong>
    <%= _restaurant.horaires %>
  </p>

  <p>
    <strong>Creation:</strong>
    <%= _restaurant.creation %>
  </p>

  <p>
    <strong>Site:</strong>
    <%= _restaurant.site %>
  </p>

  <p>
    <strong>Acceptregles:</strong>
    <%= _restaurant.acceptregles %>
  </p>

</div>
