<div id="<%= dom_id restaurant %>">































































  <p>































































    <strong>Nom:</strong>































































    <%= restaurant.nom %>































































  </p>































































































































  <p>































































    <strong>Image:</strong>































































    <%= restaurant.image %>































































  </p>































































































































  <p>































































    <strong>Adresse:</strong>































































    <%= restaurant.adresse %>































































  </p>































































































































  <p>































































    <strong>Tel:</strong>































































    <%= restaurant.tel %>































































  </p>































































































































  <p>































































    <strong>Description:</strong>































































    <%= restaurant.description %>































































  </p>































































































































  <p>































































    <strong>Dept:</strong>































































    <%= restaurant.dept %>































































  </p>































































































































  <p>































































    <strong>Ville:</strong>































































    <%= restaurant.ville %>































































  </p>































































































































  <p>































































    <strong>Restaurants pays:</strong>































































    <%= restaurant._restaurants_pays_id %>































































  </p>































































































































  <p>































































    <strong>Horaires:</strong>































































    <%= restaurant.horaires %>































































  </p>































































































































  <p>































































    <strong>Creation:</strong>































































    <%= restaurant.creation %>































































  </p>































































































































  <p>































































    <strong>Site:</strong>































































    <%= restaurant.site %>































































  </p>































































































































  <p>































































    <strong>Acceptregles:</strong>































































    <%= restaurant.acceptregles %>































































  </p>































































































































</div>
