<p style="color: green"><%= notice %></p>































































































































<%= render @_restaurant %>































































































































<div>































































  <%= link_to "Edit this restaurant", edit_restaurant_path(@_restaurant) %> |































































  <%= link_to "Back to restaurants", restaurants_path %>































































































































  <%= button_to "Destroy this restaurant", @_restaurant, method: :delete %>































































</div>
