<p style="color: green"><%= notice %></p>































































































































<%= render @_films_asiatiques_manga %>































































































































<div>































































  <%= link_to "Edit this films asiatiques manga", edit_films_asiatiques_manga_path(@_films_asiatiques_manga) %> |































































  <%= link_to "Back to films asiatiques mangas", films_asiatiques_mangas_path %>































































































































  <%= button_to "Destroy this films asiatiques manga", @_films_asiatiques_manga, method: :delete %>































































</div>
