<p style="color: green"><%= notice %></p>































































































































<%= render @_fiche_univers_perso %>































































































































<div>































































  <%= link_to "Edit this fiche univers perso", edit_fiche_univers_perso_path(@_fiche_univers_perso) %> |































































  <%= link_to "Back to fiche univers persos", fiche_univers_persos_path %>































































































































  <%= button_to "Destroy this fiche univers perso", @_fiche_univers_perso, method: :delete %>































































</div>
