<p style="color: green"><%= notice %></p>

<%= render @_jeux_videos_litterature_asiatique %>

<div>
  <%= link_to "Edit this jeux videos litterature asiatique", edit__jeux_videos_litterature_asiatique_path(@_jeux_videos_litterature_asiatique) %> |
  <%= link_to "Back to jeux videos litterature asiatiques", _jeux_videos_litterature_asiatiques_path %>

  <%= button_to "Destroy this jeux videos litterature asiatique", @_jeux_videos_litterature_asiatique, method: :delete %>
</div>
