<p style="color: green"><%= notice %></p>































































































































<%= render @_personnage_danimes_goody %>































































































































<div>































































  <%= link_to "Edit this personnage danimes goody", edit_personnage_danimes_goody_path(@_personnage_danimes_goody) %> |































































  <%= link_to "Back to personnage danimes goodies", personnage_danimes_goodies_path %>































































































































  <%= button_to "Destroy this personnage danimes goody", @_personnage_danimes_goody, method: :delete %>































































</div>
