<p style="color: green"><%= notice %></p>

<%= render @_photobooks_actualite_mini %>

<div>
  <%= link_to "Edit this photobooks actualite mini", edit__photobooks_actualite_mini_path(@_photobooks_actualite_mini) %> |
  <%= link_to "Back to photobooks actualite minis", _photobooks_actualite_minis_path %>

  <%= button_to "Destroy this photobooks actualite mini", @_photobooks_actualite_mini, method: :delete %>
</div>
