<p style="color: green"><%= notice %></p>

<%= render @_mangas_litterature_asiatique %>

<div>
  <%= link_to "Edit this mangas litterature asiatique", edit__mangas_litterature_asiatique_path(@_mangas_litterature_asiatique) %> |
  <%= link_to "Back to mangas litterature asiatiques", _mangas_litterature_asiatiques_path %>

  <%= button_to "Destroy this mangas litterature asiatique", @_mangas_litterature_asiatique, method: :delete %>
</div>
