<p style="color: green"><%= notice %></p>































































































































<%= render @_livres_staff_person %>































































































































<div>































































  <%= link_to "Edit this livres staff person", edit_livres_staff_person_path(@_livres_staff_person) %> |































































  <%= link_to "Back to livres staff people", livres_staff_people_path %>































































































































  <%= button_to "Destroy this livres staff person", @_livres_staff_person, method: :delete %>































































</div>
