<p style="color: green"><%= notice %></p>

<%= render @_dramas_staff_role %>

<div>
  <%= link_to "Edit this dramas staff role", edit__dramas_staff_role_path(@_dramas_staff_role) %> |
  <%= link_to "Back to dramas staff roles", _dramas_staff_roles_path %>

  <%= button_to "Destroy this dramas staff role", @_dramas_staff_role, method: :delete %>
</div>
