<p style="color: green"><%= notice %></p>































































































































<%= render @_personnalites_id_membre %>































































































































<div>































































  <%= link_to "Edit this personnalites id membre", edit_personnalites_id_membre_path(@_personnalites_id_membre) %> |































































  <%= link_to "Back to personnalites id membres", personnalites_id_membres_path %>































































































































  <%= button_to "Destroy this personnalites id membre", @_personnalites_id_membre, method: :delete %>































































</div>
