<p style="color: green"><%= notice %></p>































































































































<%= render @_personnalites_statut %>































































































































<div>































































  <%= link_to "Edit this personnalites statut", edit_personnalites_statut_path(@_personnalites_statut) %> |































































  <%= link_to "Back to personnalites statuts", personnalites_statuts_path %>































































































































  <%= button_to "Destroy this personnalites statut", @_personnalites_statut, method: :delete %>































































</div>
