<p style="color: green"><%= notice %></p>

<%= render @_personnages_de_jeux_videos_jv %>

<div>
  <%= link_to "Edit this personnages de jeux videos jv", edit__personnages_de_jeux_videos_jv_path(@_personnages_de_jeux_videos_jv) %> |
  <%= link_to "Back to personnages de jeux videos jvs", _personnages_de_jeux_videos_jvs_path %>

  <%= button_to "Destroy this personnages de jeux videos jv", @_personnages_de_jeux_videos_jv, method: :delete %>
</div>
