<p style="color: green"><%= notice %></p>

<%= render @_generiques_generic %>

<div>
  <%= link_to "Edit this generiques generic", edit__generiques_generic_path(@_generiques_generic) %> |
  <%= link_to "Back to generiques generics", _generiques_generics_path %>

  <%= button_to "Destroy this generiques generic", @_generiques_generic, method: :delete %>
</div>
