<p style="color: green"><%= notice %></p>































































































































<%= render @_personnalites_type_person %>































































































































<div>































































  <%= link_to "Edit this personnalites type person", edit_personnalites_type_person_path(@_personnalites_type_person) %> |































































  <%= link_to "Back to personnalites type people", personnalites_type_people_path %>































































































































  <%= button_to "Destroy this personnalites type person", @_personnalites_type_person, method: :delete %>































































</div>
