<p style="color: green"><%= notice %></p>































































































































<%= render @_fiche_univers_culture %>































































































































<div>































































  <%= link_to "Edit this fiche univers culture", edit_fiche_univers_culture_path(@_fiche_univers_culture) %> |































































  <%= link_to "Back to fiche univers cultures", fiche_univers_cultures_path %>































































































































  <%= button_to "Destroy this fiche univers culture", @_fiche_univers_culture, method: :delete %>































































</div>
