<div id="<%= dom_id _parole %>">
  <p>
    <strong>Titre:</strong>
    <%= _parole.titre %>
  </p>

  <p>
    <strong>Titre original:</strong>
    <%= _parole.titre_original %>
  </p>

  <p>
    <strong>Titre alternatif:</strong>
    <%= _parole.titre_alternatif %>
  </p>

  <p>
    <strong>Titre original latin:</strong>
    <%= _parole.titre_original_latin %>
  </p>

  <p>
    <strong>Paroles staff role:</strong>
    <%= _parole._paroles_staff_role_id %>
  </p>

  <p>
    <strong>Paroles staff people:</strong>
    <%= _parole._paroles_staff_people_id %>
  </p>

  <p>
    <strong>Paroles staff role:</strong>
    <%= _parole._paroles_staff_role_id %>
  </p>

  <p>
    <strong>Paroles staff people:</strong>
    <%= _parole._paroles_staff_people_id %>
  </p>

  <p>
    <strong>Paroles:</strong>
    <%= _parole.paroles %>
  </p>

  <p>
    <strong>Paroles trad:</strong>
    <%= _parole.paroles_trad %>
  </p>

  <p>
    <strong>Membre show:</strong>
    <%= _parole.membre_show %>
  </p>

  <p>
    <strong>Membre show:</strong>
    <%= _parole.membre_show %>
  </p>

  <p>
    <strong>Source:</strong>
    <%= _parole.source %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= _parole.description %>
  </p>

  <p>
    <strong>Instrumental:</strong>
    <%= _parole.instrumental %>
  </p>

  <p>
    <strong>Instrumental:</strong>
    <%= _parole.instrumental %>
  </p>

  <p>
    <strong>Paroles parole:</strong>
    <%= _parole._paroles_parole_id %>
  </p>

  <p>
    <strong>Comment:</strong>
    <%= _parole.comment %>
  </p>

  <p>
    <strong>Statut prop:</strong>
    <%= _parole.statut_prop %>
  </p>

  <p>
    <strong>Statut prop:</strong>
    <%= _parole.statut_prop %>
  </p>

  <p>
    <strong>Acceptregles:</strong>
    <%= _parole.acceptregles %>
  </p>

</div>
