<div id="<%= dom_id parole %>">































































  <p>































































    <strong>Titre:</strong>































































    <%= parole.titre %>































































  </p>































































































































  <p>































































    <strong>Titre original:</strong>































































    <%= parole.titre_original %>































































  </p>































































































































  <p>































































    <strong>Titre alternatif:</strong>































































    <%= parole.titre_alternatif %>































































  </p>































































































































  <p>































































    <strong>Titre original latin:</strong>































































    <%= parole.titre_original_latin %>































































  </p>































































































































  <p>































































    <strong>Paroles staff role:</strong>































































    <%= parole._paroles_staff_role_id %>































































  </p>































































































































  <p>































































    <strong>Paroles staff people:</strong>































































    <%= parole._paroles_staff_people_id %>































































  </p>































































































































  <p>































































    <strong>Paroles staff role:</strong>































































    <%= parole._paroles_staff_role_id %>































































  </p>































































































































  <p>































































    <strong>Paroles staff people:</strong>































































    <%= parole._paroles_staff_people_id %>































































  </p>































































































































  <p>































































    <strong>Paroles:</strong>































































    <%= parole.paroles %>































































  </p>































































































































  <p>































































    <strong>Paroles trad:</strong>































































    <%= parole.paroles_trad %>































































  </p>































































































































  <p>































































    <strong>Membre show:</strong>































































    <%= parole.membre_show %>































































  </p>































































































































  <p>































































    <strong>Membre show:</strong>































































    <%= parole.membre_show %>































































  </p>































































































































  <p>































































    <strong>Source:</strong>































































    <%= parole.source %>































































  </p>































































































































  <p>































































    <strong>Description:</strong>































































    <%= parole.description %>































































  </p>































































































































  <p>































































    <strong>Instrumental:</strong>































































    <%= parole.instrumental %>































































  </p>































































































































  <p>































































    <strong>Instrumental:</strong>































































    <%= parole.instrumental %>































































  </p>































































































































  <p>































































    <strong>Paroles parole:</strong>































































    <%= parole._paroles_parole_id %>































































  </p>































































































































  <p>































































    <strong>Comment:</strong>































































    <%= parole.comment %>































































  </p>































































































































  <p>































































    <strong>Statut prop:</strong>































































    <%= parole.statut_prop %>































































  </p>































































































































  <p>































































    <strong>Statut prop:</strong>































































    <%= parole.statut_prop %>































































  </p>































































































































  <p>































































    <strong>Acceptregles:</strong>































































    <%= parole.acceptregles %>































































  </p>































































































































</div>
