<p style="color: green"><%= notice %></p>































































































































<%= render @_parole %>































































































































<div>































































  <%= link_to "Edit this parole", edit_parole_path(@_parole) %> |































































  <%= link_to "Back to paroles", paroles_path %>































































































































  <%= button_to "Destroy this parole", @_parole, method: :delete %>































































</div>
