<p style="color: green"><%= notice %></p>































































































































<%= render @_breves_clip %>































































































































<div>































































  <%= link_to "Edit this breves clip", edit_breves_clip_path(@_breves_clip) %> |































































  <%= link_to "Back to breves clips", breves_clips_path %>































































































































  <%= button_to "Destroy this breves clip", @_breves_clip, method: :delete %>































































</div>
