<div id="<%= dom_id _films_asiatique %>">
  <p>
    <strong>Titre:</strong>
    <%= _films_asiatique.titre %>
  </p>

  <p>
    <strong>Titre alternatif:</strong>
    <%= _films_asiatique.titre_alternatif %>
  </p>

  <p>
    <strong>Titre alternatif suite:</strong>
    <%= _films_asiatique.titre_alternatif_suite %>
  </p>

  <p>
    <strong>Titre original latin:</strong>
    <%= _films_asiatique.titre_original_latin %>
  </p>

  <p>
    <strong>Titre original:</strong>
    <%= _films_asiatique.titre_original %>
  </p>

  <p>
    <strong>Image:</strong>
    <%= _films_asiatique.image %>
  </p>

  <p>
    <strong>Image internationale:</strong>
    <%= _films_asiatique.image_internationale %>
  </p>

  <p>
    <strong>Image francaise:</strong>
    <%= _films_asiatique.image_francaise %>
  </p>

  <p>
    <strong>Films asiatiques origine:</strong>
    <%= _films_asiatique._films_asiatiques_origine_id %>
  </p>

  <p>
    <strong>Date debut jj:</strong>
    <%= _films_asiatique.date_debut_jj %>
  </p>

  <p>
    <strong>Date debut mm:</strong>
    <%= _films_asiatique.date_debut_mm %>
  </p>

  <p>
    <strong>Date debut aaaa:</strong>
    <%= _films_asiatique.date_debut_aaaa %>
  </p>

  <p>
    <strong>Films asiatiques pays:</strong>
    <%= _films_asiatique._films_asiatiques_pays_id %>
  </p>

  <p>
    <strong>Films asiatiques pays:</strong>
    <%= _films_asiatique._films_asiatiques_pays_id %>
  </p>

  <p>
    <strong>Duree:</strong>
    <%= _films_asiatique.duree %>
  </p>

  <p>
    <strong>Age:</strong>
    <%= _films_asiatique.age %>
  </p>

  <p>
    <strong>Films asiatiques genres:</strong>
    <%= _films_asiatique._films_asiatiques_genres_id %>
  </p>

  <p>
    <strong>Films asiatiques genres:</strong>
    <%= _films_asiatique._films_asiatiques_genres_id %>
  </p>

  <p>
    <strong>Films asiatiques themes:</strong>
    <%= _films_asiatique._films_asiatiques_themes_id %>
  </p>

  <p>
    <strong>Films asiatiques themes:</strong>
    <%= _films_asiatique._films_asiatiques_themes_id %>
  </p>

  <p>
    <strong>Films asiatiques staff role:</strong>
    <%= _films_asiatique._films_asiatiques_staff_role_id %>
  </p>

  <p>
    <strong>Films asiatiques staff people:</strong>
    <%= _films_asiatique._films_asiatiques_staff_people_id %>
  </p>

  <p>
    <strong>Films asiatiques staff role:</strong>
    <%= _films_asiatique._films_asiatiques_staff_role_id %>
  </p>

  <p>
    <strong>Films asiatiques staff people:</strong>
    <%= _films_asiatique._films_asiatiques_staff_people_id %>
  </p>

  <p>
    <strong>Films asiatiques staff role:</strong>
    <%= _films_asiatique._films_asiatiques_staff_role_id %>
  </p>

  <p>
    <strong>Films asiatiques staff people:</strong>
    <%= _films_asiatique._films_asiatiques_staff_people_id %>
  </p>

  <p>
    <strong>Films asiatiques societe role:</strong>
    <%= _films_asiatique._films_asiatiques_societe_role_id %>
  </p>

  <p>
    <strong>Films asiatiques societe people:</strong>
    <%= _films_asiatique._films_asiatiques_societe_people_id %>
  </p>

  <p>
    <strong>Films asiatiques type:</strong>
    <%= _films_asiatique._films_asiatiques_type_id %>
  </p>

  <p>
    <strong>Films asiatiques acteurs:</strong>
    <%= _films_asiatique._films_asiatiques_acteurs_id %>
  </p>

  <p>
    <strong>Films asiatiques type:</strong>
    <%= _films_asiatique._films_asiatiques_type_id %>
  </p>

  <p>
    <strong>Films asiatiques acteurs:</strong>
    <%= _films_asiatique._films_asiatiques_acteurs_id %>
  </p>

  <p>
    <strong>Films asiatiques type:</strong>
    <%= _films_asiatique._films_asiatiques_type_id %>
  </p>

  <p>
    <strong>Films asiatiques acteurs:</strong>
    <%= _films_asiatique._films_asiatiques_acteurs_id %>
  </p>

  <p>
    <strong>Films asiatiques type:</strong>
    <%= _films_asiatique._films_asiatiques_type_id %>
  </p>

  <p>
    <strong>Films asiatiques acteurs:</strong>
    <%= _films_asiatique._films_asiatiques_acteurs_id %>
  </p>

  <p>
    <strong>Synopsis:</strong>
    <%= _films_asiatique.synopsis %>
  </p>

  <p>
    <strong>Youtube:</strong>
    <%= _films_asiatique.youtube %>
  </p>

  <p>
    <strong>Licencie:</strong>
    <%= _films_asiatique.licencie %>
  </p>

  <p>
    <strong>Licencie:</strong>
    <%= _films_asiatique.licencie %>
  </p>

  <p>
    <strong>Date vf jj:</strong>
    <%= _films_asiatique.date_vf_jj %>
  </p>

  <p>
    <strong>Date vf mm:</strong>
    <%= _films_asiatique.date_vf_mm %>
  </p>

  <p>
    <strong>Date vf aaaa:</strong>
    <%= _films_asiatique.date_vf_aaaa %>
  </p>

  <p>
    <strong>Films asiatiques editeurs vf role:</strong>
    <%= _films_asiatique._films_asiatiques_editeurs_vf_role_id %>
  </p>

  <p>
    <strong>Films asiatiques editeurs vf:</strong>
    <%= _films_asiatique._films_asiatiques_editeurs_vf_id %>
  </p>

  <p>
    <strong>Films asiatiques editeurs vf role:</strong>
    <%= _films_asiatique._films_asiatiques_editeurs_vf_role_id %>
  </p>

  <p>
    <strong>Films asiatiques editeurs vf:</strong>
    <%= _films_asiatique._films_asiatiques_editeurs_vf_id %>
  </p>

  <p>
    <strong>Date debut simulcast jj:</strong>
    <%= _films_asiatique.date_debut_simulcast_jj %>
  </p>

  <p>
    <strong>Date debut simulcast mm:</strong>
    <%= _films_asiatique.date_debut_simulcast_mm %>
  </p>

  <p>
    <strong>Date debut simulcast aaaa:</strong>
    <%= _films_asiatique.date_debut_simulcast_aaaa %>
  </p>

  <p>
    <strong>Site:</strong>
    <%= _films_asiatique.site %>
  </p>

  <p>
    <strong>Films asiatiques generiques type:</strong>
    <%= _films_asiatique._films_asiatiques_generiques_type_id %>
  </p>

  <p>
    <strong>Films asiatiques generiques people:</strong>
    <%= _films_asiatique._films_asiatiques_generiques_people_id %>
  </p>

  <p>
    <strong>Films asiatiques generiques people2:</strong>
    <%= _films_asiatique._films_asiatiques_generiques_people2_id %>
  </p>

  <p>
    <strong>Films asiatiques generiques clip:</strong>
    <%= _films_asiatique._films_asiatiques_generiques_clip_id %>
  </p>

  <p>
    <strong>Films asiatiques generiques parole:</strong>
    <%= _films_asiatique._films_asiatiques_generiques_parole_id %>
  </p>

  <p>
    <strong>Films asiatiques generiques type:</strong>
    <%= _films_asiatique._films_asiatiques_generiques_type_id %>
  </p>

  <p>
    <strong>Films asiatiques generiques people:</strong>
    <%= _films_asiatique._films_asiatiques_generiques_people_id %>
  </p>

  <p>
    <strong>Films asiatiques generiques people2:</strong>
    <%= _films_asiatique._films_asiatiques_generiques_people2_id %>
  </p>

  <p>
    <strong>Films asiatiques generiques clip:</strong>
    <%= _films_asiatique._films_asiatiques_generiques_clip_id %>
  </p>

  <p>
    <strong>Films asiatiques generiques parole:</strong>
    <%= _films_asiatique._films_asiatiques_generiques_parole_id %>
  </p>

  <p>
    <strong>Infos:</strong>
    <%= _films_asiatique.infos %>
  </p>

  <p>
    <strong>Films asiatiques groupes:</strong>
    <%= _films_asiatique._films_asiatiques_groupes_id %>
  </p>

  <p>
    <strong>Films asiatiques anime:</strong>
    <%= _films_asiatique._films_asiatiques_anime_id %>
  </p>

  <p>
    <strong>Films asiatiques anime plus:</strong>
    <%= _films_asiatique._films_asiatiques_anime_plus_id %>
  </p>

  <p>
    <strong>Films asiatiques ln:</strong>
    <%= _films_asiatique._films_asiatiques_ln_id %>
  </p>

  <p>
    <strong>Films asiatiques ln plus:</strong>
    <%= _films_asiatique._films_asiatiques_ln_plus_id %>
  </p>

  <p>
    <strong>Films asiatiques manga:</strong>
    <%= _films_asiatique._films_asiatiques_manga_id %>
  </p>

  <p>
    <strong>Films asiatiques manga plus:</strong>
    <%= _films_asiatique._films_asiatiques_manga_plus_id %>
  </p>

  <p>
    <strong>Films asiatiques drama:</strong>
    <%= _films_asiatique._films_asiatiques_drama_id %>
  </p>

  <p>
    <strong>Films asiatiques drama plus:</strong>
    <%= _films_asiatique._films_asiatiques_drama_plus_id %>
  </p>

  <p>
    <strong>Films asiatiques jv:</strong>
    <%= _films_asiatique._films_asiatiques_jv_id %>
  </p>

  <p>
    <strong>Films asiatiques jv plus:</strong>
    <%= _films_asiatique._films_asiatiques_jv_plus_id %>
  </p>

  <p>
    <strong>Films asiatiques am:</strong>
    <%= _films_asiatique._films_asiatiques_am_id %>
  </p>

  <p>
    <strong>Films asiatiques am plus:</strong>
    <%= _films_asiatique._films_asiatiques_am_plus_id %>
  </p>

  <p>
    <strong>Films asiatiques cinema:</strong>
    <%= _films_asiatique._films_asiatiques_cinema_id %>
  </p>

  <p>
    <strong>Films asiatiques univers:</strong>
    <%= _films_asiatique._films_asiatiques_univers_id %>
  </p>

  <p>
    <strong>Films asiatiques people:</strong>
    <%= _films_asiatique._films_asiatiques_people_id %>
  </p>

  <p>
    <strong>Films asiatiques litterature asiatique:</strong>
    <%= _films_asiatique._films_asiatiques_litterature_asiatique_id %>
  </p>

  <p>
    <strong>Films asiatiques litterature asiatique plus:</strong>
    <%= _films_asiatique._films_asiatiques_litterature_asiatique_plus_id %>
  </p>

  <p>
    <strong>Films asiatiques actualite:</strong>
    <%= _films_asiatique._films_asiatiques_actualite_id %>
  </p>

  <p>
    <strong>Films asiatiques culture:</strong>
    <%= _films_asiatique._films_asiatiques_culture_id %>
  </p>

  <p>
    <strong>Films asiatiques emission tv:</strong>
    <%= _films_asiatique._films_asiatiques_emission_tv_id %>
  </p>

  <p>
    <strong>Films asiatiques emission tv plus:</strong>
    <%= _films_asiatique._films_asiatiques_emission_tv_plus_id %>
  </p>

  <p>
    <strong>Films asiatiques actualite mini:</strong>
    <%= _films_asiatique._films_asiatiques_actualite_mini_id %>
  </p>

  <p>
    <strong>Films asiatiques ost:</strong>
    <%= _films_asiatique._films_asiatiques_ost_id %>
  </p>

  <p>
    <strong>Films asiatiques doujin:</strong>
    <%= _films_asiatique._films_asiatiques_doujin_id %>
  </p>

  <p>
    <strong>Films asiatiques cd:</strong>
    <%= _films_asiatique._films_asiatiques_cd_id %>
  </p>

  <p>
    <strong>Films asiatiques sondage:</strong>
    <%= _films_asiatique._films_asiatiques_sondage_id %>
  </p>

  <p>
    <strong>Films asiatiques quizz:</strong>
    <%= _films_asiatique._films_asiatiques_quizz_id %>
  </p>

  <p>
    <strong>Films asiatiques concours:</strong>
    <%= _films_asiatique._films_asiatiques_concours_id %>
  </p>

  <p>
    <strong>Films asiatiques dvd:</strong>
    <%= _films_asiatique._films_asiatiques_dvd_id %>
  </p>

  <p>
    <strong>Films asiatiques artbook:</strong>
    <%= _films_asiatique._films_asiatiques_artbook_id %>
  </p>

  <p>
    <strong>Comment:</strong>
    <%= _films_asiatique.comment %>
  </p>

  <p>
    <strong>Statut prop:</strong>
    <%= _films_asiatique.statut_prop %>
  </p>

  <p>
    <strong>Statut prop:</strong>
    <%= _films_asiatique.statut_prop %>
  </p>

  <p>
    <strong>Acceptregles:</strong>
    <%= _films_asiatique.acceptregles %>
  </p>

</div>
