<p style="color: green"><%= notice %></p>

<%= render @_goodies_editeurs_vo %>

<div>
  <%= link_to "Edit this goodies editeurs vo", edit__goodies_editeurs_vo_path(@_goodies_editeurs_vo) %> |
  <%= link_to "Back to goodies editeurs vos", _goodies_editeurs_vos_path %>

  <%= button_to "Destroy this goodies editeurs vo", @_goodies_editeurs_vo, method: :delete %>
</div>
