<p style="color: green"><%= notice %></p>































































































































<%= render @_goodies_goody %>































































































































<div>































































  <%= link_to "Edit this goodies goody", edit_goodies_goody_path(@_goodies_goody) %> |































































  <%= link_to "Back to goodies goodies", goodies_goodies_path %>































































































































  <%= button_to "Destroy this goodies goody", @_goodies_goody, method: :delete %>































































</div>
