<div id="<%= dom_id amv %>">
  <p>
    <strong>Titre:</strong>
    <%= amv.titre %>
  </p>

  <p>
    <strong>Image:</strong>
    <%= amv.image %>
  </p>

  <p>
    <strong>Amvs makers:</strong>
    <%= amv.amvs_makers_id %>
  </p>

  <p>
    <strong>Amvs makers:</strong>
    <%= amv.amvs_makers_id %>
  </p>

  <p>
    <strong>Youtube:</strong>
    <%= amv.youtube %>
  </p>

  <p>
    <strong>Lien:</strong>
    <%= amv.lien %>
  </p>

  <p>
    <strong>Song:</strong>
    <%= amv.song %>
  </p>

  <p>
    <strong>Date jj:</strong>
    <%= amv.date_jj %>
  </p>

  <p>
    <strong>Date mm:</strong>
    <%= amv.date_mm %>
  </p>

  <p>
    <strong>Date aaaa:</strong>
    <%= amv.date_aaaa %>
  </p>

  <p>
    <strong>Duree:</strong>
    <%= amv.duree %>
  </p>

  <p>
    <strong>Amvs type:</strong>
    <%= amv.amvs_type_id %>
  </p>

  <p>
    <strong>Amvs type:</strong>
    <%= amv.amvs_type_id %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= amv.description %>
  </p>

  <p>
    <strong>Amvs conventions:</strong>
    <%= amv.amvs_conventions_id %>
  </p>

  <p>
    <strong>Amvs conventions:</strong>
    <%= amv.amvs_conventions_id %>
  </p>

  <p>
    <strong>Amvs groupes:</strong>
    <%= amv.amvs_groupes_id %>
  </p>

  <p>
    <strong>Amvs anime:</strong>
    <%= amv.amvs_anime_id %>
  </p>

  <p>
    <strong>Amvs jv:</strong>
    <%= amv.amvs_jv_id %>
  </p>

  <p>
    <strong>Amvs amv:</strong>
    <%= amv.amvs_amv_id %>
  </p>

  <p>
    <strong>Autre:</strong>
    <%= amv.autre %>
  </p>

  <p>
    <strong>Comment:</strong>
    <%= amv.comment %>
  </p>

  <p>
    <strong>Statut prop:</strong>
    <%= amv.statut_prop %>
  </p>

  <p>
    <strong>Statut prop:</strong>
    <%= amv.statut_prop %>
  </p>

  <p>
    <strong>Acceptregles:</strong>
    <%= amv.acceptregles %>
  </p>

</div>
