<%= form_with(model: amv) do |form| %>































































  <% if amv.errors.any? %>































































    <div style="color: red">































































      <h2><%= pluralize(amv.errors.count, "error") %> prohibited this amv from being saved:</h2>































































































































      <ul>































































        <% amv.errors.each do |error| %>































































          <li><%= error.full_message %></li>































































        <% end %>































































      </ul>































































    </div>































































  <% end %>































































































































  <div>































































    <%= form.label :titre, style: "display: block" %>































































    <%= form.text_field :titre %>































































  </div>































































































































  <div>































































    <%= form.label :image, style: "display: block" %>































































    <%= form.text_field :image %>































































  </div>































































































































  <div>































































    <%= form.label :amvs_makers_id, style: "display: block" %>































































    <%= form.number_field :amvs_makers_id %>































































  </div>































































































































  <div>































































    <%= form.label :amvs_makers_id, style: "display: block" %>































































    <%= form.number_field :amvs_makers_id %>































































  </div>































































































































  <div>































































    <%= form.label :youtube, style: "display: block" %>































































    <%= form.text_field :youtube %>































































  </div>































































































































  <div>































































    <%= form.label :lien, style: "display: block" %>































































    <%= form.text_field :lien %>































































  </div>































































































































  <div>































































    <%= form.label :song, style: "display: block" %>































































    <%= form.text_area :song %>































































  </div>































































































































  <div>































































    <%= form.label :date_jj, style: "display: block" %>































































    <%= form.text_field :date_jj %>































































  </div>































































































































  <div>































































    <%= form.label :date_mm, style: "display: block" %>































































    <%= form.text_field :date_mm %>































































  </div>































































































































  <div>































































    <%= form.label :date_aaaa, style: "display: block" %>































































    <%= form.text_field :date_aaaa %>































































  </div>































































































































  <div>































































    <%= form.label :duree, style: "display: block" %>































































    <%= form.text_field :duree %>































































  </div>































































































































  <div>































































    <%= form.label :amvs_type_id, style: "display: block" %>































































    <%= form.number_field :amvs_type_id %>































































  </div>































































































































  <div>































































    <%= form.label :amvs_type_id, style: "display: block" %>































































    <%= form.number_field :amvs_type_id %>































































  </div>































































































































  <div>































































    <%= form.label :description, style: "display: block" %>































































    <%= form.text_area :description %>































































  </div>































































































































  <div>































































    <%= form.label :amvs_conventions_id, style: "display: block" %>































































    <%= form.number_field :amvs_conventions_id %>































































  </div>































































































































  <div>































































    <%= form.label :amvs_conventions_id, style: "display: block" %>































































    <%= form.number_field :amvs_conventions_id %>































































  </div>































































































































  <div>































































    <%= form.label :amvs_groupes_id, style: "display: block" %>































































    <%= form.number_field :amvs_groupes_id %>































































  </div>































































































































  <div>































































    <%= form.label :amvs_anime_id, style: "display: block" %>































































    <%= form.number_field :amvs_anime_id %>































































  </div>































































































































  <div>































































    <%= form.label :amvs_jv_id, style: "display: block" %>































































    <%= form.number_field :amvs_jv_id %>































































  </div>































































































































  <div>































































    <%= form.label :amvs_amv_id, style: "display: block" %>































































    <%= form.number_field :amvs_amv_id %>































































  </div>































































































































  <div>































































    <%= form.label :autre, style: "display: block" %>































































    <%= form.text_field :autre %>































































  </div>































































































































  <div>































































    <%= form.label :comment, style: "display: block" %>































































    <%= form.text_area :comment %>































































  </div>































































































































  <div>































































    <%= form.label :statut_prop, style: "display: block" %>































































    <%= form.text_field :statut_prop %>































































  </div>































































































































  <div>































































    <%= form.label :statut_prop, style: "display: block" %>































































    <%= form.text_field :statut_prop %>































































  </div>































































































































  <div>































































    <%= form.label :acceptregles, style: "display: block" %>































































    <%= form.text_field :acceptregles %>































































  </div>































































































































  <div>































































    <%= form.submit %>































































  </div>































































<% end %>
