<p style="color: green"><%= notice %></p>































































































































<%= render @amv %>































































































































<div>































































  <%= link_to "Edit this amv", edit_amv_path(@amv) %> |































































  <%= link_to "Back to amvs", amvs_path %>































































































































  <%= button_to "Destroy this amv", @amv, method: :delete %>































































</div>
