<div id="<%= dom_id _petites_annonce %>">
  <p>
    <strong>Type:</strong>
    <%= _petites_annonce.type %>
  </p>

  <p>
    <strong>Type:</strong>
    <%= _petites_annonce.type %>
  </p>

  <p>
    <strong>Titre:</strong>
    <%= _petites_annonce.titre %>
  </p>

  <p>
    <strong>Image:</strong>
    <%= _petites_annonce.image %>
  </p>

  <p>
    <strong>Petites annonces section:</strong>
    <%= _petites_annonce._petites_annonces_section_id %>
  </p>

  <p>
    <strong>Etat produit:</strong>
    <%= _petites_annonce.etat_produit %>
  </p>

  <p>
    <strong>Etat produit:</strong>
    <%= _petites_annonce.etat_produit %>
  </p>

  <p>
    <strong>Etat produit:</strong>
    <%= _petites_annonce.etat_produit %>
  </p>

  <p>
    <strong>Etat produit:</strong>
    <%= _petites_annonce.etat_produit %>
  </p>

  <p>
    <strong>Etat produit:</strong>
    <%= _petites_annonce.etat_produit %>
  </p>

  <p>
    <strong>Petites annonces pays:</strong>
    <%= _petites_annonce._petites_annonces_pays_id %>
  </p>

  <p>
    <strong>Petites annonces lieu:</strong>
    <%= _petites_annonce._petites_annonces_lieu_id %>
  </p>

  <p>
    <strong>Prix:</strong>
    <%= _petites_annonce.prix %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= _petites_annonce.description %>
  </p>

  <p>
    <strong>Statut:</strong>
    <%= _petites_annonce.statut %>
  </p>

  <p>
    <strong>Statut:</strong>
    <%= _petites_annonce.statut %>
  </p>

  <p>
    <strong>Comment:</strong>
    <%= _petites_annonce.comment %>
  </p>

  <p>
    <strong>Acceptregles:</strong>
    <%= _petites_annonce.acceptregles %>
  </p>

</div>
