<p style="color: green"><%= notice %></p>

<%= render @_films_asiatiques_cinema %>

<div>
  <%= link_to "Edit this films asiatiques cinema", edit__films_asiatiques_cinema_path(@_films_asiatiques_cinema) %> |
  <%= link_to "Back to films asiatiques cinemas", _films_asiatiques_cinemas_path %>

  <%= button_to "Destroy this films asiatiques cinema", @_films_asiatiques_cinema, method: :delete %>
</div>
