<p style="color: green"><%= notice %></p>

<%= render @_cds_role %>

<div>
  <%= link_to "Edit this cds role", edit__cds_role_path(@_cds_role) %> |
  <%= link_to "Back to cds roles", _cds_roles_path %>

  <%= button_to "Destroy this cds role", @_cds_role, method: :delete %>
</div>
