<div id="<%= dom_id _generique %>">
  <p>
    <strong>Titre:</strong>
    <%= _generique.titre %>
  </p>

  <p>
    <strong>Titre original:</strong>
    <%= _generique.titre_original %>
  </p>

  <p>
    <strong>Generiques id anime:</strong>
    <%= _generique._generiques_id_anime_id %>
  </p>

  <p>
    <strong>Generiques type:</strong>
    <%= _generique._generiques_type_id %>
  </p>

  <p>
    <strong>Number:</strong>
    <%= _generique.number %>
  </p>

  <p>
    <strong>Generiques staff role:</strong>
    <%= _generique._generiques_staff_role_id %>
  </p>

  <p>
    <strong>Generiques staff people:</strong>
    <%= _generique._generiques_staff_people_id %>
  </p>

  <p>
    <strong>Generiques staff role:</strong>
    <%= _generique._generiques_staff_role_id %>
  </p>

  <p>
    <strong>Generiques staff people:</strong>
    <%= _generique._generiques_staff_people_id %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= _generique.description %>
  </p>

  <p>
    <strong>Instrumental:</strong>
    <%= _generique.instrumental %>
  </p>

  <p>
    <strong>Instrumental:</strong>
    <%= _generique.instrumental %>
  </p>

  <p>
    <strong>Date jj:</strong>
    <%= _generique.date_jj %>
  </p>

  <p>
    <strong>Date mm:</strong>
    <%= _generique.date_mm %>
  </p>

  <p>
    <strong>Date aaaa:</strong>
    <%= _generique.date_aaaa %>
  </p>

  <p>
    <strong>Youtube:</strong>
    <%= _generique.youtube %>
  </p>

  <p>
    <strong>Paroles:</strong>
    <%= _generique.paroles %>
  </p>

  <p>
    <strong>Paroles trad:</strong>
    <%= _generique.paroles_trad %>
  </p>

  <p>
    <strong>Membre show:</strong>
    <%= _generique.membre_show %>
  </p>

  <p>
    <strong>Membre show:</strong>
    <%= _generique.membre_show %>
  </p>

  <p>
    <strong>Episodes:</strong>
    <%= _generique.episodes %>
  </p>

  <p>
    <strong>Generiques generic:</strong>
    <%= _generique._generiques_generic_id %>
  </p>

  <p>
    <strong>Comment:</strong>
    <%= _generique.comment %>
  </p>

  <p>
    <strong>Statut prop:</strong>
    <%= _generique.statut_prop %>
  </p>

  <p>
    <strong>Statut prop:</strong>
    <%= _generique.statut_prop %>
  </p>

  <p>
    <strong>Acceptregles:</strong>
    <%= _generique.acceptregles %>
  </p>

</div>
