<div id="<%= dom_id generique %>">































































  <p>































































    <strong>Titre:</strong>































































    <%= generique.titre %>































































  </p>































































































































  <p>































































    <strong>Titre original:</strong>































































    <%= generique.titre_original %>































































  </p>































































































































  <p>































































    <strong>Generiques id anime:</strong>































































    <%= generique._generiques_id_anime_id %>































































  </p>































































































































  <p>































































    <strong>Generiques type:</strong>































































    <%= generique._generiques_type_id %>































































  </p>































































































































  <p>































































    <strong>Number:</strong>































































    <%= generique.number %>































































  </p>































































































































  <p>































































    <strong>Generiques staff role:</strong>































































    <%= generique._generiques_staff_role_id %>































































  </p>































































































































  <p>































































    <strong>Generiques staff people:</strong>































































    <%= generique._generiques_staff_people_id %>































































  </p>































































































































  <p>































































    <strong>Generiques staff role:</strong>































































    <%= generique._generiques_staff_role_id %>































































  </p>































































































































  <p>































































    <strong>Generiques staff people:</strong>































































    <%= generique._generiques_staff_people_id %>































































  </p>































































































































  <p>































































    <strong>Description:</strong>































































    <%= generique.description %>































































  </p>































































































































  <p>































































    <strong>Instrumental:</strong>































































    <%= generique.instrumental %>































































  </p>































































































































  <p>































































    <strong>Instrumental:</strong>































































    <%= generique.instrumental %>































































  </p>































































































































  <p>































































    <strong>Date jj:</strong>































































    <%= generique.date_jj %>































































  </p>































































































































  <p>































































    <strong>Date mm:</strong>































































    <%= generique.date_mm %>































































  </p>































































































































  <p>































































    <strong>Date aaaa:</strong>































































    <%= generique.date_aaaa %>































































  </p>































































































































  <p>































































    <strong>Youtube:</strong>































































    <%= generique.youtube %>































































  </p>































































































































  <p>































































    <strong>Paroles:</strong>































































    <%= generique.paroles %>































































  </p>































































































































  <p>































































    <strong>Paroles trad:</strong>































































    <%= generique.paroles_trad %>































































  </p>































































































































  <p>































































    <strong>Membre show:</strong>































































    <%= generique.membre_show %>































































  </p>































































































































  <p>































































    <strong>Membre show:</strong>































































    <%= generique.membre_show %>































































  </p>































































































































  <p>































































    <strong>Episodes:</strong>































































    <%= generique.episodes %>































































  </p>































































































































  <p>































































    <strong>Generiques generic:</strong>































































    <%= generique._generiques_generic_id %>































































  </p>































































































































  <p>































































    <strong>Comment:</strong>































































    <%= generique.comment %>































































  </p>































































































































  <p>































































    <strong>Statut prop:</strong>































































    <%= generique.statut_prop %>































































  </p>































































































































  <p>































































    <strong>Statut prop:</strong>































































    <%= generique.statut_prop %>































































  </p>































































































































  <p>































































    <strong>Acceptregles:</strong>































































    <%= generique.acceptregles %>































































  </p>































































































































</div>
