<p style="color: green"><%= notice %></p>

<%= render @_concerts_pay %>

<div>
  <%= link_to "Edit this concerts pay", edit__concerts_pay_path(@_concerts_pay) %> |
  <%= link_to "Back to concerts pays", _concerts_pays_path %>

  <%= button_to "Destroy this concerts pay", @_concerts_pay, method: :delete %>
</div>
