<p style="color: green"><%= notice %></p>

<%= render @_mangas_encours_vf %>

<div>
  <%= link_to "Edit this mangas encours vf", edit__mangas_encours_vf_path(@_mangas_encours_vf) %> |
  <%= link_to "Back to mangas encours vfs", _mangas_encours_vfs_path %>

  <%= button_to "Destroy this mangas encours vf", @_mangas_encours_vf, method: :delete %>
</div>
