<p style="color: green"><%= notice %></p>































































































































<%= render @_doujinshis_doujinshi_plu %>































































































































<div>































































  <%= link_to "Edit this doujinshis doujinshi plu", edit_doujinshis_doujinshi_plu_path(@_doujinshis_doujinshi_plu) %> |































































  <%= link_to "Back to doujinshis doujinshi plus", doujinshis_doujinshi_plus_path %>































































































































  <%= button_to "Destroy this doujinshis doujinshi plu", @_doujinshis_doujinshi_plu, method: :delete %>































































</div>
