<p style="color: green"><%= notice %></p>

<%= render @_breves_ln %>

<div>
  <%= link_to "Edit this breves ln", edit__breves_ln_path(@_breves_ln) %> |
  <%= link_to "Back to breves lns", _breves_lns_path %>

  <%= button_to "Destroy this breves ln", @_breves_ln, method: :delete %>
</div>
