<p style="color: green"><%= notice %></p>































































































































<%= render @_films_asiatiques_generiques_person %>































































































































<div>































































  <%= link_to "Edit this films asiatiques generiques person", edit_films_asiatiques_generiques_person_path(@_films_asiatiques_generiques_person) %> |































































  <%= link_to "Back to films asiatiques generiques people", films_asiatiques_generiques_people_path %>































































































































  <%= button_to "Destroy this films asiatiques generiques person", @_films_asiatiques_generiques_person, method: :delete %>































































</div>
