<%= form_with(model: _cds_groupe) do |form| %>
  <% if _cds_groupe.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(_cds_groupe.errors.count, "error") %> prohibited this _cds_groupe from being saved:</h2>

      <ul>
        <% _cds_groupe.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
