<p style="color: green"><%= notice %></p>































































































































<%= render @_mangas_theme %>































































































































<div>































































  <%= link_to "Edit this mangas theme", edit_mangas_theme_path(@_mangas_theme) %> |































































  <%= link_to "Back to mangas themes", mangas_themes_path %>































































































































  <%= button_to "Destroy this mangas theme", @_mangas_theme, method: :delete %>































































</div>
