<p style="color: green"><%= notice %></p>































































































































<%= render @_jeux_videos_pay %>































































































































<div>































































  <%= link_to "Edit this jeux videos pay", edit_jeux_videos_pay_path(@_jeux_videos_pay) %> |































































  <%= link_to "Back to jeux videos pays", jeux_videos_pays_path %>































































































































  <%= button_to "Destroy this jeux videos pay", @_jeux_videos_pay, method: :delete %>































































</div>
