<div id="<%= dom_id petites_annonce %>">































































  <p>































































    <strong>Type:</strong>































































    <%= petites_annonce.type %>































































  </p>































































































































  <p>































































    <strong>Type:</strong>































































    <%= petites_annonce.type %>































































  </p>































































































































  <p>































































    <strong>Titre:</strong>































































    <%= petites_annonce.titre %>































































  </p>































































































































  <p>































































    <strong>Image:</strong>































































    <%= petites_annonce.image %>































































  </p>































































































































  <p>































































    <strong>Petites annonces section:</strong>































































    <%= petites_annonce._petites_annonces_section_id %>































































  </p>































































































































  <p>































































    <strong>Etat produit:</strong>































































    <%= petites_annonce.etat_produit %>































































  </p>































































































































  <p>































































    <strong>Etat produit:</strong>































































    <%= petites_annonce.etat_produit %>































































  </p>































































































































  <p>































































    <strong>Etat produit:</strong>































































    <%= petites_annonce.etat_produit %>































































  </p>































































































































  <p>































































    <strong>Etat produit:</strong>































































    <%= petites_annonce.etat_produit %>































































  </p>































































































































  <p>































































    <strong>Etat produit:</strong>































































    <%= petites_annonce.etat_produit %>































































  </p>































































































































  <p>































































    <strong>Petites annonces pays:</strong>































































    <%= petites_annonce._petites_annonces_pays_id %>































































  </p>































































































































  <p>































































    <strong>Petites annonces lieu:</strong>































































    <%= petites_annonce._petites_annonces_lieu_id %>































































  </p>































































































































  <p>































































    <strong>Prix:</strong>































































    <%= petites_annonce.prix %>































































  </p>































































































































  <p>































































    <strong>Description:</strong>































































    <%= petites_annonce.description %>































































  </p>































































































































  <p>































































    <strong>Statut:</strong>































































    <%= petites_annonce.statut %>































































  </p>































































































































  <p>































































    <strong>Statut:</strong>































































    <%= petites_annonce.statut %>































































  </p>































































































































  <p>































































    <strong>Comment:</strong>































































    <%= petites_annonce.comment %>































































  </p>































































































































  <p>































































    <strong>Acceptregles:</strong>































































    <%= petites_annonce.acceptregles %>































































  </p>































































































































</div>
