<div id="<%= dom_id _personnage_danime %>">
  <p>
    <strong>Nom:</strong>
    <%= _personnage_danime.nom %>
  </p>

  <p>
    <strong>Nom alternatif:</strong>
    <%= _personnage_danime.nom_alternatif %>
  </p>

  <p>
    <strong>Nom suite:</strong>
    <%= _personnage_danime.nom_suite %>
  </p>

  <p>
    <strong>Nom original:</strong>
    <%= _personnage_danime.nom_original %>
  </p>

  <p>
    <strong>Personnage danimes sexe:</strong>
    <%= _personnage_danime._personnage_danimes_sexe_id %>
  </p>

  <p>
    <strong>Personnage danimes anime:</strong>
    <%= _personnage_danime._personnage_danimes_anime_id %>
  </p>

  <p>
    <strong>Personnage danimes anime:</strong>
    <%= _personnage_danime._personnage_danimes_anime_id %>
  </p>

  <p>
    <strong>Personnage danimes doubleur pays:</strong>
    <%= _personnage_danime._personnage_danimes_doubleur_pays_id %>
  </p>

  <p>
    <strong>Personnage danimes doubleur people:</strong>
    <%= _personnage_danime._personnage_danimes_doubleur_people_id %>
  </p>

  <p>
    <strong>:</strong>
    <%= _personnage_danime. %>
  </p>

  <p>
    <strong>Personnage danimes doubleur role:</strong>
    <%= _personnage_danime._personnage_danimes_doubleur_role_id %>
  </p>

  <p>
    <strong>Personnage danimes doubleur pays:</strong>
    <%= _personnage_danime._personnage_danimes_doubleur_pays_id %>
  </p>

  <p>
    <strong>Personnage danimes doubleur people:</strong>
    <%= _personnage_danime._personnage_danimes_doubleur_people_id %>
  </p>

  <p>
    <strong>:</strong>
    <%= _personnage_danime. %>
  </p>

  <p>
    <strong>Personnage danimes doubleur role:</strong>
    <%= _personnage_danime._personnage_danimes_doubleur_role_id %>
  </p>

  <p>
    <strong>Special:</strong>
    <%= _personnage_danime.special %>
  </p>

  <p>
    <strong>Special:</strong>
    <%= _personnage_danime.special %>
  </p>

  <p>
    <strong>Image:</strong>
    <%= _personnage_danime.image %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= _personnage_danime.description %>
  </p>

  <p>
    <strong>Personnage danimes perso:</strong>
    <%= _personnage_danime._personnage_danimes_perso_id %>
  </p>

  <p>
    <strong>Personnage danimes perso plus:</strong>
    <%= _personnage_danime._personnage_danimes_perso_plus_id %>
  </p>

  <p>
    <strong>Personnage danimes perso manga:</strong>
    <%= _personnage_danime._personnage_danimes_perso_manga_id %>
  </p>

  <p>
    <strong>Personnage danimes jv perso:</strong>
    <%= _personnage_danime._personnage_danimes_jv_perso_id %>
  </p>

  <p>
    <strong>Personnage danimes goodies:</strong>
    <%= _personnage_danime._personnage_danimes_goodies_id %>
  </p>

  <p>
    <strong>Comment:</strong>
    <%= _personnage_danime.comment %>
  </p>

  <p>
    <strong>Statut prop:</strong>
    <%= _personnage_danime.statut_prop %>
  </p>

  <p>
    <strong>Statut prop:</strong>
    <%= _personnage_danime.statut_prop %>
  </p>

  <p>
    <strong>Acceptregles:</strong>
    <%= _personnage_danime.acceptregles %>
  </p>

</div>
