<p style="color: green"><%= notice %></p>

<%= render @_goodies_clip %>

<div>
  <%= link_to "Edit this goodies clip", edit__goodies_clip_path(@_goodies_clip) %> |
  <%= link_to "Back to goodies clips", _goodies_clips_path %>

  <%= button_to "Destroy this goodies clip", @_goodies_clip, method: :delete %>
</div>
