<p style="color: green"><%= notice %></p>































































































































<%= render @_films_asiatiques_en_salles_acteur %>































































































































<div>































































  <%= link_to "Edit this films asiatiques en salles acteur", edit_films_asiatiques_en_salles_acteur_path(@_films_asiatiques_en_salles_acteur) %> |































































  <%= link_to "Back to films asiatiques en salles acteurs", films_asiatiques_en_salles_acteurs_path %>































































































































  <%= button_to "Destroy this films asiatiques en salles acteur", @_films_asiatiques_en_salles_acteur, method: :delete %>































































</div>
