<p style="color: green"><%= notice %></p>

<%= render @_fiche_univers_person %>

<div>
  <%= link_to "Edit this fiche univers person", edit__fiche_univers_person_path(@_fiche_univers_person) %> |
  <%= link_to "Back to fiche univers people", _fiche_univers_people_path %>

  <%= button_to "Destroy this fiche univers person", @_fiche_univers_person, method: :delete %>
</div>
