<p style="color: green"><%= notice %></p>

<%= render @_breves_livre_jeuness %>

<div>
  <%= link_to "Edit this breves livre jeunesse", edit__breves_livre_jeuness_path(@_breves_livre_jeuness) %> |
  <%= link_to "Back to breves livre jeunesses", _breves_livre_jeunesses_path %>

  <%= button_to "Destroy this breves livre jeunesse", @_breves_livre_jeuness, method: :delete %>
</div>
