<p style="color: green"><%= notice %></p>































































































































<%= render @_doujinshis_perso %>































































































































<div>































































  <%= link_to "Edit this doujinshis perso", edit_doujinshis_perso_path(@_doujinshis_perso) %> |































































  <%= link_to "Back to doujinshis persos", doujinshis_persos_path %>































































































































  <%= button_to "Destroy this doujinshis perso", @_doujinshis_perso, method: :delete %>































































</div>
