<p style="color: green"><%= notice %></p>

<%= render @artbooks_public_averti %>

<div>
  <%= link_to "Edit this artbooks public averti", edit_artbooks_public_averti_path(@artbooks_public_averti) %> |
  <%= link_to "Back to artbooks public avertis", artbooks_public_avertis_path %>

  <%= button_to "Destroy this artbooks public averti", @artbooks_public_averti, method: :delete %>
</div>
