<div id="<%= dom_id _fiche_univer %>">
  <p>
    <strong>Nom:</strong>
    <%= _fiche_univer.nom %>
  </p>

  <p>
    <strong>Nom alternatif:</strong>
    <%= _fiche_univer.nom_alternatif %>
  </p>

  <p>
    <strong>Nom suite:</strong>
    <%= _fiche_univer.nom_suite %>
  </p>

  <p>
    <strong>Nom original:</strong>
    <%= _fiche_univer.nom_original %>
  </p>

  <p>
    <strong>Image:</strong>
    <%= _fiche_univer.image %>
  </p>

  <p>
    <strong>Fiche univers cat:</strong>
    <%= _fiche_univer._fiche_univers_cat_id %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= _fiche_univer.description %>
  </p>

  <p>
    <strong>Fiche univers groupes:</strong>
    <%= _fiche_univer._fiche_univers_groupes_id %>
  </p>

  <p>
    <strong>Fiche univers univers:</strong>
    <%= _fiche_univer._fiche_univers_univers_id %>
  </p>

  <p>
    <strong>Fiche univers anime:</strong>
    <%= _fiche_univer._fiche_univers_anime_id %>
  </p>

  <p>
    <strong>Fiche univers perso:</strong>
    <%= _fiche_univer._fiche_univers_perso_id %>
  </p>

  <p>
    <strong>Fiche univers manga:</strong>
    <%= _fiche_univer._fiche_univers_manga_id %>
  </p>

  <p>
    <strong>Fiche univers perso manga:</strong>
    <%= _fiche_univer._fiche_univers_perso_manga_id %>
  </p>

  <p>
    <strong>Fiche univers ln:</strong>
    <%= _fiche_univer._fiche_univers_ln_id %>
  </p>

  <p>
    <strong>Fiche univers doujinshi:</strong>
    <%= _fiche_univer._fiche_univers_doujinshi_id %>
  </p>

  <p>
    <strong>Fiche univers jv:</strong>
    <%= _fiche_univer._fiche_univers_jv_id %>
  </p>

  <p>
    <strong>Fiche univers jv perso:</strong>
    <%= _fiche_univer._fiche_univers_jv_perso_id %>
  </p>

  <p>
    <strong>Fiche univers drama:</strong>
    <%= _fiche_univer._fiche_univers_drama_id %>
  </p>

  <p>
    <strong>Fiche univers am:</strong>
    <%= _fiche_univer._fiche_univers_am_id %>
  </p>

  <p>
    <strong>Fiche univers litterature asiatique:</strong>
    <%= _fiche_univer._fiche_univers_litterature_asiatique_id %>
  </p>

  <p>
    <strong>Fiche univers people:</strong>
    <%= _fiche_univer._fiche_univers_people_id %>
  </p>

  <p>
    <strong>Fiche univers actualite:</strong>
    <%= _fiche_univer._fiche_univers_actualite_id %>
  </p>

  <p>
    <strong>Fiche univers actualite mini:</strong>
    <%= _fiche_univer._fiche_univers_actualite_mini_id %>
  </p>

  <p>
    <strong>Fiche univers culture:</strong>
    <%= _fiche_univer._fiche_univers_culture_id %>
  </p>

  <p>
    <strong>Comment:</strong>
    <%= _fiche_univer.comment %>
  </p>

  <p>
    <strong>Statut prop:</strong>
    <%= _fiche_univer.statut_prop %>
  </p>

  <p>
    <strong>Statut prop:</strong>
    <%= _fiche_univer.statut_prop %>
  </p>

  <p>
    <strong>Acceptregles:</strong>
    <%= _fiche_univer.acceptregles %>
  </p>

</div>
