<p style="color: green"><%= notice %></p>

<%= render @_fiche_univer %>

<div>
  <%= link_to "Edit this fiche univer", edit__fiche_univer_path(@_fiche_univer) %> |
  <%= link_to "Back to fiche univers", _fiche_univers_path %>

  <%= button_to "Destroy this fiche univer", @_fiche_univer, method: :delete %>
</div>
