<p style="color: green"><%= notice %></p>

<%= render @_jeux_videos_person %>

<div>
  <%= link_to "Edit this jeux videos person", edit__jeux_videos_person_path(@_jeux_videos_person) %> |
  <%= link_to "Back to jeux videos people", _jeux_videos_people_path %>

  <%= button_to "Destroy this jeux videos person", @_jeux_videos_person, method: :delete %>
</div>
