<p style="color: green"><%= notice %></p>































































































































<%= render @artbooks_actualite_mini %>































































































































<div>































































  <%= link_to "Edit this artbooks actualite mini", edit_artbooks_actualite_mini_path(@artbooks_actualite_mini) %> |































































  <%= link_to "Back to artbooks actualite minis", artbooks_actualite_minis_path %>































































































































  <%= button_to "Destroy this artbooks actualite mini", @artbooks_actualite_mini, method: :delete %>































































</div>
