<%= form_with(model: artbooks_editeurs_vo) do |form| %>































































  <% if artbooks_editeurs_vo.errors.any? %>































































    <div style="color: red">































































      <h2><%= pluralize(artbooks_editeurs_vo.errors.count, "error") %> prohibited this artbooks_editeurs_vo from being saved:</h2>































































































































      <ul>































































        <% artbooks_editeurs_vo.errors.each do |error| %>































































          <li><%= error.full_message %></li>































































        <% end %>































































      </ul>































































    </div>































































  <% end %>































































































































  <div>































































    <%= form.label :name, style: "display: block" %>































































    <%= form.text_field :name %>































































  </div>































































































































  <div>































































    <%= form.submit %>































































  </div>































































<% end %>
