<p style="color: green"><%= notice %></p>































































































































<%= render @artbooks_editeurs_vo %>































































































































<div>































































  <%= link_to "Edit this artbooks editeurs vo", edit_artbooks_editeurs_vo_path(@artbooks_editeurs_vo) %> |































































  <%= link_to "Back to artbooks editeurs vos", artbooks_editeurs_vos_path %>































































































































  <%= button_to "Destroy this artbooks editeurs vo", @artbooks_editeurs_vo, method: :delete %>































































</div>
