<p style="color: green"><%= notice %></p>































































































































<%= render @_films_asiatiques_ost %>































































































































<div>































































  <%= link_to "Edit this films asiatiques ost", edit_films_asiatiques_ost_path(@_films_asiatiques_ost) %> |































































  <%= link_to "Back to films asiatiques osts", films_asiatiques_osts_path %>































































































































  <%= button_to "Destroy this films asiatiques ost", @_films_asiatiques_ost, method: :delete %>































































</div>
