<p style="color: green"><%= notice %></p>

<%= render @_jeux_videos_staff_societe %>

<div>
  <%= link_to "Edit this jeux videos staff societe", edit__jeux_videos_staff_societe_path(@_jeux_videos_staff_societe) %> |
  <%= link_to "Back to jeux videos staff societes", _jeux_videos_staff_societes_path %>

  <%= button_to "Destroy this jeux videos staff societe", @_jeux_videos_staff_societe, method: :delete %>
</div>
