<p style="color: green"><%= notice %></p>

<%= render @_mangas_editeurs_vf_collection %>

<div>
  <%= link_to "Edit this mangas editeurs vf collection", edit__mangas_editeurs_vf_collection_path(@_mangas_editeurs_vf_collection) %> |
  <%= link_to "Back to mangas editeurs vf collections", _mangas_editeurs_vf_collections_path %>

  <%= button_to "Destroy this mangas editeurs vf collection", @_mangas_editeurs_vf_collection, method: :delete %>
</div>
