<p style="color: green"><%= notice %></p>

<%= render @_doujinshis_actualite %>

<div>
  <%= link_to "Edit this doujinshis actualite", edit__doujinshis_actualite_path(@_doujinshis_actualite) %> |
  <%= link_to "Back to doujinshis actualites", _doujinshis_actualites_path %>

  <%= button_to "Destroy this doujinshis actualite", @_doujinshis_actualite, method: :delete %>
</div>
