<p style="color: green"><%= notice %></p>































































































































<%= render @_goodies_manga %>































































































































<div>































































  <%= link_to "Edit this goodies manga", edit_goodies_manga_path(@_goodies_manga) %> |































































  <%= link_to "Back to goodies mangas", goodies_mangas_path %>































































































































  <%= button_to "Destroy this goodies manga", @_goodies_manga, method: :delete %>































































</div>
