<p style="color: green"><%= notice %></p>

<%= render @_goodies_public_averti %>

<div>
  <%= link_to "Edit this goodies public averti", edit__goodies_public_averti_path(@_goodies_public_averti) %> |
  <%= link_to "Back to goodies public avertis", _goodies_public_avertis_path %>

  <%= button_to "Destroy this goodies public averti", @_goodies_public_averti, method: :delete %>
</div>
