<p style="color: green"><%= notice %></p>































































































































<%= render @_films_asiatiques_generiques_parole %>































































































































<div>































































  <%= link_to "Edit this films asiatiques generiques parole", edit_films_asiatiques_generiques_parole_path(@_films_asiatiques_generiques_parole) %> |































































  <%= link_to "Back to films asiatiques generiques paroles", films_asiatiques_generiques_paroles_path %>































































































































  <%= button_to "Destroy this films asiatiques generiques parole", @_films_asiatiques_generiques_parole, method: :delete %>































































</div>
