<p style="color: green"><%= notice %></p>

<%= render @_mangas_editeurs_vo %>

<div>
  <%= link_to "Edit this mangas editeurs vo", edit__mangas_editeurs_vo_path(@_mangas_editeurs_vo) %> |
  <%= link_to "Back to mangas editeurs vos", _mangas_editeurs_vos_path %>

  <%= button_to "Destroy this mangas editeurs vo", @_mangas_editeurs_vo, method: :delete %>
</div>
