<p style="color: green"><%= notice %></p>































































































































<%= render @_films_asiatiques_editeurs_vf %>































































































































<div>































































  <%= link_to "Edit this films asiatiques editeurs vf", edit_films_asiatiques_editeurs_vf_path(@_films_asiatiques_editeurs_vf) %> |































































  <%= link_to "Back to films asiatiques editeurs vfs", films_asiatiques_editeurs_vfs_path %>































































































































  <%= button_to "Destroy this films asiatiques editeurs vf", @_films_asiatiques_editeurs_vf, method: :delete %>































































</div>
