<div id="<%= dom_id generique_de_jeu_video %>">































































  <p>































































    <strong>Titre:</strong>































































    <%= generique_de_jeu_video.titre %>































































  </p>































































































































  <p>































































    <strong>Titre original:</strong>































































    <%= generique_de_jeu_video.titre_original %>































































  </p>































































































































  <p>































































    <strong>Generique de jeu videos type:</strong>































































    <%= generique_de_jeu_video._generique_de_jeu_videos_type_id %>































































  </p>































































































































  <p>































































    <strong>Number:</strong>































































    <%= generique_de_jeu_video.number %>































































  </p>































































































































  <p>































































    <strong>Generique de jeu videos staff role:</strong>































































    <%= generique_de_jeu_video._generique_de_jeu_videos_staff_role_id %>































































  </p>































































































































  <p>































































    <strong>Generique de jeu videos staff people:</strong>































































    <%= generique_de_jeu_video._generique_de_jeu_videos_staff_people_id %>































































  </p>































































































































  <p>































































    <strong>Generique de jeu videos staff role:</strong>































































    <%= generique_de_jeu_video._generique_de_jeu_videos_staff_role_id %>































































  </p>































































































































  <p>































































    <strong>Generique de jeu videos staff people:</strong>































































    <%= generique_de_jeu_video._generique_de_jeu_videos_staff_people_id %>































































  </p>































































































































  <p>































































    <strong>Description:</strong>































































    <%= generique_de_jeu_video.description %>































































  </p>































































































































  <p>































































    <strong>Instrumental:</strong>































































    <%= generique_de_jeu_video.instrumental %>































































  </p>































































































































  <p>































































    <strong>Instrumental:</strong>































































    <%= generique_de_jeu_video.instrumental %>































































  </p>































































































































  <p>































































    <strong>Date jj:</strong>































































    <%= generique_de_jeu_video.date_jj %>































































  </p>































































































































  <p>































































    <strong>Date mm:</strong>































































    <%= generique_de_jeu_video.date_mm %>































































  </p>































































































































  <p>































































    <strong>Date aaaa:</strong>































































    <%= generique_de_jeu_video.date_aaaa %>































































  </p>































































































































  <p>































































    <strong>Youtube:</strong>































































    <%= generique_de_jeu_video.youtube %>































































  </p>































































































































  <p>































































    <strong>Paroles:</strong>































































    <%= generique_de_jeu_video.paroles %>































































  </p>































































































































  <p>































































    <strong>Paroles trad:</strong>































































    <%= generique_de_jeu_video.paroles_trad %>































































  </p>































































































































  <p>































































    <strong>Membre show:</strong>































































    <%= generique_de_jeu_video.membre_show %>































































  </p>































































































































  <p>































































    <strong>Membre show:</strong>































































    <%= generique_de_jeu_video.membre_show %>































































  </p>































































































































  <p>































































    <strong>Generique de jeu videos jv:</strong>































































    <%= generique_de_jeu_video._generique_de_jeu_videos_jv_id %>































































  </p>































































































































  <p>































































    <strong>Generique de jeu videos jv generic:</strong>































































    <%= generique_de_jeu_video._generique_de_jeu_videos_jv_generic_id %>































































  </p>































































































































  <p>































































    <strong>Comment:</strong>































































    <%= generique_de_jeu_video.comment %>































































  </p>































































































































  <p>































































    <strong>Statut prop:</strong>































































    <%= generique_de_jeu_video.statut_prop %>































































  </p>































































































































  <p>































































    <strong>Statut prop:</strong>































































    <%= generique_de_jeu_video.statut_prop %>































































  </p>































































































































  <p>































































    <strong>Acceptregles:</strong>































































    <%= generique_de_jeu_video.acceptregles %>































































  </p>































































































































</div>
