<p style="color: green"><%= notice %></p>































































































































<%= render @_jeux_videos_doujin %>































































































































<div>































































  <%= link_to "Edit this jeux videos doujin", edit_jeux_videos_doujin_path(@_jeux_videos_doujin) %> |































































  <%= link_to "Back to jeux videos doujins", jeux_videos_doujins_path %>































































































































  <%= button_to "Destroy this jeux videos doujin", @_jeux_videos_doujin, method: :delete %>































































</div>
