<p style="color: green"><%= notice %></p>

<%= render @_fiche_univers_doujinshi %>

<div>
  <%= link_to "Edit this fiche univers doujinshi", edit__fiche_univers_doujinshi_path(@_fiche_univers_doujinshi) %> |
  <%= link_to "Back to fiche univers doujinshis", _fiche_univers_doujinshis_path %>

  <%= button_to "Destroy this fiche univers doujinshi", @_fiche_univers_doujinshi, method: :delete %>
</div>
