<p style="color: green"><%= notice %></p>































































































































<%= render @_photobooks_am %>































































































































<div>































































  <%= link_to "Edit this photobooks am", edit_photobooks_am_path(@_photobooks_am) %> |































































  <%= link_to "Back to photobooks ams", photobooks_ams_path %>































































































































  <%= button_to "Destroy this photobooks am", @_photobooks_am, method: :delete %>































































</div>
