<p style="color: green"><%= notice %></p>































































































































<%= render @_jeux_videos_actualite %>































































































































<div>































































  <%= link_to "Edit this jeux videos actualite", edit_jeux_videos_actualite_path(@_jeux_videos_actualite) %> |































































  <%= link_to "Back to jeux videos actualites", jeux_videos_actualites_path %>































































































































  <%= button_to "Destroy this jeux videos actualite", @_jeux_videos_actualite, method: :delete %>































































</div>
