<p style="color: green"><%= notice %></p>































































































































<%= render @_films_asiatiques_doujin %>































































































































<div>































































  <%= link_to "Edit this films asiatiques doujin", edit_films_asiatiques_doujin_path(@_films_asiatiques_doujin) %> |































































  <%= link_to "Back to films asiatiques doujins", films_asiatiques_doujins_path %>































































































































  <%= button_to "Destroy this films asiatiques doujin", @_films_asiatiques_doujin, method: :delete %>































































</div>
