<p style="color: green"><%= notice %></p>































































































































<%= render @_doujinshis_doujinshi %>































































































































<div>































































  <%= link_to "Edit this doujinshis doujinshi", edit_doujinshis_doujinshi_path(@_doujinshis_doujinshi) %> |































































  <%= link_to "Back to doujinshis doujinshis", doujinshis_doujinshis_path %>































































































































  <%= button_to "Destroy this doujinshis doujinshi", @_doujinshis_doujinshi, method: :delete %>































































</div>
