<p style="color: green"><%= notice %></p>

<%= render @_jeux_videos_groupe %>

<div>
  <%= link_to "Edit this jeux videos groupe", edit__jeux_videos_groupe_path(@_jeux_videos_groupe) %> |
  <%= link_to "Back to jeux videos groupes", _jeux_videos_groupes_path %>

  <%= button_to "Destroy this jeux videos groupe", @_jeux_videos_groupe, method: :delete %>
</div>
