<p style="color: green"><%= notice %></p>































































































































<%= render @_jeux_videos_artbook %>































































































































<div>































































  <%= link_to "Edit this jeux videos artbook", edit_jeux_videos_artbook_path(@_jeux_videos_artbook) %> |































































  <%= link_to "Back to jeux videos artbooks", jeux_videos_artbooks_path %>































































































































  <%= button_to "Destroy this jeux videos artbook", @_jeux_videos_artbook, method: :delete %>































































</div>
