<p style="color: green"><%= notice %></p>































































































































<%= render @_doujinshis_litterature_asiatique_plu %>































































































































<div>































































  <%= link_to "Edit this doujinshis litterature asiatique plu", edit_doujinshis_litterature_asiatique_plu_path(@_doujinshis_litterature_asiatique_plu) %> |































































  <%= link_to "Back to doujinshis litterature asiatique plus", doujinshis_litterature_asiatique_plus_path %>































































































































  <%= button_to "Destroy this doujinshis litterature asiatique plu", @_doujinshis_litterature_asiatique_plu, method: :delete %>































































</div>
