<p style="color: green"><%= notice %></p>

<%= render @_dvd___blu_rays_person %>

<div>
  <%= link_to "Edit this blu rays person", edit__dvd___blu_rays_person_path(@_dvd___blu_rays_person) %> |
  <%= link_to "Back to blu rays people", _dvd___blu_rays_people_path %>

  <%= button_to "Destroy this blu rays person", @_dvd___blu_rays_person, method: :delete %>
</div>
