<p style="color: green"><%= notice %></p>

<%= render @_dramas_manga_plu %>

<div>
  <%= link_to "Edit this dramas manga plu", edit__dramas_manga_plu_path(@_dramas_manga_plu) %> |
  <%= link_to "Back to dramas manga plus", _dramas_manga_plus_path %>

  <%= button_to "Destroy this dramas manga plu", @_dramas_manga_plu, method: :delete %>
</div>
