<p style="color: green"><%= notice %></p>

<%= render @_livres_type_secondaire %>

<div>
  <%= link_to "Edit this livres type secondaire", edit__livres_type_secondaire_path(@_livres_type_secondaire) %> |
  <%= link_to "Back to livres type secondaires", _livres_type_secondaires_path %>

  <%= button_to "Destroy this livres type secondaire", @_livres_type_secondaire, method: :delete %>
</div>
