<p style="color: green"><%= notice %></p>

<%= render @_personnalites_ex %>

<div>
  <%= link_to "Edit this personnalites ex", edit__personnalites_ex_path(@_personnalites_ex) %> |
  <%= link_to "Back to personnalites exes", _personnalites_exes_path %>

  <%= button_to "Destroy this personnalites ex", @_personnalites_ex, method: :delete %>
</div>
