<%= form_with(model: _fiche_univer) do |form| %>































































  <% if _fiche_univer.errors.any? %>































































    <div style="color: red">































































      <h2><%= pluralize(_fiche_univer.errors.count, "error") %> prohibited this _fiche_univer from being saved:</h2>































































































































      <ul>































































        <% _fiche_univer.errors.each do |error| %>































































          <li><%= error.full_message %></li>































































        <% end %>































































      </ul>































































    </div>































































  <% end %>































































































































  <div>































































    <%= form.label :nom, style: "display: block" %>































































    <%= form.text_field :nom %>































































  </div>































































































































  <div>































































    <%= form.label :nom_alternatif, style: "display: block" %>































































    <%= form.text_field :nom_alternatif %>































































  </div>































































































































  <div>































































    <%= form.label :nom_suite, style: "display: block" %>































































    <%= form.text_field :nom_suite %>































































  </div>































































































































  <div>































































    <%= form.label :nom_original, style: "display: block" %>































































    <%= form.text_field :nom_original %>































































  </div>































































































































  <div>































































    <%= form.label :image, style: "display: block" %>































































    <%= form.text_field :image %>































































  </div>































































































































  <div>































































    <%= form.label :_fiche_univers_cat_id, style: "display: block" %>































































    <%= form.select :_fiche_univers_cat_id, FicheUniversCat.all.collect{|x|[x.name, x.id]} %>































































  </div>































































































































  <div>































































    <%= form.label :description, style: "display: block" %>































































    <%= form.text_area :description %>































































  </div>































































































































  <div>































































    <%= form.label :_fiche_univers_groupes_id, style: "display: block" %>































































    <%= form.select :_fiche_univers_groupes_id, FicheUniversGroupe.all.collect{|x|[x.name, x.id]} %>































































  </div>































































































































  <div>































































    <%= form.label :_fiche_univers_univers_id, style: "display: block" %>































































    <%= form.select :_fiche_univers_univers_id, FicheUniversUniver.all.collect{|x|[x.name, x.id]} %>































































  </div>































































































































  <div>































































    <%= form.label :_fiche_univers_anime_id, style: "display: block" %>































































    <%= form.select :_fiche_univers_anime_id, FicheUniversAnime.all.collect{|x|[x.name, x.id]} %>































































  </div>































































































































  <div>































































    <%= form.label :_fiche_univers_perso_id, style: "display: block" %>































































    <%= form.select :_fiche_univers_perso_id, FicheUniversPerso.all.collect{|x|[x.name, x.id]} %>































































  </div>































































































































  <div>































































    <%= form.label :_fiche_univers_manga_id, style: "display: block" %>































































    <%= form.select :_fiche_univers_manga_id, FicheUniversManga.all.collect{|x|[x.name, x.id]} %>































































  </div>































































































































  <div>































































    <%= form.label :_fiche_univers_perso_manga_id, style: "display: block" %>































































    <%= form.select :_fiche_univers_perso_manga_id, FicheUniversPersoManga.all.collect{|x|[x.name, x.id]} %>































































  </div>































































































































  <div>































































    <%= form.label :_fiche_univers_ln_id, style: "display: block" %>































































    <%= form.select :_fiche_univers_ln_id, FicheUniversLn.all.collect{|x|[x.name, x.id]} %>































































  </div>































































































































  <div>































































    <%= form.label :_fiche_univers_doujinshi_id, style: "display: block" %>































































    <%= form.select :_fiche_univers_doujinshi_id, FicheUniversDoujinshi.all.collect{|x|[x.name, x.id]} %>































































  </div>































































































































  <div>































































    <%= form.label :_fiche_univers_jv_id, style: "display: block" %>































































    <%= form.select :_fiche_univers_jv_id, FicheUniversJv.all.collect{|x|[x.name, x.id]} %>































































  </div>































































































































  <div>































































    <%= form.label :_fiche_univers_jv_perso_id, style: "display: block" %>































































    <%= form.select :_fiche_univers_jv_perso_id, FicheUniversJvPerso.all.collect{|x|[x.name, x.id]} %>































































  </div>































































































































  <div>































































    <%= form.label :_fiche_univers_drama_id, style: "display: block" %>































































    <%= form.select :_fiche_univers_drama_id, FicheUniversDrama.all.collect{|x|[x.name, x.id]} %>































































  </div>































































































































  <div>































































    <%= form.label :_fiche_univers_am_id, style: "display: block" %>































































    <%= form.select :_fiche_univers_am_id, FicheUniversAm.all.collect{|x|[x.name, x.id]} %>































































  </div>































































































































  <div>































































    <%= form.label :_fiche_univers_litterature_asiatique_id, style: "display: block" %>































































    <%= form.select :_fiche_univers_litterature_asiatique_id, FicheUniversLitteratureAsiatique.all.collect{|x|[x.name, x.id]} %>































































  </div>































































































































  <div>































































    <%= form.label :_fiche_univers_people_id, style: "display: block" %>































































    <%= form.select :_fiche_univers_people_id, FicheUniversPerson.all.collect{|x|[x.name, x.id]} %>































































  </div>































































































































  <div>































































    <%= form.label :_fiche_univers_actualite_id, style: "display: block" %>































































    <%= form.select :_fiche_univers_actualite_id, FicheUniversActualite.all.collect{|x|[x.name, x.id]} %>































































  </div>































































































































  <div>































































    <%= form.label :_fiche_univers_actualite_mini_id, style: "display: block" %>































































    <%= form.select :_fiche_univers_actualite_mini_id, FicheUniversActualiteMini.all.collect{|x|[x.name, x.id]} %>































































  </div>































































































































  <div>































































    <%= form.label :_fiche_univers_culture_id, style: "display: block" %>































































    <%= form.select :_fiche_univers_culture_id, FicheUniversCulture.all.collect{|x|[x.name, x.id]} %>































































  </div>































































































































  <div>































































    <%= form.label :comment, style: "display: block" %>































































    <%= form.text_area :comment %>































































  </div>































































































































  <div>































































    <%= form.label :statut_prop, style: "display: block" %>































































    <%= form.text_field :statut_prop %>































































  </div>































































































































  <div>































































    <%= form.label :statut_prop, style: "display: block" %>































































    <%= form.text_field :statut_prop %>































































  </div>































































































































  <div>































































    <%= form.label :acceptregles, style: "display: block" %>































































    <%= form.text_field :acceptregles %>































































  </div>































































































































  <div>































































    <%= form.submit %>































































  </div>































































<% end %>
