<p style="color: green"><%= notice %></p>

<%= render @_films_asiatiques_en_salles_staff_person %>

<div>
  <%= link_to "Edit this films asiatiques en salles staff person", edit__films_asiatiques_en_salles_staff_person_path(@_films_asiatiques_en_salles_staff_person) %> |
  <%= link_to "Back to films asiatiques en salles staff people", _films_asiatiques_en_salles_staff_people_path %>

  <%= button_to "Destroy this films asiatiques en salles staff person", @_films_asiatiques_en_salles_staff_person, method: :delete %>
</div>
