<p style="color: green"><%= notice %></p>

<%= render @_doujins_ln %>

<div>
  <%= link_to "Edit this doujins ln", edit__doujins_ln_path(@_doujins_ln) %> |
  <%= link_to "Back to doujins lns", _doujins_lns_path %>

  <%= button_to "Destroy this doujins ln", @_doujins_ln, method: :delete %>
</div>
