<p style="color: green"><%= notice %></p>































































































































<%= render @_dramas_programme %>































































































































<div>































































  <%= link_to "Edit this dramas programme", edit_dramas_programme_path(@_dramas_programme) %> |































































  <%= link_to "Back to dramas programmes", dramas_programmes_path %>































































































































  <%= button_to "Destroy this dramas programme", @_dramas_programme, method: :delete %>































































</div>
