<p style="color: green"><%= notice %></p>

<%= render @_goodies_pay %>

<div>
  <%= link_to "Edit this goodies pay", edit__goodies_pay_path(@_goodies_pay) %> |
  <%= link_to "Back to goodies pays", _goodies_pays_path %>

  <%= button_to "Destroy this goodies pay", @_goodies_pay, method: :delete %>
</div>
