<p style="color: green"><%= notice %></p>































































































































<%= render @_goodies_pay %>































































































































<div>































































  <%= link_to "Edit this goodies pay", edit_goodies_pay_path(@_goodies_pay) %> |































































  <%= link_to "Back to goodies pays", goodies_pays_path %>































































































































  <%= button_to "Destroy this goodies pay", @_goodies_pay, method: :delete %>































































</div>
