<%= form_with(model: _personnalites_labels_debut) do |form| %>































































  <% if _personnalites_labels_debut.errors.any? %>































































    <div style="color: red">































































      <h2><%= pluralize(_personnalites_labels_debut.errors.count, "error") %> prohibited this _personnalites_labels_debut from being saved:</h2>































































































































      <ul>































































        <% _personnalites_labels_debut.errors.each do |error| %>































































          <li><%= error.full_message %></li>































































        <% end %>































































      </ul>































































    </div>































































  <% end %>































































































































  <div>































































    <%= form.label :name, style: "display: block" %>































































    <%= form.text_field :name %>































































  </div>































































































































  <div>































































    <%= form.submit %>































































  </div>































































<% end %>
