<p style="color: green"><%= notice %></p>

<%= render @_films_asiatiques_ln_plu %>

<div>
  <%= link_to "Edit this films asiatiques ln plu", edit__films_asiatiques_ln_plu_path(@_films_asiatiques_ln_plu) %> |
  <%= link_to "Back to films asiatiques ln plus", _films_asiatiques_ln_plus_path %>

  <%= button_to "Destroy this films asiatiques ln plu", @_films_asiatiques_ln_plu, method: :delete %>
</div>
