<p style="color: green"><%= notice %></p>































































































































<%= render @_generique_de_jeu_videos_staff_role %>































































































































<div>































































  <%= link_to "Edit this generique de jeu videos staff role", edit_generique_de_jeu_videos_staff_role_path(@_generique_de_jeu_videos_staff_role) %> |































































  <%= link_to "Back to generique de jeu videos staff roles", generique_de_jeu_videos_staff_roles_path %>































































































































  <%= button_to "Destroy this generique de jeu videos staff role", @_generique_de_jeu_videos_staff_role, method: :delete %>































































</div>
