<p style="color: green"><%= notice %></p>































































































































<%= render @_films_asiatiques_origine %>































































































































<div>































































  <%= link_to "Edit this films asiatiques origine", edit_films_asiatiques_origine_path(@_films_asiatiques_origine) %> |































































  <%= link_to "Back to films asiatiques origines", films_asiatiques_origines_path %>































































































































  <%= button_to "Destroy this films asiatiques origine", @_films_asiatiques_origine, method: :delete %>































































</div>
