<p style="color: green"><%= notice %></p>

<%= render @animes_jv %>

<div>
  <%= link_to "Edit this animes jv", edit_animes_jv_path(@animes_jv) %> |
  <%= link_to "Back to animes jvs", animes_jvs_path %>

  <%= button_to "Destroy this animes jv", @animes_jv, method: :delete %>
</div>
