<p style="color: green"><%= notice %></p>

<%= render @_clips___lives___bonus___concerts_type_bonu %>

<div>
  <%= link_to "Edit this concerts type bonu", edit__clips___lives___bonus___concerts_type_bonu_path(@_clips___lives___bonus___concerts_type_bonu) %> |
  <%= link_to "Back to concerts type bonus", _clips___lives___bonus___concerts_type_bonus_path %>

  <%= button_to "Destroy this concerts type bonu", @_clips___lives___bonus___concerts_type_bonu, method: :delete %>
</div>
