<div id="<%= dom_id _jeux_video %>">
  <p>
    <strong>Titre fr:</strong>
    <%= _jeux_video.titre_fr %>
  </p>

  <p>
    <strong>Titre original latin:</strong>
    <%= _jeux_video.titre_original_latin %>
  </p>

  <p>
    <strong>Titre us:</strong>
    <%= _jeux_video.titre_us %>
  </p>

  <p>
    <strong>Titre alternatif:</strong>
    <%= _jeux_video.titre_alternatif %>
  </p>

  <p>
    <strong>Titre original:</strong>
    <%= _jeux_video.titre_original %>
  </p>

  <p>
    <strong>Jeux videos plateforme:</strong>
    <%= _jeux_video._jeux_videos_plateforme_id %>
  </p>

  <p>
    <strong>Date fr jj:</strong>
    <%= _jeux_video.date_fr_jj %>
  </p>

  <p>
    <strong>Date fr mm:</strong>
    <%= _jeux_video.date_fr_mm %>
  </p>

  <p>
    <strong>Date fr aaaa:</strong>
    <%= _jeux_video.date_fr_aaaa %>
  </p>

  <p>
    <strong>Jeux videos pays date:</strong>
    <%= _jeux_video._jeux_videos_pays_date_id %>
  </p>

  <p>
    <strong>Date originale jj:</strong>
    <%= _jeux_video.date_originale_jj %>
  </p>

  <p>
    <strong>Date originale mm:</strong>
    <%= _jeux_video.date_originale_mm %>
  </p>

  <p>
    <strong>Date originale aaaa:</strong>
    <%= _jeux_video.date_originale_aaaa %>
  </p>

  <p>
    <strong>Date us jj:</strong>
    <%= _jeux_video.date_us_jj %>
  </p>

  <p>
    <strong>Date us mm:</strong>
    <%= _jeux_video.date_us_mm %>
  </p>

  <p>
    <strong>Date us aaaa:</strong>
    <%= _jeux_video.date_us_aaaa %>
  </p>

  <p>
    <strong>Date jap jj:</strong>
    <%= _jeux_video.date_jap_jj %>
  </p>

  <p>
    <strong>Date jap mm:</strong>
    <%= _jeux_video.date_jap_mm %>
  </p>

  <p>
    <strong>Date jap aaaa:</strong>
    <%= _jeux_video.date_jap_aaaa %>
  </p>

  <p>
    <strong>Jeux videos pays:</strong>
    <%= _jeux_video._jeux_videos_pays_id %>
  </p>

  <p>
    <strong>Jeux videos pays:</strong>
    <%= _jeux_video._jeux_videos_pays_id %>
  </p>

  <p>
    <strong>Jeux videos etat:</strong>
    <%= _jeux_video._jeux_videos_etat_id %>
  </p>

  <p>
    <strong>Prix:</strong>
    <%= _jeux_video.prix %>
  </p>

  <p>
    <strong>Ean:</strong>
    <%= _jeux_video.ean %>
  </p>

  <p>
    <strong>Jeux videos themes:</strong>
    <%= _jeux_video._jeux_videos_themes_id %>
  </p>

  <p>
    <strong>Jeux videos themes:</strong>
    <%= _jeux_video._jeux_videos_themes_id %>
  </p>

  <p>
    <strong>Jeux videos genres:</strong>
    <%= _jeux_video._jeux_videos_genres_id %>
  </p>

  <p>
    <strong>Jeux videos genres:</strong>
    <%= _jeux_video._jeux_videos_genres_id %>
  </p>

  <p>
    <strong>Multi:</strong>
    <%= _jeux_video.multi %>
  </p>

  <p>
    <strong>Multi:</strong>
    <%= _jeux_video.multi %>
  </p>

  <p>
    <strong>Multi nb:</strong>
    <%= _jeux_video.multi_nb %>
  </p>

  <p>
    <strong>Online:</strong>
    <%= _jeux_video.online %>
  </p>

  <p>
    <strong>Online:</strong>
    <%= _jeux_video.online %>
  </p>

  <p>
    <strong>Age:</strong>
    <%= _jeux_video.age %>
  </p>

  <p>
    <strong>Site:</strong>
    <%= _jeux_video.site %>
  </p>

  <p>
    <strong>Pochette eu:</strong>
    <%= _jeux_video.pochette_eu %>
  </p>

  <p>
    <strong>Pochette asie:</strong>
    <%= _jeux_video.pochette_asie %>
  </p>

  <p>
    <strong>Pochette us:</strong>
    <%= _jeux_video.pochette_us %>
  </p>

  <p>
    <strong>Jeux videos staff societe role:</strong>
    <%= _jeux_video._jeux_videos_staff_societe_role_id %>
  </p>

  <p>
    <strong>Jeux videos staff societe:</strong>
    <%= _jeux_video._jeux_videos_staff_societe_id %>
  </p>

  <p>
    <strong>Jeux videos staff societe role:</strong>
    <%= _jeux_video._jeux_videos_staff_societe_role_id %>
  </p>

  <p>
    <strong>Jeux videos staff societe:</strong>
    <%= _jeux_video._jeux_videos_staff_societe_id %>
  </p>

  <p>
    <strong>Jeux videos staff role:</strong>
    <%= _jeux_video._jeux_videos_staff_role_id %>
  </p>

  <p>
    <strong>Jeux videos staff people:</strong>
    <%= _jeux_video._jeux_videos_staff_people_id %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= _jeux_video.description %>
  </p>

  <p>
    <strong>Youtube:</strong>
    <%= _jeux_video.youtube %>
  </p>

  <p>
    <strong>Jeux videos groupes:</strong>
    <%= _jeux_video._jeux_videos_groupes_id %>
  </p>

  <p>
    <strong>Jeux videos actualite:</strong>
    <%= _jeux_video._jeux_videos_actualite_id %>
  </p>

  <p>
    <strong>Jeux videos actualite mini:</strong>
    <%= _jeux_video._jeux_videos_actualite_mini_id %>
  </p>

  <p>
    <strong>Jeux videos anime:</strong>
    <%= _jeux_video._jeux_videos_anime_id %>
  </p>

  <p>
    <strong>Jeux videos anime plus:</strong>
    <%= _jeux_video._jeux_videos_anime_plus_id %>
  </p>

  <p>
    <strong>Jeux videos ln:</strong>
    <%= _jeux_video._jeux_videos_ln_id %>
  </p>

  <p>
    <strong>Jeux videos ln plus:</strong>
    <%= _jeux_video._jeux_videos_ln_plus_id %>
  </p>

  <p>
    <strong>Jeux videos manga:</strong>
    <%= _jeux_video._jeux_videos_manga_id %>
  </p>

  <p>
    <strong>Jeux videos manga plus:</strong>
    <%= _jeux_video._jeux_videos_manga_plus_id %>
  </p>

  <p>
    <strong>Jeux videos jv:</strong>
    <%= _jeux_video._jeux_videos_jv_id %>
  </p>

  <p>
    <strong>Jeux videos jv plus:</strong>
    <%= _jeux_video._jeux_videos_jv_plus_id %>
  </p>

  <p>
    <strong>Jeux videos am:</strong>
    <%= _jeux_video._jeux_videos_am_id %>
  </p>

  <p>
    <strong>Jeux videos am plus:</strong>
    <%= _jeux_video._jeux_videos_am_plus_id %>
  </p>

  <p>
    <strong>Jeux videos drama:</strong>
    <%= _jeux_video._jeux_videos_drama_id %>
  </p>

  <p>
    <strong>Jeux videos drama plus:</strong>
    <%= _jeux_video._jeux_videos_drama_plus_id %>
  </p>

  <p>
    <strong>Jeux videos univers:</strong>
    <%= _jeux_video._jeux_videos_univers_id %>
  </p>

  <p>
    <strong>Jeux videos dvd:</strong>
    <%= _jeux_video._jeux_videos_dvd_id %>
  </p>

  <p>
    <strong>Jeux videos artbook:</strong>
    <%= _jeux_video._jeux_videos_artbook_id %>
  </p>

  <p>
    <strong>Jeux videos litterature asiatique:</strong>
    <%= _jeux_video._jeux_videos_litterature_asiatique_id %>
  </p>

  <p>
    <strong>Jeux videos litterature asiatique plus:</strong>
    <%= _jeux_video._jeux_videos_litterature_asiatique_plus_id %>
  </p>

  <p>
    <strong>Jeux videos culture:</strong>
    <%= _jeux_video._jeux_videos_culture_id %>
  </p>

  <p>
    <strong>Jeux videos ost:</strong>
    <%= _jeux_video._jeux_videos_ost_id %>
  </p>

  <p>
    <strong>Jeux videos cd:</strong>
    <%= _jeux_video._jeux_videos_cd_id %>
  </p>

  <p>
    <strong>Jeux videos doujin:</strong>
    <%= _jeux_video._jeux_videos_doujin_id %>
  </p>

  <p>
    <strong>Jeux videos amv:</strong>
    <%= _jeux_video._jeux_videos_amv_id %>
  </p>

  <p>
    <strong>Jeux videos sondage:</strong>
    <%= _jeux_video._jeux_videos_sondage_id %>
  </p>

  <p>
    <strong>Jeux videos quizz:</strong>
    <%= _jeux_video._jeux_videos_quizz_id %>
  </p>

  <p>
    <strong>Jeux videos concours:</strong>
    <%= _jeux_video._jeux_videos_concours_id %>
  </p>

  <p>
    <strong>Jeux videos people:</strong>
    <%= _jeux_video._jeux_videos_people_id %>
  </p>

  <p>
    <strong>Jeux videos topic:</strong>
    <%= _jeux_video._jeux_videos_topic_id %>
  </p>

  <p>
    <strong>Comment:</strong>
    <%= _jeux_video.comment %>
  </p>

  <p>
    <strong>Statut prop:</strong>
    <%= _jeux_video.statut_prop %>
  </p>

  <p>
    <strong>Statut prop:</strong>
    <%= _jeux_video.statut_prop %>
  </p>

  <p>
    <strong>Acceptregles:</strong>
    <%= _jeux_video.acceptregles %>
  </p>

</div>
