<p style="color: green"><%= notice %></p>































































































































<%= render @_dramas_jv %>































































































































<div>































































  <%= link_to "Edit this dramas jv", edit_dramas_jv_path(@_dramas_jv) %> |































































  <%= link_to "Back to dramas jvs", dramas_jvs_path %>































































































































  <%= button_to "Destroy this dramas jv", @_dramas_jv, method: :delete %>































































</div>
