<p style="color: green"><%= notice %></p>

<%= render @_photobooks_illustration %>

<div>
  <%= link_to "Edit this photobooks illustration", edit__photobooks_illustration_path(@_photobooks_illustration) %> |
  <%= link_to "Back to photobooks illustrations", _photobooks_illustrations_path %>

  <%= button_to "Destroy this photobooks illustration", @_photobooks_illustration, method: :delete %>
</div>
