<p style="color: green"><%= notice %></p>































































































































<%= render @_livres_editeurs_vo %>































































































































<div>































































  <%= link_to "Edit this livres editeurs vo", edit_livres_editeurs_vo_path(@_livres_editeurs_vo) %> |































































  <%= link_to "Back to livres editeurs vos", livres_editeurs_vos_path %>































































































































  <%= button_to "Destroy this livres editeurs vo", @_livres_editeurs_vo, method: :delete %>































































</div>
