<p style="color: green"><%= notice %></p>

<%= render @_dramas_generiques_parole %>

<div>
  <%= link_to "Edit this dramas generiques parole", edit__dramas_generiques_parole_path(@_dramas_generiques_parole) %> |
  <%= link_to "Back to dramas generiques paroles", _dramas_generiques_paroles_path %>

  <%= button_to "Destroy this dramas generiques parole", @_dramas_generiques_parole, method: :delete %>
</div>
