<p style="color: green"><%= notice %></p>































































































































<%= render @_cds_type %>































































































































<div>































































  <%= link_to "Edit this cds type", edit_cds_type_path(@_cds_type) %> |































































  <%= link_to "Back to cds types", cds_types_path %>































































































































  <%= button_to "Destroy this cds type", @_cds_type, method: :delete %>































































</div>
