<p style="color: green"><%= notice %></p>































































































































<%= render @_goodies_staff_person %>































































































































<div>































































  <%= link_to "Edit this goodies staff person", edit_goodies_staff_person_path(@_goodies_staff_person) %> |































































  <%= link_to "Back to goodies staff people", goodies_staff_people_path %>































































































































  <%= button_to "Destroy this goodies staff person", @_goodies_staff_person, method: :delete %>































































</div>
