<div id="<%= dom_id blu_ray %>">







  <p>







    <strong>Type:</strong>







    <%= blu_ray.type %>







  </p>















  <p>







    <strong>Type:</strong>







    <%= blu_ray.type %>







  </p>















  <p>







    <strong>Type:</strong>







    <%= blu_ray.type %>







  </p>















  <p>







    <strong>Type:</strong>







    <%= blu_ray.type %>







  </p>















  <p>







    <strong>Type:</strong>







    <%= blu_ray.type %>







  </p>















  <p>







    <strong>Type:</strong>







    <%= blu_ray.type %>







  </p>















  <p>







    <strong>Dvd / blu rays france:</strong>







    <%= blu_ray._dvd_/_blu_rays_france_id %>







  </p>















  <p>







    <strong>Dvd / blu rays pays:</strong>







    <%= blu_ray._dvd_/_blu_rays_pays_id %>







  </p>















  <p>







    <strong>Titre:</strong>







    <%= blu_ray.titre %>







  </p>















  <p>







    <strong>Titre alternatif:</strong>







    <%= blu_ray.titre_alternatif %>







  </p>















  <p>







    <strong>Titre original:</strong>







    <%= blu_ray.titre_original %>







  </p>















  <p>







    <strong>Image:</strong>







    <%= blu_ray.image %>







  </p>















  <p>







    <strong>Date parution jj:</strong>







    <%= blu_ray.date_parution_jj %>







  </p>















  <p>







    <strong>Date parution mm:</strong>







    <%= blu_ray.date_parution_mm %>







  </p>















  <p>







    <strong>Date parution aaaa:</strong>







    <%= blu_ray.date_parution_aaaa %>







  </p>















  <p>







    <strong>Prix:</strong>







    <%= blu_ray.prix %>







  </p>















  <p>







    <strong>Ean:</strong>







    <%= blu_ray.ean %>







  </p>















  <p>







    <strong>Ref:</strong>







    <%= blu_ray.ref %>







  </p>















  <p>







    <strong>Dvd / blu rays format:</strong>







    <%= blu_ray._dvd_/_blu_rays_format_id %>







  </p>















  <p>







    <strong>Dvd / blu rays type edition:</strong>







    <%= blu_ray._dvd_/_blu_rays_type_edition_id %>







  </p>















  <p>







    <strong>Dvd / blu rays editeurs:</strong>







    <%= blu_ray._dvd_/_blu_rays_editeurs_id %>







  </p>















  <p>







    <strong>Dvd / blu rays editeurs:</strong>







    <%= blu_ray._dvd_/_blu_rays_editeurs_id %>







  </p>















  <p>







    <strong>Audiodescription:</strong>







    <%= blu_ray.audiodescription %>







  </p>















  <p>







    <strong>Duree:</strong>







    <%= blu_ray.duree %>







  </p>















  <p>







    <strong>Nb disque:</strong>







    <%= blu_ray.nb_disque %>







  </p>















  <p>







    <strong>Resume:</strong>







    <%= blu_ray.resume %>







  </p>















  <p>







    <strong>Episodes:</strong>







    <%= blu_ray.episodes %>







  </p>















  <p>







    <strong>Infos:</strong>







    <%= blu_ray.infos %>







  </p>















  <p>







    <strong>Youtube:</strong>







    <%= blu_ray.youtube %>







  </p>















  <p>







    <strong>Dvd / blu rays public averti:</strong>







    <%= blu_ray._dvd_/_blu_rays_public_averti_id %>







  </p>















  <p>







    <strong>Dvd / blu rays groupes:</strong>







    <%= blu_ray._dvd_/_blu_rays_groupes_id %>







  </p>















  <p>







    <strong>Dvd / blu rays anime:</strong>







    <%= blu_ray._dvd_/_blu_rays_anime_id %>







  </p>















  <p>







    <strong>Dvd / blu rays drama:</strong>







    <%= blu_ray._dvd_/_blu_rays_drama_id %>







  </p>















  <p>







    <strong>Dvd / blu rays am:</strong>







    <%= blu_ray._dvd_/_blu_rays_am_id %>







  </p>















  <p>







    <strong>Dvd / blu rays litterature asiatique:</strong>







    <%= blu_ray._dvd_/_blu_rays_litterature_asiatique_id %>







  </p>















  <p>







    <strong>Dvd / blu rays jv:</strong>







    <%= blu_ray._dvd_/_blu_rays_jv_id %>







  </p>















  <p>







    <strong>Dvd / blu rays people:</strong>







    <%= blu_ray._dvd_/_blu_rays_people_id %>







  </p>















  <p>







    <strong>Dvd / blu rays emission tv:</strong>







    <%= blu_ray._dvd_/_blu_rays_emission_tv_id %>







  </p>















  <p>







    <strong>Dvd / blu rays actualite:</strong>







    <%= blu_ray._dvd_/_blu_rays_actualite_id %>







  </p>















  <p>







    <strong>Dvd / blu rays actualite mini:</strong>







    <%= blu_ray._dvd_/_blu_rays_actualite_mini_id %>







  </p>















  <p>







    <strong>Comment:</strong>







    <%= blu_ray.comment %>







  </p>















  <p>







    <strong>Statut prop:</strong>







    <%= blu_ray.statut_prop %>







  </p>















  <p>







    <strong>Statut prop:</strong>







    <%= blu_ray.statut_prop %>







  </p>















  <p>







    <strong>Acceptregles:</strong>







    <%= blu_ray.acceptregles %>







  </p>















</div>
