<p style="color: green"><%= notice %></p>















<%= render @_dvd___blu_ray %>















<div>







  <%= link_to "Edit this blu ray", edit_dvd___blu_ray_path(@_dvd___blu_ray) %> |







  <%= link_to "Back to blu rays", dvd___blu_rays_path %>















  <%= button_to "Destroy this blu ray", @_dvd___blu_ray, method: :delete %>







</div>
