<p style="color: green"><%= notice %></p>































































































































<%= render @_livres_litterature_asiatique %>































































































































<div>































































  <%= link_to "Edit this livres litterature asiatique", edit_livres_litterature_asiatique_path(@_livres_litterature_asiatique) %> |































































  <%= link_to "Back to livres litterature asiatiques", livres_litterature_asiatiques_path %>































































































































  <%= button_to "Destroy this livres litterature asiatique", @_livres_litterature_asiatique, method: :delete %>































































</div>
