<p style="color: green"><%= notice %></p>

<%= render @_dramas_generiques_clip %>

<div>
  <%= link_to "Edit this dramas generiques clip", edit__dramas_generiques_clip_path(@_dramas_generiques_clip) %> |
  <%= link_to "Back to dramas generiques clips", _dramas_generiques_clips_path %>

  <%= button_to "Destroy this dramas generiques clip", @_dramas_generiques_clip, method: :delete %>
</div>
