<p style="color: green"><%= notice %></p>

<%= render @_goodies_litterature_asiatique %>

<div>
  <%= link_to "Edit this goodies litterature asiatique", edit__goodies_litterature_asiatique_path(@_goodies_litterature_asiatique) %> |
  <%= link_to "Back to goodies litterature asiatiques", _goodies_litterature_asiatiques_path %>

  <%= button_to "Destroy this goodies litterature asiatique", @_goodies_litterature_asiatique, method: :delete %>
</div>
