<p style="color: green"><%= notice %></p>

<%= render @_mangas_am %>

<div>
  <%= link_to "Edit this mangas am", edit__mangas_am_path(@_mangas_am) %> |
  <%= link_to "Back to mangas ams", _mangas_ams_path %>

  <%= button_to "Destroy this mangas am", @_mangas_am, method: :delete %>
</div>
