<div id="<%= dom_id _video %>">
  <p>
    <strong>Titre:</strong>
    <%= _video.titre %>
  </p>

  <p>
    <strong>Videos id cat:</strong>
    <%= _video._videos_id_cat_id %>
  </p>

  <p>
    <strong>Url:</strong>
    <%= _video.url %>
  </p>

  <p>
    <strong>Tags:</strong>
    <%= _video.tags %>
  </p>

</div>
