<p style="color: green"><%= notice %></p>































































































































<%= render @_doujins_doujin %>































































































































<div>































































  <%= link_to "Edit this doujins doujin", edit_doujins_doujin_path(@_doujins_doujin) %> |































































  <%= link_to "Back to doujins doujins", doujins_doujins_path %>































































































































  <%= button_to "Destroy this doujins doujin", @_doujins_doujin, method: :delete %>































































</div>
