<%= form_with(model: _livre) do |form| %>
  <% if _livre.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(_livre.errors.count, "error") %> prohibited this _livre from being saved:</h2>

      <ul>
        <% _livre.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :_livres_type_id, style: "display: block" %>
    <%= form.number_field :_livres_type_id %>
  </div>

  <div>
    <%= form.label :_livres_type_secondaire_id, style: "display: block" %>
    <%= form.number_field :_livres_type_secondaire_id %>
  </div>

  <div>
    <%= form.label :titre, style: "display: block" %>
    <%= form.text_field :titre %>
  </div>

  <div>
    <%= form.label :titre_original_latin, style: "display: block" %>
    <%= form.text_field :titre_original_latin %>
  </div>

  <div>
    <%= form.label :titre_original, style: "display: block" %>
    <%= form.text_field :titre_original %>
  </div>

  <div>
    <%= form.label :image, style: "display: block" %>
    <%= form.text_field :image %>
  </div>

  <div>
    <%= form.label :date_parution_vo_jj, style: "display: block" %>
    <%= form.text_field :date_parution_vo_jj %>
  </div>

  <div>
    <%= form.label :date_parution_vo_mm, style: "display: block" %>
    <%= form.text_field :date_parution_vo_mm %>
  </div>

  <div>
    <%= form.label :date_parution_vo_aaaa, style: "display: block" %>
    <%= form.text_field :date_parution_vo_aaaa %>
  </div>

  <div>
    <%= form.label :date_parution_vf_jj, style: "display: block" %>
    <%= form.text_field :date_parution_vf_jj %>
  </div>

  <div>
    <%= form.label :date_parution_vf_mm, style: "display: block" %>
    <%= form.text_field :date_parution_vf_mm %>
  </div>

  <div>
    <%= form.label :date_parution_vf_aaaa, style: "display: block" %>
    <%= form.text_field :date_parution_vf_aaaa %>
  </div>

  <div>
    <%= form.label :_livres_pays_id, style: "display: block" %>
    <%= form.number_field :_livres_pays_id %>
  </div>

  <div>
    <%= form.label :ean, style: "display: block" %>
    <%= form.text_field :ean %>
  </div>

  <div>
    <%= form.label :pages, style: "display: block" %>
    <%= form.text_field :pages %>
  </div>

  <div>
    <%= form.label :prix, style: "display: block" %>
    <%= form.text_field :prix %>
  </div>

  <div>
    <%= form.label :gratuit, style: "display: block" %>
    <%= form.text_field :gratuit %>
  </div>

  <div>
    <%= form.label :age, style: "display: block" %>
    <%= form.text_field :age %>
  </div>

  <div>
    <%= form.label :_livres_statut_publication_id, style: "display: block" %>
    <%= form.number_field :_livres_statut_publication_id %>
  </div>

  <div>
    <%= form.label :_livres_staff_role_id, style: "display: block" %>
    <%= form.number_field :_livres_staff_role_id %>
  </div>

  <div>
    <%= form.label :_livres_staff_people_id, style: "display: block" %>
    <%= form.number_field :_livres_staff_people_id %>
  </div>

  <div>
    <%= form.label :_livres_staff_role_id, style: "display: block" %>
    <%= form.number_field :_livres_staff_role_id %>
  </div>

  <div>
    <%= form.label :_livres_staff_people_id, style: "display: block" %>
    <%= form.number_field :_livres_staff_people_id %>
  </div>

  <div>
    <%= form.label :_livres_editeurs_vo_id, style: "display: block" %>
    <%= form.number_field :_livres_editeurs_vo_id %>
  </div>

  <div>
    <%= form.label :_livres_editeurs_vo_id, style: "display: block" %>
    <%= form.number_field :_livres_editeurs_vo_id %>
  </div>

  <div>
    <%= form.label :_livres_editeurs_vf_id, style: "display: block" %>
    <%= form.number_field :_livres_editeurs_vf_id %>
  </div>

  <div>
    <%= form.label :_livres_editeurs_vf_id, style: "display: block" %>
    <%= form.number_field :_livres_editeurs_vf_id %>
  </div>

  <div>
    <%= form.label :collection, style: "display: block" %>
    <%= form.text_field :collection %>
  </div>

  <div>
    <%= form.label :traducteur, style: "display: block" %>
    <%= form.text_field :traducteur %>
  </div>

  <div>
    <%= form.label :_livres_genres_id, style: "display: block" %>
    <%= form.number_field :_livres_genres_id %>
  </div>

  <div>
    <%= form.label :_livres_genres_id, style: "display: block" %>
    <%= form.number_field :_livres_genres_id %>
  </div>

  <div>
    <%= form.label :_livres_themes_id, style: "display: block" %>
    <%= form.number_field :_livres_themes_id %>
  </div>

  <div>
    <%= form.label :_livres_themes_id, style: "display: block" %>
    <%= form.number_field :_livres_themes_id %>
  </div>

  <div>
    <%= form.label :_livres_pays_theme_id, style: "display: block" %>
    <%= form.number_field :_livres_pays_theme_id %>
  </div>

  <div>
    <%= form.label :_livres_public_averti_id, style: "display: block" %>
    <%= form.number_field :_livres_public_averti_id %>
  </div>

  <div>
    <%= form.label :resume, style: "display: block" %>
    <%= form.text_area :resume %>
  </div>

  <div>
    <%= form.label :preview, style: "display: block" %>
    <%= form.text_field :preview %>
  </div>

  <div>
    <%= form.label :_livres_groupes_id, style: "display: block" %>
    <%= form.number_field :_livres_groupes_id %>
  </div>

  <div>
    <%= form.label :_livres_anime_id, style: "display: block" %>
    <%= form.number_field :_livres_anime_id %>
  </div>

  <div>
    <%= form.label :_livres_anime_plus_id, style: "display: block" %>
    <%= form.number_field :_livres_anime_plus_id %>
  </div>

  <div>
    <%= form.label :_livres_ln_id, style: "display: block" %>
    <%= form.number_field :_livres_ln_id %>
  </div>

  <div>
    <%= form.label :_livres_ln_plus_id, style: "display: block" %>
    <%= form.number_field :_livres_ln_plus_id %>
  </div>

  <div>
    <%= form.label :_livres_manga_id, style: "display: block" %>
    <%= form.number_field :_livres_manga_id %>
  </div>

  <div>
    <%= form.label :_livres_manga_plus_id, style: "display: block" %>
    <%= form.number_field :_livres_manga_plus_id %>
  </div>

  <div>
    <%= form.label :_livres_drama_id, style: "display: block" %>
    <%= form.number_field :_livres_drama_id %>
  </div>

  <div>
    <%= form.label :_livres_drama_plus_id, style: "display: block" %>
    <%= form.number_field :_livres_drama_plus_id %>
  </div>

  <div>
    <%= form.label :_livres_am_id, style: "display: block" %>
    <%= form.number_field :_livres_am_id %>
  </div>

  <div>
    <%= form.label :_livres_am_plus_id, style: "display: block" %>
    <%= form.number_field :_livres_am_plus_id %>
  </div>

  <div>
    <%= form.label :_livres_litterature_asiatique_id, style: "display: block" %>
    <%= form.number_field :_livres_litterature_asiatique_id %>
  </div>

  <div>
    <%= form.label :_livres_litterature_asiatique_plus_id, style: "display: block" %>
    <%= form.number_field :_livres_litterature_asiatique_plus_id %>
  </div>

  <div>
    <%= form.label :_livres_goodies_id, style: "display: block" %>
    <%= form.number_field :_livres_goodies_id %>
  </div>

  <div>
    <%= form.label :_livres_actualite_id, style: "display: block" %>
    <%= form.number_field :_livres_actualite_id %>
  </div>

  <div>
    <%= form.label :_livres_culture_id, style: "display: block" %>
    <%= form.number_field :_livres_culture_id %>
  </div>

  <div>
    <%= form.label :_livres_actualite_mini_id, style: "display: block" %>
    <%= form.number_field :_livres_actualite_mini_id %>
  </div>

  <div>
    <%= form.label :_livres_people_id, style: "display: block" %>
    <%= form.number_field :_livres_people_id %>
  </div>

  <div>
    <%= form.label :_livres_jv_id, style: "display: block" %>
    <%= form.number_field :_livres_jv_id %>
  </div>

  <div>
    <%= form.label :_livres_jv_plus_id, style: "display: block" %>
    <%= form.number_field :_livres_jv_plus_id %>
  </div>

  <div>
    <%= form.label :comment, style: "display: block" %>
    <%= form.text_area :comment %>
  </div>

  <div>
    <%= form.label :statut_prop, style: "display: block" %>
    <%= form.text_field :statut_prop %>
  </div>

  <div>
    <%= form.label :statut_prop, style: "display: block" %>
    <%= form.text_field :statut_prop %>
  </div>

  <div>
    <%= form.label :acceptregles, style: "display: block" %>
    <%= form.text_field :acceptregles %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
