<p style="color: green"><%= notice %></p>































































































































<%= render @_personnalites_people_plu %>































































































































<div>































































  <%= link_to "Edit this personnalites people plu", edit_personnalites_people_plu_path(@_personnalites_people_plu) %> |































































  <%= link_to "Back to personnalites people plus", personnalites_people_plus_path %>































































































































  <%= button_to "Destroy this personnalites people plu", @_personnalites_people_plu, method: :delete %>































































</div>
