<p style="color: green"><%= notice %></p>































































































































<%= render @_paroles_staff_person %>































































































































<div>































































  <%= link_to "Edit this paroles staff person", edit_paroles_staff_person_path(@_paroles_staff_person) %> |































































  <%= link_to "Back to paroles staff people", paroles_staff_people_path %>































































































































  <%= button_to "Destroy this paroles staff person", @_paroles_staff_person, method: :delete %>































































</div>
