<p style="color: green"><%= notice %></p>

<%= render @_breves_emission_tv_numero %>

<div>
  <%= link_to "Edit this breves emission tv numero", edit__breves_emission_tv_numero_path(@_breves_emission_tv_numero) %> |
  <%= link_to "Back to breves emission tv numeros", _breves_emission_tv_numeros_path %>

  <%= button_to "Destroy this breves emission tv numero", @_breves_emission_tv_numero, method: :delete %>
</div>
