<p style="color: green"><%= notice %></p>































































































































<%= render @_dramas_emission_tv_plu %>































































































































<div>































































  <%= link_to "Edit this dramas emission tv plu", edit_dramas_emission_tv_plu_path(@_dramas_emission_tv_plu) %> |































































  <%= link_to "Back to dramas emission tv plus", dramas_emission_tv_plus_path %>































































































































  <%= button_to "Destroy this dramas emission tv plu", @_dramas_emission_tv_plu, method: :delete %>































































</div>
