<p style="color: green"><%= notice %></p>































































































































<%= render @_jeux_videos_univer %>































































































































<div>































































  <%= link_to "Edit this jeux videos univer", edit_jeux_videos_univer_path(@_jeux_videos_univer) %> |































































  <%= link_to "Back to jeux videos univers", jeux_videos_univers_path %>































































































































  <%= button_to "Destroy this jeux videos univer", @_jeux_videos_univer, method: :delete %>































































</div>
