<p style="color: green"><%= notice %></p>































































































































<%= render @_photobooks_pay %>































































































































<div>































































  <%= link_to "Edit this photobooks pay", edit_photobooks_pay_path(@_photobooks_pay) %> |































































  <%= link_to "Back to photobooks pays", photobooks_pays_path %>































































































































  <%= button_to "Destroy this photobooks pay", @_photobooks_pay, method: :delete %>































































</div>
