<div id="<%= dom_id brefe %>">































































































































  <p>































































































































    <strong>Titre:</strong>































































































































    <%= brefe.titre %>































































































































  </p>































































































































































































































































  <p>































































































































    <strong>Breves cat:</strong>































































































































    <%= brefe._breves_cat_id %>































































































































  </p>































































































































































































































































  <p>































































































































    <strong>Image:</strong>































































































































    <%= brefe.image %>































































































































  </p>































































































































































































































































  <p>































































































































    <strong>Texte:</strong>































































































































    <%= brefe.texte %>































































































































  </p>































































































































































































































































  <p>































































































































    <strong>Tags:</strong>































































































































    <%= brefe.tags %>































































































































  </p>































































































































































































































































  <p>































































































































    <strong>Source:</strong>































































































































    <%= brefe.source %>































































































































  </p>































































































































































































































































  <p>































































































































    <strong>Source url:</strong>































































































































    <%= brefe.source_url %>































































































































  </p>































































































































































































































































  <p>































































































































    <strong>Source2:</strong>































































































































    <%= brefe.source2 %>































































































































  </p>































































































































































































































































  <p>































































































































    <strong>Source2 url:</strong>































































































































    <%= brefe.source2_url %>































































































































  </p>































































































































































































































































  <p>































































































































    <strong>Source3:</strong>































































































































    <%= brefe.source3 %>































































































































  </p>































































































































































































































































  <p>































































































































    <strong>Source3 url:</strong>































































































































    <%= brefe.source3_url %>































































































































  </p>































































































































































































































































  <p>































































































































    <strong>Breves actualite:</strong>































































































































    <%= brefe._breves_actualite_id %>































































































































  </p>































































































































































































































































  <p>































































































































    <strong>Breves actualite mini:</strong>































































































































    <%= brefe._breves_actualite_mini_id %>































































































































  </p>































































































































































































































































  <p>































































































































    <strong>Breves people:</strong>































































































































    <%= brefe._breves_people_id %>































































































































  </p>































































































































































































































































  <p>































































































































    <strong>Breves anime:</strong>































































































































    <%= brefe._breves_anime_id %>































































































































  </p>































































































































































































































































  <p>































































































































    <strong>Breves ln:</strong>































































































































    <%= brefe._breves_ln_id %>































































































































  </p>































































































































































































































































  <p>































































































































    <strong>Breves manga:</strong>































































































































    <%= brefe._breves_manga_id %>































































































































  </p>































































































































































































































































  <p>































































































































    <strong>Breves drama:</strong>































































































































    <%= brefe._breves_drama_id %>































































































































  </p>































































































































































































































































  <p>































































































































    <strong>Breves am:</strong>































































































































    <%= brefe._breves_am_id %>































































































































  </p>































































































































































































































































  <p>































































































































    <strong>Breves litterature asiatique:</strong>































































































































    <%= brefe._breves_litterature_asiatique_id %>































































































































  </p>































































































































































































































































  <p>































































































































    <strong>Breves livre jeunesse:</strong>































































































































    <%= brefe._breves_livre_jeunesse_id %>































































































































  </p>































































































































































































































































  <p>































































































































    <strong>Breves magazine:</strong>































































































































    <%= brefe._breves_magazine_id %>































































































































  </p>































































































































































































































































  <p>































































































































    <strong>Breves beau livre:</strong>































































































































    <%= brefe._breves_beau_livre_id %>































































































































  </p>































































































































































































































































  <p>































































































































    <strong>Breves jv:</strong>































































































































    <%= brefe._breves_jv_id %>































































































































  </p>































































































































































































































































  <p>































































































































    <strong>Breves dvd:</strong>































































































































    <%= brefe._breves_dvd_id %>































































































































  </p>































































































































































































































































  <p>































































































































    <strong>Breves artbook:</strong>































































































































    <%= brefe._breves_artbook_id %>































































































































  </p>































































































































































































































































  <p>































































































































    <strong>Breves photobook:</strong>































































































































    <%= brefe._breves_photobook_id %>































































































































  </p>































































































































































































































































  <p>































































































































    <strong>Breves goodies:</strong>































































































































    <%= brefe._breves_goodies_id %>































































































































  </p>































































































































































































































































  <p>































































































































    <strong>Breves cinema:</strong>































































































































    <%= brefe._breves_cinema_id %>































































































































  </p>































































































































































































































































  <p>































































































































    <strong>Breves evenement:</strong>































































































































    <%= brefe._breves_evenement_id %>































































































































  </p>































































































































































































































































  <p>































































































































    <strong>Breves concerts:</strong>































































































































    <%= brefe._breves_concerts_id %>































































































































  </p>































































































































































































































































  <p>































































































































    <strong>Breves recette:</strong>































































































































    <%= brefe._breves_recette_id %>































































































































  </p>































































































































































































































































  <p>































































































































    <strong>Breves cd:</strong>































































































































    <%= brefe._breves_cd_id %>































































































































  </p>































































































































































































































































  <p>































































































































    <strong>Breves ost:</strong>































































































































    <%= brefe._breves_ost_id %>































































































































  </p>































































































































































































































































  <p>































































































































    <strong>Breves amv:</strong>































































































































    <%= brefe._breves_amv_id %>































































































































  </p>































































































































































































































































  <p>































































































































    <strong>Breves clip:</strong>































































































































    <%= brefe._breves_clip_id %>































































































































  </p>































































































































































































































































  <p>































































































































    <strong>Breves emission tv:</strong>































































































































    <%= brefe._breves_emission_tv_id %>































































































































  </p>































































































































































































































































  <p>































































































































    <strong>Breves emission tv numero:</strong>































































































































    <%= brefe._breves_emission_tv_numero_id %>































































































































  </p>































































































































































































































































  <p>































































































































    <strong>Breves sondage:</strong>































































































































    <%= brefe._breves_sondage_id %>































































































































  </p>































































































































































































































































  <p>































































































































    <strong>Breves quizz:</strong>































































































































    <%= brefe._breves_quizz_id %>































































































































  </p>































































































































































































































































  <p>































































































































    <strong>Breves concours:</strong>































































































































    <%= brefe._breves_concours_id %>































































































































  </p>































































































































































































































































  <p>































































































































    <strong>Breves manga editeur:</strong>































































































































    <%= brefe._breves_manga_editeur_id %>































































































































  </p>































































































































































































































































  <p>































































































































    <strong>Breves anime studio:</strong>































































































































    <%= brefe._breves_anime_studio_id %>































































































































  </p>































































































































































































































































  <p>































































































































    <strong>Breves jv societe:</strong>































































































































    <%= brefe._breves_jv_societe_id %>































































































































  </p>































































































































































































































































  <p>































































































































    <strong>Breves societe:</strong>































































































































    <%= brefe._breves_societe_id %>































































































































  </p>































































































































































































































































  <p>































































































































    <strong>Breves culture:</strong>































































































































    <%= brefe._breves_culture_id %>































































































































  </p>































































































































































































































































  <p>































































































































    <strong>Comment:</strong>































































































































    <%= brefe.comment %>































































































































  </p>































































































































































































































































  <p>































































































































    <strong>Statut prop:</strong>































































































































    <%= brefe.statut_prop %>































































































































  </p>































































































































































































































































  <p>































































































































    <strong>Statut prop:</strong>































































































































    <%= brefe.statut_prop %>































































































































  </p>































































































































































































































































  <p>































































































































    <strong>Acceptregles:</strong>































































































































    <%= brefe.acceptregles %>































































































































  </p>































































































































































































































































</div>
