<p style="color: green"><%= notice %></p>































































































































































































































































<%= render @_brefe %>































































































































































































































































<div>































































































































  <%= link_to "Edit this brefe", edit_brefe_path(@_brefe) %> |































































































































  <%= link_to "Back to breves", breves_path %>































































































































































































































































  <%= button_to "Destroy this brefe", @_brefe, method: :delete %>































































































































</div>
