<p style="color: green"><%= notice %></p>

<%= render @_clips___lives___bonus___concerts_role %>

<div>
  <%= link_to "Edit this concerts role", edit__clips___lives___bonus___concerts_role_path(@_clips___lives___bonus___concerts_role) %> |
  <%= link_to "Back to concerts roles", _clips___lives___bonus___concerts_roles_path %>

  <%= button_to "Destroy this concerts role", @_clips___lives___bonus___concerts_role, method: :delete %>
</div>
