<p style="color: green"><%= notice %></p>































































































































<%= render @_photobooks_disponibilite %>































































































































<div>































































  <%= link_to "Edit this photobooks disponibilite", edit_photobooks_disponibilite_path(@_photobooks_disponibilite) %> |































































  <%= link_to "Back to photobooks disponibilites", photobooks_disponibilites_path %>































































































































  <%= button_to "Destroy this photobooks disponibilite", @_photobooks_disponibilite, method: :delete %>































































</div>
