<p style="color: green"><%= notice %></p>































































































































<%= render @animes_cd %>































































































































<div>































































  <%= link_to "Edit this animes cd", edit_animes_cd_path(@animes_cd) %> |































































  <%= link_to "Back to animes cds", animes_cds_path %>































































































































  <%= button_to "Destroy this animes cd", @animes_cd, method: :delete %>































































</div>
