<div id="<%= dom_id evenement %>">
  <p>
    <strong>Titre:</strong>
    <%= evenement.titre %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= evenement.description %>
  </p>

  <p>
    <strong>Date:</strong>
    <%= evenement.date %>
  </p>

  <p>
    <strong>Date fin:</strong>
    <%= evenement.date_fin %>
  </p>

  <p>
    <strong>Heure:</strong>
    <%= evenement.heure %>
  </p>

  <p>
    <strong>Prix:</strong>
    <%= evenement.prix %>
  </p>

  <p>
    <strong>Ville:</strong>
    <%= evenement.ville %>
  </p>

  <p>
    <strong>Lieu:</strong>
    <%= evenement.lieu %>
  </p>

  <p>
    <strong>Adresse:</strong>
    <%= evenement.adresse %>
  </p>

  <p>
    <strong>Evenements pays:</strong>
    <%= evenement.evenements_pays_id %>
  </p>

  <p>
    <strong>Lien:</strong>
    <%= evenement.lien %>
  </p>

  <p>
    <strong>Site:</strong>
    <%= evenement.site %>
  </p>

  <p>
    <strong>Evenements people:</strong>
    <%= evenement.evenements_people_id %>
  </p>

  <p>
    <strong>Acceptregles:</strong>
    <%= evenement.acceptregles %>
  </p>

</div>
