<%= form_with(model: evenement) do |form| %>































































  <% if evenement.errors.any? %>































































    <div style="color: red">































































      <h2><%= pluralize(evenement.errors.count, "error") %> prohibited this evenement from being saved:</h2>































































































































      <ul>































































        <% evenement.errors.each do |error| %>































































          <li><%= error.full_message %></li>































































        <% end %>































































      </ul>































































    </div>































































  <% end %>































































































































  <div>































































    <%= form.label :titre, style: "display: block" %>































































    <%= form.text_field :titre %>































































  </div>































































































































  <div>































































    <%= form.label :description, style: "display: block" %>































































    <%= form.text_area :description %>































































  </div>































































































































  <div>































































    <%= form.label :date, style: "display: block" %>































































    <%= form.text_field :date %>































































  </div>































































































































  <div>































































    <%= form.label :date_fin, style: "display: block" %>































































    <%= form.text_field :date_fin %>































































  </div>































































































































  <div>































































    <%= form.label :heure, style: "display: block" %>































































    <%= form.text_field :heure %>































































  </div>































































































































  <div>































































    <%= form.label :prix, style: "display: block" %>































































    <%= form.text_field :prix %>































































  </div>































































































































  <div>































































    <%= form.label :ville, style: "display: block" %>































































    <%= form.text_field :ville %>































































  </div>































































































































  <div>































































    <%= form.label :lieu, style: "display: block" %>































































    <%= form.text_field :lieu %>































































  </div>































































































































  <div>































































    <%= form.label :adresse, style: "display: block" %>































































    <%= form.text_field :adresse %>































































  </div>































































































































  <div>































































    <%= form.label :evenements_pays_id, style: "display: block" %>































































    <%= form.number_field :evenements_pays_id %>































































  </div>































































































































  <div>































































    <%= form.label :lien, style: "display: block" %>































































    <%= form.text_field :lien %>































































  </div>































































































































  <div>































































    <%= form.label :site, style: "display: block" %>































































    <%= form.text_field :site %>































































  </div>































































































































  <div>































































    <%= form.label :evenements_people_id, style: "display: block" %>































































    <%= form.number_field :evenements_people_id %>































































  </div>































































































































  <div>































































    <%= form.label :acceptregles, style: "display: block" %>































































    <%= form.text_field :acceptregles %>































































  </div>































































































































  <div>































































    <%= form.submit %>































































  </div>































































<% end %>
