<p style="color: green"><%= notice %></p>

<%= render @_personnages_de_jeux_videos_doubleur_pay %>

<div>
  <%= link_to "Edit this personnages de jeux videos doubleur pay", edit__personnages_de_jeux_videos_doubleur_pay_path(@_personnages_de_jeux_videos_doubleur_pay) %> |
  <%= link_to "Back to personnages de jeux videos doubleur pays", _personnages_de_jeux_videos_doubleur_pays_path %>

  <%= button_to "Destroy this personnages de jeux videos doubleur pay", @_personnages_de_jeux_videos_doubleur_pay, method: :delete %>
</div>
