<%= form_with(model: osts_role) do |form| %>































































  <% if osts_role.errors.any? %>































































    <div style="color: red">































































      <h2><%= pluralize(osts_role.errors.count, "error") %> prohibited this osts_role from being saved:</h2>































































































































      <ul>































































        <% osts_role.errors.each do |error| %>































































          <li><%= error.full_message %></li>































































        <% end %>































































      </ul>































































    </div>































































  <% end %>































































































































  <div>































































    <%= form.label :name, style: "display: block" %>































































    <%= form.text_field :name %>































































  </div>































































































































  <div>































































    <%= form.submit %>































































  </div>































































<% end %>
