<p style="color: green"><%= notice %></p>

<%= render @_dvd___blu_rays_format %>

<div>
  <%= link_to "Edit this blu rays format", edit__dvd___blu_rays_format_path(@_dvd___blu_rays_format) %> |
  <%= link_to "Back to blu rays formats", _dvd___blu_rays_formats_path %>

  <%= button_to "Destroy this blu rays format", @_dvd___blu_rays_format, method: :delete %>
</div>
