<p style="color: green"><%= notice %></p>

<%= render @_numero_demission_tvs_id_emission_tv %>

<div>
  <%= link_to "Edit this numero demission tvs id emission tv", edit__numero_demission_tvs_id_emission_tv_path(@_numero_demission_tvs_id_emission_tv) %> |
  <%= link_to "Back to numero demission tvs id emission tvs", _numero_demission_tvs_id_emission_tvs_path %>

  <%= button_to "Destroy this numero demission tvs id emission tv", @_numero_demission_tvs_id_emission_tv, method: :delete %>
</div>
