<p style="color: green"><%= notice %></p>

<%= render @artbooks_doujinshi %>

<div>
  <%= link_to "Edit this artbooks doujinshi", edit_artbooks_doujinshi_path(@artbooks_doujinshi) %> |
  <%= link_to "Back to artbooks doujinshis", artbooks_doujinshis_path %>

  <%= button_to "Destroy this artbooks doujinshi", @artbooks_doujinshi, method: :delete %>
</div>
