<div id="<%= dom_id _photobook %>">
  <p>
    <strong>Photobooks france:</strong>
    <%= _photobook._photobooks_france_id %>
  </p>

  <p>
    <strong>Photobooks pays:</strong>
    <%= _photobook._photobooks_pays_id %>
  </p>

  <p>
    <strong>Titre:</strong>
    <%= _photobook.titre %>
  </p>

  <p>
    <strong>Titre alternatif:</strong>
    <%= _photobook.titre_alternatif %>
  </p>

  <p>
    <strong>Titre original latin:</strong>
    <%= _photobook.titre_original_latin %>
  </p>

  <p>
    <strong>Titre original:</strong>
    <%= _photobook.titre_original %>
  </p>

  <p>
    <strong>Image:</strong>
    <%= _photobook.image %>
  </p>

  <p>
    <strong>Image vo:</strong>
    <%= _photobook.image_vo %>
  </p>

  <p>
    <strong>Date parution vo jj:</strong>
    <%= _photobook.date_parution_vo_jj %>
  </p>

  <p>
    <strong>Date parution vo mm:</strong>
    <%= _photobook.date_parution_vo_mm %>
  </p>

  <p>
    <strong>Date parution vo aaaa:</strong>
    <%= _photobook.date_parution_vo_aaaa %>
  </p>

  <p>
    <strong>Date parution vf jj:</strong>
    <%= _photobook.date_parution_vf_jj %>
  </p>

  <p>
    <strong>Date parution vf mm:</strong>
    <%= _photobook.date_parution_vf_mm %>
  </p>

  <p>
    <strong>Date parution vf aaaa:</strong>
    <%= _photobook.date_parution_vf_aaaa %>
  </p>

  <p>
    <strong>Prix:</strong>
    <%= _photobook.prix %>
  </p>

  <p>
    <strong>Ean:</strong>
    <%= _photobook.ean %>
  </p>

  <p>
    <strong>Ref:</strong>
    <%= _photobook.ref %>
  </p>

  <p>
    <strong>Photobooks disponibilite:</strong>
    <%= _photobook._photobooks_disponibilite_id %>
  </p>

  <p>
    <strong>Nb pages:</strong>
    <%= _photobook.nb_pages %>
  </p>

  <p>
    <strong>Site:</strong>
    <%= _photobook.site %>
  </p>

  <p>
    <strong>Photobooks illustrations:</strong>
    <%= _photobook._photobooks_illustrations_id %>
  </p>

  <p>
    <strong>Photobooks type:</strong>
    <%= _photobook._photobooks_type_id %>
  </p>

  <p>
    <strong>Photobooks editeurs vo:</strong>
    <%= _photobook._photobooks_editeurs_vo_id %>
  </p>

  <p>
    <strong>Photobooks editeurs vo:</strong>
    <%= _photobook._photobooks_editeurs_vo_id %>
  </p>

  <p>
    <strong>Photobooks editeurs vf:</strong>
    <%= _photobook._photobooks_editeurs_vf_id %>
  </p>

  <p>
    <strong>Photobooks editeurs vf:</strong>
    <%= _photobook._photobooks_editeurs_vf_id %>
  </p>

  <p>
    <strong>Photobooks role:</strong>
    <%= _photobook._photobooks_role_id %>
  </p>

  <p>
    <strong>Photobooks people:</strong>
    <%= _photobook._photobooks_people_id %>
  </p>

  <p>
    <strong>Photobooks role:</strong>
    <%= _photobook._photobooks_role_id %>
  </p>

  <p>
    <strong>Photobooks people:</strong>
    <%= _photobook._photobooks_people_id %>
  </p>

  <p>
    <strong>Photobooks societe role:</strong>
    <%= _photobook._photobooks_societe_role_id %>
  </p>

  <p>
    <strong>Photobooks societe people:</strong>
    <%= _photobook._photobooks_societe_people_id %>
  </p>

  <p>
    <strong>Photobooks societe role:</strong>
    <%= _photobook._photobooks_societe_role_id %>
  </p>

  <p>
    <strong>Photobooks societe people:</strong>
    <%= _photobook._photobooks_societe_people_id %>
  </p>

  <p>
    <strong>Resume:</strong>
    <%= _photobook.resume %>
  </p>

  <p>
    <strong>Infos:</strong>
    <%= _photobook.infos %>
  </p>

  <p>
    <strong>Photobooks public averti:</strong>
    <%= _photobook._photobooks_public_averti_id %>
  </p>

  <p>
    <strong>Photobooks groupes:</strong>
    <%= _photobook._photobooks_groupes_id %>
  </p>

  <p>
    <strong>Photobooks drama:</strong>
    <%= _photobook._photobooks_drama_id %>
  </p>

  <p>
    <strong>Photobooks am:</strong>
    <%= _photobook._photobooks_am_id %>
  </p>

  <p>
    <strong>Photobooks cd:</strong>
    <%= _photobook._photobooks_cd_id %>
  </p>

  <p>
    <strong>Photobooks photobook:</strong>
    <%= _photobook._photobooks_photobook_id %>
  </p>

  <p>
    <strong>Photobooks anime:</strong>
    <%= _photobook._photobooks_anime_id %>
  </p>

  <p>
    <strong>Photobooks bonus:</strong>
    <%= _photobook._photobooks_bonus_id %>
  </p>

  <p>
    <strong>Photobooks actualite:</strong>
    <%= _photobook._photobooks_actualite_id %>
  </p>

  <p>
    <strong>Photobooks actualite mini:</strong>
    <%= _photobook._photobooks_actualite_mini_id %>
  </p>

  <p>
    <strong>Photobooks goodies:</strong>
    <%= _photobook._photobooks_goodies_id %>
  </p>

  <p>
    <strong>Comment:</strong>
    <%= _photobook.comment %>
  </p>

  <p>
    <strong>Statut prop:</strong>
    <%= _photobook.statut_prop %>
  </p>

  <p>
    <strong>Statut prop:</strong>
    <%= _photobook.statut_prop %>
  </p>

  <p>
    <strong>Acceptregles:</strong>
    <%= _photobook.acceptregles %>
  </p>

</div>
