<%= form_with(model: _photobook) do |form| %>































































  <% if _photobook.errors.any? %>































































    <div style="color: red">































































      <h2><%= pluralize(_photobook.errors.count, "error") %> prohibited this _photobook from being saved:</h2>































































































































      <ul>































































        <% _photobook.errors.each do |error| %>































































          <li><%= error.full_message %></li>































































        <% end %>































































      </ul>































































    </div>































































  <% end %>































































































































  <div>































































    <%= form.label :_photobooks_france_id, style: "display: block" %>































































    <%= form.select :_photobooks_france_id, PhotobooksFrance.all.collect{|x|[x.name, x.id]} %>































































  </div>































































































































  <div>































































    <%= form.label :_photobooks_pays_id, style: "display: block" %>































































    <%= form.select :_photobooks_pays_id, PhotobooksPay.all.collect{|x|[x.name, x.id]} %>































































  </div>































































































































  <div>































































    <%= form.label :titre, style: "display: block" %>































































    <%= form.text_field :titre %>































































  </div>































































































































  <div>































































    <%= form.label :titre_alternatif, style: "display: block" %>































































    <%= form.text_field :titre_alternatif %>































































  </div>































































































































  <div>































































    <%= form.label :titre_original_latin, style: "display: block" %>































































    <%= form.text_field :titre_original_latin %>































































  </div>































































































































  <div>































































    <%= form.label :titre_original, style: "display: block" %>































































    <%= form.text_field :titre_original %>































































  </div>































































































































  <div>































































    <%= form.label :image, style: "display: block" %>































































    <%= form.text_field :image %>































































  </div>































































































































  <div>































































    <%= form.label :image_vo, style: "display: block" %>































































    <%= form.text_field :image_vo %>































































  </div>































































































































  <div>































































    <%= form.label :date_parution_vo_jj, style: "display: block" %>































































    <%= form.text_field :date_parution_vo_jj %>































































  </div>































































































































  <div>































































    <%= form.label :date_parution_vo_mm, style: "display: block" %>































































    <%= form.text_field :date_parution_vo_mm %>































































  </div>































































































































  <div>































































    <%= form.label :date_parution_vo_aaaa, style: "display: block" %>































































    <%= form.text_field :date_parution_vo_aaaa %>































































  </div>































































































































  <div>































































    <%= form.label :date_parution_vf_jj, style: "display: block" %>































































    <%= form.text_field :date_parution_vf_jj %>































































  </div>































































































































  <div>































































    <%= form.label :date_parution_vf_mm, style: "display: block" %>































































    <%= form.text_field :date_parution_vf_mm %>































































  </div>































































































































  <div>































































    <%= form.label :date_parution_vf_aaaa, style: "display: block" %>































































    <%= form.text_field :date_parution_vf_aaaa %>































































  </div>































































































































  <div>































































    <%= form.label :prix, style: "display: block" %>































































    <%= form.text_field :prix %>































































  </div>































































































































  <div>































































    <%= form.label :ean, style: "display: block" %>































































    <%= form.text_field :ean %>































































  </div>































































































































  <div>































































    <%= form.label :ref, style: "display: block" %>































































    <%= form.text_field :ref %>































































  </div>































































































































  <div>































































    <%= form.label :_photobooks_disponibilite_id, style: "display: block" %>































































    <%= form.select :_photobooks_disponibilite_id, PhotobooksDisponibilite.all.collect{|x|[x.name, x.id]} %>































































  </div>































































































































  <div>































































    <%= form.label :nb_pages, style: "display: block" %>































































    <%= form.text_field :nb_pages %>































































  </div>































































































































  <div>































































    <%= form.label :site, style: "display: block" %>































































    <%= form.text_field :site %>































































  </div>































































































































  <div>































































    <%= form.label :_photobooks_illustrations_id, style: "display: block" %>































































    <%= form.select :_photobooks_illustrations_id, PhotobooksIllustration.all.collect{|x|[x.name, x.id]} %>































































  </div>































































































































  <div>































































    <%= form.label :_photobooks_type_id, style: "display: block" %>































































    <%= form.select :_photobooks_type_id, PhotobooksType.all.collect{|x|[x.name, x.id]} %>































































  </div>































































































































  <div>































































    <%= form.label :_photobooks_editeurs_vo_id, style: "display: block" %>































































    <%= form.select :_photobooks_editeurs_vo_id, PhotobooksEditeursVo.all.collect{|x|[x.name, x.id]} %>































































  </div>































































































































  <div>































































    <%= form.label :_photobooks_editeurs_vo_id, style: "display: block" %>































































    <%= form.select :_photobooks_editeurs_vo_id, PhotobooksEditeursVo.all.collect{|x|[x.name, x.id]} %>































































  </div>































































































































  <div>































































    <%= form.label :_photobooks_editeurs_vf_id, style: "display: block" %>































































    <%= form.select :_photobooks_editeurs_vf_id, PhotobooksEditeursVf.all.collect{|x|[x.name, x.id]} %>































































  </div>































































































































  <div>































































    <%= form.label :_photobooks_editeurs_vf_id, style: "display: block" %>































































    <%= form.select :_photobooks_editeurs_vf_id, PhotobooksEditeursVf.all.collect{|x|[x.name, x.id]} %>































































  </div>































































































































  <div>































































    <%= form.label :_photobooks_role_id, style: "display: block" %>































































    <%= form.select :_photobooks_role_id, PhotobooksRole.all.collect{|x|[x.name, x.id]} %>































































  </div>































































































































  <div>































































    <%= form.label :_photobooks_people_id, style: "display: block" %>































































    <%= form.select :_photobooks_people_id, PhotobooksPerson.all.collect{|x|[x.name, x.id]} %>































































  </div>































































































































  <div>































































    <%= form.label :_photobooks_role_id, style: "display: block" %>































































    <%= form.select :_photobooks_role_id, PhotobooksRole.all.collect{|x|[x.name, x.id]} %>































































  </div>































































































































  <div>































































    <%= form.label :_photobooks_people_id, style: "display: block" %>































































    <%= form.select :_photobooks_people_id, PhotobooksPerson.all.collect{|x|[x.name, x.id]} %>































































  </div>































































































































  <div>































































    <%= form.label :_photobooks_societe_role_id, style: "display: block" %>































































    <%= form.select :_photobooks_societe_role_id, PhotobooksSocieteRole.all.collect{|x|[x.name, x.id]} %>































































  </div>































































































































  <div>































































    <%= form.label :_photobooks_societe_people_id, style: "display: block" %>































































    <%= form.select :_photobooks_societe_people_id, PhotobooksSocietePerson.all.collect{|x|[x.name, x.id]} %>































































  </div>































































































































  <div>































































    <%= form.label :_photobooks_societe_role_id, style: "display: block" %>































































    <%= form.select :_photobooks_societe_role_id, PhotobooksSocieteRole.all.collect{|x|[x.name, x.id]} %>































































  </div>































































































































  <div>































































    <%= form.label :_photobooks_societe_people_id, style: "display: block" %>































































    <%= form.select :_photobooks_societe_people_id, PhotobooksSocietePerson.all.collect{|x|[x.name, x.id]} %>































































  </div>































































































































  <div>































































    <%= form.label :resume, style: "display: block" %>































































    <%= form.text_area :resume %>































































  </div>































































































































  <div>































































    <%= form.label :infos, style: "display: block" %>































































    <%= form.text_area :infos %>































































  </div>































































































































  <div>































































    <%= form.label :_photobooks_public_averti_id, style: "display: block" %>































































    <%= form.select :_photobooks_public_averti_id, PhotobooksPublicAverti.all.collect{|x|[x.name, x.id]} %>































































  </div>































































































































  <div>































































    <%= form.label :_photobooks_groupes_id, style: "display: block" %>































































    <%= form.select :_photobooks_groupes_id, PhotobooksGroupe.all.collect{|x|[x.name, x.id]} %>































































  </div>































































































































  <div>































































    <%= form.label :_photobooks_drama_id, style: "display: block" %>































































    <%= form.select :_photobooks_drama_id, PhotobooksDrama.all.collect{|x|[x.name, x.id]} %>































































  </div>































































































































  <div>































































    <%= form.label :_photobooks_am_id, style: "display: block" %>































































    <%= form.select :_photobooks_am_id, PhotobooksAm.all.collect{|x|[x.name, x.id]} %>































































  </div>































































































































  <div>































































    <%= form.label :_photobooks_cd_id, style: "display: block" %>































































    <%= form.select :_photobooks_cd_id, PhotobooksCd.all.collect{|x|[x.name, x.id]} %>































































  </div>































































































































  <div>































































    <%= form.label :_photobooks_photobook_id, style: "display: block" %>































































    <%= form.select :_photobooks_photobook_id, PhotobooksPhotobook.all.collect{|x|[x.name, x.id]} %>































































  </div>































































































































  <div>































































    <%= form.label :_photobooks_anime_id, style: "display: block" %>































































    <%= form.select :_photobooks_anime_id, PhotobooksAnime.all.collect{|x|[x.name, x.id]} %>































































  </div>































































































































  <div>































































    <%= form.label :_photobooks_bonus_id, style: "display: block" %>































































    <%= form.select :_photobooks_bonus_id, PhotobooksBonu.all.collect{|x|[x.name, x.id]} %>































































  </div>































































































































  <div>































































    <%= form.label :_photobooks_actualite_id, style: "display: block" %>































































    <%= form.select :_photobooks_actualite_id, PhotobooksActualite.all.collect{|x|[x.name, x.id]} %>































































  </div>































































































































  <div>































































    <%= form.label :_photobooks_actualite_mini_id, style: "display: block" %>































































    <%= form.select :_photobooks_actualite_mini_id, PhotobooksActualiteMini.all.collect{|x|[x.name, x.id]} %>































































  </div>































































































































  <div>































































    <%= form.label :_photobooks_goodies_id, style: "display: block" %>































































    <%= form.select :_photobooks_goodies_id, PhotobooksGoodie.all.collect{|x|[x.name, x.id]} %>































































  </div>































































































































  <div>































































    <%= form.label :comment, style: "display: block" %>































































    <%= form.text_area :comment %>































































  </div>































































































































  <div>































































    <%= form.label :statut_prop, style: "display: block" %>































































    <%= form.text_field :statut_prop %>































































  </div>































































































































  <div>































































    <%= form.label :statut_prop, style: "display: block" %>































































    <%= form.text_field :statut_prop %>































































  </div>































































































































  <div>































































    <%= form.label :acceptregles, style: "display: block" %>































































    <%= form.text_field :acceptregles %>































































  </div>































































































































  <div>































































    <%= form.submit %>































































  </div>































































<% end %>
