<div id="<%= dom_id photobook %>">































































  <p>































































    <strong>Photobooks france:</strong>































































    <%= photobook._photobooks_france_id %>































































  </p>































































































































  <p>































































    <strong>Photobooks pays:</strong>































































    <%= photobook._photobooks_pays_id %>































































  </p>































































































































  <p>































































    <strong>Titre:</strong>































































    <%= photobook.titre %>































































  </p>































































































































  <p>































































    <strong>Titre alternatif:</strong>































































    <%= photobook.titre_alternatif %>































































  </p>































































































































  <p>































































    <strong>Titre original latin:</strong>































































    <%= photobook.titre_original_latin %>































































  </p>































































































































  <p>































































    <strong>Titre original:</strong>































































    <%= photobook.titre_original %>































































  </p>































































































































  <p>































































    <strong>Image:</strong>































































    <%= photobook.image %>































































  </p>































































































































  <p>































































    <strong>Image vo:</strong>































































    <%= photobook.image_vo %>































































  </p>































































































































  <p>































































    <strong>Date parution vo jj:</strong>































































    <%= photobook.date_parution_vo_jj %>































































  </p>































































































































  <p>































































    <strong>Date parution vo mm:</strong>































































    <%= photobook.date_parution_vo_mm %>































































  </p>































































































































  <p>































































    <strong>Date parution vo aaaa:</strong>































































    <%= photobook.date_parution_vo_aaaa %>































































  </p>































































































































  <p>































































    <strong>Date parution vf jj:</strong>































































    <%= photobook.date_parution_vf_jj %>































































  </p>































































































































  <p>































































    <strong>Date parution vf mm:</strong>































































    <%= photobook.date_parution_vf_mm %>































































  </p>































































































































  <p>































































    <strong>Date parution vf aaaa:</strong>































































    <%= photobook.date_parution_vf_aaaa %>































































  </p>































































































































  <p>































































    <strong>Prix:</strong>































































    <%= photobook.prix %>































































  </p>































































































































  <p>































































    <strong>Ean:</strong>































































    <%= photobook.ean %>































































  </p>































































































































  <p>































































    <strong>Ref:</strong>































































    <%= photobook.ref %>































































  </p>































































































































  <p>































































    <strong>Photobooks disponibilite:</strong>































































    <%= photobook._photobooks_disponibilite_id %>































































  </p>































































































































  <p>































































    <strong>Nb pages:</strong>































































    <%= photobook.nb_pages %>































































  </p>































































































































  <p>































































    <strong>Site:</strong>































































    <%= photobook.site %>































































  </p>































































































































  <p>































































    <strong>Photobooks illustrations:</strong>































































    <%= photobook._photobooks_illustrations_id %>































































  </p>































































































































  <p>































































    <strong>Photobooks type:</strong>































































    <%= photobook._photobooks_type_id %>































































  </p>































































































































  <p>































































    <strong>Photobooks editeurs vo:</strong>































































    <%= photobook._photobooks_editeurs_vo_id %>































































  </p>































































































































  <p>































































    <strong>Photobooks editeurs vo:</strong>































































    <%= photobook._photobooks_editeurs_vo_id %>































































  </p>































































































































  <p>































































    <strong>Photobooks editeurs vf:</strong>































































    <%= photobook._photobooks_editeurs_vf_id %>































































  </p>































































































































  <p>































































    <strong>Photobooks editeurs vf:</strong>































































    <%= photobook._photobooks_editeurs_vf_id %>































































  </p>































































































































  <p>































































    <strong>Photobooks role:</strong>































































    <%= photobook._photobooks_role_id %>































































  </p>































































































































  <p>































































    <strong>Photobooks people:</strong>































































    <%= photobook._photobooks_people_id %>































































  </p>































































































































  <p>































































    <strong>Photobooks role:</strong>































































    <%= photobook._photobooks_role_id %>































































  </p>































































































































  <p>































































    <strong>Photobooks people:</strong>































































    <%= photobook._photobooks_people_id %>































































  </p>































































































































  <p>































































    <strong>Photobooks societe role:</strong>































































    <%= photobook._photobooks_societe_role_id %>































































  </p>































































































































  <p>































































    <strong>Photobooks societe people:</strong>































































    <%= photobook._photobooks_societe_people_id %>































































  </p>































































































































  <p>































































    <strong>Photobooks societe role:</strong>































































    <%= photobook._photobooks_societe_role_id %>































































  </p>































































































































  <p>































































    <strong>Photobooks societe people:</strong>































































    <%= photobook._photobooks_societe_people_id %>































































  </p>































































































































  <p>































































    <strong>Resume:</strong>































































    <%= photobook.resume %>































































  </p>































































































































  <p>































































    <strong>Infos:</strong>































































    <%= photobook.infos %>































































  </p>































































































































  <p>































































    <strong>Photobooks public averti:</strong>































































    <%= photobook._photobooks_public_averti_id %>































































  </p>































































































































  <p>































































    <strong>Photobooks groupes:</strong>































































    <%= photobook._photobooks_groupes_id %>































































  </p>































































































































  <p>































































    <strong>Photobooks drama:</strong>































































    <%= photobook._photobooks_drama_id %>































































  </p>































































































































  <p>































































    <strong>Photobooks am:</strong>































































    <%= photobook._photobooks_am_id %>































































  </p>































































































































  <p>































































    <strong>Photobooks cd:</strong>































































    <%= photobook._photobooks_cd_id %>































































  </p>































































































































  <p>































































    <strong>Photobooks photobook:</strong>































































    <%= photobook._photobooks_photobook_id %>































































  </p>































































































































  <p>































































    <strong>Photobooks anime:</strong>































































    <%= photobook._photobooks_anime_id %>































































  </p>































































































































  <p>































































    <strong>Photobooks bonus:</strong>































































    <%= photobook._photobooks_bonus_id %>































































  </p>































































































































  <p>































































    <strong>Photobooks actualite:</strong>































































    <%= photobook._photobooks_actualite_id %>































































  </p>































































































































  <p>































































    <strong>Photobooks actualite mini:</strong>































































    <%= photobook._photobooks_actualite_mini_id %>































































  </p>































































































































  <p>































































    <strong>Photobooks goodies:</strong>































































    <%= photobook._photobooks_goodies_id %>































































  </p>































































































































  <p>































































    <strong>Comment:</strong>































































    <%= photobook.comment %>































































  </p>































































































































  <p>































































    <strong>Statut prop:</strong>































































    <%= photobook.statut_prop %>































































  </p>































































































































  <p>































































    <strong>Statut prop:</strong>































































    <%= photobook.statut_prop %>































































  </p>































































































































  <p>































































    <strong>Acceptregles:</strong>































































    <%= photobook.acceptregles %>































































  </p>































































































































</div>
