<p style="color: green"><%= notice %></p>

<%= render @_jeux_videos_jv %>

<div>
  <%= link_to "Edit this jeux videos jv", edit__jeux_videos_jv_path(@_jeux_videos_jv) %> |
  <%= link_to "Back to jeux videos jvs", _jeux_videos_jvs_path %>

  <%= button_to "Destroy this jeux videos jv", @_jeux_videos_jv, method: :delete %>
</div>
