<p style="color: green"><%= notice %></p>































































































































<%= render @_jeux_videos_sondage %>































































































































<div>































































  <%= link_to "Edit this jeux videos sondage", edit_jeux_videos_sondage_path(@_jeux_videos_sondage) %> |































































  <%= link_to "Back to jeux videos sondages", jeux_videos_sondages_path %>































































































































  <%= button_to "Destroy this jeux videos sondage", @_jeux_videos_sondage, method: :delete %>































































</div>
