<p style="color: green"><%= notice %></p>



<%= render @_clips_lives_bonus_concerts_emission_tv_numero %>



<div>

  <%= link_to "Edit this concerts emission tv numero", edit_clips_lives_bonus_concerts_emission_tv_numero_path(@_clips_lives_bonus_concerts_emission_tv_numero) %> |

  <%= link_to "Back to concerts emission tv numeros", clips_lives_bonus_concerts_emission_tv_numeros_path %>



  <%= button_to "Destroy this concerts emission tv numero", @_clips_lives_bonus_concerts_emission_tv_numero, method: :delete %>

</div>
