<p style="color: green"><%= notice %></p>

<%= render @_doujinshis_genres_averti %>

<div>
  <%= link_to "Edit this doujinshis genres averti", edit__doujinshis_genres_averti_path(@_doujinshis_genres_averti) %> |
  <%= link_to "Back to doujinshis genres avertis", _doujinshis_genres_avertis_path %>

  <%= button_to "Destroy this doujinshis genres averti", @_doujinshis_genres_averti, method: :delete %>
</div>
