<p style="color: green"><%= notice %></p>

<%= render @_films_asiatiques_artbook %>

<div>
  <%= link_to "Edit this films asiatiques artbook", edit__films_asiatiques_artbook_path(@_films_asiatiques_artbook) %> |
  <%= link_to "Back to films asiatiques artbooks", _films_asiatiques_artbooks_path %>

  <%= button_to "Destroy this films asiatiques artbook", @_films_asiatiques_artbook, method: :delete %>
</div>
