<%= form_with(model: _goodies_cd) do |form| %>
  <% if _goodies_cd.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(_goodies_cd.errors.count, "error") %> prohibited this _goodies_cd from being saved:</h2>

      <ul>
        <% _goodies_cd.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
