<p style="color: green"><%= notice %></p>































































































































<%= render @_goodies_cd %>































































































































<div>































































  <%= link_to "Edit this goodies cd", edit_goodies_cd_path(@_goodies_cd) %> |































































  <%= link_to "Back to goodies cds", goodies_cds_path %>































































































































  <%= button_to "Destroy this goodies cd", @_goodies_cd, method: :delete %>































































</div>
