<p style="color: green"><%= notice %></p>

<%= render @_personnage_de_mangas_manga %>

<div>
  <%= link_to "Edit this personnage de mangas manga", edit__personnage_de_mangas_manga_path(@_personnage_de_mangas_manga) %> |
  <%= link_to "Back to personnage de mangas mangas", _personnage_de_mangas_mangas_path %>

  <%= button_to "Destroy this personnage de mangas manga", @_personnage_de_mangas_manga, method: :delete %>
</div>
