<p style="color: green"><%= notice %></p>































































































































<%= render @_personnage_danimes_jv_perso %>































































































































<div>































































  <%= link_to "Edit this personnage danimes jv perso", edit_personnage_danimes_jv_perso_path(@_personnage_danimes_jv_perso) %> |































































  <%= link_to "Back to personnage danimes jv persos", personnage_danimes_jv_persos_path %>































































































































  <%= button_to "Destroy this personnage danimes jv perso", @_personnage_danimes_jv_perso, method: :delete %>































































</div>
