<p style="color: green"><%= notice %></p>

<%= render @animes_ln_plu %>

<div>
  <%= link_to "Edit this animes ln plu", edit_animes_ln_plu_path(@animes_ln_plu) %> |
  <%= link_to "Back to animes ln plus", animes_ln_plus_path %>

  <%= button_to "Destroy this animes ln plu", @animes_ln_plu, method: :delete %>
</div>
