<div id="<%= dom_id _brefe %>">
  <p>
    <strong>Titre:</strong>
    <%= _brefe.titre %>
  </p>

  <p>
    <strong>Breves cat:</strong>
    <%= _brefe._breves_cat_id %>
  </p>

  <p>
    <strong>Image:</strong>
    <%= _brefe.image %>
  </p>

  <p>
    <strong>Texte:</strong>
    <%= _brefe.texte %>
  </p>

  <p>
    <strong>Tags:</strong>
    <%= _brefe.tags %>
  </p>

  <p>
    <strong>Source:</strong>
    <%= _brefe.source %>
  </p>

  <p>
    <strong>Source url:</strong>
    <%= _brefe.source_url %>
  </p>

  <p>
    <strong>Source2:</strong>
    <%= _brefe.source2 %>
  </p>

  <p>
    <strong>Source2 url:</strong>
    <%= _brefe.source2_url %>
  </p>

  <p>
    <strong>Source3:</strong>
    <%= _brefe.source3 %>
  </p>

  <p>
    <strong>Source3 url:</strong>
    <%= _brefe.source3_url %>
  </p>

  <p>
    <strong>Breves actualite:</strong>
    <%= _brefe._breves_actualite_id %>
  </p>

  <p>
    <strong>Breves actualite mini:</strong>
    <%= _brefe._breves_actualite_mini_id %>
  </p>

  <p>
    <strong>Breves people:</strong>
    <%= _brefe._breves_people_id %>
  </p>

  <p>
    <strong>Breves anime:</strong>
    <%= _brefe._breves_anime_id %>
  </p>

  <p>
    <strong>Breves ln:</strong>
    <%= _brefe._breves_ln_id %>
  </p>

  <p>
    <strong>Breves manga:</strong>
    <%= _brefe._breves_manga_id %>
  </p>

  <p>
    <strong>Breves drama:</strong>
    <%= _brefe._breves_drama_id %>
  </p>

  <p>
    <strong>Breves am:</strong>
    <%= _brefe._breves_am_id %>
  </p>

  <p>
    <strong>Breves litterature asiatique:</strong>
    <%= _brefe._breves_litterature_asiatique_id %>
  </p>

  <p>
    <strong>Breves livre jeunesse:</strong>
    <%= _brefe._breves_livre_jeunesse_id %>
  </p>

  <p>
    <strong>Breves magazine:</strong>
    <%= _brefe._breves_magazine_id %>
  </p>

  <p>
    <strong>Breves beau livre:</strong>
    <%= _brefe._breves_beau_livre_id %>
  </p>

  <p>
    <strong>Breves jv:</strong>
    <%= _brefe._breves_jv_id %>
  </p>

  <p>
    <strong>Breves dvd:</strong>
    <%= _brefe._breves_dvd_id %>
  </p>

  <p>
    <strong>Breves artbook:</strong>
    <%= _brefe._breves_artbook_id %>
  </p>

  <p>
    <strong>Breves photobook:</strong>
    <%= _brefe._breves_photobook_id %>
  </p>

  <p>
    <strong>Breves goodies:</strong>
    <%= _brefe._breves_goodies_id %>
  </p>

  <p>
    <strong>Breves cinema:</strong>
    <%= _brefe._breves_cinema_id %>
  </p>

  <p>
    <strong>Breves evenement:</strong>
    <%= _brefe._breves_evenement_id %>
  </p>

  <p>
    <strong>Breves concerts:</strong>
    <%= _brefe._breves_concerts_id %>
  </p>

  <p>
    <strong>Breves recette:</strong>
    <%= _brefe._breves_recette_id %>
  </p>

  <p>
    <strong>Breves cd:</strong>
    <%= _brefe._breves_cd_id %>
  </p>

  <p>
    <strong>Breves ost:</strong>
    <%= _brefe._breves_ost_id %>
  </p>

  <p>
    <strong>Breves amv:</strong>
    <%= _brefe._breves_amv_id %>
  </p>

  <p>
    <strong>Breves clip:</strong>
    <%= _brefe._breves_clip_id %>
  </p>

  <p>
    <strong>Breves emission tv:</strong>
    <%= _brefe._breves_emission_tv_id %>
  </p>

  <p>
    <strong>Breves emission tv numero:</strong>
    <%= _brefe._breves_emission_tv_numero_id %>
  </p>

  <p>
    <strong>Breves sondage:</strong>
    <%= _brefe._breves_sondage_id %>
  </p>

  <p>
    <strong>Breves quizz:</strong>
    <%= _brefe._breves_quizz_id %>
  </p>

  <p>
    <strong>Breves concours:</strong>
    <%= _brefe._breves_concours_id %>
  </p>

  <p>
    <strong>Breves manga editeur:</strong>
    <%= _brefe._breves_manga_editeur_id %>
  </p>

  <p>
    <strong>Breves anime studio:</strong>
    <%= _brefe._breves_anime_studio_id %>
  </p>

  <p>
    <strong>Breves jv societe:</strong>
    <%= _brefe._breves_jv_societe_id %>
  </p>

  <p>
    <strong>Breves societe:</strong>
    <%= _brefe._breves_societe_id %>
  </p>

  <p>
    <strong>Breves culture:</strong>
    <%= _brefe._breves_culture_id %>
  </p>

  <p>
    <strong>Comment:</strong>
    <%= _brefe.comment %>
  </p>

  <p>
    <strong>Statut prop:</strong>
    <%= _brefe.statut_prop %>
  </p>

  <p>
    <strong>Statut prop:</strong>
    <%= _brefe.statut_prop %>
  </p>

  <p>
    <strong>Acceptregles:</strong>
    <%= _brefe.acceptregles %>
  </p>

</div>
