<p style="color: green"><%= notice %></p>































































































































<%= render @amvs_convention %>































































































































<div>































































  <%= link_to "Edit this amvs convention", edit_amvs_convention_path(@amvs_convention) %> |































































  <%= link_to "Back to amvs conventions", amvs_conventions_path %>































































































































  <%= button_to "Destroy this amvs convention", @amvs_convention, method: :delete %>































































</div>
