<p style="color: green"><%= notice %></p>































































































































<%= render @osts_jv %>































































































































<div>































































  <%= link_to "Edit this osts jv", edit_osts_jv_path(@osts_jv) %> |































































  <%= link_to "Back to osts jvs", osts_jvs_path %>































































































































  <%= button_to "Destroy this osts jv", @osts_jv, method: :delete %>































































</div>
