<p style="color: green"><%= notice %></p>

<%= render @_films_asiatiques_drama_plu %>

<div>
  <%= link_to "Edit this films asiatiques drama plu", edit__films_asiatiques_drama_plu_path(@_films_asiatiques_drama_plu) %> |
  <%= link_to "Back to films asiatiques drama plus", _films_asiatiques_drama_plus_path %>

  <%= button_to "Destroy this films asiatiques drama plu", @_films_asiatiques_drama_plu, method: :delete %>
</div>
