<p style="color: green"><%= notice %></p>































































































































<%= render @_jeux_videos_actualite_mini %>































































































































<div>































































  <%= link_to "Edit this jeux videos actualite mini", edit_jeux_videos_actualite_mini_path(@_jeux_videos_actualite_mini) %> |































































  <%= link_to "Back to jeux videos actualite minis", jeux_videos_actualite_minis_path %>































































































































  <%= button_to "Destroy this jeux videos actualite mini", @_jeux_videos_actualite_mini, method: :delete %>































































</div>
