<p style="color: green"><%= notice %></p>

<%= render @_dramas_encour %>

<div>
  <%= link_to "Edit this dramas encour", edit__dramas_encour_path(@_dramas_encour) %> |
  <%= link_to "Back to dramas encours", _dramas_encours_path %>

  <%= button_to "Destroy this dramas encour", @_dramas_encour, method: :delete %>
</div>
