<p style="color: green"><%= notice %></p>

<%= render @_mangas_staff_person %>

<div>
  <%= link_to "Edit this mangas staff person", edit__mangas_staff_person_path(@_mangas_staff_person) %> |
  <%= link_to "Back to mangas staff people", _mangas_staff_people_path %>

  <%= button_to "Destroy this mangas staff person", @_mangas_staff_person, method: :delete %>
</div>
