<p style="color: green"><%= notice %></p>

<%= render @_livres_theme %>

<div>
  <%= link_to "Edit this livres theme", edit__livres_theme_path(@_livres_theme) %> |
  <%= link_to "Back to livres themes", _livres_themes_path %>

  <%= button_to "Destroy this livres theme", @_livres_theme, method: :delete %>
</div>
