<p style="color: green"><%= notice %></p>

<%= render @_films_asiatiques_cd %>

<div>
  <%= link_to "Edit this films asiatiques cd", edit__films_asiatiques_cd_path(@_films_asiatiques_cd) %> |
  <%= link_to "Back to films asiatiques cds", _films_asiatiques_cds_path %>

  <%= button_to "Destroy this films asiatiques cd", @_films_asiatiques_cd, method: :delete %>
</div>
