<p style="color: green"><%= notice %></p>































































































































<%= render @_doujinshis_jv_plu %>































































































































<div>































































  <%= link_to "Edit this doujinshis jv plu", edit_doujinshis_jv_plu_path(@_doujinshis_jv_plu) %> |































































  <%= link_to "Back to doujinshis jv plus", doujinshis_jv_plus_path %>































































































































  <%= button_to "Destroy this doujinshis jv plu", @_doujinshis_jv_plu, method: :delete %>































































</div>
