<p style="color: green"><%= notice %></p>

<%= render @animes_genre %>

<div>
  <%= link_to "Edit this animes genre", edit_animes_genre_path(@animes_genre) %> |
  <%= link_to "Back to animes genres", animes_genres_path %>

  <%= button_to "Destroy this animes genre", @animes_genre, method: :delete %>
</div>
