<p style="color: green"><%= notice %></p>

<%= render @_livres_drama_plu %>

<div>
  <%= link_to "Edit this livres drama plu", edit__livres_drama_plu_path(@_livres_drama_plu) %> |
  <%= link_to "Back to livres drama plus", _livres_drama_plus_path %>

  <%= button_to "Destroy this livres drama plu", @_livres_drama_plu, method: :delete %>
</div>
